<template>
	<view class="newCase_index">
		<navbar :navInfo="navInfo" class="share_header"></navbar>
		<view class="newCase_content" :style="{'margin-top': navHeight + 'px'}">
			<view class="input_box">
				<view class="input_label">
					选择模版
				</view>
				<picker @click="bindTemplate" :disabled="true" v-model="caseInfo.templateId" mode="selector" range-key="name"
				 :range="templateList" @change="pickerChange('templateList','templateName','templateId',$event)" class="input_content">
					<view class="picker_text" v-if="templateName">
						{{templateName}}
					</view>
					<view v-else class="placeholder">请选择案例模板</view>
				</picker>
			</view>
			<view class="input_box">
				<view class="input_label">
					案例命名
				</view>
				<input type="text" v-model="caseInfo.name" placeholder="请填写案例命名" class="input_content" placeholder-class="placeholder" />
			</view>
			<view class="input_box">
				<view class="input_label">
					案例类型
				</view>
				<picker :disabled="caseInfo.id" range-key="name" mode="selector" :range="caseTypeList" @change="pickerChange('caseTypeList','typeName','typeId',$event)"
				 class="input_content">
					<view class="picker_text" v-if="typeName">
						{{typeName}}
					</view>
					<view v-else class="placeholder">请选择</view>
				</picker>
			</view>
			<view class="input_box">
				<view class="input_label">
					所在行业
				</view>
				<picker range-key="name" mode="selector" :range="industryList" @change="pickerChange('industryList','industryName','industry',$event)"
				 class="input_content">
					<view class="picker_text" v-if="industryName">
						{{industryName}}
					</view>
					<view v-else class="placeholder">请选择</view>
				</picker>
			</view>
			<view class="input_box" @click="bindOpptunity">
				<view class="input_label">
					关联机会
				</view>
				<input v-model="changeName" :disabled="true" type="text" placeholder="请选择机会" class="input_content"
				 placeholder-class="placeholder" />
			</view>
			<view class="list_box">
				<view class="list_single" v-for="(item,index) in templateInfo" :key="index">
					<view class="single_top">
						<view class="top_left">
							<image src="../../../static/share_book.png" mode="" class="share_book"></image>
							<view class="left_text">
								{{item.fieldName}}
							</view>
						</view>
						<view class="top_right">
							NO.{{index + 1}}
						</view>
					</view>
					<!-- <view class="single_bottom">
						{{item.fieldPlaceholder}}
					</view> -->
					<view class="single_bottom">
						<van-field class="single_textarea" @input="inputChange($event,item,index)" :value="item.fieldValue" :placeholder="item.fieldPlaceholder"
						 :autosize="{minHeight:minHeight}" type="textarea" placeholder-style="font-size: 28rpx;line-height: 40rpx;color: #B4B4B4;" />
						<!-- <textarea class="single_textarea" :placeholder="item.fieldPlaceholder" v-model="item.fieldValue" /> -->
						<!-- <input class="single_textarea" type="text" value="" :placeholder="item.fieldPlaceholder" v-model="item.fieldValue" /> -->
					</view>
				</view>
			</view>
		</view>
		<view class="global_btn_box">

			<view class="global_share_btn" @click="saveCase(type)">
				<image src="../../../static/btn_back.png" mode="" class="global_btn_back"></image>
				<view class="global_btn_text">
					保存
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	import navbar from '../../../components/navbar.vue'
	import app from '../../../App.vue'
	export default {
		components: {
			navbar
		},

		data() {
			return {
				navInfo: {
					"bg_color": "",
					"color": "#5F370F",
					"flag": 2,
					"name": "新建案例",
					"backType": 2
				},
				isIpx: app.globalData.isIpx,
				navHeight: app.globalData.navHeight,
				templateList: [],
				originCaseInfo: {
					id: "",
					industry: "",
					name: "",
					opportunityId: "",
					templateId: "",
					typeId: "",
				},
				caseInfo: {
					id: "",
					industry: "",
					name: "",
					opportunityId: "",
					templateId: "",
					typeId: "",
				},
				templateName: "",
				caseTypeList: [],
				typeName: "",
				industryList: [],
				industryName: "",
				templateInfo: [],
				changeName: "",
				userInfo: {},
				minHeight: 0,
				type: "",
				status: "load",
				from: ""
			}
		},
		watch: {
			templateInfo: {
				handler(newValue, oldValue) {
					let arr = []
					this.templateInfo.map(item => {
						arr.push(item.fieldPlaceholder.length)
					})
					let maxLength = arr.sort(this.sortFuc)[0]
					this.minHeight = (Math.ceil(maxLength / 24) + 1) * 15
				},
				deep: true
			},
			caseInfo: {
				handler(newValue, oldValue) {
					if (this.type == "add") {
						let value = this.caseInfo
						value.templateName = this.templateName
						value.typeName = this.typeName
						value.industryName = this.industryName
						value.changeName = this.changeName
						value.templateInfo = this.templateInfo
						uni.setStorageSync("caseInfo", value)
					}
				},
				deep: true
			}
		},
		onLoad(options) {
			this.from = options.from ? options.from : ""
			if (options.id) {
				this.caseInfo.id = options.id
				this.navInfo.name = "编辑案例"
				this.type = "edit"
				// this.getCaseDetail()
			} else {
				this.navInfo.name = "新建案例"
				this.type = "add"
				let caseInfo = uni.getStorageSync("caseInfo")
				if (caseInfo) {
					uni.showModal({
						title: "温馨提示",
						content: "您上次编辑的案例还未保存，是否继续编辑？",
						confirmText: "继续",
						cancelText: "丢弃",
						success: (res) => {
							if (res.confirm) {
								this.caseInfo = caseInfo
								this.templateName = caseInfo.templateName
								this.typeName = caseInfo.typeName
								this.industryName = caseInfo.industryName
								this.changeName = caseInfo.changeName
								this.templateInfo = caseInfo.templateInfo
							} else {
								uni.removeStorageSync("caseInfo")
							}
						}
					})
				}
			}
			this.getTemplate()
			this.getCaseType()
			this.getUserInfo()
			// this.getIndustry()
		},
		onShow() {
			if (this.type == "edit") {
				this.timer = setInterval(() => {
					this.autoSaveCase('save', true)
				}, 10000)
			} else {
				this.timer = null
			}
		},
		onHide() {
			clearInterval(this.timer)
			this.timer = null
		},
		onUnload() {
			clearInterval(this.timer)
			this.timer = null
		},
		methods: {
			// 跳转分享页面
			bindShare() {
				let _this = this
				uni.showModal({
					title: "请选择您的操作",
					confirmText: "确认分享",
					cancelText: "再次编辑",
					success: (res) => {
						if (res.confirm) {
							if (_this.from == 'share') {
								uni.navigateBack()
							} else {
								uni.navigateTo({
									url: `/pages/pagesGrow/share/share?id=${this.caseInfo.id}`
								})
							}
						}
					}
				})
			},
			// 删除案例
			deleteCase() {
				this.$http("/mp/user/case/one", "DELETE", {
					id: this.caseInfo.id
				}).then(res => {
					uni.showToast({
						title: "删除成功",
						icon: "none",
						duration: 2000,
						success: () => {
							setTimeout(() => {
								uni.navigateBack({
									delta: 2
								})
								// uni.redirectTo({
								// 	url: "/pages/pagesGrow/analysis/analysis"
								// })
							}, 2000)
						}
					})
					// uni.showToast({
					// 	title::"删除成功",
					// 	icon:"none",
					// 	duration:2000,
					// 	success:()=> {
					// 		setTimeout(() => {
					// 			uni.redirectTo({
					// 				url:"/pages/pagesGrow/analysis/analysis"
					// 			})
					// 		},2000)
					// 	}
					// })
				})
			},
			// 获取案例详情
			getCaseDetail() {
				this.$http("/mp/user/case/detail", "GET", {
					id: this.caseInfo.id
				}).then(res => {
					this.caseInfo.industry = res.data.industry
					this.originCaseInfo.industry = this.caseInfo.industry
					this.industryName = res.data.industry
					this.caseInfo.name = res.data.name
					this.originCaseInfo.name = this.caseInfo.name
					if (res.data.opportunity && res.data.opportunity.opportunity) {
						this.caseInfo.opportunityId = res.data.opportunity.opportunity.id
						this.originCaseInfo.opportunityId = this.caseInfo.opportunityId
						this.changeName =
							`NO.${res.data.opportunity.opportunity.seq?this.$format.formatZero(res.data.opportunity.opportunity.seq,3):''}-${res.data.opportunity.opportunity.alias }`
					}
					this.caseInfo.templateId = res.data.templateId
					this.templateName = res.data.templateName
					this.caseInfo.typeId = res.data.typeId
					this.typeName = res.data.typeName
					if (res.data.contentJson) {
						this.templateInfo = JSON.parse(res.data.contentJson)
					}
					this.originCaseInfo.contentJson = res.data.contentJson
					// this.caseInfo = res.data
					// this.caseInfo.fileList = JSON.parse(this.caseInfo.contentJson)
					// this.opportunity = this.caseInfo.opportunity.opportunity
					// this.dealElementList = this.caseInfo.opportunity.dealElementList
				})
			},
			sortFuc(a, b) {
				if (a - b > 0) {
					return -1
				} else if (a - b == 0) {
					return 0
				} else {
					return 1
				}
			},
			inputChange(value, item, index) {
				item.fieldValue = value.detail
				this.$set(this.templateInfo, index, item)
				// this.experienceInfo[type] = value.detail
			},
			// 跳转案例模板页面
			bindTemplate() {
				if (!this.caseInfo.id) {
					uni.navigateTo({
						url: "/pages/pagesGrow/caseTemplate/caseTemplate?type=case"
					})
				}
			},
			// 获取用户信息
			getUserInfo() {
				this.$http("/mp/user/info", "GET", {}).then(res => {
					this.userInfo = res.data
					this.getIndustry()
				})
			},
			// 跳转到机会选择页面
			bindOpptunity() {
				if (!this.caseInfo.id) {
					uni.navigateTo({
						url: "/pages/pagesChance/select/select?type=case"
					})
				}
			},
			// picker选择
			pickerChange(data, name, keyName, e) {
				let item = this[data][e.detail.value]
				this[name] = item.name
				this.caseInfo[keyName] = item.id
				if (name == "templateName") {
					this.templateInfo = item.fieldList
				}
				if (keyName == 'industry') {
					this.caseInfo[keyName] = item.name
				}
			},
			// 获取模板列表
			getTemplate() {
				this.$http("/mp/user/case/template/list", "GET", {}).then(res => {
					this.templateList = res.data

				})
			},
			// 获取行业列表
			getIndustry() {
				this.$http("/mp/industry/list", "GET", {}).then(res => {
					this.industryList = res.data
					this.industryList.map(item => {
						if (this.userInfo.industry == item.name && !this.caseInfo.id) {
							this.caseInfo.industry = item.name
							this.industryName = item.name
						}
					})
					if (this.caseInfo.id) {
						this.getCaseDetail()
					}
				})
			},
			// 获取案例类型
			getCaseType() {
				this.$http("/mp/user/case/type/list", "GET", {}).then(res => {
					this.caseTypeList = res.data
				})
			},
			// 获取行业列表
			getIndusty() {
				this.$http("/mp/user/case/template/list", "GET", {}).then(res => {
					this.templateList = res.data
				})
			},
			autoSaveCase(type) {
				let params = this.caseInfo
				params.contentJson = JSON.stringify(this.templateInfo)
				if (!params.industry || !params.name || !params.templateId || !params.typeId) {
					this.$error.tipsError("请填写完整的案例信息")
					return
				}
				for (let i = 0; i < this.templateInfo.length - 1; i++) {
					let item = this.templateInfo[i]
					if (!item.fieldValue) {
						this.$error.tipsError(item.fieldName + "不能为空")
						return
					}
				}
				if (!this.isModified(params)) {
					return;
				}
				this.$http("/mp/user/case/one", "POST", params).then(res => {
					if (res.code == 200) {
						uni.removeStorageSync("caseInfo")
						this.originCaseInfo.name = params.name
						this.originCaseInfo.contentJson = params.contentJson
						this.originCaseInfo.industryName = params.industryName
						if (this.from != 'share') {
							if (type != "save") {
								this.$error.successToast("success", "保存成功", "/pages/pagesGrow/analysis/analysis")
							}
						} else {
							// uni.showToast({
							// 	title:"保存成功",
							// 	icon:"success",
							// 	duration:1500
							// })
						}
					}
				})
			},
			// 保存案例
			saveCase(type, slient) {
				let params = this.caseInfo
				params.contentJson = JSON.stringify(this.templateInfo)
				if (!params.industry || !params.name || !params.templateId || !params.typeId) {
					this.$error.tipsError("请填写完整的案例信息")
					return
				}
				for (let i = 0; i < this.templateInfo.length - 1; i++) {
					let item = this.templateInfo[i]
					if (!item.fieldValue) {
						this.$error.tipsError(item.fieldName + "不能为空")
						return
					}
				}
				this.$http("/mp/user/case/one", "POST", params).then(res => {
					if (res.code == 200) {
						uni.removeStorageSync("caseInfo")
						this.originCaseInfo.name = params.name
						this.originCaseInfo.contentJson = params.contentJson
						this.originCaseInfo.industryName = params.industryName
						if (this.from != "share") {
							if (type != "save") {
								this.$error.successToast("success", "保存成功", "/pages/pagesGrow/analysis/analysis")
							}
						} else {
							uni.showToast({
								title:"保存成功",
								icon:"success",
								duration:1500
							})
						}
					}
				})
			},
			isModified(params) {
				return params.name !== this.originCaseInfo.name ||
					params.contentJson !== this.originCaseInfo.contentJson ||
					params.industryName !== this.originCaseInfo.industryName
			}
		}
	}
</script>

<style lang="less">
	.flex(@A, @B, @C, @D) {
		display: flex;
		flex-direction: @A;
		flex-wrap: @B;
		justify-content: @C;
		align-items: @D;
	}

	.newCase_index {
		background: #E8E5E0;
		min-height: 100vh;
		padding-bottom: 130rpx;

		.share_header {
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			z-index: 999999;
		}

		.newCase_content {
			box-sizing: border-box;
			padding: 20rpx;

			.input_box {
				padding: 12px 0rpx;
				border-bottom: 4rpx dashed #A39D92;
				.flex(row, nowrap, space-between, center);

				.input_label {
					font-size: 30rpx;
					line-height: 42rpx;
					color: #593E0D;
					font-weight: bold;
				}

				.picker_text {
					font-size: 28rpx;
					color: #9E6E17;
					font-weight: bold;
				}

				.input_content {
					width: calc(100% - 120rpx);
					text-align: right;
					font-size: 28rpx;
					color: #9E6E17;
					font-weight: bold;
				}

				.placeholder {
					font-size: 28rpx;
					line-height: 40rpx;
					color: #B4B4B4;
				}

				.picker_box {
					width: calc(100% - 120rpx);
					box-sizing: border-box;
					padding: 0;

					border: 1px solid red;
					text-align: right;
				}

			}

			.list_box {
				box-sizing: border-box;
				padding-top: 42rpx;

				.list_single {
					margin-bottom: 26rpx;

					.single_top {
						.flex(row, nowrap, space-between, center);
						margin-bottom: 14rpx;

						.top_left {
							.flex(row, nowrap, flex-start, center);

							.share_book {
								width: 22rpx;
								height: 26rpx;
								display: block;
								margin-right: 10rpx;
							}

							.left_text {
								font-size: 28rpx;
								line-height: 40rpx;
								color: #5B4010;
							}
						}

						.top_right {
							background: #D9B27E;
							height: 28rpx;
							line-height: 28rpx;
							color: #FFFFFF;
							font-size: 22rpx;
							padding: 0rpx 10rpx;
							border-radius: 4rpx;
						}
					}

					.single_bottom {
						padding: 20rpx;
						box-sizing: border-box;
						font-size: 26rpx;
						line-height: 32rpx;
						color: #666666;
						background: rgba(245, 243, 239, .44);
						border-radius: 8rpx;

						.single_textarea {
							width: 100%;
						}

						textarea {
							height: 100rpx;
							font-size: 26rpx;
						}

						.van-cell {
							padding: 0rpx !important;
							background: none;
							// background: rgba(245, 243, 239, .44);
						}

						.van-field__input {
							font-size: 26rpx;
							color: #666666;
							// font-weight: bold;
						}
					}
				}
			}

		}
	}
</style>
