<template>
	<view>
		<page-disable v-if="!pageVisible"></page-disable>
		<view class="chance_container" :style="{ 'padding-bottom': tabValue == '0' ? '264rpx' : '104rpx' }" v-else>
			<view class="nav_header" :style="{
          height: titleBarHeight + 'rpx',
          'padding-top': statusBarHeight + 'rpx',
        }">
				<view class="tabs_container">
					<van-tabs :active="tabValue" @change="onChange">
						<van-tab title="客户" name="2"></van-tab>
						<van-tab title="机会" name="1"></van-tab>
						<van-tab title="推进" name="0"></van-tab>
					</van-tabs>
				</view>
			</view>
			<view class="chance_content" :style="{ 'padding-top': titleBarHeight + statusBarHeight + 'rpx' }" v-if="tabValue == '0'">
				<view class="selects_container" :style="{ top: titleBarHeight + statusBarHeight + 'rpx' }">
					<view class="selects_conntent">
						<view class="left">
							<view class="item" :class="progressQuery.timeType == 1 ? 'select' : ''" @click="handleSelectType(1)">今日</view>
							<view class="item" :class="progressQuery.timeType == 2 ? 'select' : ''" @click="handleSelectType(2)">过期</view>
							<view class="item" :class="progressQuery.timeType == 3 ? 'select' : ''" @click="handleSelectType(3)">待执行</view>
							<view class="item" :class="progressQuery.timeType == 4 ? 'select' : ''" @click="handleSelectType(4)">全部</view>
						</view>
						<view class="item txt-right select_right" @click="handleFiter(1)">
							<span>更多筛选</span>
							<view class="fiter_dot" v-if="isFilterProgress"></view>
						</view>
					</view>
				</view>
				<view class="list_container">
					<div class="progress_item" v-for="(item, index) in progressData" :key="index" @click="handleDetail(item)">
						<image src="../../static/tag_referral.png" class="referral_img" v-if="item.type == 'referral'" />
						<image src="../../static/progress_state1.png" class="type_img" v-if="item.possibility == '优'" />
						<image src="../../static/chance_state2.png" class="type_img" v-if="item.possibility == '良'" />
						<image src="../../static/chance_state3.png" class="type_img" v-if="item.possibility == '小'" />
						<image src="../../static/phone_icon.png" class="phone_icon" @click.stop="handleCall(item)" />
						<view class="item_content">
							<view class="row align_between">
								<view class="left row">
									<view class="name">{{ item.customerName }}</view>
									<view class="line"></view>
									<view class="num"># {{ item.seq }}</view>
									<view class="line"></view>
									<view class="state">{{
                    item.realWay ? item.realWay : item.planWay
                  }}</view>
								</view>
								<view class="right">{{
                  item.followupTime
                    ? $format.formatTimeCustom(new Date(item.followupTime), '/')
                    : ''
                }}</view>
							</view>
							<view class="row mar_top">
								<view class="content van-ellipsis">{{ item.strategy }}</view>
							</view>
							<view class="row mar_top align_between">
								<view class="left row">
									<view class="tag row mar_right">
										<image src="../../static/progress_circle_l.png" v-if="item.communicationId" />
										<image src="../../static/progress_circle.png" v-else />
										<view :class="['tag_name', item.communicationId ? 'green' : '']">沟通记录</view>
									</view>
									<view class="tag row">
										<image src="../../static/progress_circle_l.png" v-if="item.summaryId" />
										<image src="../../static/progress_circle.png" v-else />
										<view :class="['tag_name', item.summaryId ? 'green' : '']">总结</view>
									</view>
								</view>
								<view class="right row">
									<view class="blue">{{
                    item.preStatus ? item.preStatus : '?'
                  }}</view>
									<image class="center" src="../../static/next_icon.png" />
									<view class="orange">{{
                    item.postStatus ? item.postStatus : '?'
                  }}</view>
								</view>
							</view>
						</view>
					</div>
					<van-loading size="24rpx" v-if="dataLoading">加载中...</van-loading>
				</view>
			</view>
			<view class="chance_content" :style="{ 'padding-top': titleBarHeight + statusBarHeight + 'rpx' }" v-if="tabValue == '1'">
				<view class="search_container">
					<van-search id="search" :value="progressQuery.keyword" :style="{ 'padding-top': titleBarHeight + statusBarHeight + 'rpx' }"
					 shape="round" placeholder="搜索" use-action-slot @search="onSearch(1)" @change="handleInput($event, 'chanceQuery')">
						<view slot="action" @click="handleFiter(2)">
							<span>筛选</span>
							<view class="fiter_dot" v-if="isFilterChance"></view>
						</view>
					</van-search>
				</view>
				<view class="chance_list_container">
					<view class="list_item" v-for="(item, index) in chanceData" :key="index" @click="handleChanceDetail(item)">
						<image src="../../static/progress_state1.png" class="type_img" v-if="item.possibility == '优'" />
						<image src="../../static/chance_state2.png" class="type_img" v-if="item.possibility == '良'" />
						<image src="../../static/chance_state3.png" class="type_img" v-if="item.possibility == '小'" />
						<view class="header_container">
							<image :src="getAvatar(item)" class="user_avatar" />
							<view class="right">
								<view class="row">
									<view class="row_start">
										<view class="name">{{
                      item.customerName ? item.customerName : ''
                    }}</view>
										<view class="tags_container">
											<view class="tag active" v-if="item.referral">转介挖掘</view>
											<view class="tag" v-else>转介挖掘</view>
										</view>
									</view>
									<view class="no">NO.{{
                      item.seq ? $format.formatZero(item.seq, 3) : ''
                    }}</view>
								</view>
								<view class="row">
									<view class="desc">{{ item.alias ? item.alias : '' }}</view>
									<view class="state" v-if="item.status">
										<view class="dot"></view>
										<view class="txt">{{ item.status }}</view>
									</view>
								</view>
							</view>
						</view>

						<view class="value">
							{{ item.requirement }}
						</view>
						<view class="info_container">
							<view class="info_left">
								<view class="info_row marB20" v-if="item.product">
									<image src="../../static/client_cate4.png" />
									<view class="name van-ellipsis">{{ item.product }}</view>
								</view>
								<view class="info_obtains">
									<view class="info_obtains_row">
										<block v-for="(item1,index1) in item.obtains" :key="index">
											<view class="line" v-if="index1!=0"></view>
											<view :class="['dot',item1==1?'':'unactive']"></view>
										</block>
									</view>
									<view class="ellipsis" v-if="item.obtains&&item.obtains.length>8">...</view>
								</view>
							</view>
							<view :class="['info_row',item.product?'row_bottom':'']">
								<view class="txt">{{
                  item.createAt
                    ? $format.formatTimeCustom(new Date(item.createAt), '.')
                    : ''
                }}</view>
							</view>
						</view>
					</view>
					<van-loading size="24rpx" v-if="dataLoading">加载中...</van-loading>
				</view>
			</view>
			<view class="client_content" :style="{ 'padding-top': titleBarHeight + statusBarHeight + 'rpx' }" v-if="tabValue == '2'">
				<view class="search_container">
					<van-search id="search" :value="clientQuery.keyword" shape="round" placeholder="搜索" use-action-slot @search="onSearch(2)"
					 @cancel="onCancel" @change="handleInput($event, 'clientQuery')" :style="{ top: navHeightRpx + 108 + 'rpx' }">
						<view slot="action" @click="handleFiter(3)">
							<span>筛选</span>
							<view class="fiter_dot" v-if="isClientFilter"></view>
						</view>
					</van-search>
					<view class="list_container">
						<view class="list_content">
							<clientitem v-for="(item, index) in clientData" :key="index" :dataClient="item" @click.native="handleClientDetail(item)"></clientitem>
							<van-loading size="24rpx" v-if="dataLoading">加载中...</van-loading>
						</view>
					</view>
				</view>
				<view class="btns_cotainer">
					<bottombtn btnName="新建客户" @confirm="handleNew(3)"></bottombtn>
				</view>
			</view>
			<view class="popup_container">
				<van-popup :show="popupVisible" position="top" @close="onClose">
					<view class="popup-content" :style="{
              'padding-top':
                titleBarHeight +
                statusBarHeight +
                (tabValue == '0' ? 71 : 108) +
                'rpx',
            }">
						<filter ref="filter" @confirm="handleConfirmFilter" :type="filterType"></filter>
					</view>
				</van-popup>
			</view>
			<!-- <bottombtn btnName="新建客户" v-if="tabValue == '0'" @confirm="handleNew(1)"></bottombtn> -->
			<bottombtn btnName="提炼机会" v-if="tabValue == '1'" @confirm="handleNew(2)"></bottombtn>
			<modual :modualInfo="modualInfo" @modualConfirm="modualConfirm" @modualCancle="modualCancle" @modualChange="modualChange"
			 v-if="showModual"></modual>
			<!-- <modual :modualInfo="modualInfoActual" @modualConfirm="modualConfirmActual" @modualCancle="modualCancleActual" v-if="showModualActual"></modual> -->
		</view>
		<tabbar :activeIndex="0"></tabbar>
	</view>
</template>

<script>
	import tabbar from '../../components/tabbar.vue'
	import bottombtn from '@/components/bottombtn.vue'
	import clientitem from '@/components/clientitem.vue'
	import filter from '@/components/filter.vue'
	import modual from '@/components/modual.vue'
	import app from '../../App.vue'
	export default {
		components: {
			clientitem,
			filter,
			bottombtn,
			tabbar,
			modual,
		},
		data() {
			return {
				pageVisible: true,
				showModual: false,
				modualInfo: {
					activeType: 6,
					showClose: false,
					showSingle: false,
					showBtns: false,
					title: '',
					content: '',
					cancleText: '否',
					confirmText: '是',
					showScroll: true,
				},
				showModualActual: false,
				modualInfoActual: {
					activeType: 2,
					showClose: false,
					showSingle: false,
					showBtns: true,
					title: '必读',
					content: '本次推进中是否有相关能力的实战心得，如果有一定要及时为自己沉淀下来。',
					cancleText: '取消',
					confirmText: '立即前往',
				},
				navInfo: {
					bg_color: '',
					color: '#FFFFFF',
					flag: 1,
					name: '',
					backType: 2,
				},
				searchValue: '',
				statusBarHeight: 0,
				titleBarHeight: 0,
				tabValue: '2',
				popupVisible: false,
				navHeight: 0,
				dataLoading: true,
				progressQuery: {
					finishedCommunication: null,
					finishedSummary: null,
					status: '',
					timeType: 1,
					type: '',
					keyword: '',
				},
				progressData: [],
				progressPags: {
					current: 1,
					pageSize: 15,
					total: 1,
				},
				chanceQuery: {
					orderByDesc: true,
					keyword: '',
					status: '',
					possibility: '',
				},
				chanceData: [],
				chancePags: {
					current: 1,
					pageSize: 15,
					total: 1,
				},
				clientQuery: {
					gender: '',
					purchase: '',
					keyword: '',
				},
				clientData: [],
				clientPags: {
					current: 1,
					pageSize: 15,
					total: 1,
				},
				dataLoading: true,
				isClientFilter: false,
				filterType: '1',
				hasOnShow: false,
				isFilterProgress: false,
				isFilterChance: false,
				isFilterClient: false,
			}
		},
		onLoad() {
			uni.navigateTo({
				// url: "/pages/pagesGrow/index/index"
				// url: "/pages/pagesGrow/topic/detail/detail"
				// url: "/pages/pagesGrow/topic/index/index"
			})
			this.autoUpdate()
			this.$utils.getPig();
		},
		onShow() {
			if (this.$utils.checkLevel()) {
				this.pageVisible = true
			} else {
				this.pageVisible = false
				return
			}
			if (this.hasOnShow) {
				return
			}
			this.hasOnShow = true
			let params = {}
			this.$http('/mp/alert/global', 'get', params)
				.then((res) => {
					this.modualInfo.content = res.data.content
					// this.modualInfo.title = res.data.title
					this.modualInfo.cancleText = res.data.cancelText
					this.modualInfo.confirmText = res.data.confirmText
					if (res.data.pagePath) {
						if (res.data.pagePath.indexOf('?') > -1) {
							this.modualInfo.toUrl += '&type= trial'
						} else {
							this.modualInfo.toUrl += '?type= trial'
						}
					}
					this.modualInfo.toUrl = res.data.pagePath
					if (res.data.confirmText && res.data.cancelText) {
						this.modualInfo.showBtns = true
					}
					this.showModual = res.data.show
				})
				.catch((err) => {})
			this.getHeaderInfo()
			if (this.tabValue == '0') {
				this.getProgress(true)
			} else if (this.tabValue == '1') {
				this.getChance(true)
			} else {
				this.getClient(true)
			}
		},
		onHide() {
			this.hasOnShow = false
			app.globalData.newSummary = false
		},
		onUnload() {
			this.hasOnShow = false
			app.globalData.newSummary = false
		},
		onReachBottom() {
			if (this.tabValue == '0') {
				this.progressPags.current++
				if (this.progressData.length < this.progressPags.total) {
					this.getProgress()
				}
			} else if (this.tabValue == '1') {
				this.chancePags.current++
				if (this.chanceData.length < this.chancePags.total) {
					this.getChance()
				}
			} else {
				this.clientPags.current++
				if (this.clientData.length < this.clientPags.total) {
					this.getClient()
				}
			}
		},
		onPullDownRefresh() {
			if (this.tabValue == '0') {
				this.getProgress(true)
			} else if (this.tabValue == '1') {
				this.getChance(true)
			} else {
				this.getClient(true)
			}
		},
		methods: {
			autoUpdate() {
				var self = this
				// 获取小程序更新机制兼容
				if (wx.canIUse('getUpdateManager')) {
					const updateManager = wx.getUpdateManager()
					//1. 检查小程序是否有新版本发布
					updateManager.onCheckForUpdate(function(res) {
						// 请求完新版本信息的回调
						if (res.hasUpdate) {
							//检测到新版本，需要更新，给出提示
							wx.showModal({
								title: '重要更新',
								content: '检测到更匹配你气质\r\n且运行更稳定的新版本',
								showCancel: false,
								success: function(res) {
									if (res.confirm) {
										//2. 用户确定下载更新小程序，小程序下载及更新静默进行
										self.downLoadAndUpdate(updateManager)
									} else if (res.cancel) {
										//用户点击取消按钮的处理，如果需要强制更新，则给出二次弹窗，如果不需要，则这里的代码都可以删掉了
										// wx.showModal({
										//   title: '重要更新',
										//   content: '本次版本更新涉及到新的功能添加，旧版本无法正常访问的哦~',
										//   showCancel:false,//隐藏取消按钮
										//   confirmText:"确定更新",//只保留确定更新按钮
										//   success: function(res) {
										// 	if (res.confirm) {
										// 	  //下载新版本，并重新应用
										// 	  self.downLoadAndUpdate(updateManager)
										// 	}
										//   }
										// })
									}
								},
							})
						}
					})
				} else {
					// 如果希望用户在最新版本的客户端上体验您的小程序，可以这样子提示
					wx.showModal({
						title: '提示',
						content: '当前微信版本过低，无法使用该功能，请升级到最新微信版本后重试。',
					})
				}
			},
			/**
			 * 下载小程序新版本并重启应用
			 */
			downLoadAndUpdate: function(updateManager) {
				var self = this
				wx.showLoading()
				//静默下载更新小程序新版本
				updateManager.onUpdateReady(function() {
					wx.hideLoading()
					//新的版本已经下载好，调用 applyUpdate 应用新版本并重启
					updateManager.applyUpdate()
				})
				updateManager.onUpdateFailed(function() {
					// 新的版本下载失败
					wx.showModal({
						title: '已经有新版本了哟~',
						content: '新版本已经上线啦~，请您删除当前小程序，重新搜索打开哟~',
					})
				})
			},
			handleClientDetail(item) {
				uni.navigateTo({
					url: '../pagesClient/detail/detail?id=' + item.id,
				})
			},
			getClient(refresh = false) {
				if (refresh) {
					this.clientPags.current = 1
					this.clientData = []
				}
				let params = {
					current: this.clientPags.current,
					gender: this.clientQuery.gender,
					keyword: this.clientQuery.keyword,
					purchase: this.clientQuery.purchase,
					pageSize: this.clientPags.pageSize,
				}
				this.dataLoading = true
				this.$http('/mp/customer/pageList', 'post', params)
					.then((res) => {
						res.data.list.forEach((per) => {
							per.tags = per.tags ? per.tags.split(',') : []
						})
						this.clientData = this.clientData.concat(res.data.list)
						this.clientPags.total = res.data.total
					})
					.finally(() => {
						this.dataLoading = false
						uni.stopPullDownRefresh()
					})
			},
			modualChange(type) {
				if (type == 'open') {
					this.showModual = true
				} else {
					this.showModual = false
					this.handleSelectType(3)
				}
			},
			modualConfirm() {
				this.showModual = false
				if (this.modualInfo.toUrl.indexOf('/pages/index/index') > -1) {
					if (this.getQueryVariable(this.modualInfo.toUrl, 'select')) {
						this.progressQuery.timeType =
							parseInt(this.getQueryVariable(this.modualInfo.toUrl, 'select')) + 1
					}
					if (
						this.tabValue !=
						(this.getQueryVariable(this.modualInfo.toUrl, 'tab') ?
							this.getQueryVariable(this.modualInfo.toUrl, 'tab') :
							1)
					) {
						this.tabValue = this.getQueryVariable(this.modualInfo.toUrl, 'tab') ?
							this.getQueryVariable(this.modualInfo.toUrl, 'tab') :
							1
					} else {
						this.handleSelectType(this.progressQuery.timeType)
					}
				} else {
					uni.navigateTo({
						url: this.modualInfo.toUrl,
					})
				}
			},
			modualCancle() {
				this.showModual = false
			},
			modualCancleActual() {
				this.showModualActual = false
			},
			modualConfirmActual() {
				this.showModualActual = false
				uni.navigateTo({
					url: '/pages/pagesGrow/experience/experience',
				})
			},
			getHeaderInfo() {
				let self = this
				uni.getSystemInfo({
					success: function(res) {
						if (res.model.indexOf('iPhone') !== -1) {
							self.titleBarHeight = 88
						} else {
							self.titleBarHeight = 96
						}
						self.statusBarHeight = 118
						self.navHeight = app.globalData.navHeight * (750 / res.windowWidth)
					},
				})
			},
			back() {
				uni.navigateBack({
					delta: 1,
				})
			},
			handleSelectType(type) {
				this.progressQuery.timeType = type
				this.getProgress(true)
			},
			handleFiter(type) {
				if (type == 1) {
					this.filterType = '2'
				} else if (type == 2) {
					this.filterType = '3'
					this.$refs.filter.getStatus()
				} else {
					this.filterType = '1'
					this.$refs.filter.getTagsData()
				}
				this.popupVisible = !this.popupVisible
			},
			onClose() {
				this.popupVisible = !this.popupVisible
			},
			onSearch(type) {
				if (type == 1) {
					this.getChance(true)
				} else {
					this.getClient(true)
				}
			},
			onCancel() {
				this.popupVisible = !this.popupVisible
			},
			handleInput(value, type) {
				this[type].keyword = value.detail
			},
			handleChanceDetail(item) {
				uni.navigateTo({
					url: '../pagesChance/detail/detail?id=' + item.id,
				})
			},
			handleCall(item) {
				if (item.telephone) {
					uni.makePhoneCall({
						phoneNumber: item.telephone,
					})
				} else {
					uni.showToast({
						icon: 'none',
						title: '此客户未登记电话',
						duration: 2500,
					})
				}
			},
			handleNew(type) {
				if (type == 1) {
					uni.navigateTo({
						url: '../pagesClient/add/add',
					})
				} else if (type == 2) {
					uni.redirectTo({
						url: '../pagesChance/add/add',
					})
				} else {
					uni.navigateTo({
						url: '../pagesClient/add/add',
					})
				}
			},
			handleDetail(item) {
				let url =
					'../pagesClient/progressDetail/progressDetail?id=' +
					item.id +
					'&opportunityId=' +
					item.opportunityId
				if (item.communicationId)
					url += '&communicationId=' + item.communicationId
				if (item.summaryId) url += '&summaryId=' + item.summaryId
				if (item.status) url += '&status=' + item.status
				let params = {
					id: item.opportunityId,
				}
				this.$http('/mp/opportunity/one', 'get', params)
					.then((res) => {
						uni.navigateTo({
							url: url + '&workflowId=' + res.data.opportunity.defaultWorkflowId,
						})
					})
					.catch((err) => {})
			},
			handleConfirmFilter(type, params, isFilter) {
				console.log(type)
				if (type == '2') {
					this.isFilterProgress = isFilter
					this.progressQuery.finishedCommunication = params.finishedCommunication
					this.progressQuery.finishedSummary = params.finishedSummary
					this.progressQuery.type = params.type
					this.progressQuery.keyword = params.keyword
					this.getProgress(true)
				} else if (type == '3') {
					this.isFilterChance = isFilter
					this.chanceQuery.status = params.status
					this.chanceQuery.possibility = params.possibility
					// this.query.gender = params.sex
					// this.query.purchase = params.state
					// this.query.keyword = params.custom
					this.getChance(true)
				} else {
					this.clientQuery.gender = params.sex
					this.clientQuery.purchase = params.state
					this.clientQuery.keyword = params.custom
					this.getClient(true)
					this.isFilterClient = isFilter
				}
				this.popupVisible = false
			},
			onChange(e) {
				this.popupVisible = false
				this.tabValue = e.detail.name
				if (e.detail.name == '0') {
					this.getProgress(true)
				} else if (e.detail.name == '1') {
					this.getChance(true)
				} else {
					this.getClient(true)
				}
			},
			getProgress(refresh = false) {
				if (refresh) {
					this.progressPags.current = 1
					this.progressData = []
				}
				let params = JSON.parse(JSON.stringify(this.progressQuery))
				params.current = this.progressPags.current
				params.pageSize = 15
				if (params.finishedCommunication == null)
					delete params.finishedCommunication
				if (params.finishedSummary == null) delete params.finishedSummary
				this.dataLoading = true
				this.$http('/mp/opportunity/followup/conditionPageList', 'post', params)
					.then((res) => {
						res.data.list.forEach((per) => {
							per.tags = per.tags ? per.tags.split(',') : []
						})
						this.progressData = this.progressData.concat(res.data.list)
						this.progressPags.total = res.data.total
					})
					.finally(() => {
						this.dataLoading = false
						uni.stopPullDownRefresh()
					})
			},
			getChance(refresh = false) {
				if (refresh) {
					this.chancePags.current = 1
					this.chanceData = []
				}
				let params = JSON.parse(JSON.stringify(this.chanceQuery))
				params.current = this.chancePags.current
				params.pageSize = 15
				this.dataLoading = true
				this.$http('/mp/opportunity/conditionPageList', 'post', params)
					.then((res) => {
						res.data.list.forEach(per=>{
							if(per.obtains) {
								per.obtains = per.obtains.split(',')
							}else {
								per.obtains = [0,0,0,0,0,0,0,0]
							}
						})
						this.chanceData = this.chanceData.concat(res.data.list)
						this.chancePags.total = res.data.total
					})
					.finally(() => {
						this.dataLoading = false
						uni.stopPullDownRefresh()
					})
			},
			getAvatar(item) {
				switch (item.gender) {
					case '男':
						return '../../static/avatar_b.png'
						break
					case '女':
						return '../../static/avatar_g.png'
						break
					default:
						return '../../static/avatar_n.png'
						break
				}
			},
			getQueryVariable(url, variable) {
				let query = url.split('?')[1]
				let vars = query.split('&')
				for (var i = 0; i < vars.length; i++) {
					let pair = vars[i].split('=')
					if (pair[0] == variable) {
						return pair[1]
					}
				}
				return false
			},
		},
	}
</script>

<style lang="less">
	.flex(@A, @B, @C, @D) {
		display: flex;
		flex-direction: @A;
		flex-wrap: @B;
		justify-content: @C;
		align-items: @D;
	}

	.chance_container {
		padding-bottom: 264rpx;

		.leftArrow {
			position: fixed;
			left: 0;
			z-index: 9999;

			.left_arrow {
				width: 24rpx;
				height: 44rpx;
				margin-left: 50rpx;
				margin-top: 12rpx;
			}
		}

		.nav_header {
			display: flex;
			align-items: center;
			// position: fixed;
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			z-index: 999;
			background: linear-gradient(90deg, #1de5a8 0%, #41afc3 100%);

			// left: 0;
			.weight {
				font-weight: bold;
			}

			.header_title {
				position: absolute;
				left: 50%;
				font-size: 38rpx;
				transform: translateX(-50%);
			}

			.header-back {
				position: absolute;
				left: 15rpx;
				font-size: 30rpx;
				padding: 10rpx;
				border-radius: 50%;
				border: 1px solid red;
			}

			.tabs_container {
				.flex(row, nowrap, center, center);
				width: 100%;

				.van-tab {
					padding: 0 25rpx !important;
					font-size: 36rpx;
					color: #ffffff;
					font-weight: 400 !important;
				}

				.van-tab--active {
					font-weight: 500 !important;
				}

				.van-tabs__scroll {
					background-color: transparent !important;
				}

				.van-tabs__line {
					background: #fff;
					margin-bottom: 2rpx;
				}
			}
		}

		.chance_content {
			.selects_container {
				position: fixed;
				left: 0rpx;
				right: 0rpx;
				height: 70rpx;
				padding: 0 30rpx;
				background: #fff;
				z-index: 101;

				.selects_conntent {
					.flex(row, nowrap, space-between, center);
					height: 100%;
					border-bottom: 1rpx solid rgba(207, 207, 207, 0.26);
				}

				.left {
					.flex(row, nowrap, flex-start, center);
				}

				.item {
					font-size: 28rpx;
					font-weight: 300;
					color: #999999;
					margin-right: 50rpx;
				}

				.txt-right {
					margin: 0;
				}

				.select {
					font-weight: 500;
					color: #1fe3a8;
				}

				.select_right {
					position: relative;
					font-weight: 300;
					color: #1fe3a8;
				}

				.fiter_dot {
					position: absolute;
					top: -2rpx;
					right: -6rpx;
					width: 8rpx;
					height: 8rpx;
					border-radius: 50%;
					background: red;
				}
			}

			.referral_img {
				width: 72rpx;
				height: 27rpx;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
			}

			.type_img {
				width: 66rpx;
				height: 48rpx;
				position: absolute;
				top: 0;
				right: 186rpx;
				z-index: 1;
			}

			.list_container {
				padding-top: 71rpx;

				.align_between {
					justify-content: space-between;
				}

				.mar_top {
					margin-top: 10rpx;
				}

				.mar_right {
					margin-right: 40rpx;
				}

				.row {
					display: flex;
					align-items: center;
				}

				.progress_item {
					position: relative;
					background: #ffffff;
					box-shadow: 0 4rpx 10rpx 0 rgba(236, 236, 236, 0.8);
					padding: 12rpx 30rpx 10rpx 26rpx;
					margin-bottom: 20rpx;
					.flex(row, no-wrap, space-between, center);

					.phone_icon {
						flex-shrink: 0;
						width: 94rpx;
						height: 94rpx;
					}

					.item_content {
						width: 600rpx;
						flex: 1;

						.name {
							font-size: 30rpx;
							font-weight: 500;
							color: #333;
						}

						.line {
							width: 22rpx;
							height: 2rpx;
							background: #ececec;
							margin: 0 8rpx;
						}

						.num,
						.state {
							font-size: 24rpx;
							font-weight: 500;
							color: #666;
						}

						.right {
							font-size: 24rpx;
							color: #c8c8c8;

							image {
								width: 15rpx;
								height: 17rpx;
							}
						}

						.content {
							flex: 1;
							padding: 16rpx 20rpx 14rpx;
							background: #f7fffd;
							border-radius: 12rpx;
							font-size: 28rpx;
							color: #44675c;
						}

						.tag {
							image {
								width: 22rpx;
								height: 22rpx;
							}

							.tag_name {
								font-size: 24rpx;
								color: #999;
								margin-left: 8rpx;
							}
						}

						.center {
							margin: 0 10rpx;
						}

						.green {
							color: #1fe3a8 !important;
						}

						.blue {
							color: #06c0ee;
						}

						.orange {
							color: #ffb82e;
						}
					}
				}
			}

			.search_container {
				position: relative;

				.van-search {
					position: fixed;
					left: 0;
					right: 0;
					z-index: 101;

					.van-search__action {
						color: #1fe3a8;
					}
				}

				.fiter_dot {
					position: absolute;
					top: 30rpx;
					right: 8rpx;
					width: 8rpx;
					height: 8rpx;
					border-radius: 50%;
					background: red;
				}
			}

			.chance_list_container {
				padding-top: 120rpx;
				.flex(column, wrap, flex-start, center);

				.list_item {
					position: relative;
					padding: 20rpx 20rpx 32rpx 20rpx;
					box-sizing: border-box;
					width: 690rpx;
					background: #ffffff;
					box-shadow: 0 0rpx 20rpx 0 rgba(154, 154, 154, 0.16);
					border-radius: 20rpx;
					margin-bottom: 20rpx;

					.header_container {
						position: relative;
						z-index: 10;
						.flex(row, nowrap, flex-start, center);

						.user_avatar {
							width: 96rpx;
							height: 96rpx;
							border-radius: 50%;
							margin-right: 12rpx;
						}

						.right {
							flex: 1;
						}
					}

					.row_start {
						.flex(row, wrap, flex-start, center);

						.tags_container {
							.flex(row, wrap, flex-start, center);

							.tag {
								padding: 2rpx 12rpx;
								border-radius: rpx;
								background: #f5f5f5;
								font-size: 24rpx;
								color: #999999;
								margin-right: 18rpx;
								border-bottom: 10rpx;
								border-radius: 10rpx;
							}

							.active {
								color: #4ad4ff;
								background: #effcff;
							}
						}
					}

					.row {
						.flex(row, wrap, space-between, center);
						padding-bottom: 10rpx;

						.name {
							max-width: 200rpx;
							font-size: 32rpx;
							font-weight: 500;
							color: #333333;
							margin-right: 28rpx;
						}

						.no {
							font-size: 26rpx;
							font-weight: 500;
							color: #02bfee;
						}

						.desc {
							font-size: 23rpx;
							color: #333333;
						}

						.state {
							.flex(row, wrap, flex-end, center);

							.dot {
								width: 8rpx;
								height: 8rpx;
								border-radius: 50%;
								margin-right: 14rpx;
								background: #1ee5a9;
							}

							.txt {
								font-size: 24rpx;
								font-weight: 500;
								color: #1ee5a9;
							}
						}
					}

					.value {
						margin-top: 41rpx;
						font-size: 24rpx;
						font-weight: 500;
						color: #45675d;
						line-height: 33rpx;
					}

					.info_container {
						margin-top: 42rpx;
						.flex(row, wrap, space-between, center);
						
						.info_obtains {
							.flex(row, wrap, flex-start, center);
							.ellipsis {
								margin-left: 10rpx;
								font-size: 28rpx;
							}
						}

						.info_obtains_row {
							.flex(row, nowrap, flex-start, center);
							max-width: 417rpx;
							overflow: hidden;

							.line {
								flex-shrink: 0;
								width: 32rpx;
								height: 2rpx;
								background: #D8DFEC;
								margin: 0 4rpx;
							}

							.dot {
								flex-shrink: 0;
								width: 12rpx;
								height: 12rpx;
								background: #22DEAC;
								border: 2rpx solid #38BDBD;
								border-radius: 50%;
							}

							.unactive {
								background: #C9C9C9 !important;
								box-shadow: 0 0 8rpx 0 #FCFCFC !important;
								border: 2rpx solid #B8B8B8 !important;
							}
						}
							
						.row_bottom {
							align-self: flex-end!important;
							position: relative;
							top: 8rpx;
						}
						
						.marB20 {
							margin-bottom: 25rpx;
						}

						.info_row {
							.flex(row, wrap, flex-start, center);
							font-size: 26rpx;
							color: #333333;

							image {
								width: 28rpx;
								height: 26rpx;
								margin-right: 22rpx;
							}

							.name {
								max-width: 300rpx;
								font-weight: 500;
							}

							.txt {
								color: #999999;
							}
						}
					}
				}
			}
		}

		.client_content {
			.search_container {
				position: relative;
				padding-bottom: 264rpx;

				.van-search {
					position: fixed;
					left: 0;
					right: 0;
					z-index: 101;

					.van-search__action {
						color: #1fe3a8;
					}
				}

				.fiter_dot {
					position: absolute;
					top: 30rpx;
					right: 8rpx;
					width: 8rpx;
					height: 8rpx;
					border-radius: 50%;
					background: red;
				}
			}

			.popup_container {
				.popup_content {
					.inner_content {
						padding: 20rpx 30rpx;
						max-height: 600rpx;
						overflow-y: auto;

						.inner_item {
							margin-bottom: 40rpx;

							.title {
								font-size: 26rpx;
								color: #999999;
							}

							.tags_container {
								margin-top: 20rpx;
								.flex(row, wrap, flex-start, center);

								.tag {
									margin-right: 40rpx;
									margin-bottom: 20rpx;
									padding: 4rpx 38rpx;
									background: #f5f5f5;
									border-radius: 27rpx;
									font-size: 28rpx;
									color: #333333;
								}

								.male {
									background: #dafaff;
									color: #0ad5f6;
								}

								.female {
									background: #ffebee;
									color: #ff3556;
								}

								.male_select {
									background: #0ad5f6;
									color: #fff;
								}

								.tag_select {
									background: #1ee5a9;
									color: #ffffff;
								}

								.mar_right {
									margin-right: 20rpx;
								}
							}
						}
					}

					.inner_btn_container {
						.flex(row, wrap, flex-start, center);

						.btn {
							flex: 1;
						}

						.blue {
							button {
								color: #23daf7;
							}
						}
					}
				}
			}

			.list_container {
				padding-top: 108rpx;

				.van-checkbox {
					padding: 20rpx 30rpx;
					margin-bottom: 20rpx;
					width: 100%;
					box-sizing: border-box;
					box-shadow: 0 4rpx 10rpx 0 rgba(207, 207, 207, 0.26);

					.van-checkbox__label {
						flex: 1;
					}
				}

				.list-item {
					padding: 20rpx 30rpx;
					margin-bottom: 20rpx;
					box-shadow: 0 4rpx 10rpx 0 rgba(207, 207, 207, 0.26);
					.flex(row, nowrap, flex-start, center);

					.phone_icon {
						width: 70rpx;
						height: 70rpx;
					}
				}

				.item_content {
					flex: 1;
					margin-left: 24rpx;

					.align_between {
						justify-content: space-between;
					}

					.mar_top {
						margin-top: 12rpx;
					}

					.row {
						display: flex;
						align-items: center;

						.left {
							display: flex;
							align-items: center;

							.name {
								font-size: 32rpx;
								font-weight: 500;
								color: #333333;
							}

							.sex {
								width: 86rpx;
								height: 68rpx;
							}

							.state {
								font-size: 22rpx;
								color: #1fe3a8;
								line-height: 32rpx;
							}
						}

						.right {
							font-size: 24rpx;
							color: #c8c8c8;
						}

						.phone {
							margin-right: 10rpx;
							font-size: 24rpx;
							color: #666666;
						}

						.tag {
							margin-left: 10rpx;
							padding: 4rpx 20rpx;
							background: #effcff;
							// box-shadow: 0 4rpx 10rpx 0 rgba(207, 207, 207, 0.26);
							border-radius: 30rpx;
							font-size: 22rpx;
							color: #4ad4ff;
						}
					}
				}
			}

			.btns_cotainer {
				.btn_container {
					bottom: 184rpx !important;
				}
			}
		}

		.btn_container {
			bottom: 184rpx !important;
		}
	}
</style>
