<template>
	<view class="client_add_container" :style="{'padding-top': navHeight + 'px'}">
		<nav-bar :navInfo="navInfo" class="nav_header"></nav-bar>
		<page-disable v-if="!pageVisible"></page-disable>
		<view class="client_add_content" v-else>
			<view class="title">
				<view class="row">
					<image src="../../../static/book_icon.png" class="icon" />
					<view class="name">印象标签</view>
				</view>
			</view>
			<view class="search_container">
				<van-search :value="searchValue" shape="round" placeholder="输入你对客户的第一印象···" left-icon="" use-action-slot @change="handleInput($event.detail,1)"
				 @search="handleConfirmTag">
					<view slot="action" @click="handleConfirmTag">添加</view>
				</van-search>
			</view>
			<view class="tags_container" v-if="isEdit">
				<view class="tag" v-for="(item,index) in tagList" :key="index">
					<view class="txt">{{item}}</view>
					<image src="../../../static/delete_icon.png" @click="handleDeleteTagDetail(index)" />
				</view>
			</view>
			<view class="tags_container" v-else>
				<view class="tag" v-for="(item,index) in tagList" :key="item.id">
					<view class="txt">{{item.name}}</view>
					<image src="../../../static/delete_icon.png" @click="handleDeleteTag(item)" />
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	import bottombtn from '@/components/bottombtn'
	import app from '../../../App.vue'
	export default {
		data() {
			return {
				pageVisible: true,
				navInfo: {
					bg_color: "",
					color: "#FFFFFF",
					flag: 2,
					name: "客户标签",
					backType: 1
				},
				isIpx: app.globalData.isIpx,
				navHeight: app.globalData.navHeight,
				searchValue: '',
				tagList: [],
			}
		},
		onShow() {
			if(this.$utils.checkLevel()) {
				this.pageVisible = true
			}else {
				this.pageVisible = false
				return
			}
			this.getTagList()
		},
		methods: {
			handleInput(value, type) {
				switch (type) {
					case 1:
						this.searchValue = value
						break
				}
			},
			handleDeleteTag(item) {
				let params = {
					id: item.id
				}
				this.$http("/mp/customer/tag/one", "delete", params)
					.then(res => {
						this.getTagList(true)
					})
					.finally(() => {})
			},
			handleConfirmTag() {
				if (this.isEdit) {
					this.tagList.push(this.searchValue)
					this.searchValue = ''
					return
				}
				let params = {
					name: this.searchValue
				}
				uni.showLoading()
				this.$http("/mp/customer/tag/one", "post", params)
					.then(res => {
						this.getTagList(true)
					})
					.finally(() => {
						uni.hideLoading()
						this.searchValue = ''
					})
			},
			getTagList(refresh) {
				let params = {
					keyword: ''
				}
				if (refresh) {
					uni.showLoading()
				}
				this.$http("/mp/customer/tag/list", "get", params)
					.then(res => {
						this.tagList = res.data
					})
					.finally(() => {
						uni.hideLoading()
					})
			},
		}
	}
</script>

<style lang="less">
	.flex(@A, @B, @C, @D) {
		display: flex;
		flex-direction: @A;
		flex-wrap: @B;
		justify-content: @C;
		align-items: @D;
	}

	.client_add_container {
		padding-bottom: 132rpx;

		.nav_header {
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			z-index: 999;
		}

		.client_add_content {
			.title {
				padding: 20rpx 30rpx 10rpx;
				.flex(row, wrap, space-between, center);

				.row {
					.flex(row, wrap, flex-start, center);
				}

				.icon {
					width: 22rpx;
					height: 28rpx;
					margin-right: 10rpx;
				}

				.icon1 {
					width: 28rpx;
					height: 28rpx;
					margin-right: 10rpx;
				}

				.name {
					font-size: 28rpx;
					font-weight: 500;
					color: #00C98D;
				}
			}

			.search_container {
				.van-search__action {
					color: #00C98D;
				}
			}

			.tags_container {
				.flex(row, wrap, flex-start, center);
				padding: 20rpx 30rpx;

				.tag {
					position: relative;
					padding: 2rpx 20rpx;
					margin-right: 20rpx;
					margin-bottom: 20rpx;
					background: #EFFCFF;
					border-radius: 30rpx;
					border: 1px solid #6AE5FF;
					font-size: 24rpx;
					font-weight: 500;
					color: #4AD4FF;

					image {
						position: absolute;
						top: -18rpx;
						right: -18rpx;
						width: 20rpx;
						height: 20rpx;
						padding: 10rpx;
					}
				}
			}
		}
	}
</style>
