<template>
	<view class="experience_index">
		<navbar :navInfo="navInfo" class="share_header"></navbar>
		<view class="experience_content" :style="{'margin-top': navHeight + 'px'}">
			<van-search @search="getListData('search','btn')" @change="keywordChange" v-model="queryInfo.keyword"
			 use-action-slot placeholder="输入关键字进行搜索" background="#E8E5E0" shape="round" input-class="search_input">
				<view slot="action" v-if="!showReset"  @click="getListData('search','btn')" class="search_text">搜索</view>
				<view slot="action" v-if="showReset"  @click="reset" class="search_text">重置</view>
			</van-search>
			<view class="list_box">
				<view class="list_title">
					<view class="list_line">

					</view>
					<view class="title_text">
						<!-- 破冰能力 -->
						<picker style="display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;"
						 mode="selector" :range="skillList" @change="pickerChange" range-key="name" class="type_picker">
							<view class="picker_box">
								<view v-if="skillName && showPicker" class="picker_text">{{skillName}}</view>
								<!-- <image src="../../../static/angle_icon.png" mode="" class="angle_icon"></image> -->
								<view class="list_angle">
								</view>
							</view>
						</picker>
					</view>
					<view class="list_line">

					</view>
				</view>
				<view class="list_single" v-for="(item,index) in listData" :key="index" @click="bindNewExperience(item)" @longpress="bindDelete(item)">
					<view class="single_title">
						<image src="../../../static/experience_book.png" mode="" class="experience_book"></image>
						<view class="title_right">
							<view class="right_text">
								{{item.title}}
							</view>
							<view class="number_box">
								NO.{{item.seq}}
							</view>
						</view>
					</view>
					<view class="single_content">
						<image src="../../../static/exprience_error.png" mode="" class="exprience_error"></image>
						<view class="content_right ">
							<view class="right_text keypoint">
								{{item.keypoint.length == 0 ? "&nbsp;" : item.keypoint}}
							</view>
						</view>
					</view>
					<view class="single_content bottom_content">
						<image src="../../../static/exprience_apply.png" mode="" class="exprience_error"></image>
						<view class="content_right bottom_right">
							<view class="bottom_text">
								{{item.usage}}
							</view>
						</view>
					</view>
					<view class="draft_box" v-if="item.draft">

					</view>
				</view>
			</view>
		</view>
		<view class="nodata_text">
			没有更多了~~
		</view>
		<view class="global_btn_box">
			<view  class="global_share_btn" @click="bindNewExperience('')">
				<image src="../../../static/btn_back.png" mode="" class="global_btn_back"></image>
				<view class="global_btn_text">
					新增
				</view>
			</view>
			<!-- <view v-if="showReset" class="global_share_btn" @click="reset">
				<image src="../../../static/btn_back.png" mode="" class="global_btn_back"></image>
				<view class="global_btn_text">
					重置
				</view>
			</view> -->
		</view>
		<modual :modualInfo="modualInfo" @modualChange="modualChange" v-if="showModual"></modual>
	</view>
</template>

<script>
	import navbar from '../../../components/navbar.vue'
	import modual from '../../../components/modual.vue'
	import app from '../../../App.vue'
	export default {
		components: {
			navbar,
			modual
		},
		data() {
			return {
				showModual: false,
				modualInfo: {
					activeType: 3,
					showClose: false,
					showSingle: false,
					showBtns: false,
					title: "必读",
					content: "实战心得不是学习总结而是实战能力的沉淀，也是实战能力强弱的体现。某个实战能力对应的心得越少，代表该能力越弱；心得越多，代表该能力下沉淀的经验，技巧和感悟就越多，该能力就越强。所以心得的多少跟该能力在实力图谱的得分是成正比的。所以经常在谈单后对实战心得进行凝练也是成长的关键途径之一。",
					cancleText: "否",
					confirmText: "是"
				},
				navInfo: {
					"bg_color": "",
					"color": "#5F370F",
					"flag": 2,
					"name": "实战心得",
					"backType": 2
				},
				isIpx: app.globalData.isIpx,
				navHeight: app.globalData.navHeight,
				queryInfo: {
					current: 1,
					keyword: "",
					pageSize: 10,
					skillId: ""
				},
				skillName: "",
				skillList: [],
				listData: [],
				total: 0,
				showNodata: false,
				showReset: false,
				showPicker: true
			}
		},
		onLoad(options) {
			
			this.queryInfo.skillId = options.skillId ? options.skillId : ""
			this.showModual = this.$utils.getStatus('experienceIndex')
			this.$utils.setStatus("experienceIndex")
		},
		onShow() {
			this.getSkillList("search")
		},
		onPullDownRefresh() {
			this.getListData("fresh")
		},
		onReachBottom() {
			if (this.listData.length < this.total) {
				this.queryInfo.current++
				this.getListData("")
			}
		},
		methods: {
			// 删除
			bindDelete (item) {
				let _this = this
				uni.showModal({
					title:"确认删除？",
					confirmText:"确定",
					success: (res) => {
						if(res.confirm) {
							_this.$http('/mp/user/knowledge/one', 'DELETE', {
								id: item.id
							}).then(res => {
								_this.getSkillList("search")
								uni.showToast({
									title:"删除成功",
									icon:"none",
									duration:"1500",
									success: () => {
										setTimeout(()=> {
											uni.hideToast()
										},1500)
									}
								})
							});
						}
					}
				})
			},
			// 重置搜索条件
			reset () {
				this.showReset = false
				this.queryInfo.keyword = ""
				this.showPicker = true
				this.queryInfo.skillId = this.skillList[0].id
				this.skillName = this.skillList[0].name
				this.getListData("search")
			},
			// 获取指定能力name
			getSkillName() {
				this.skillList.map(item => {
					if (this.queryInfo.skillId == item.id) {
						this.skillName = item.name
					}
				})
			},
			modualChange(type) {
				if (type == 'open') {
					this.showModual = true
				} else {
					this.showModual = false
				}
			},
			// 关键字输入
			keywordChange(e) {
				this.queryInfo.keyword = e.detail
			},
			// 跳转新增页面
			bindNewExperience(item) {
				if (item) {
					console.log("ddd");
					uni.navigateTo({
						url: `/pages/pagesGrow/newExperience/newExperience?id=${item.id}&type=edit`
					})
				} else {
					uni.navigateTo({
						url: `/pages/pagesGrow/newExperience/newExperience?skillId=${this.queryInfo.skillId}&type=add`
					})
				}
			},
			// 技能选择
			pickerChange(e) {
				let index = e.detail.value
				this.showPicker = true
				this.skillName = this.skillList[index].name
				this.queryInfo.skillId = this.skillList[index].id
				this.queryInfo.keyword = ""
				this.listData = []
				this.getListData("search")
			},
			// 获取心得列表
			getListData(type, name) {
				if (type == "search" || type == "fresh") {
					this.queryInfo.current = 1
					this.listData = []
					this.total = 0
				}
				let params = this.queryInfo
				if (name == 'btn') {
					this.showPicker = false
					this.showReset = true
				}
				if (this.queryInfo.keyword) {
					params.skillId = ""
				}
				this.$http("/mp/user/knowledge/pageList", "POST", params).then(res => {
					this.listData = this.listData.concat(res.data.list)
					this.total = res.data.total
					if (type == "fresh") {
						uni.stopPullDownRefresh()
					}
					if (this.listData.length == this.total) {
						this.showNodata = true
					} else {
						this.showNodata = false
					}
				})
			},
			// 获取技能列表
			getSkillList() {
				this.$http("/mp/user/skill/list", "GET", {}).then(res => {
					this.skillList = res.data
					if (this.queryInfo.skillId) {
						this.getSkillName()
					} else {
						if (this.skillList.length > 0) {
							this.queryInfo.skillId = this.skillList[0].id
							this.skillName = this.skillList[0].name
						}
					}
					this.getListData("search")
				})
			}

		}
	}
</script>

<style lang="less">
	.flex(@A, @B, @C, @D) {
		display: flex;
		flex-direction: @A;
		flex-wrap: @B;
		justify-content: @C;
		align-items: @D;
	}

	.experience_index {
		background: #E8E5E0;
		min-height: 100vh;

		.share_header {
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			z-index: 999999;
		}

		.experience_content {
			.van-field__input {
				background: #F5F3EF !important;
			}

			.van-search__content {
				background: #F5F3EF !important;
			}

			.search_text {
				font-size: 28rpx;
				color: #593E0D;
			}

			.list_box {

				.list_title {
					margin-bottom: 32rpx;
					.flex(row, nowrap, center, center);

					.list_line {
						width: 122rpx;
						height: 4rpx;
						background: #644C1E;
					}

					.title_text {
						font-size: 28rpx;
						line-height: 40rpx;
						color: #593E0D;
						font-weight: bold;
						margin-left: 50rpx;
						margin-right: 50rpx;

						picker {
							.flex(row, nowrap, center, center);
							// width: 300rpx;
							position: relative;

							.picker_box {
								width: 100%;
								height: 50rpx;

								.picker_text {
									margin-right: 10rpx;
								}

								.flex(row, nowrap, center, center);
							}

							.list_angle {
								width: 0;
								height: 0;
								border-left: 10rpx solid transparent;
								border-right: 10rpx solid transparent;
								border-top: 10rpx solid #593E0D;
								// margin-left: 10px;
							}

							.angle_icon {
								width: 28rpx;
								height: 16rpx;
								display: block;
								margin-left: 10rpx;
							}
						}

						.type_picker {}
					}

				}

				.list_single {
					width: 690rpx;
					margin: 0rpx auto 20rpx auto;
					box-sizing: border-box;
					padding: 20rpx 30rpx;
					background-image: url('https://cdn.xiaohun.baiziio.com/config/bg_1.png');
					background-size: 100% 100%;
					background-repeat: no-repeat;
					position: relative;
					box-shadow: 0 4rpx 12rpx 0 rgba(135, 93, 52, 0.25);
					background-color: #E8E5E0;
					border-radius: 24rpx;
					overflow: hidden;

					.single_title {
						.flex(row, nowrap, space-between, flex-start);

						.experience_book {
							width: 24rpx;
							height: 24rpx;
							display: block;
							margin-right: 20rpx;
							margin-top: 6rpx;
						}

						.title_right {
							width: calc(100% - 44rpx);
							// border-bottom: 1rpx solid #FFFFFF;
							border-bottom: 1rpx solid rgba(255, 255, 255, .7);
							box-sizing: border-box;
							padding-bottom: 10rpx;
							.flex(row, nowrap, space-between, center);

							.right_text {
								font-size: 28rpx;
								line-height: 36rpx;
								color: #915D00;
								width: calc(100% - 200rpx);
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: nowrap;
								font-weight: bold;
							}

							.bottom_text {
								text-overflow: ellipsis;
								overflow: hidden;
								white-space: nowrap;
							}

							.number_box {
								background: #D9B27E;
								height: 24rpx;
								padding: 0px 8rpx;
								line-height: 24rpx;
								color: #FFFFFF;
								font-size: 22rpx;
								border-radius: 4rpx;
							}
						}
					}

					.single_content {
						box-sizing: border-box;
						padding: 20rpx 0rpx 0rpx 0rpx;
						.flex(row, nowrap, space-between, flex-start);

						.exprience_error {
							width: 24rpx;
							height: 24rpx;
							display: block;
							margin-top: 6rpx;
						}

						.content_right {
							line-height: 34rpx;
							// font-weight: bold;
							color: #9E6E17;
							width: calc(100% - 44rpx);
							border-bottom: 1rpx solid rgba(255, 255, 255, .7);

							// box-sizing: border-box;
							// padding-bottom: 16rpx;
							.right_text {
								margin-bottom: 16rpx;
								display: -webkit-box;
								overflow: hidden;
								text-overflow: ellipsis;
								word-wrap: break-word;
								white-space: normal !important;
								-webkit-line-clamp: 2;
								-webkit-box-orient: vertical;
								font-size: 26rpx;
							}

							.keypoint {
								font-weight: 500;
							}
						}

						.bottom_right {
							border-bottom: none;
						}

						.bottom_text {
							margin-bottom: 16rpx;
							text-overflow: ellipsis;
							overflow: hidden;
							white-space: nowrap;
							font-size: 26rpx;

						}
					}

					.draft_box {
						width: 16rpx;
						height: 16rpx;
						border-radius: 8rpx;
						background: #FF4040;
						position: absolute;
						top: 10rpx;
						right: 10rpx;
					}
				}
			}
		}
	}
</style>
