<template>
	<view class="newExperience_index">
		<navbar :navInfo="navInfo" class="share_header"></navbar>
		<view class="newExperience_content" :style="{ 'margin-top': navHeight + 'px' }">
			<view class="input_box">
				<view class="input_label">分享人</view>
				<!-- <input type="text" v-model="experienceInfo.title" placeholder="如技巧名称或重要感悟标题" class="input_content"
				 placeholder-class="placeholder" /> -->
				<van-field
					:disabled="true"
					@input="inputChange($event, 'title')"
					:value="experienceInfo.signed"
					placeholder="分享人"
					class="input_content"
					:autosize="{ minHeight: 20 }"
					type="textarea"
					placeholder-style="font-size: 28rpx;line-height: 40rpx;color: #B4B4B4;"
				/>
			</view>
			<view class="input_box">
				<view class="input_label">标题</view>
				<!-- <input type="text" v-model="experienceInfo.title" placeholder="如技巧名称或重要感悟标题" class="input_content"
				 placeholder-class="placeholder" /> -->
				<van-field
					disabled
					@input="inputChange($event, 'title')"
					:value="experienceInfo.title"
					placeholder="如技巧名称或重要感悟标题"
					class="input_content"
					:autosize="{ minHeight: 20 }"
					type="textarea"
					placeholder-style="font-size: 28rpx;line-height: 40rpx;color: #B4B4B4;"
				/>
			</view>
			<view class="input_box">
				<view class="input_label">要点</view>
				<van-field
					disabled
					@input="inputChange($event, 'keypoint')"
					:value="experienceInfo.keypoint"
					placeholder="请填写核心的要点"
					class="input_content"
					:autosize="{ minHeight: 20 }"
					type="textarea"
					placeholder-style="font-size: 28rpx;line-height: 40rpx;color: #B4B4B4;"
				/>
				<!-- <input type="text" v-model="experienceInfo.keypoint" placeholder="请填写核心的要点" class="input_content" placeholder-class="placeholder" /> -->
			</view>
			<!-- 	<view class="input_box">
				<view class="input_label">
				</view>
				<input type="text" class="input_content" placeholder-class="placeholder" disabled />
			</view> -->
			<view class="apply_box">
				<view class="apply_top">
					<image src="../../../static/experience_apply.png" mode="" class="experience_apply"></image>
					<view class="">运用</view>
				</view>
				<view class="apply_bottom">
					<!-- <textarea class="apply_textarea" v-model="experienceInfo.usage" placeholder="" placeholder-class="placeholder"
					 placeholder="请填写具体运用，如做法和话术" />
					</view> -->
					<van-field
						disabled
						@input="inputChange($event, 'usage')"
						:value="experienceInfo.usage"
						placeholder="请填写具体运用，如做法和话术"
						class="apply_textarea"
						:autosize="{ minHeight: 20 }"
						type="textarea"
						placeholder-style="font-size: 28rpx;line-height: 40rpx;color: #B4B4B4;"
					/>
				</view>
			</view>
			<view class="img_box">
				<view class="upload_container">
					<view class="upload_content">
						<view class="upload_img" v-for="(item, index) in uploadImgList" :key="index">
							<image :src="item" class="img" mode="aspectFill" @click="handlePreview(item)"></image>
						</view>
					</view>
				</view>
			</view>
		</view>
		<view class="pic_box">
			<view class="pic_item" v-if="statusInfo" @click="changeStatus('collect', statusInfo.collect ? false : true)">
				<image src="../../../static/collect.png" v-if="!statusInfo.collect" class="op_btn"></image>
				<image src="../../../static/collect_active.png" v-if="statusInfo.collect" class="op_btn"></image>
				<view class="icon_text">收藏</view>
			</view>
			<view class="pic_item marB2" v-if="statusInfo" @click="changeStatus('like', statusInfo.like ? false : true)">
				<image style="width:35rpx;height: 35rpx;" src="../../../static/topic_detail_like.png" v-if="!statusInfo.like"></image>
				<image style="width:35rpx;height: 35rpx;" src="../../../static/topic_like.png" v-if="statusInfo.like"></image>
				<view class="icon_text">点赞</view>
			</view>
			<view class="pic_item" v-if="statusInfo && userId != experienceInfo.createBy">
				<button open-type="share">
					<image style="width:46rpx;height: 46rpx;" src="../../../static/share_icon.png"></image>
					<!-- <image style="width:35rpx;height: 35rpx;" src="../../../static/topic_like.png" v-if="statusInfo.like"></image> -->
					<!-- <image style="width:35rpx;height: 35rpx;" src="../../../static/topic_detail_like.png" v-if="!statusInfo.like"></image> -->
					分享
				</button>
				<!-- <view class="icon_text">分享</view> -->
			</view>
			<view class="pic_item" v-if="statusInfo && userId == experienceInfo.createBy" @click="bindEdit">
				<image style="width:46rpx;height: 46rpx;" src="../../../static/comment.png"></image>
				<!-- <image style="width:35rpx;height: 35rpx;" src="../../../static/topic_detail_like.png" v-if="!statusInfo.like"></image> -->
				<!-- <image style="width:35rpx;height: 35rpx;" src="../../../static/topic_like.png" v-if="statusInfo.like"></image> -->
				<view class="icon_text">编辑</view>
			</view>
			<view class="pic_item" @click="bindExperience">
				<image src="../../../static/comment.png"></image>
				<view class="icon_text">感悟</view>
			</view>
		</view>
		<preview :imgUrl="currentImgUrl" ref="previewRef"></preview>
	</view>
</template>

<script>
import preview from '../../../components/preview.vue';
import navbar from '../../../components/navbar.vue';
import app from '../../../App.vue';
export default {
	components: {
		navbar,
		preview
	},

	data() {
		return {
			navInfo: {
				bg_color: '',
				color: '#5F370F',
				flag: 2,
				name: '实战心得详情',
				backType: 2
			},
			isIpx: app.globalData.isIpx,
			navHeight: app.globalData.navHeight,
			experienceInfo: {
				id: '',
				draft: null,
				keypoint: '',
				title: '',
				usage: '',
				skillId: ''
			},
			type: '',
			shareId: '',
			timer: null,
			statusInfo: {},
			uploadImgList: [],
			currentImgUrl: '',
			userId: uni.getStorageSync('userId')
		};
	},

	onLoad(options) {
		// uni.showShareMenu({
		// 	withShareTicket: true,
		// 	menus: ['shareAppMessage']
		// })
		// this.type = options.type ? options.type : ""
		this.shareId = options.id;
	},
	onShow() {
		this.getDetails();
		this.getStatus();
	},
	onShareAppMessage() {
		// this.shareExperience();
		var title = '实战心得详情';
		if (this.experienceInfo.title) {
			title = `分享心得：${this.experienceInfo.title}`;
		}
		return {
			title: title,
			path: `/pages/pagesGrow/experience/shareExperience?id=${this.experienceInfo.id}`
		};
	},
	// onShareAppMessage() {
	// 	this.shareExperience()
	// 	return {
	// 		title: "实战心得详情",
	// 		path: `/pages/pagesGrow/experience/shareExperience?id=${this.experienceInfo.id}`
	// 	}
	// },
	methods: {
		// 获取心得详情
		getDetails() {
			this.$http('/mp/user/knowledge/share/one', 'GET', {
				id: this.shareId
			}).then(res => {
				this.experienceInfo = res.data;
				this.navInfo.name = '实战心得详情';
				if (res.data.attachment) {
					this.uploadImgList = res.data.attachment.split(',');
				}
			});
		},
		bindExperience() {
			uni.navigateTo({
				url: '/pages/pagesGrow/newFeeling/newFeeling?type=experence&shareId=${this.experienceInfo.id}'
			});
		},
		//预览图片
		handlePreview(item) {
			this.currentImgUrl = item;
			this.$refs.previewRef.handleOpen();
		},
		// 分享心得
		shareExperience() {
			this.$http('/mp/user/knowledge/share/one', 'GET', {
				id: this.shareId
			}).then(res => {
				console.log('分享成功');
			});
		},
		// 编辑
		bindEdit() {
			uni.navigateTo({
				url: `/pages/pagesGrow/newExperience/newExperience?id=${this.experienceInfo.id}&type=edit`
			});
		},
		// 点赞/收藏
		changeStatus(type, value) {
			let url = '/mp/user/interest/one';
			let text = type == 'like' ? '点赞成功' : '收藏成功';
			if (!value) {
				text = type == 'like' ? '取消点赞成功' : '取消收藏成功';
			}
			let params = {
				interestId: this.shareId,
				interestType: 2,
				value: value,
				op: type,
			};
			this.$http(url, 'POST', params).then(res => {
				this.statusInfo[type] = value;
				uni.showToast({
					title: text,
					icon: 'none',
					duration: 2000,
					success: () => {}
				});
			});
		},
		// 获取点赞/收藏状态
		getStatus(callback) {
			let params = {
				interestId: this.shareId,
				interestType: 2,
				op: 'collect,like'
			};
			this.$http('/mp/user/interest/aggregation', 'GET', params).then(res => {
				this.statusInfo = res.data;
			});
		}
	}
};
</script>

<style lang="less">
.flex(@A, @B, @C, @D) {
	display: flex;
	flex-direction: @A;
	flex-wrap: @B;
	justify-content: @C;
	align-items: @D;
}

.marB2 {
	margin-bottom: 2rpx;
}

.newExperience_index {
	background: #e8e5e0;
	min-height: 100vh;

	button {
		font-size: 24rpx;
		color: #707070;
		font-weight: 500;
		padding-left: 0;
		padding-right: 0;
		padding: 0;
		line-height: 36rpx;
		background: white;
	}

	button::after {
		border: none;
	}

	.pic_box {
		position: fixed;
		right: 0rpx;
		bottom: 0rpx;
		left: 0rpx;
		padding: 5rpx 0 10rpx;
		// .flex(row,wrap,flex-end,center);
		display: flex;
		flex-direction: row;
		background-color: white;
		align-items: flex-end;
		justify-content: space-around;
		z-index: 999999;

		image {
			width: 40rpx;
			height: 40rpx;
			display: block;
			margin-bottom: 5rpx;
		}

		.pic_item {
			padding: 0 40rpx;
			.flex(column, nowrap, center, center);
		}
	}

	.share_header {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 999999;
	}

	.newExperience_content {
		box-sizing: border-box;
		padding-bottom: 114rpx;

		.van-cell {
			padding: 0rpx !important;
			background: #e8e5e0;
		}

		.van-cell::after {
			border-bottom: none;
		}

		.van-field__input {
			font-size: 30rpx;
			color: #9e6e17;
			// font-weight: bold;
		}

		box-sizing: border-box;
		padding: 20rpx;

		.input_box {
			padding: 12px 0rpx;
			border-bottom: 4rpx dashed #a39d92;
			.flex(row, nowrap, space-between, center);

			.input_label {
				font-size: 30rpx;
				line-height: 42rpx;
				color: #593e0d;
				font-weight: bold;
			}

			.input_content {
				width: calc(100% - 100rpx);
				// text-align: right;
				// color: #333333;
				font-size: 30rpx;
				color: #9e6e17;
				padding-top: 2rpx;
				// font-weight: bold;
			}

			.placeholder {
				font-size: 28rpx;
				line-height: 40rpx;
				color: #b4b4b4;
			}
		}

		.apply_box {
			margin-top: 48rpx;

			.apply_top {
				.flex(row, nowrap, flex-start, center);

				.experience_apply {
					width: 28rpx;
					height: 30rpx;
					display: block;
					margin-right: 6rpx;
				}

				margin-bottom: 14rpx;
				font-size: 30rpx;
				line-height: 42rpx;
				color: #a17421;
			}

			.apply_bottom {
				.apply_textarea {
					color: #9e6e17;
					font-size: 30rpx;
					// font-weight: bold;
				}

				.placeholder {
					font-size: 28rpx;
					line-height: 40rpx;
					color: #999999;
				}
			}
		}

		.upload_container {
			margin-top: 120rpx;
			// padding: 0 30rpx;
			min-height: 460rpx;

			.upload_content {
				.flex(row, wrap, flex-start, center);

				.upload_img {
					position: relative;
					width: 180rpx;
					height: 180rpx;
					margin-right: 40rpx;
					margin-bottom: 40rpx;
					background: #fafafa;

					.img {
						width: 100%;
						height: 100%;
					}

					.delete_img {
						position: absolute;
						top: -20rpx;
						right: -20rpx;
						width: 20rpx;
						height: 20rpx;
						padding: 15rpx;
						background: #d9bc80;
						border-radius: 50%;
					}
				}

				.upload_icon {
					.flex(row, nowrap, center, center);
					// background: #D8D8D8;
					background: #ffffff;
					border-radius: 8rpx;

					.van-icon {
						font-size: 50rpx !important;
					}
				}
			}
		}
	}

	.op_btn {
		margin: 4rpx;
	}

	.icon_text {
		font-size: 24rpx;
		text-align: center;
		font-weight: 500;
		color: #707070;
	}
}
</style>
