<template>
	<view class="detail_index">
		<navbar :navInfo="navInfo" class="data_header"></navbar>
		<view class="detail_content" :style="{'margin-top': navHeight + 'px'}">
			<view class="type_box">
				<view @click="timeTypeChange(item)" :class="timeType==item.value?'type_single_active':'type_single'" v-for="(item,index) in dateList"
				 :key="index" :style="{'borderLeft':item.value ==2?'1rpx solid #1DE5A8':'none','borderRight':item.value ==2?'1rpx solid #1DE5A8':'none'}">
					{{item.name}}
				</view>
			</view>
			<view class="date_box">
				{{chartInfo.rangeLabel}}
			</view>
			<view class="chart_box">
				<canvas canvas-id="canvasLineA" id="canvasLineA" class="charts" @touchstart="touchColumn"></canvas>
			</view>
			<view class="list_box">
				<view class="top_box">
					<view class="top_single">
						时间
					</view>
					<view class="top_single">
						数据
					</view>
				</view>
				<view class="list_single" v-for="(item,index) in chartData" :key="index">
					<view class="list_label">
						{{item.label}}
					</view>
					<view class="list_slide">
						<view class="progress" :style="{'width': item.percent}">

						</view>
					</view>
					<view class="list_count">
						{{item.valueStr}} {{this.unit ? this.unit : ""}}
					</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	import navbar from '../../../components/navbar.vue'
	import app from '../../../App.vue'
	import {
		http,
		serve
	} from "../../../api/api.js";
	import uCharts from '@/utils/u-charts.min.js';
	var _self;
	var canvaLineA = null;
	var canvasLineA = null
	export default {
		components: {
			navbar
		},
		data() {
			return {
				navInfo: {
					"bg_color": "",
					"color": "#FFFFFF",
					"flag": 2,
					"name": "",
					"backType": 1
				},
				isIpx: app.globalData.isIpx,
				navHeight: app.globalData.navHeight,
				dateList: [{
						name: "周",
						value: "2"
					},
					{
						name: "月",
						value: "3"
					},
					{
						name: "年",
						value: "4"
					}
				],
				timeType: 2,
				indexId: 0,
				chartInfo: {},
				chartData: [],
				cWidth: '',
				cHeight: '',
				pixelRatio: 1,
				textarea: '',
				enableScroll: false,
				unit: "",
				dataLength: 5,
				labelValue: 0
			}
		},
		onLoad(options) {
			uni.showLoading({
				mask: true
			})
			// this.indexId = optinos.id
			_self = this;
			this.indexId = options.id;
			this.getChartData()
			// this.getServerData()
			this.cWidth = uni.upx2px(670);
			this.cHeight = uni.upx2px(420);
		},
		methods: {
			sortFuc(a, b) {
				if (a - b > 0) {
					return -1
				} else if (a - b == 0) {
					return 0
				} else {
					return 1
				}
			},
			getServerData() {
				uni.request({
					url: 'https://www.ucharts.cn/data.json',
					data: {},
					success: function(res) {
						let Column = {
							categories: [],
							series: []
						};
						//这里我后台返回的是数组，所以用等于，如果您后台返回的是单条数据，需要push进去
						Column.categories = res.data.data.ColumnB.categories;
						Column.series = res.data.data.ColumnB.series;
						_self.textarea = JSON.stringify(res.data.data.ColumnB);
						_self.showColumn("canvasLineA", Column);
					},
					fail: () => {
						_self.tips = "网络错误，小程序端请检查合法域名";
					},
				});
			},
			showColumn(canvasId, chartData) {
				let count = _self.timeType == 3?6:chartData.categories.length
				canvasLineA = new uCharts({
					$this: _self,
					canvasId: canvasId,
					type: 'column',
					padding: [15, 5, 0, 15],
					legend: {
						show: false,
						padding: 5,
						lineHeight: 11,
						margin: 0,
					},
					fontSize: 11,
					background: '#FFFFFF',
					pixelRatio: _self.pixelRatio,
					animation: true,
					categories: chartData.categories,
					series: chartData.series,
					xAxis: {
						disableGrid: true,
						labelCount: 100
					},
					yAxis: {
						data: [{
							position: 'right',
							axisLine: false,
							min: _self.chartInfo.minValue ? _self.chartInfo.minValue : 0,
							// max: _self.chartInfo.maxValue > 100 ? _self.chartInfo.maxValue : 100,
							max: _self.chartInfo.maxValue,
							format: (val) => {
								if (_self.dataLength >= 0) {
									val = _self.labelValue * _self.dataLength
									_self.dataLength--
								}
								// val = 5 * _self.dataLength
								// if (_self.dataLength > 0) {
								// 	_self.dataLength--
								// } else {
								// 	if (_self.chartInfo.maxValue % 5 != 0) {
								// 		_self.dataLength = Math.ceil(_self.chartInfo.maxValue / 5)
								// 	} else {
								// 		_self.dataLength = Math.ceil(_self.chartInfo.maxValue / 5) + 1
								// 	}
								// }
								return `${val}${_self.chartInfo.unit ? _self.chartInfo.unit : ''}`
								// return val.toFixed(0) + _self.chartInfo.unit ? _self.chartInfo.unit : ''
							},
						}],
						splitNumber: 5

					},
					dataLabel: false,
					width: _self.cWidth * _self.pixelRatio,
					height: _self.cHeight * _self.pixelRatio,
					extra: {
						column: {
							type: 'group',
							width: _self.cWidth * _self.pixelRatio * 0.45 / chartData.categories.length
						}
					}
				});
				if (_self.timeType == 3) {
					canvasLineA.opts.xAxis.labelCount = 5
				}

			},
			// 获取表格数据
			getChartData() {
				let params = {
					indexId: this.indexId,
					timeType: this.timeType
				}
				this.$http("/mp/data/indexDetail", "POST", params).then(res => {
					this.chartInfo = res.data
					this.chartData = res.data.data
					this.navInfo.name = this.chartInfo.indexName;
					let total = 0
					let max = 0
					let xdata = []
					let ydata = []
					let dataArr = []
					this.chartData.map(item => {
						xdata.push(item.label)
						ydata.push(item.value)
						total += item.value
						dataArr.push(item.value)
					})
					
					
					// max = ydata.sort(this.sortFuc)[0] > 100 ? ydata.sort(this.sortFuc)[0] : 100
					// this.chartInfo.maxValue = ydata.sort(this.sortFuc)[0] > 100 ? ydata.sort(this.sortFuc)[0] : 100
					// this.chartInfo.minValue = ydata.sort(this.sortFuc)[ydata.length - 1]
					max = this.chartInfo.maxValue
					let rawMaxValue = this.chartInfo.maxValue
					max = Math.floor(max / 5) * 5 + (max % 5 != 0 ? 1 : 0) * 5
					if (max == 0) {
						max = 5;
					}
					this.chartInfo.maxValue=max
					this.dataLength = 5
					if (max > 0) {
						this.labelValue = Math.ceil(max / 5)
					}
					this.chartData.map(item => {
						// item.percent = Math.round(item.value / total * 100) + "%"
						if (item.value == 0) {
							item.percent = 0;
						}else {
							item.percent = Math.round(item.value / rawMaxValue * 100) + "%"
						}
						item.valueStr = this.$format.formatIndexValue(item.value)
					})
					let obj = {
						color: "#1DE5A8",
						index: 0,
						type: "column",
						show: true,
						pointShape: "circle",
						data: ydata,
						// data: [0, 1, 1, 3, 0, 20, 10],
						name: this.chartInfo.indexName,
						legendShape: "rect"
					}
					let LineA = {
						categories: xdata,
						series: [obj]
					}
					this.unit = res.data.unit;
					// _self.showLineA("canvasLineA", LineA);
					_self.showColumn("canvasLineA", LineA);
					uni.hideLoading()
				})
			},
			showLineA(canvasId, chartData) {
				canvaLineA = new uCharts({
					$this: _self,
					canvasId: canvasId,
					type: 'line',
					fontSize: 12,
					legend: {
						show: false,
						padding: 5,
						lineHeight: 11,
						margin: 5,
					},
					padding: [15, 15, 0, 15],
					dataLabel: true,
					dataPointShape: false,
					dataPointShapeType: 'hollow',
					background: '#FFFFFF',
					pixelRatio: _self.pixelRatio,
					categories: chartData.categories,
					series: chartData.series,
					animation: true,
					enableScroll: _self.enableScroll, //开启图表拖拽功能
					xAxis: {
						type: 'grid',
						color: "rgba(221, 221, 221, 0.5)",
						gridType: 'solid',
						itemCount: 7,
						scrollShow: true,
						scrollAlign: 'left',
						scrollBackgroundColor: "#ffffff",
						disableGrid: true,
						scrollColor: "#1DE5A8",
						fontColor: "#BBBBBB",
						axisLineColor: "#DDDDDD",
						// labelCount: 5,
						// gridEval: 10
					},
					yAxis: {
						//disabled:true
						data: [{
							fontColor: "#BBBBBB",
							format: (val) => {
								return val.toFixed(0) + _self.unit
							} //如不写此方法，Y轴刻度默认保留两位小数
						}],
						gridType: 'solid',
						gridColor: "#DDDDDD",
						splitNumber: 8,
						min: this.chartInfo.minValue,
						max: this.chartInfo.maxValue,
						splitNumber: 3,
						format: (val) => {
							return val.toFixed(0) + _self.unit
						} //如不写此方法，Y轴刻度默认保留两位小数
					},
					width: _self.cWidth * _self.pixelRatio,
					height: _self.cHeight * _self.pixelRatio,
					extra: {
						line: {
							type: 'curve'
						}
					},
				});

			},
			touchColumn(e) {
				canvasLineA.showToolTip(e, {
					format: function(item, category) {
						if (typeof item.data === 'object') {
							return category + ' ' + item.name + ':' + item.data.value
						} else {
							return category + ' ' + item.name + ':' + item.data
						}
					}
				});
				canvasLineA.touchLegend(e, {
					animation: true
				});
			},
			touchLineA(e) {
				// canvaLineA.scrollStart(e);
			},
			moveLineA(e) {
				// canvaLineA.scroll(e);
			},
			// 时间类型切换
			timeTypeChange(item) {
				this.timeType = item.value
				if (item.value == 1) {
					this.enableScroll = false
				} else {
					this.enableScroll = true
				}
				this.getChartData()
			}
		}
	}
</script>

<style lang="less" scoped>
	.flex(@A, @B, @C, @D) {
		display: flex;
		flex-direction: @A;
		flex-wrap: @B;
		justify-content: @C;
		align-items: @D;
	}

	.detail_index {
		position: relative;
		overflow: scroll;

		.data_header {
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
		}

		.detail_content {
			// position: fixed;
			// left: 0;
			// top: 0;
			width: 100%;
			box-sizing: border-box;
			padding: 20rpx 40rpx;

			.type_box {
				width: 272rpx;
				border: 1px solid #1DE5A8;
				height: 60rpx;
				.flex(row, nowrap, space-between, center);
				margin: 20rpx auto;
				border-radius: 18rpx;
				overflow: hidden;

				.type_single {
					// width: 90rpx;
					width: calc(100% / 3);
					height: 100%;
					font-size: 36rpx;
					color: #1DE5A8;
					line-height: 60rpx;
					text-align: center;
					font-weight: bold;
				}

				.type_single_active {
					width: 90rpx;
					height: 100%;
					font-size: 36rpx;
					line-height: 60rpx;
					color: #FFFFFF;
					text-align: center;
					font-weight: bold;
					background: #1DE5A8;
				}
			}

			.date_box {
				font-size: 30rpx;
				line-height: 34rpx;
				color: #6B6B6B;
				font-size: 500;
				margin-bottom: 20rpx;
			}

			.chart_box {
				margin-bottom: 50rpx;

				.charts {
					width: 670rpx;
					height: 420rpx;
				}
			}

			.list_box {
				box-sizing: border-box;
				padding: 0rpx 20rpx;

				.top_box {
					width: 225rpx;
					height: 60rpx;
					border-radius: 16rpx;
					border: 2rpx solid #1DE5A8;
					line-height: 60rpx;
					color: #FFFFFF;
					font-size: 30rpx;
					text-align: center;
					margin: 0rpx auto 38rpx auto;
					background: #FFFFFF;
					overflow: hidden;
					.flex(row, nowrap, space-between, center);

					.top_single {
						width: 112.3rpx;
						height: 100%;
						background: #26E7AC;
					}
				}

				.list_single {
					margin-bottom: 40rpx;
					.flex(row, nowrap, space-center, center);

					.list_label {
						width: 90rpx;
						font-size: 28rpx;
						line-height: 40rpx;
						color: #999999;
					}

					.list_slide {
						width: calc(100% - 220rpx);

						.progress {
							height: 14rpx;
							background: linear-gradient(90deg, #1DE5A8 0%, #40B0C2 99%);
							border-radius: 7rpx;
						}

					}

					.list_count {
						width: 120rpx;
						font-size: 32rpx;
						line-height: 44rpx;
						color: #1FE3A8;
						text-align: right;
						font-weight: bold;
					}
				}
			}
		}
	}
</style>
