<script>
	export default {
		globalData: {
			isIpx: false, //是否iphoneX
			navHeight: 0,
			currentClient: null,
			currentChance: null,
			currentFrom: null,
			fromFollowup: [],
			serverUrl: 'https://xiaohun.baiziio.com',
			isTest: false,
			confirmChance: [],
			newCustomer: false,
			newSummary: false,
			chanceDetailType: null,
			isUpdateCustomer: false,
			imageCompressSuffix: "!resize1000"
		},
		onLaunch: function() {
			let that = this
			uni.getSystemInfo({
				success: function(res) {
					let titleBarHeight = 0
					if (res.model.indexOf('iPhone X') !== -1) {
						that.globalData.isIpx = true
						titleBarHeight = 44;
					} else {
						that.globalData.isIpx = false
						titleBarHeight = 48;
					}
					that.globalData.navHeight = res.statusBarHeight + titleBarHeight
				},

			})
			console.log('App Launch')
		},
		onLoad() {
		},
		onShow: function() {
			
			// console.log('App Show')
		},
		onHide: function() {
			
			console.log('App Hide')
		}
	}
</script>

<style>
	@import "/wxcomponents/vant/dist/common/index.wxss";
	/* @font-face {
		font-family: youshe;
		src: url('https://gitee.com/juwenz/typeface/raw/master/FZXBSJW.TTF');
	} */
	
	/*每个页面公共css */
	/* 成长中心按钮样式 */
	.global_btn_box {
		display: flex;
		width: 750rpx;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		position: fixed;
		left: 0;
		bottom: 34rpx;
		z-index: 999999;

	}

	.global_share_btn {
		/* position: fixed; */
		width: 256rpx;
		height: 104rpx;
		position: relative;
		/* bottom: 34rpx; */
		/* left: 50%; */
		/* margin-left: -116rpx; */
	}

	.global_btn_gray {
		margin-right: 80rpx;
	}

	.global_btn_back {
		width: 256rpx;
		height: 104rpx;
		display: block;
	}

	.global_btn_text {
		/* width: 100%;
		height: 100%; */
		width: 256rpx;
		height: 104rpx;
		position: absolute;
		left: 0;
		top: 0;
		text-align: center;
		font-size: 32rpx;
		color: #5F370F;
		font-weight: bold;
		line-height: 100rpx;
		/* display: flex;
		flex-direction: row;
		justify-content: center; */
	}

	.van-loading {
		width: 100%;
		margin: 20rpx auto;
	}
	.nodata_text{
		text-align: center;
		margin-top: 30rpx;
		padding-bottom: 30rpx;
		font-size: 28rpx;
		color: #999999;
	}
	.van-picker {
		z-index: 99;
	}
</style>
