<template>
	<view class="newExperience_index">
		<navbar :navInfo="navInfo" class="share_header"></navbar>
		<view class="newExperience_content" :style="{ 'margin-top': navHeight + 'px' }">
			<view class="input_box">
				<view class="input_label">标题</view>
				<!-- <input type="text" v-model="experienceInfo.title" placeholder="如技巧名称或重要感悟标题" class="input_content"
				 placeholder-class="placeholder" /> -->
				<van-field :disabled="type == 'share'" @input="inputChange($event, 'title')" :value="experienceInfo.title"
				 placeholder="如技巧名称或重要感悟标题" class="input_content" :autosize="{ minHeight: 20 }" type="textarea" placeholder-style="font-size: 28rpx;line-height: 40rpx;color: #B4B4B4;" />
			</view>
			<view class="input_box">
				<view class="input_label">要点</view>
				<van-field :disabled="type == 'share'" @input="inputChange($event, 'keypoint')" :value="experienceInfo.keypoint"
				 placeholder="请填写核心的要点" class="input_content" :autosize="{ minHeight: 20 }" type="textarea" placeholder-style="font-size: 28rpx;line-height: 40rpx;color: #B4B4B4;" />
				<!-- <input type="text" v-model="experienceInfo.keypoint" placeholder="请填写核心的要点" class="input_content" placeholder-class="placeholder" /> -->
			</view>
			<!-- 	<view class="input_box">
				<view class="input_label">
				</view>
				<input type="text" class="input_content" placeholder-class="placeholder" disabled />
			</view> -->
			<view class="apply_box">
				<view class="apply_top">
					<image src="../../../static/experience_apply.png" mode="" class="experience_apply"></image>
					<view class="">运用</view>
				</view>
				<view class="apply_bottom">
					<!-- <textarea class="apply_textarea" v-model="experienceInfo.usage" placeholder="" placeholder-class="placeholder"
					 placeholder="请填写具体运用，如做法和话术" />
					</view> -->
					<van-field :disabled="type == 'share'" @input="inputChange($event, 'usage')" :value="experienceInfo.usage"
					 placeholder="请填写具体运用，如做法和话术" class="apply_textarea" :autosize="{ minHeight: 20 }" type="textarea"
					 placeholder-style="font-size: 28rpx;line-height: 40rpx;color: #B4B4B4;" />
				</view>
			</view>
			<view class="img_box">
				<view class="upload_container">
					<view class="upload_content">
						<view class="upload_img" v-for="(item, index) in uploadImgList" :key="index">
							<image src="../../../static/img_del_icon.png" class="delete_img" @click="handleDeleteImg(item, index)" />
							<image :src="item" class="img" mode="aspectFill" @click="handlePreview(item)"></image>
						</view>
						<view class="upload_img upload_icon" @click="handleUpload" v-if="uploadImgList.length < 6">
							<van-icon name="plus" color="#979797" />
						</view>
					</view>
				</view>
			</view>
			<view class="global_btn_box" v-if="type != 'share'">
				<view class="global_share_btn global_btn_gray" @click="saveExperience(true, 'done')" v-if="!experienceInfo.id || experienceInfo.draft">
					<image src="../../../static/btn_back_gray.png" mode="" class="global_btn_back"></image>
					<view class="global_btn_text">存草稿</view>
				</view>
				<!-- <view @click="deleteExperience" class="global_share_btn global_btn_gray" v-if="experienceInfo.id && !experienceInfo.draft">
					<image src="../../../static/btn_back_gray.png" mode="" class="global_btn_back"></image>
					<view class="global_btn_text">删除</view>
				</view> -->
				<view class="global_share_btn" @click="saveExperience(false, 'done')">
					<image src="../../../static/btn_back.png" mode="" class="global_btn_back"></image>
					<view class="global_btn_text">完成</view>
				</view>
			</view>
		</view>
		<preview :imgUrl="currentImgUrl" ref="previewRef"></preview>
	</view>
</template>

<script>
	import preview from '../../../components/preview.vue'
	import navbar from '../../../components/navbar.vue';
	import app from '../../../App.vue';
	export default {
		components: {
			navbar,
			preview
		},

		data() {
			return {
				navInfo: {
					bg_color: '',
					color: '#5F370F',
					flag: 2,
					name: '新建实战心得',
					backType: 2
				},
				isIpx: app.globalData.isIpx,
				navHeight: app.globalData.navHeight,
				experienceInfo: {
					id: '',
					draft: null,
					keypoint: '',
					title: '',
					usage: '',
					skillId: ''
				},
				type: '',
				detailId: '',
				timer: null,
				statusInfo: {},
				uploadImgList: [],
				currentImgUrl: ''
			};
		},
		watch: {
			experienceInfo: {
				handler(newValue, oldValue) {
					if (this.type == 'add') {
						let value = this.experienceInfo;
						let attachment = this.uploadImgList.join(',');
						value.attachment = attachment;
						uni.setStorageSync('experienceInfo', value);
					}
				},
				deep: true
			},
			uploadImgList: {
				handler(newValue, oldValue) {
					if (this.type == 'add') {
						let value = this.experienceInfo;
						let attachment = this.uploadImgList.join(',');
						value.attachment = attachment;
						uni.setStorageSync('experienceInfo', value);
					}
				},
				deep: true
			}
		},
		onShow() {
			if (this.type == 'edit') {
				this.timer = setInterval(() => {
					this.saveExperience(this.experienceInfo.draft, 'save');
				}, 10000);
			} else {
				this.timer = null;
			}
		},
		onHide() {
			clearInterval(this.timer);
			this.timer = null;
		},
		onUnload() {
			clearInterval(this.timer);
			this.timer = null;
		},
		onLoad(options) {
			this.type = options.type ? options.type : '';
			if (options.draft) {
				this.experienceInfo.draft = options.draft;
			} else {
				this.experienceInfo.draft = null;
			}
			if (options.type == 'edit') {
				this.detailId = options.id;
				this.getDetails();
			} else if (options.type == 'add') {
				this.experienceInfo.skillId = options.skillId;
				// let detail = JSON.parse(options.detail)
				// if (detail) {
				// 	// this.experienceInfo = detail
				// 	this.navInfo.name = "实战心得详情"
				// 	this.detailId = detail.id
				// } else {
				this.navInfo.name = '新建实战心得';
				// }
				let experienceInfo = uni.getStorageSync('experienceInfo');
				if (experienceInfo) {
					uni.showModal({
						title: '温馨提示',
						content: '您上次编辑的心得还未保存，是否继续编辑？',
						confirmText: '继续',
						cancelText: '丢弃',
						success: res => {
							if (res.confirm) {
								this.experienceInfo = experienceInfo;
								if (experienceInfo.attachment) {
									this.uploadImgList = experienceInfo.attachment.split(',');
								}
							} else {
								uni.removeStorageSync('caseInfo');
							}
						}
					});
				}
			} else {
				// this.detailId = options.detailId;
				// this.navInfo.name = '实战心得详情';
				// this.experienceInfo.skillId = options.id;
				// 兼容老版本，进行跳转
				uni.reLaunch({
					url: `/pages/pagesGrow/experience/shareExperience?id=${options.detailId}`
				});
			}
		},
		onShareAppMessage() {
			let _this = this
			this.shareExperience();
			return {
				title: '心得分享:' + _this.experienceInfo.title,
				path: `/pages/pagesGrow/experience/shareExperience?id=${this.experienceInfo.id}&type=share`
			};
		},
		methods: {
			//预览图片
			handlePreview(item) {
				this.currentImgUrl = item
				this.$refs.previewRef.handleOpen()
			},
			handleUpload() {
				let self = this;
				uni.chooseImage({
					count: 6 - self.uploadImgList.length,
					sizeType: ['copressed'],
					success(res) {
						let fileList = res.tempFiles
						for (let i = 0; i < fileList.length; i++) {
							if (self.uploadImgList.length < 6) {
								var imgFiles = res.tempFiles[i];
								uni.showLoading();
								var uper = uni.uploadFile({
									url: 'https://xiaohun.baiziio.com/mp/upload/uploadPicture',
									filePath: imgFiles.path,
									header: {
										token: uni.getStorageSync('token'),
										'Content-Type': 'multipart/form-data'
									},
									name: 'file',
									success(res1) {
										let data = JSON.parse(res1.data);
										if (data.code == 200) {
											self.uploadImgList.push(data.data + app.globalData.imageCompressSuffix);
										} else {
											uni.showToast({
												icon: 'none',
												title: data.message,
												duration: 2500
											});
										}
									},
									complete() {
										uni.hideLoading();
									}
								});
							}
						}
					}
				});
			},
			handleDeleteImg(item, index) {
				uni.showLoading();
				var formatImage = item.replace(app.globalData.imageCompressSuffix, "")
				this.$http('/mp/upload/removePicture', 'delete', {
						path: formatImage
					})
					.then(res => {
						this.uploadImgList.splice(index, 1);
					})
					.finally(() => {
						uni.hideLoading();
					});
			},
			bindExperience() {
				uni.navigateTo({
					url: '/pages/pagesGrow/newFeeling/newFeeling?type=experence&shareId=${this.experienceInfo.id}'
				});
			},
			// 点赞/收藏
			changeStatus(type, value) {
				let url = type == 'isLike' ? '/mp/user/interest/like' : '/mp/user/interest/collect';
				let text = type == 'isLike' ? '点赞成功' : '收藏成功';
				if (!value) {
					text = type == 'isLike' ? '取消点赞成功' : '取消收藏成功';
				}
				let params = {
					interestId: this.detailId,
					interestType: 2,
					[type]: value
				};
				this.$http(url, 'POST', params).then(res => {
					this.getStatus();
					uni.showToast({
						title: text,
						icon: 'none',
						duration: 2000,
						success: () => {
							setTimeout(() => {
								uni.hideToast();
							}, 2000);
						}
					});
				});
			},
			// 获取点赞/收藏状态
			getStatus() {
				let params = {
					interestId: this.detailId,
					interestType: 2,
					op: 'collect,like'
				};
				this.$http('/mp/user/interest/aggregation', 'GET', params).then(res => {
					this.statusInfo = res.data;
				});
			},
			// 分享心得
			shareExperience() {
				this.$http('/mp/user/knowledge/share', 'GET', {
					id: this.detailId
				}).then(res => {
				});
			},
			// 获取心得详情
			getDetails() {
				this.$http('/mp/user/knowledge/one', 'GET', {
					id: this.detailId
				}).then(res => {
					this.experienceInfo = res.data;
					this.navInfo.name = '实战心得详情';
					if (res.data.attachment) {
						this.uploadImgList = res.data.attachment.split(',');
					}
				});
			},
			inputChange(value, type) {
				this.experienceInfo[type] = value.detail;
			},
			// 删除心得
			deleteExperience() {
				this.$http('/mp/user/knowledge/one', 'DELETE', {
					id: this.experienceInfo.id
				}).then(res => {
					this.$error.successToast('success', '删除成功', '/pages/pagesGrow/experience/experience');
				});
			},
			// 保存实战心得
			saveExperience(type, text) {
				let params = this.experienceInfo;
				params.draft = type;
				if (type) {
					if (!params.title) {
						if (text == 'done') {
							this.$error.tipsError('请输入完整的标题');
							return;
						} else {
							return;
						}
					}
				} else {
					if (!params.title || !params.keypoint || !params.usage) {
						if (text == 'done') {
							this.$error.tipsError('请输入完整的实战心得信息');
							return;
						} else {
							return;
						}
					}
				}
				if (this.uploadImgList.length > 0) {
					params.attachment = this.uploadImgList.join(',');
				} else {
					params.attachment = ""
				}
				this.$http('/mp/user/knowledge/one', 'POST', params).then(res => {
					uni.removeStorageSync('experienceInfo');
					if (text == 'done') {
						if (res.code == 200) {
							this.$error.successToast('success', '保存成功', '/pages/pagesGrow/experience/experience');
						}
					} else {
						// this.experienceInfo.id = res.data.id
					}
				});
			}
		}
	};
</script>

<style lang="less">
	.flex(@A, @B, @C, @D) {
		display: flex;
		flex-direction: @A;
		flex-wrap: @B;
		justify-content: @C;
		align-items: @D;
	}

	.newExperience_index {
		background: #e8e5e0;
		min-height: 100vh;

		.pic_box {
			position: fixed;
			right: 0rpx;
			bottom: 0rpx;
			left: 0rpx;
			padding: 5rpx 0 10rpx;
			// .flex(row,wrap,flex-end,center);
			display: flex;
			flex-direction: row;
			background-color: white;
			align-items: flex-end;
			justify-content: space-around;

			image {
				width: 40rpx;
				height: 40rpx;
				display: block;
				margin-bottom: 5rpx;
			}

			.pic_item {
				padding: 0 40rpx;
				.flex(column, nowrap, center, center);
			}
		}

		.share_header {
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			z-index: 999999;
		}

		.newExperience_content {
			box-sizing: border-box;
			padding-bottom: 114rpx;

			.van-cell {
				padding: 0rpx !important;
				background: #e8e5e0;
			}

			.van-cell::after {
				border-bottom: none;
			}

			.van-field__input {
				font-size: 30rpx;
				color: #9e6e17;
				// font-weight: bold;
			}

			box-sizing: border-box;
			padding: 20rpx;

			.input_box {
				padding: 12px 0rpx;
				border-bottom: 4rpx dashed #a39d92;
				.flex(row, nowrap, space-between, center);

				.input_label {
					font-size: 30rpx;
					line-height: 42rpx;
					color: #593e0d;
					font-weight: bold;
				}

				.input_content {
					width: calc(100% - 100rpx);
					// text-align: right;
					// color: #333333;
					font-size: 30rpx;
					color: #9e6e17;
					padding-top: 2rpx;
					// font-weight: bold;
				}

				.placeholder {
					font-size: 28rpx;
					line-height: 40rpx;
					color: #b4b4b4;
				}
			}

			.apply_box {
				margin-top: 48rpx;

				.apply_top {
					.flex(row, nowrap, flex-start, center);

					.experience_apply {
						width: 28rpx;
						height: 30rpx;
						display: block;
						margin-right: 6rpx;
					}

					margin-bottom: 14rpx;
					font-size: 30rpx;
					line-height: 42rpx;
					color: #a17421;
				}

				.apply_bottom {
					.apply_textarea {
						color: #9e6e17;
						font-size: 30rpx;
						// font-weight: bold;
					}

					.placeholder {
						font-size: 28rpx;
						line-height: 40rpx;
						color: #999999;
					}
				}
			}

			.upload_container {
				margin-top: 120rpx;
				// padding: 0 30rpx;
				min-height: 460rpx;

				.upload_content {
					.flex(row, wrap, flex-start, center);

					.upload_img {
						position: relative;
						width: 180rpx;
						height: 180rpx;
						margin-right: 40rpx;
						margin-bottom: 40rpx;
						background: #fafafa;

						.img {
							width: 100%;
							height: 100%;
						}

						.delete_img {
							position: absolute;
							top: -20rpx;
							right: -20rpx;
							width: 20rpx;
							height: 20rpx;
							padding: 15rpx;
							background: #d9bc80;
							border-radius: 50%;
						}
					}

					.upload_icon {
						.flex(row, nowrap, center, center);
						// background: #D8D8D8;
						background: #ffffff;
						border-radius: 8rpx;

						.van-icon {
							font-size: 50rpx !important;
						}
					}
				}
			}
		}

		.op_btn {
			margin: 4rpx;
		}

		.icon_text {
			font-size: 24rpx;
			text-align: center;
			font-weight: 500;
			color: #707070;
		}
	}
</style>
