<template>
	<view class="detail_index">
		<navbar :navInfo="navInfo" class="share_header"></navbar>
		<view class="detail_content" :style="{ 'margin-top': navHeight + 'px' }">
			<view class="title_box">
				<view class="radius"></view>
				<view class="title_text">{{ caseInfo.name ? caseInfo.name : '' }}</view>
			</view>
			<view class="type_box">
				<view class="type_left">案例类型：{{ caseInfo.typeName ? caseInfo.typeName : '' }}</view>
				<view class="">所在行业：{{ caseInfo.industry ? caseInfo.industry : '' }}</view>
			</view>
			<view v-if="caseInfo.opportunity" class="info_box">
				<view class="user_info">
					<view class="user_left">
						<view class="photo_box">
							<image :src="opportunity.gender == '男' ? '../../../static/avatar_b.png' : '../../../static/avatar_g.png'" class="photo" mode=""></image>
						</view>
						<view class="name_box">
							<view class="name_top">
								<view class="name_text">{{ caseInfo.customerName }}</view>
								<view class="name_status" :style="{ color: opportunity.referral ? '593E0D' : '#999999' }" v-if="opportunity.referral">转介挖掘</view>
								<!-- <view class="name_status" v-if="opportunity.referral">
									转介
								</view>
								<view class="name_status" v-else>
									转介挖掘
								</view> -->
							</view>
							<view class="name_bottom">{{ opportunity.alias }}</view>
						</view>
					</view>
					<view class="user_right">
						<view class="user_num">NO.{{ opportunity.seq }}</view>
						<view class="user_status">
							<view class="radius"></view>
							<view class="status_text">{{ opportunity.status }}</view>
						</view>
					</view>
				</view>
				<view class="des_box">{{ opportunity.requirement }}</view>
				<view class="info_detail">
					<view class="detail_top">
						<view class="top_left">
							<image src="../../../static/case_icon.png" mode="" class="case_icon"></image>
							<view class="top_text">{{ opportunity.product }}</view>
						</view>
						<view class="top_right">
							<text class="right_title">预期业绩：</text>
							<text class="right_number">{{ opportunity.revenue }}</text>
						</view>
					</view>
					<view class="detail_bottom">
						<text class="bottom_title">回款/成交：</text>
						<text class="bottom_number">{{ opportunity.payback }} / {{ opportunity.dealMoney }}</text>
					</view>
				</view>
				<view class="status_box">
					<view class="single" v-for="(item, index) in dealElementList" :key="index">
						<view class="single_text">{{ item.elementName }}</view>
						<image :src="item.obtain ? '../../../static/case_success.png' : '../../../static/case_fail.png'" mode="" class="status_img"></image>
					</view>
				</view>
			</view>
			<view class="list_box">
				<view class="list_single" v-for="(item, index) in caseInfo.fileList" :key="index">
					<view class="single_top">
						<view class="top_left">
							<image src="../../../static/share_book.png" mode="" class="share_book"></image>
							<view class="left_text">{{ item.fieldName }}</view>
						</view>
						<view class="top_right">NO.{{ index + 1 }}</view>
					</view>
					<view class="single_bottom">
						<!-- {{item.fieldValue}} -->
						<textarea :disabled="true" :maxlength="-1" v-model="item.fieldValue" :auto-height="true" class="textarea" placeholder="" placeholder-class="placeholder" />
					</view>
				</view>
			</view>
		</view>
		<view class="pop_box" v-if="showModal">
			<view class="pop_inner">
				<image src="../../../static/close_icon.png" mode="" class="close_icon" @click="modalChange(false)"></image>
				<view class="pop_content">
					<view class="pop_title">客户隐私保护</view>
					<view class="pop_tips">请注意保护客户隐私，比如将“张波”改为“张先生”等。</view>
					<!-- <view class="input_box">
						<view class="input_text">
							将
						</view>
						<input v-model="originText" type="text" value="" class="input_area" />
						<view class="input_text">
							替换成
						</view>
						<input v-model="newText" type="text" value="" class="input_area" />
						<image src="../../../static/share_add.png" mode="" class="share_add"></image>
					</view> -->
					<view class="pop_btn_box">
						<view class="pop_btn btn_left" @click="bindPages(1)">
							<image src="../../../static/btn_back.png" mode="" class="btn_back"></image>
							<view class="btn_text">再检查下</view>
						</view>
						<view class="pop_btn">
							<view class="share_button" @click="bindPages(2)">
								<image src="../../../static/btn_back.png" mode="" class="btn_back"></image>
								<view class="btn_text">确认分享</view>
							</view>
						</view>
					</view>
				</view>
			</view>
		</view>
		<view class="global_btn_box">
			<view class="global_share_btn" @click="bindPages(1)">
				<image src="../../../static/btn_back.png" mode="" class="global_btn_back"></image>
				<view class="global_btn_text">编辑</view>
			</view>
			<view class="global_share_btn" @click="modalChange(true, '')">
				<image src="../../../static/btn_back.png" mode="" class="global_btn_back"></image>
				<view class="global_btn_text">分享</view>
			</view>
		</view>
	</view>
</template>

<script>
import navbar from '../../../components/navbar.vue';
import app from '../../../App.vue';
export default {
	components: {
		navbar
	},
	data() {
		return {
			navInfo: {
				bg_color: '',
				color: '#5F370F',
				flag: 2,
				name: '案例详情',
				backType: 2
			},
			showModal: false,
			isIpx: app.globalData.isIpx,
			navHeight: app.globalData.navHeight,
			caseId: '',
			caseInfo: {},
			opportunity: {},
			dealElementList: []
		};
	},
	onLoad(options) {
		console.log(options);
		this.caseId = options.id;
		// this.getCaseDetail()
	},
	onShow() {
		this.getCaseDetail();
		console.log(getCurrentPages());
	},
	methods: {
		// 跳转编辑/分享页面
		bindPages(type) {
			this.showModal = false;
			let url = type == 1 ? `/pages/pagesGrow/newCase/newCase?id=${this.caseId}` : `/pages/pagesGrow/share/share?id=${this.caseId}`;
			uni.navigateTo({
				url: url
			});
		},
		// 获取详情
		getCaseDetail() {
			this.$http('/mp/user/case/detail', 'GET', {
				id: this.caseId
			}).then(res => {
				this.caseInfo = res.data;
				this.caseInfo.fileList = JSON.parse(this.caseInfo.contentJson);
				if (this.caseInfo.opportunity && this.caseInfo.opportunity.opportunity) {
					this.opportunity = this.caseInfo.opportunity.opportunity;
					this.dealElementList = this.caseInfo.opportunity.dealElementList;
				} else {
					this.opportunity = null;
					this.dealElementList = [];
				}
			});
		},
		// 显示隐私弹窗
		modalChange(type, name) {
			this.showModal = type;
		}
	}
};
</script>

<style lang="less">
.flex(@A, @B, @C, @D) {
	display: flex;
	flex-direction: @A;
	flex-wrap: @B;
	justify-content: @C;
	align-items: @D;
}

.detail_index {
	background: #e8e5e0;
	min-height: 100vh;
	padding-bottom: 114rpx;
	.share_header {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 999999;
	}

	.detail_content {
		box-sizing: border-box;
		padding: 20rpx;

		.title_box {
			.flex(row, wrap, flex-start, center);
			margin-bottom: 20rpx;

			.radius {
				width: 16rpx;
				height: 16rpx;
				border-radius: 8rpx;
				background: #593e0d;
				margin-right: 10rpx;
			}

			.title_text {
				font-size: 32rpx;
				line-height: 44rpx;
				color: #6f572d;
				font-weight: bold;
			}
		}

		.type_box {
			.flex(row, wrap, space-between, center);
			margin-bottom: 20rpx;
			font-size: 26rpx;
			line-height: 36rpx;
			letter-spacing: 2rpx;
			color: #6f572d;

			.type_left {
				margin-right: 90rpx;
			}
		}

		.info_box {
			// background: #EEEDEC;
			background: rgba(156, 99, 12, 0.1);
			border-radius: 16rpx;
			box-sizing: border-box;
			padding: 20rpx;

			.user_info {
				box-sizing: border-box;
				// padding: 18rpx 0rpx;
				// padding: 10rpx 0rpx;
				.flex(row, nowrap, space-between, center);

				.user_left {
					.flex(row, nowrap, flex-start, center);
					box-sizing: border-box;
					height: 90rpx;

					.photo_box {
						width: 90rpx;
						height: 90rpx;
						border-radius: 34rpx;
						overflow: hidden;
						margin-right: 20rpx;

						.photo {
							width: 90rpx;
							height: 90rpx;
							display: block;
						}
					}

					.name_box {
						box-sizing: border-box;
						// padding: 10rpx 0rpx;
						height: 100%;

						.name_top {
							box-sizing: border-box;
							// padding: 10rpx;
							.flex(row, nowrap, flex-start, center);
							// margin-bottom: 24rpx;

							.name_text {
								font-size: 32rpx;
								line-height: 44rpx;
								color: #593e0d;
								font-weight: bold;
								margin-right: 42rpx;
								margin-bottom: 10rpx;
							}

							.name_status {
								font-size: 26rpx;
								line-height: 36rpx;
								color: #999999;
							}
						}

						.name_bottom {
							font-size: 26rpx;
							line-height: 36rpx;
							color: #593e0d;
						}
					}
				}

				.user_right {
					font-size: 26rpx;
					line-height: 36rpx;
					color: #593e0d;
					height: 100%;

					.user_num {
						text-align: right;
						font-weight: bold;
						margin-bottom: 10rpx;
						// margin-bottom: 24rpx;
					}

					.user_status {
						.flex(row, nowrap, flex-end, center);

						.radius {
							width: 8rpx;
							height: 8rpx;
							background: #9e6e17;
							border-radius: 4rpx;
							margin-right: 16rpx;
						}

						.status_text {
						}
					}
				}
			}

			.des_box {
				box-sizing: border-box;
				// background: rgba(245, 243, 239, .6);
				background: rgba(209, 199, 181, 0.3);
				border-radius: 8rpx;
				font-size: 24rpx;
				color: #9e6e17;
				line-height: 36rpx;
				padding: 20rpx 10rpx;
				margin-bottom: 20rpx;
			}

			.info_detail {
				box-sizing: border-box;
				padding-bottom: 20rpx;
				border-bottom: 4rpx dashed #999999;

				.detail_top {
					font-size: 28rpx;
					line-height: 36rpx;
					color: #333333;
					.flex(row, nowrap, space-between, center);

					.top_left {
						.flex(row, nowrap, flex-start, center);
						width: 50%;

						.case_icon {
							width: 28rpx;
							height: 28rpx;
							display: block;
							margin-right: 20rpx;
						}

						.top_text {
							width: calc(100% - 35rpx);
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}
					}

					.top_right {
						.flex(row, nowrap, flex-end, center);
						width: 50%;

						.right_title {
							color: #666666;
							padding-right: 20rpx;
						}

						.right_number {
							color: #333333;
							font-weight: bold;
						}
					}
				}

				.detail_bottom {
					margin-top: 24rpx;
					font-size: 28rpx;
					line-height: 36rpx;
					color: #333333;

					.bottom_title {
						color: #666666;
						padding-right: 10rpx;
					}
				}
			}

			.status_box {
				box-sizing: border-box;
				padding-top: 26rpx;
				.flex(row, nowrap, space-between, center);

				.single {
					width: 50rpx;

					.single_text {
						font-size: 24rpx;
						color: #666666;
						line-height: 34rpx;
						margin-bottom: 5rpx;
						// margin-bottom: 16rpx;
					}

					.status_img {
						width: 30rpx;
						height: 30rpx;
						font-display: block;
						margin-left: 10rpx;
					}
				}
			}
		}

		.list_box {
			box-sizing: border-box;
			padding-top: 22rpx;

			.list_single {
				margin-bottom: 26rpx;

				.single_top {
					.flex(row, nowrap, space-between, center);
					margin-bottom: 14rpx;

					.top_left {
						.flex(row, nowrap, flex-start, center);

						.share_book {
							width: 22rpx;
							height: 26rpx;
							display: block;
							margin-right: 10rpx;
						}

						.left_text {
							font-size: 28rpx;
							line-height: 40rpx;
							color: #5b4010;
						}
					}

					.top_right {
						background: #d9b27e;
						height: 28rpx;
						line-height: 28rpx;
						color: #ffffff;
						font-size: 22rpx;
						padding: 0rpx 10rpx;
						border-radius: 4rpx;
					}
				}

				.single_bottom {
					padding: 20rpx;
					box-sizing: border-box;
					font-size: 26rpx;
					line-height: 32rpx;
					color: #666666;
					background: rgba(245, 243, 239, 0.44);
					border-radius: 8rpx;
				}
			}
		}
	}
	.pop_box {
		position: fixed;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background: rgba(51, 51, 51, 0.5);
		z-index: 999999;
		.flex(row, nowrap, center, center);
	
		.pop_inner {
			width: 690rpx;
			min-height: 416rpx;
			background: #E8E5E0;
			border-radius: 16rpx;
			position: relative;
	
			// position: absolute;
			// left: 50%;
			// top: 50%;
			// margin-top: -208rpx;
			// margin-left: -345rpx;
			.close_icon {
				position: absolute;
				width: 32rpx;
				height: 32rpx;
				display: block;
				top: 20rpx;
				right: 20rpx;
			}
	
			.pop_content {
				box-sizing: border-box;
				height: 100%;
	
				.pop_title {
					padding: 52rpx 50rpx 0rpx 50rpx;
					font-size: 32rpx;
					line-height: 44rpx;
					color: #333333;
					text-align: center;
					margin-bottom: 10rpx;
				}
	
				.pop_tips {
					font-size: 28rpx;
					line-height: 32rpx;
					color: #999999;
					// text-align: center;
					box-sizing: border-box;
					padding: 60rpx 60rpx 60rpx 60rpx;
					// margin-bottom: 46rpx;
					margin-bottom: 30rpx;
				}
	
				.input_box {
					box-sizing: border-box;
					padding: 0 40rpx;
					margin-bottom: 20rpx;
					.flex(row, nowrap, space-between, center);
	
					.input_text {
						font-size: 30rpx;
						line-height: 42rpx;
						color: #333333;
						margin-right: 16rpx;
					}
	
					.input_area {
						width: 184rpx;
						height: 50rpx;
						margin-right: 18rpx;
						border: 2px solid #D9B27E;
						border-radius: 8rpx;
					}
	
					.share_add {
						width: 38rpx;
						height: 38rpx;
						display: block;
					}
				}
				.pop_btn_box{
					height: 72rpx;
					.flex(row,nowrap,center,center);
					.btn_left{
						margin-right: 40rpx;
					}
				}
	
				.pop_btn {
					width: 158rpx;
					height: 72rpx;
					position: relative;
					// position: absolute;
					// left: 50%;
					// bottom: 38rpx;
					// margin-left: -79rpx;
	
					.btn_back {
						width: 158rpx;
						height: 72rpx;
						display: block;
					}
	
					.btn_text {
						width: 100%;
						height: 100%;
						position: absolute;
						left: 0;
						top: 0;
						text-align: center;
						font-size: 28rpx;
						color: #5F370F;
						font-weight: bold;
						line-height: 70rpx;
					}
	
					.share_button {
						background: none;
						width: 158rpx;
						height: 72rpx;
					}
	
					button {
						padding-left: 0;
						padding-right: 0;
						background-color: none;
						border: none;
					}
	
					button::after {
						background: none;
						border: none;
						// background:rgba(51, 51, 51, 0.5)
					}
				}
			}
		}
	}
}
.textarea {
	width: 100%;
}
</style>
