<template>
	<view class="progress_detail_container" :style="{ 'padding-top': navHeight + 'px' }">
		<nav-bar :navInfo="navInfo" class="nav_header"></nav-bar>
		<view class="progress_detail_content">
			<view class="top_container">
				<image src="../../../static/wave.png" class="wave_img" />
				<view class="inner_content">
					<view class="title">
						<view class="dot"></view>
						<view class="name">推进计划</view>
					</view>
					<view class="state_container">
						<view class="state_item">
							<image src="../../../static/progress_icon1.png" class="icon" />
							<view class="name">{{ dataInfo.status ? dataInfo.status : '' }}</view>
						</view>
						<view class="state_item">
							<image src="../../../static/progress_icon2.png" class="icon" />
							<view class="name">{{ dataInfo.realWay ? dataInfo.realWay : dataInfo.planWay }}</view>
						</view>
						<view class="state_item" @click="handleChanceDetail">
							<image src="../../../static/progress_icon3.png" class="icon" />
							<view class="name">
								
								<span class="orange">机会NO.{{ dataInfo.opportunitySeq ? $format.formatZero(dataInfo.opportunitySeq,3) : '' }}</span>
							</view>
						</view>
					</view>
					<view class="txt_container">
						<view class="txt_row">
							<view class="label">计划时间：</view>
							<view class="txt">{{ dataInfo.followupTime ? $format.formatDateTimeString(new Date(this.dataInfo.followupTime)) : '' }}</view>
						</view>
						<view v-if="dataInfo.type === 'default'" class="txt_row">
							<view class="label">销售工具：</view>
							<view class="txt">{{ dataInfo.tools ? dataInfo.tools : '' }}</view>
						</view>

						<view v-if="dataInfo.type === 'default'" class="txt_row">
							<view class="label">成交推进：</view>
							<view class="txt">{{ dataInfo.dealElementNames ? dataInfo.dealElementNames : '' }}</view>
						</view>
						<view class="txt_row">
							<view class="label">推进策略：</view>
							<view class="txt">{{ dataInfo.strategy ? dataInfo.strategy : '' }}</view>
						</view>
					</view>
				</view>
			</view>
			<view class="body_content" v-if="state == 1">
				<view class="record_container">
					<view class="title padding_box">
						<view class="dot" style="background: #1EE3A8;border: none;"></view>
						<view class="name" style="color: #333333;">沟通记录</view>
					</view>
					<view class="cell_container">
						<van-cell
							title="沟通时间"
							is-link
							:border="false"
						>
								<temlate #value>
									<datetime-picker ref="datetime" :placeholder="placeholder" :maxDate="defaultMaxDate" :minDate="defaultMinDate" @getData="getDateData"
									 :timeIntervalMsec="timeIntervalMsec" :type="timeType" :value="selectDate"></datetime-picker>
								</temlate>
						</van-cell>
						<van-cell title="沟通方式" is-link :value="query.way ? query.way : '请选择'" @click="popupPickerVisible = true" :border="false" />
						<van-cell title="沟通时长" is-link :border="false" >
							<picker mode="multiSelector" :range="multiArray" @change="handleTimeChange">
								<view class="uni-input">{{selectTime?formatTIme(selectTime):'请选择'}}</view>
							</picker>
						</van-cell>
						<van-cell title="内容/备注/总结" :border="false" />
						<van-field
							class="min-height"
							:value="query.content"
							autosize
							type="textarea"
							placeholder="条理清晰的沟通记录有助于更好的把握销售机会。另外，首次销售沟通，如果没有成交，那么做好记录和分析是未来能否有机会推进成功的关键。如果首次沟通就成交了，那可以简单做个记录后及时去成长页面写下实战感悟或能力心得，有助于我们实力的沉淀和精进。"
							:border="false"
							@change="handleInputQuery($event.detail, 'content', 1)"
						/>
					</view>
					<view class="imgs_container">
						<view class="img_content" v-for="(item, index) in uploadImgList" :key="index">
							<image src="../../../static/img_del_icon.png" class="delete_img" @click="handleDeleteImg(item, index)" />
							<image :src="item" class="img" mode="aspectFill" />
						</view>
					</view>
				</view>
				<!-- <view class="upload_container" v-if="uploadImgList.length < 6">
					<image src="../../../static/upload_icon.png" @click="handleUpload" />
					<span @click="handleUpload">上传附件</span>
				</view> -->
			</view>
			<view class="body_content" v-if="state == 2">
				<view class="record_container">
					<view class="title padding_box flex-between">
						<view class="left">
							<view class="dot" style="background: #1EE3A8;border: none;"></view>
							<view class="name" style="color: #333333;">总结</view>
						</view>
						<view class="communicate_title" @click="handleCommunicateDetail">
							<image src="../../../static/progress_circle_l.png" />
							<span>沟通记录</span>
						</view>
					</view>
					<view class="cell_container">
						<!-- <van-cell title="沟通记录" :value="'详情'" :border="false" class="cell_green" @click="handleCommunicateDetail" /> -->
						<van-cell
							title="跟后阶段"
							:is-link="dataInfo.summaryId ? false : true"
							:clickable="dataInfo.summaryId ? false : true"
							:value="querySummary.status ? querySummary.status : '请选择'"
							:border="false"
							class="cell_black"
							@click="dataInfo.summaryId ? '' : (popupPickerSummaryVisible = true)"
						/>
						<view v-if="dataInfo.type === 'default'">
							<van-cell
								title="成交推进"
								is-link
								:value="dataInfo.dealElementNames"
								:border="false"
								class="cell_black"
								@click="handleToProgress"
								v-if="dataInfo.dealElementIds"
							/>
						</view>

						<van-cell title="反思总结" :border="false" />
						<van-field
							:value="querySummary.summary"
							autosize
							type="textarea"
							placeholder="是否达成了成交元素的推进，为什么，是在顺人性沟通吗，哪里做得好，哪里做得差..."
							:border="false"
							@change="handleInputQuery($event.detail, 'summary', 2)"
						/>
						<van-cell title="下次推进策略" :border="false" />
						<van-field
							:value="querySummary.nextStrategy"
							autosize
							type="textarea"
							placeholder="鉴于本次推进情况，下次推进应该注意些什么，采取什么策略..."
							:border="false"
							@change="handleInputQuery($event.detail, 'nextStrategy', 2)"
						/>
					</view>
				</view>
			</view>
		</view>
		<bottombtn btnName="保存" @confirm="handleSave"></bottombtn>
		<van-popup :show="popupPickerVisible" position="bottom">
			<van-picker :columns="pickerColumns" show-toolbar @confirm="onPickerConfirm" @cancel="popupPickerVisible = false" />
		</van-popup>
		<van-popup :show="popupPickerSummaryVisible" position="bottom">
			<van-picker :columns="pickerSummaryColumns" show-toolbar @confirm="onPickerSummaryConfirm" @cancel="popupPickerSummaryVisible = false" />
		</van-popup>
		<van-popup :show="popupDateVisible" position="bottom">
			<van-datetime-picker
				type="datetime"
				:value="currentDate"
				:min-date="minDate"
				:formatter="dateFormatter"
				@input="handleInputDate"
				@confirm="handleConfirmDate"
				@cancel="handleCancelDate"
			/>
		</van-popup>
		<van-popup :show="popupTimeVisible" position="bottom">
			<van-datetime-picker type="time" :value="currentTime" :formatter="timeFormatter" @input="handleInputTime" @confirm="handleConfirmTime" @cancel="handleCancelTime" />
		</van-popup>
		<modual :modualInfo="modualInfo" @modualChange="modualChange" @modualCancle="modualCancle" @modualConfirm="modualConfirm" v-if="showModual"></modual>
	</view>
</template>

<script>
import bottombtn from '@/components/bottombtn.vue';
import datetimePicker from '@/components/datetimepicker.vue'
import modual from '@/components/modual.vue'
import app from '../../../App.vue';
export default {
	components: {
		bottombtn,
		datetimePicker,
		modual
	},
	data() {
		return {
			showModual: false,
			modualInfo: {
				activeType: 2,
				showClose: false,
				showSingle: false,
				showBtns: true,
				title: "必读",
				content: "做总结是实战提升的关键，但总结需要静下心来认真分析。所以如果当前还有很多工作要做，可以等处理完后再给自己一段安静的时间来进行总结。",
				cancleText: "稍后进行",
				confirmText: "现在总结"
			},
			multiArray: [],
			navInfo: {
				bg_color: '',
				color: '#FFFFFF',
				flag: 2,
				name: '',
				backType: 1
			},
			inputValue: '',
			inputValue1: '',
			inputValue2: '',
			state: 1,
			query: {
				content: '',
				customerId: null,
				duration: null,
				followupId: null,
				id: null,
				location: '',
				opportunityId: null,
				summary: '',
				way: ''
			},
			querySummary: {
				evaluation: null,
				followupId: null,
				id: null,
				nextStrategy: '',
				status: '',
				summary: ''
			},
			isIpx: app.globalData.isIpx,
			navHeight: app.globalData.navHeight,
			minDate: new Date().getTime(),
			dateFormatter(type, value) {
				if (type === 'year') {
					return `${value}年`;
				} else if (type === 'month') {
					return `${value}月`;
				} else if (type === 'day') {
					return `${value}日`;
				} else if (type === 'hour') {
					return `${value}时`;
				}
				return `${value}分`;
			},
			selectDate: null,
			currentDate: new Date().getTime(),
			timeFormatter(type, value) {
				if (type === 'hour') {
					return `${value}小时`;
				}
				return `${value}分钟`;
			},
			currentTime: '00:00',
			selectTime: '',
			pickerColumns: [],
			pickerSummaryColumns: [],
			popupPickerVisible: false,
			popupPickerSummaryVisible: false,
			popupTimeVisible: false,
			popupDateVisible: false,
			id: null,
			opportunityId: null,
			communicationId: null,
			summaryId: null,
			workflowId: null,
			status: '',
			dataInfo: {},
			uploadImgList: [],
			fromFollowup: [],
			selectFollowup: '',
			//时间选择配置
			placeholder: '请选择',
			defaultMinDate: new Date(1).getTime(),
			defaultMaxDate: new Date('2050/12/31').getTime(),
			// 时间类型
			timeType: 'anyTime',
			// 间隔的毫秒
			timeIntervalMsec: 20
		};
	},
	watch: {
		state(newVal) {
			if(newVal==1) {
				this.navInfo.name = '填写沟通记录'
			}else {
				this.navInfo.name = '填写推进总结'
			}
		}
	},
	computed: {
		inputShow() {
			return !(this.popupPickerVisible||this.popupPickerSummaryVisible||this.showModual)
		}
	},
	onLoad(options) {
		this.id = options.id ? options.id : null;
		this.opportunityId = options.opportunityId ? options.opportunityId : null;
		this.communicationId = options.communicationId ? options.communicationId : null;
		this.summaryId = options.summaryId ? options.summaryId : null;
		this.status = options.status ? options.status : '';
		this.multiArray = this.getTimeArray()
		console.log('id--',this.opportunityId)
	},
	onShow() {
		this.getWay();
		this.getData();
		if (this.communicationId) {
			this.navInfo.name = '填写推进总结'
			this.state = 2;
		}else {
			this.navInfo.name = '填写沟通记录'
		}
		if (app.globalData.fromFollowup && app.globalData.fromFollowup.length > 0) {
			let fromFollowup = JSON.parse(JSON.stringify(app.globalData.fromFollowup)),
				list = [],
				fromList = [];
			fromFollowup.forEach(per => {
				delete per.elementName;
				delete per.answer;
				per.skills.forEach(per1 => {
					delete per1.skillName;
				});
				if (!per.disable) {
					delete per.disable;
					fromList.push(per);
				}
			});
			this.querySummary.evaluation = {
				elements: fromList
			};
		}
	},
	onUnload() {
		app.globalData.fromFollowup = [];
	},
	methods: {
		modualChange(type) {
			if (type == 'open') {
				this.showModual = true
			} else {
				this.showModual = false
			}
		},
		modualCancle() {
			this.showModual = false
			uni.navigateBack({
				delta: 1
			})
		},
		modualConfirm() {
			this.showModual = false
		},
		handleTimeChange(e) {
			let hour = e.detail.value[0],minutes = e.detail.value[1]
			this.selectTime = this.multiArray[0][hour].substring(0,this.multiArray[0][hour].indexOf('小时'))+':'
			+this.multiArray[1][minutes].substring(0,this.multiArray[1][minutes].indexOf('分钟'))
		},
		getDateData(time) {
			this.selectDate = time
		},
		handleToProgress() {
			let url = '../progress/progress?followupId=' + this.id + (this.dataInfo.summaryVO ? '&isEdit=true' : '');
			if (app.globalData.fromFollowup && app.globalData.fromFollowup.length > 0 && !this.dataInfo.summaryVO) {
				url += '&detail=true';
			}
			uni.navigateTo({
				url: url
			});
		},
		handleChanceDetail() {
			uni.navigateTo({
				url: '../../pagesChance/detail/detail?id=' + this.opportunityId
			});
		},
		handleSelectDate() {
			if (this.selectDate) this.currentDate = this.selectDate;
			this.popupDateVisible = true;
		},
		handleInputQuery(value, name, type) {
			if (type == 1) {
				this.query[name] = value;
			} else {
				this.querySummary[name] = value;
			}
		},
		handleInputDate(e) {
			this.currentDate = e.detail;
		},
		handleConfirmDate() {
			this.selectDate = this.currentDate;
			this.popupDateVisible = false;
		},
		handleCancelDate() {
			this.popupDateVisible = false;
		},
		handleSelectTime() {
			if (this.selectTime) this.currentTime = this.selectTime;
			this.popupTimeVisible = true;
		},
		handleInputTime(e) {
			this.currentTime = e.detail;
		},
		handleConfirmTime() {
			this.selectTime = this.currentTime;
			this.popupTimeVisible = false;
		},
		handleCancelTime() {
			this.popupTimeVisible = false;
		},
		onPickerConfirm(e) {
			this.query.way = e.detail.value;
			this.popupPickerVisible = false;
		},
		onPickerSummaryConfirm(e) {
			this.querySummary.status = e.detail.value;
			this.popupPickerSummaryVisible = false;
		},
		handleCommunicateDetail() {
			uni.navigateTo({
				url:
					'../../pagesClient/communicateAdd/communicateAdd?id=' +
					this.dataInfo.communicationId +
					'&customerName=' +
					this.dataInfo.customerName +
					'&customerId=' +
					this.dataInfo.customerId
			});
		},
		handleSave() {
			if (this.state == 1) {
				let params = JSON.parse(JSON.stringify(this.query));
				if (this.selectDate) params.communicateAt = this.selectDate;
				if (this.selectTime) {
					params.duration = this.ChangeStrToMinutes(this.selectTime);
				}
				if (this.uploadImgList.length > 0) {
					params.attachment = this.uploadImgList.join(',');
				}
				params.followupId = this.id;
				params.opportunityId = this.opportunityId;
				uni.showLoading();
				this.$http('/mp/communication/create', 'post', params)
					.then(res => {
						this.dataInfo.communicationId = res.data.id;
						this.state = 2;
						this.showModual = this.$utils.getStatus('progressDetail')
						this.$utils.setStatus("progressDetail")
					})
					.finally(() => {
						uni.hideLoading();
					});
			} else {
				let params = JSON.parse(JSON.stringify(this.querySummary));
				if (!params.evaluation) {
					delete params.evaluation;
				}
				params.followupId = this.id;
				if (!params.summary) {
					uni.showToast({
						icon: 'none',
						title: '请填写反思总结',
						duration: 2500
					});
					return;
				}
				if (!params.status) {
					uni.showToast({
						icon: 'none',
						title: '请选择跟后阶段',
						duration: 2500
					});
					return;
				}
				uni.showLoading();
				if (this.dataInfo.summaryVO) {
					params = {
						id: this.dataInfo.summaryVO.id,
						summary: this.querySummary.summary,
						nextStrategy: this.querySummary.nextStrategy
					};
				}
				this.$http('/mp/followup/summary/one', 'post', params)
					.then(res => {
						uni.navigateBack();
						if(res.data.logicType&&res.data.logicType=='签单') {
							app.globalData.confirmChance.push(this.opportunityId)
						}
						app.globalData.newSummary = true
					})
					.finally(() => {
						uni.hideLoading();
					});
			}
		},
		handleDeleteImg(item, index) {
			uni.showLoading();
			this.$http('/mp/upload/removePicture', 'delete', {
				path: item
			})
				.then(res => {
					this.uploadImgList.splice(index, 1);
				})
				.finally(() => {
					uni.hideLoading();
				});
		},
		handleUpload() {
			let self = this;
			uni.chooseImage({
				count: 1,
				sizeType: ['copressed'],
				success(res) {
					//因为有一张图片， 输出下标[0]， 直接输出地址
					var imgFiles = res.tempFiles[0];
					console.log(res);
					// 上传图片
					// 做成一个上传对象

					if (imgFiles.size > 1024 * 200) {
						uni.showToast({
							icon: 'none',
							title: '上传图片不能大于200k'
						});
						return;
					}
					uni.showLoading();
					var uper = uni.uploadFile({
						// 需要上传的地址
						url: 'https://xiaohun.baiziio.com/mp/upload/uploadPicture',
						// filePath  需要上传的文件
						filePath: imgFiles.path,
						header: {
							token: uni.getStorageSync('token'),
							'Content-Type': 'multipart/form-data'
						},
						name: 'file',
						success(res1) {
							// 显示上传信息
							console.log(res1);
							let data = JSON.parse(res1.data);
							if (data.code == 200) {
								self.uploadImgList.push(data.data);
							} else {
								uni.showToast({
									icon: 'none',
									title: data.message
								});
							}
						},
						complete() {
							uni.hideLoading();
						}
					});
				}
			});
		},
		getWay() {
			let params = {};
			uni.showLoading();
			this.$http('/mp/communication/way/list', 'get', params)
				.then(res => {
					let list = [];
					res.data.forEach(per => {
						list.push(per.name);
					});
					this.pickerColumns = list;
				})
				.finally(() => {
					uni.hideLoading();
				});
		},
		getStatuList() {
			let params = {};
			params.state = this.status;
			params.workflowId = this.dataInfo.type == 'default' ? this.dataInfo.defaultWorkflowId : this.dataInfo.referralWorkflowId;
			this.$http('/mp/machine-state/reachable', 'post', params)
				.then(res => {
					this.pickerSummaryColumns = res.data;
				})
				.catch(err => {
					console.log(err);
				})
				.finally(() => {
					uni.hideLoading();
				});
		},
		getData() {
			let params = {
				id: this.id
			};
			this.dataLoading = true;
			this.$http('/mp/opportunity/followup/one', 'get', params)
				.then(res => {
					if (res.data.dealElementNames) {
						res.data.dealElementNames.split(',').join('|');
					}
					if (res.data.summaryVO) {
						let summary = res.data.summaryVO;
						this.querySummary.status = summary.status;
						this.querySummary.summary = summary.summary;
						this.querySummary.nextStrategy = summary.nextStrategy;
						this.querySummary.status = summary.status;
					}
					this.dataInfo = res.data;
					this.getStatuList();
				})
				.catch(() => {
					uni.hideLoading();
				})
				.finally(() => {
					this.dataLoading = false;
				});
		},
		formatTIme(time) {
			if (time)
				return time.split(':')[0] + '小时' + time.split(':')[1] + '分钟'
			return ''
		},
		getTimeArray() {
			return [this.generateArray(0,23,'小时'),this.generateArray(0,60,'分钟')]
		},
		generateArray (start, end, type) {
		  return Array.from(new Array(end + 1).keys(),item=>item+type).slice(start)
		},
		ChangeStrToMinutes(str) {
			var arrminutes = str.split(':');
			if (arrminutes.length == 2) {
				var minutes = parseInt(arrminutes[0]) * 60 + parseInt(arrminutes[1]);
				return minutes;
			} else {
				return 0;
			}
		},
		ChangeHourMinutestr(str) {
			if (str !== '0' && str !== '' && str !== null) {
				return (
					(Math.floor(str / 60).toString().length < 2 ? '0' + Math.floor(str / 60).toString() : Math.floor(str / 60).toString()) +
					':' +
					((str % 60).toString().length < 2 ? '0' + (str % 60).toString() : (str % 60).toString())
				);
			} else {
				return '';
			}
		}
	}
};
</script>

<style lang="less">
.flex(@A, @B, @C, @D) {
	display: flex;
	flex-direction: @A;
	flex-wrap: @B;
	justify-content: @C;
	align-items: @D;
}

.progress_detail_container {
	padding-bottom: 188rpx;

	.nav_header {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 999;
	}

	.title {
		.flex(row, nowrap, flex-start, center);
		.left {
			.flex(row, wrap, flex-start, center);
		}
		.dot {
			width: 16rpx;
			height: 16rpx;
			background: #ffffff;
			border: 2rpx solid #ffffff;
			border-radius: 50%;
			margin-right: 10rpx;
		}

		.name {
			font-size: 32rpx;
			color: #ffffff;
		}
		
		.communicate_title {
			.flex(row, nowrap, flex-start, center);
			color: #23e3aa;
			font-weight: 500;
			image {
				width: 20rpx;
				height: 20rpx;
			}
			span {
				margin: 0 10rpx;
			}
		}
	}
	.flex-between {
		.flex(row, nowrap, space-between, center)!important;
	}
	.orange {
		color: #ffb82e;
		font-weight: bold;
		text-decoration: underline;
	}

	.top_container {
		position: relative;
		background: linear-gradient(90deg, #1de5a8 0%, #41afc3 100%);

		.wave_img {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 64rpx;
			// height: 152rpx;
		}

		.inner_content {
			padding: 12rpx 30rpx 84rpx;

			.state_container {
				.flex(row, wrap, flex-start, center);
				margin-top: 8rpx;
				width: 690rpx;
				height: 134rpx;
				box-shadow: 4rpx 0rpx 6rpx 0rpx rgba(255, 255, 255, 0.1), 4rpx 0rpx 8rpx 0rpx rgba(34, 222, 172, 0.3);
				border-radius: 16rpx;

				.state_item {
					.flex(column, wrap, space-between, center);
					flex: 1;
					height: 114rpx;

					.icon {
						width: 64rpx;
						height: 64rpx;
					}

					.name {
						font-size: 24rpx;
						font-weight: 300;
						color: #ffffff;
					}
				}
			}

			.txt_container {
				margin-top: 12rpx;

				.txt_row {
					.flex(row, wrap, flex-start, flex-start);
					margin-bottom: 10rpx;
					font-size: 26rpx;
					font-weight: 300;
					color: #ffffff;
					line-height: 36rpx;
					letter-spacing: 1rpx;

					.label {
						min-width: 135rpx;
					}

					.txt {
						flex: 1;
					}
				}
			}

			.title {
				.flex(row, wrap, flex-start, center);

				.dot {
					width: 16rpx;
					height: 16rpx;
					background: #ffffff;
					border: 2rpx solid #ffffff;
					border-radius: 50%;
					margin-right: 10rpx;
				}

				.name {
					font-size: 32rpx;
					color: #ffffff;
				}
			}
		}
	}

	.body_content {
		position: relative;
		z-index: 10;
		margin-top: 10rpx;

		.record_container {
			.title {
				padding: 20rpx 30rpx 10rpx;
			}

			.cell_container {
				.van-cell__value {
					flex: 2 !important;
				}

				.cell_green {
					.van-cell__title,
					.van-cell__value {
						color: #23e3aa;
						font-weight: 500;
					}
				}

				.cell_black {
					.van-cell__value {
						color: #333333;
					}
				}

				.field-index--van-field {
					margin-left: 30rpx;
					padding: 10rpx 20rpx;
					width: 690rpx;
					min-height: 100rpx;
					background: #fafafa;
					border-radius: 8rpx;
					font-size: 26rpx;
					color: #999999;
					line-height: 32rpx;
				}

				.van-field__body--textarea {
					height: 100%;
					padding: 0;
				}

				textarea {
					height: 100%;
				}
			}

			.imgs_container {
				padding-left: 30rpx;
				.flex(row, wrap, flex-start, center);

				.img_content {
					position: relative;

					.delete_img {
						position: absolute;
						top: 12rpx;
						right: -7rpx;
						width: 20rpx;
						height: 20rpx;
						padding: 15rpx;
						background: #d9bc80;
						border-radius: 50%;
					}

					.img {
						width: 200rpx;
						height: 200rpx;
						margin: 40rpx 16rpx 0;
					}
				}
			}
		}

		.upload_container {
			padding: 16rpx 30rpx 0;
			.flex(row, wrap, flex-end, center);

			image {
				width: 44rpx;
				height: 32rpx;
				margin-right: 20rpx;
			}

			font-size: 28rpx;
			color: #00c98d;
		}
	}

	.btn_container {
		bottom: 54rpx !important;
	}

	picker {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;

		.uni-input,
		.placeholder {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			padding-right: 70rpx;
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}
	}
	.van-field__input--textarea {
		min-height: 68rpx!important;
	}
	.min-height .van-field__input--textarea {
		min-height: 178rpx!important;
	}
}
</style>
