<template>
	<view>
		<page-disable v-if="!pageVisible"></page-disable>
		<view class="data_content" v-else>
			<navbar :navInfo="navInfo" class="data_header"></navbar>
			<view class="data_wrap" :style="{'margin-top': navHeight + 'px'}">
				<view class="date_box">
					<view class="date_left">
						<view @click="timeTypeChange(item)" :class="timeType == item.value ?'left_single left_single_actie':'left_single'"
						 v-for="(item,index) in dateList" :key="index">
							{{item.name}}
						</view>
					</view>
					<view class="date_right">
						<view style="padding:20rpx" @click="onDisplay">
							<image src="../../static/calendar.png" mode="" class="calendar"></image>
						</view>
						<uni-calendar ref="calendar" :range="true" :insert="false" :lunar="true" :end-date="maxDate" :clearDate="true"
						 @change="change" @confirm="onConfirm" @close="closeCalender" />
						<!-- <van-calendar  :allow-same-day="true" style="margin-bottom: 120rpx;" :default-date="defaultDate" :min-date="minDate" :max-date="maxDate"
					 color="#00C78D" :show-confirm="false" :show="show" type="range" @close="onClose" @confirm="onConfirm" :poppable="true">
					</van-calendar> -->
					</view>
				</view>
				<view class="list_title">
					<view class="title_single">
						数据指标
					</view>
					<view class="title_single title_single_center">
						{{currentLabel}}
					</view>
					<view class="title_single .title_single_right">
						{{lastLabel}}
					</view>
				</view>
				<view class="list_box">
					<view class="list_single" v-for="(item,index) in listData" :key="index" @click="indexDetail(item)">
						<view class="single_left">
							<view class="left_label">
								{{item.name}}
							</view>
							<view class="left_text">
								{{item.subName}}
							</view>
						</view>
						<view class="single_center">
							<view class="up_text" v-if="item.subName == '率'">
								{{item.valueStr}}
							</view>
							<view class="up_text" v-else>
								{{item.valueStr}}
							</view>
							<view v-if="item.increase != null">
								<image src="../../static/up_green.png" mode="" class="center_img" v-if="item.increase"></image>
								<image src="../../static/down_red.png" mode="" class="center_img" v-else></image>
							</view>
						</view>
						<view class="single_right">
							{{item.prevValueStr}}
						</view>
					</view>
				</view>
				<!-- <view class="tips_box" @click="modualChange('open')">
				<image src="../../static/qa_icon.png" mode="" class="tips_img"></image>
			</view> -->
				<view class="chanel_title" @click="chartChange">
					<view class="chanel_text">
						渠道分析
					</view>
					<view class="chanel_angle">

					</view>
					<image src="../../static/qa_icon.png" mode="" class="tips_img" @click="modualChange('open')"></image>
				</view>
				<view class="chart_sample" v-if="showChart&& !show && !showModual">
					<view class="sample_item">
						<view class="sample_color" style="background: #1EE3A8;"></view>
						<view class="sample_value" style="color: #1EE3A8;">自主开发</view>
					</view>
					<view class="sample_item">
						<view class="sample_color" style="background: #FFC653;"></view>
						<view class="sample_value" style="color: #FFC653;">公司资源</view>
					</view>
				</view>
				<view class="chart_box" v-if="showChart&& !show && !showModual">
					<view class="chart_single">
						<!-- <van-circle :stroke-width="circleBorder" layer-color="#FFC653" color="#1EE3A8" :size="cWidth3 * pixelRatio" :value="chartsDataList['customerAmount'][0]">
						<view style="color:#1EE3A8">{{chartsDataList['customerAmount'][0]}}%</view>
						<view style="color:#FFC653">{{chartsDataList['customerAmount'][1]}}%</view>
					</van-circle> -->
						<view class="data_item">
							<view style="color:#1EE3A8">{{chartsDataList['customerAmount'][0]||chartsDataList['customerAmount'][0]==0?chartsDataList['customerAmount'][0]:''}}%</view>
							<view class="marginBoth"></view>
							<view style="color:#FFC653">{{chartsDataList['customerAmount'][1]||chartsDataList['customerAmount'][1]==0?chartsDataList['customerAmount'][1]:''}}%</view>
						</view>
						<!-- <canvas canvas-id="customerAmount" id="customerAmount" class="charts"></canvas> -->
						<view class="chart_text">
							获客数
						</view>
					</view>
					<view class="chart_single">
						<!-- <van-circle :stroke-width="circleBorder" layer-color="#FFC653" color="#1EE3A8" :size="cWidth3 * pixelRatio" :value="chartsDataList['dealAmount'][0]">
						<view style="color:#1EE3A8">{{chartsDataList['dealAmount'][0]}}%</view>
						<view style="color:#FFC653">{{chartsDataList['dealAmount'][1]}}%</view>
					</van-circle> -->
						<view class="data_item">
							<view style="color:#1EE3A8">{{chartsDataList['dealAmount'][0]||chartsDataList['dealAmount'][0]==0?chartsDataList['dealAmount'][0]:''}}%</view>
							<view class="marginBoth"></view>
							<view style="color:#FFC653">{{chartsDataList['dealAmount'][1]||chartsDataList['dealAmount'][1]==0?chartsDataList['dealAmount'][1]:''}}%</view>
						</view>
						<!-- <canvas canvas-id="dealAmount" id="dealAmount" class="charts"></canvas> -->
						<view class="chart_text">
							成交数
						</view>
					</view>
					<view class="chart_single">
						<!-- <van-circle :stroke-width="circleBorder" layer-color="#FFC653" color="#1EE3A8" :size="cWidth3 * pixelRatio" :value="chartsDataList['dealMoney'][0]">
						<view style="color:#1EE3A8">{{chartsDataList['dealMoney'][0]}}%</view>
						<view style="color:#FFC653">{{chartsDataList['dealMoney'][1]}}%</view>
					</van-circle> -->
						<view class="data_item">
							<view style="color:#1EE3A8">{{chartsDataList['dealMoney'][0]||chartsDataList['dealMoney'][0]==0?chartsDataList['dealMoney'][0]:''}}%</view>
							<view class="marginBoth"></view>
							<view style="color:#FFC653">{{chartsDataList['dealMoney'][1]||chartsDataList['dealMoney'][1]==0?chartsDataList['dealMoney'][1]:''}}%</view>
						</view>
						<!-- <canvas canvas-id="dealMoney" id="dealMoney" class="charts"></canvas> -->
						<view class="chart_text">
							成交额
						</view>
					</view>
				</view>
				<view class="detail_box" v-if="showChart&& !show && !showModual">
					<view class="detail_title">
						数据明细
					</view>
					<view class="detail_header">
						<van-row gutter="10">
							<van-col span="6">
								<view class="header_single">
									客户来源
								</view>
							</van-col>
							<van-col span="6">
								<view class="header_single">
									获客数
								</view>
							</van-col>
							<van-col span="6">
								<view class="header_single">
									成交数
								</view>
							</van-col>
							<van-col span="6">
								<view class="header_single">
									成交总额
								</view>
							</van-col>
							<!-- <van-col span="4">
							<view class="header_single">
								操作
							</view>
						</van-col> -->
						</van-row>
					</view>
					<view class="detail_single" v-for="(item,index) in chanelData" :key="index" @click="bindDetails(item.name)">
						<van-row gutter="10">
							<van-col span="6">
								<view :class="'source_text_'+index">
									{{item.name}}
								</view>
							</van-col>
							<van-col span="6">
								<view :class="'color_text_'+index">
									{{item.customerAmount}}
								</view>
							</van-col>
							<van-col span="6">
								<view :class="'color_text_'+index">
									{{item.dealAmount}}
								</view>
							</van-col>
							<van-col span="6">
								<view :class="'color_text_'+index">
									{{item.dealMoney}}
								</view>
							</van-col>
							<!-- <van-col span="4">
							<view class="detail_btn" @click="bindDetails(item.name)">
								查看明细
							</view>
						</van-col> -->
						</van-row>
						<!-- <view class="source_text">
						{{item.name}}
					</view>
					<view class="color_text">
						{{item.customerAmount}}
					</view>
					<view class="color_text">
						{{item.dealAmount}}
					</view>
					<view class="color_text">
						{{item.dealMoney}}
					</view>
					<view class="detail_btn" @click="bindDetails(item.name)">
						查看明细
					</view> -->
					</view>
				</view>
			</view>
			<modual :modualInfo="modualInfo" @modualConfirm="modualConfirm" @modualChange="modualChange" v-if="showModual"></modual>
		</view>
		<tabbar :activeIndex="3" style="background: #fff;"></tabbar>
	</view>
</template>

<script>
	import navbar from '../../components/navbar.vue'
	import tabbar from '../../components/tabbar.vue'
	import modual from '../../components/modual.vue'
	import app from '../../App.vue'
	import {
		http,
		serve
	} from "../../api/api.js";
	import uCharts from '@/utils/u-charts.min.js'
	var _self
	var canvaArcbar1
	export default {
		components: {
			navbar,
			tabbar,
			modual
		},
		data() {
			return {
				pageVisible: true,
				defaultDate: [new Date().getTime() - 24 * 60 * 60 * 1000, new Date().getTime()],
				minDate: new Date(2020, 0, 1).getTime(),
				maxDate: new Date().getTime(),
				showModual: false,
				modualInfo: {
					activeType: 1,
					showClose: false,
					showSingle: false,
					showBtns: false,
					title: "必读",
					content: "单独点击某些数据项，可以查看更具体的数据分析信息。",
					cancleText: "否",
					confirmText: "是",
					source: "data"
				},
				date: '',
				show: false,
				navInfo: {
					"bg_color": "",
					"color": "#FFFFFF",
					"flag": 1,
					"name": "数据分析",
					"backType": 1
				},
				isIpx: app.globalData.isIpx,
				navHeight: app.globalData.navHeight,
				dateList: [{
						name: "今日",
						value: "1",
						currentLabel: "今日数据",
						lastLabel: "昨日数据"

					},
					{
						name: "本周",
						value: "2",
						currentLabel: "本周数据",
						lastLabel: "上周数据"
					},
					{
						name: "本月",
						value: "3",
						currentLabel: "本月数据",
						lastLabel: "上月数据"
					},
					{
						name: "本年",
						value: "4",
						currentLabel: "今年数据",
						lastLabel: "去年数据"
					}
				],
				activeDateIndex: 0,
				timeType: 1,
				currentLabel: "今日数据",
				lastLabel: "昨日数据",
				rangeBegin: null,
				rangeEnd: null,
				listData: [],
				chanelData: [],
				chartsData: [],
				dataInfo: {
					customerAmount: 0,
					dealAmount: 0,
					dealMoney: 0,
				},
				cWidth3: '', //圆弧进度图
				cHeight3: '', //圆弧进度图
				arcbarWidth: '', //圆弧进度图，进度条宽度,此设置可使各端宽度一致
				pixelRatio: 1,
				textarea: '',
				showChart: false,
				showChanel: false,
				chartsDataList: {
					customerAmount: [],
					dealAmount: [],
					dealMoney: []
				},
				circleBorder: uni.upx2px(24)

			}
		},
		watch: {
			showChart() {}
		},
		onLoad() {},
		onShow() {
			if (this.$utils.checkLevel()) {
				this.pageVisible = true
			} else {
				this.pageVisible = false
				return
			}
			this.showModual = this.$utils.getStatus('dataIndex')
			// this.showChart = !this.showModual
			this.$utils.setStatus("dataIndex")
			this.getDataInfo()
			this.getChanelData()
			_self = this;
			this.cWidth3 = uni.upx2px(200); //这里要与样式的宽高对应
			this.cHeight3 = uni.upx2px(200); //这里要与样式的宽高对应
			this.arcbarWidth = uni.upx2px(24);
		},
		onReady() {},
		methods: {
			chartChange() {
				this.showChart = !this.showChart
				this.getChartsData()
			},
			modualChange(type) {
				if (type == 'open') {
					this.modualInfo.content =
						'<p>1-转介绍发动比例：发动转介绍的老客户数/老客户总数</p>  <p>2 - 转介绍成功率： 成功转介绍新客户成交的老客户数 / 发动转介绍的老客户数</p>  <p>3 - 转介绍业绩占比： 所有被转介绍客户的成交额之和 / 总成交额</p>  <p>4 - 转介绍回款占比： 所有被转介绍客户的回款额之和 / 总回款额</p> '
					this.modualInfo.activeType = 3
					this.showModual = true
				} else {
					this.showModual = false
				}
				if (this.showChart) {
					// this.showChart = !this.showModual
					this.getChanelData()
				}
			},
			// 弹窗确认操作
			modualConfirm() {

			},
			// 查看明细
			bindDetails(name) {
				let url = "/pages/pagesData/sourceDetail/sourceDetail"
				uni.navigateTo({
					url: `${url}?groupName=${name}`
				})

			},
			indexDetail(item) {

				if (item.hasDetail) {
					let url = "/pages/pagesData/details/details"
					uni.navigateTo({
						url: `${url}?id=${item.indexId}`
					})
				} else {
					uni.showToast({
						icon: "none",
						title: "此指标暂无明细数据",
					})
				}


			},
			// 渲染chart
			showArcbar(canvasId, chartData) {
				let titleNumber = 0
				new uCharts({
					$this: _self,
					canvasId: canvasId,
					type: 'arcbar',
					fontSize: 11,
					legend: false,
					title: {
						name: 100 - Math.round(chartData.series[0].data * 100) + "%",
						color: "#1EE3A8",
						fontSize: 16 * _self.pixelRatio
					},
					subtitle: {
						name: Math.round(chartData.series[0].data * 100) + "%",
						fontSize: 16 * _self.pixelRatio,
						color: chartData.series[0].color,
					},
					extra: {
						arcbar: {
							type: 'circle', //整圆类型进度条图
							width: _self.arcbarWidth * _self.pixelRatio, //圆弧的宽度
							startAngle: 1.5, //整圆类型只需配置起始角度即可
							backgroundColor: "#1EE3A8",
						}
					},
					background: '#FFFFFF',
					pixelRatio: _self.pixelRatio,
					series: chartData.series,
					animation: true,
					width: _self.cWidth3 * _self.pixelRatio,
					height: _self.cHeight3 * _self.pixelRatio,
					dataLabel: true,
					chartSerise: {}
				});

			},
			// 图表数据构造
			getChartsData(total) {
				let percent = 0
				let obj = {}
				for (let key in this.dataInfo) {
					let total = this.chanelData[1][key] + this.chanelData[0][key];
					// let data = this.chanelData[1][key] > 0 ? (this.chanelData[0][key] / this.chanelData[1][key]).toFixed(2) : 0
					let data = 0;
					if (total > 0) {
						data = this.chanelData[1][key] / total
					}
					// obj = {
					// 	color: "#FFC653",
					// 	// data: (this.chanelData[0][key] / this.chanelData[1][key]).toFixed(2),
					// 	data: data,
					// 	index: 0,
					// 	legendShape: "circle",
					// 	name: "123",
					// 	pointShape: "circle",
					// 	show: true,
					// 	type: "arcbar",
					// }
					// let chartData = {
					// 	series: [obj]
					// }
					// this.showArcbar(key, chartData)
					this.chartsDataList[key].push((100 - Math.round(data * 100)), (Math.round(data * 100)))
				}

			},
			// 查询渠道分析数据
			getChanelData() {
				let params = {
					groupName: ""
				}
				this.$http("/mp/data/sourceDetail", "GET", params).then(res => {
					this.chanelData = res.data
					let total = 0
					// this.chanelData.map(item => {
					// 	this.dataInfo.customerAmount += item.customerAmount
					// 	this.dataInfo.dealAmount += item.dealAmount
					// 	this.dataInfo.dealMoney += item.dealMoney
					// 	total += item.customerAmount + item.dealAmount + item.dealMoney
					// })
					this.getChartsData(total)
				})
			},
			// 获取指标概要数据
			getDataInfo() {
				let {
					rangeBegin,
					rangeEnd,
					timeType
				} = this
				let params = {

					rangeBegin,
					rangeEnd,
					timeType

				}
				http("/mp/data/indexOverview", "post", params).then(res => {
					this.listData = res.data
					if (this.listData && this.listData.length > 0) {
						this.listData.map(item => {
							let type = item.subName == "总数" ? 0 : 1
							if (item.unit == '%') {
								item.valueStr = this.$format.formatNumber(Number(item.value) * 100, type) + '%'
								if (item.prevValue !== '-') {
									item.prevValueStr = this.$format.formatNumber(Number(item.prevValue) * 100, type) + '%'
								} else {
									item.prevValueStr = item.prevValue
								}
							} else {
								item.valueStr = this.$format.formatNumber(item.value, type)
								item.prevValueStr = this.$format.formatNumber(item.prevValue, type)
							}
						})
					}
				})
			},
			onDisplay() {
				this.show = true
				this.$refs.calendar.open()
			},
			onClose() {
				this.show = false
				this.getChanelData()
				// canvaRing.updateData({
				// 	series: newdata.series,
				// 	categories: newdata.categories
				// });
				// this.setData({
				// 	show: false
				// });
			},
			formatDate(date) {
				date = new Date(date);
				return date
				// return `${date.getFullYear()}-${date.getMonth() + 1[1] == undefined?date.getMonth() + 1: 0+(date.getMonth() + 1).toString()}-${date.getDate()[1]==undefined?date.getDate():0+(date.getDate()).toString()}`;
			},
			closeCalender() {
				this.show = false
			},
			onConfirm(event) {
				console.log(1)
				console.log(event)
				this.timeType = 5
				this.show = false
				if (event.range.data.length > 0) {
					this.rangeBegin = this.$format.formatTimeStamp(new Date(event.range.before))
					this.rangeEnd = this.$format.formatTimeStamp(new Date(event.range.after))
				} else {
					if (event.range.before) {
						this.rangeBegin = this.$format.formatTimeStamp(new Date(event.range.before))
						this.rangeEnd = this.rangeBegin + 86400000 - 1;
					}
				}
				this.currentLabel = "选定区间"
				this.lastLabel = "无对比值"
				this.getDataInfo()
				this.getChanelData()
				// this.timeType = 5
				// const [start, end] = event.detail;
				// this.show = false
				// this.rangeBegin = this.$format.formatTimeStamp(new Date(start))
				// this.rangeEnd = this.$format.formatTimeStamp(new Date(end))
				// // 处理选择同一天的情况
				// if (this.rangeBegin == this.rangeEnd) {
				// 	this.rangeEnd = this.rangeBegin + 86400000 - 1;
				// }
				// this.currentLabel = "选定区间"
				// this.lastLabel = "无对比值"
				// this.getDataInfo()
				// this.getChanelData()
			},
			// 时间类型切换
			timeTypeChange(item) {
				this.currentLabel = item.currentLabel
				this.lastLabel = item.lastLabel
				this.timeType = item.value
				this.rangeBegin = null
				this.rangeEnd = null
				this.getDataInfo()
				this.getChanelData()
			}
		}
	}
</script>

<style lang="less" scoped>
	.uni-calendar-item--after-checked {
		background: #00c78d !important;
	}

	.flex(@A, @B, @C, @D) {
		display: flex;
		flex-direction: @A;
		flex-wrap: @B;
		justify-content: @C;
		align-items: @D;
	}

	.data_content {
		position: relative;
		overflow: scroll;
		// padding-bottom: 150rpx;
		padding-bottom: 220rpx;

		/deep/.van-calendar {
			margin-bottom: 150rpx !important;
		}

		/deep/.van-calendar__header {
			width: 100%;
			position: fixed;
			background: #FFFFFF;
			z-index: 999999;
		}

		/deep/.van-calendar__body {
			padding-top: 240rpx;
		}

		.data_header {
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
		}

		.data_wrap {
			.date_box {
				box-sizing: border-box;
				padding: 20rpx 30rpx 20rpx 0rpx;
				.flex(row, nowrap, space-between, center);

				.date_left {
					// width: calc(100% - 40rpx);
					width: calc(100% - 100rpx);
					.flex(row, nowrap, flex-start, center);

					.left_single {
						margin-left: 30rpx;
						margin-right: 20rpx;
						font-size: 30rpx;
						line-height: 44rpx;
						color: #999999;
					}

					.left_single_actie {
						font-size: 36rpx;
						color: #1FE3A8;
						font-weight: bold;
						line-height: 50rpx;
					}
				}

				.date_right {
					// width: 40rpx;
					width: 100rpx;
					.flex(row, nowrap, flex-end, center);

					.calendar {
						width: 40rpx;
						height: 36rpx;
					}
				}
			}

			.list_title {
				box-sizing: border-box;
				padding: 0rpx 30rpx 20rpx 30rpx;
				box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
				.flex(row, nowrap, space-between, center);

				.title_single {
					// width: 33.3%;
					width: 33%;
					font-size: 26rpx;
					line-height: 36rpx;
					font-weight: 500;
					color: #40B0C3;
				}

				.title_single_center {
					text-align: center;
					width: 34%;
				}

				.title_single_right {
					text-align: right;
				}
			}

			.list_box {
				width: calc(100% - 60rpx);
				margin: auto;

				.list_single {
					padding: 20rpx 0rpx;
					border-bottom: 1rpx solid #DCDCDC;
					.flex(row, nowrap, space-between, center);

					.single_left {
						width: 33.3%;
						.flex(row, nowrap, flex-start, center);

						.left_label {
							font-size: 28rpx;
							color: #333333;
							line-height: 40rpx;
						}

						.left_text {
							font-size: 22rpx;
							color: #999999;
							margin-left: 3rpx;
						}
					}

					.single_center {
						width: 33.3%;
						.flex(row, nowrap, center, center);

						.up_text {
							font-size: 36rpx;
							line-height: 50rpx;
							color: #1FE3A8;
							font-weight: bold;
							margin-right: 6rpx;
						}

						.down_text {
							font-size: 36rpx;
							line-height: 50rpx;
							color: #FF5A58;
							font-weight: bold;
							margin-right: 6rpx;
						}

						.center_img {
							width: 14rpx;
							height: 24rpx;
						}
					}

					.single_right {
						width: 33.4%;
						text-align: right;
						font-size: 36rpx;
						line-height: 50rpx;
						color: #666666;
						font-weight: bold;
						margin-right: 36rpx;
					}
				}
			}

			.tips_box {
				box-sizing: border-box;
				padding: 20rpx 30rpx 10rpx 0rpx;
				.flex(row, nowrap, flex-end, center);

				// border: 1px solid red;
				.tips_img {
					width: 40rpx;
					height: 40rpx;
				}
			}

			.chanel_title {
				.flex(row, nowrap, center, center);
				position: relative;
				padding-top: 60rpx;

				.chanel_text {
					font-size: 32rpx;
					line-height: 44rpx;
					color: #23E6AB;
					font-weight: bold;
					margin-right: 12rpx;
				}

				.chanel_angle {
					width: 0;
					height: 0;
					border-left: 10rpx solid transparent;
					border-right: 10rpx solid transparent;
					border-top: 10rpx solid #1EE3A8;
				}

				.tips_img {
					width: 40rpx;
					height: 40rpx;
					position: absolute;
					right: 30rpx;
					top: 25rpx;
				}
			}

			.chart_sample {
				box-sizing: border-box;
				margin-top: 50rpx;
				.flex(row, nowrap, center, center);

				&>view:first-child {
					margin-right: 100rpx;
				}

				.sample_item {
					.flex(row, nowrap, flex-start, center);
					font-size: 20rpx;

					.sample_color {
						width: 30rpx;
						height: 8rpx;
						margin-right: 40rpx;
						border-radius: 4rpx;
					}
				}
			}

			.chart_box {
				box-sizing: border-box;
				padding: 48rpx 55rpx 70rpx 55rpx;
				.flex(row, nowrap, space-between, center);
				flex-shrink: 0;

				.chart_single {
					.flex(column, wrap, center, center);

					.data_item {
						font-size: 26rpx;
						.flex(column, wrap, center, center);

						&>view:nth-child(2) {
							width: 60rpx;
							height: 1rpx;
							background: #333;
							margin: 9rpx 0;
						}
					}

					.chart_text {
						font-size: 32rpx;
						line-height: 44rpx;
						color: #1EE3A8;
						// font-weight: bold;
						text-align: center;
						margin-top: 16rpx;
						color: #333333;
					}
				}

				.charts {
					width: 200rpx;
					height: 200rpx;
					background-color: #FFFFFF;
				}
			}

			.detail_box {
				box-sizing: border-box;
				padding: 0rpx 30rpx;

				.detail_title {
					font-size: 32rpx;
					line-height: 36rpx;
					margin-bottom: 40rpx;
					text-align: center;
					font-size: 32rpx;
					color: #333333;
					font-weight: bold;
				}

				.detail_header {
					// .flex(row, nowrap, space-between, center);

					.header_single {
						// font-size: 28rpx;
						// color: #666666;
						// line-height: 40rpx;
						// font-weight: 500;
						font-size: 28rpx;
						color: #666666;
						line-height: 40rpx;
						font-weight: 500;
						text-align: center;
					}
				}

				.detail_single {
					box-sizing: border-box;
					padding: 24rpx 0rpx;
					border-bottom: 1rpx solid #DCDCDC;
					// border: 1px solid red;
					// .flex(row, nowrap, space-between, center);

					.source_text_1 {
						font-size: 26rpx;
						line-height: 36rpx;
						color: #FFC653;
						font-weight: 500;
						text-align: center;
					}

					.source_text_0 {
						font-size: 26rpx;
						line-height: 36rpx;
						color: #1EE3A8;
						font-weight: 500;
						text-align: center;
					}

					.color_text_0 {
						// font-size: 32rpx;
						// line-height: 36rpx;
						// font-weight: 500;
						// color: #1EE3A8;
						// text-align: center;
						font-size: 32rpx;
						line-height: 36rpx;
						font-weight: 500;
						color: #1EE3A8;
						text-align: center;
					}

					.color_text_1 {
						// font-size: 32rpx;
						// line-height: 36rpx;
						// font-weight: 500;
						// color: #1EE3A8;
						// text-align: center;
						font-size: 32rpx;
						line-height: 36rpx;
						font-weight: 500;
						color: #FFC653;
						text-align: center;
					}

					.detail_btn_0 {
						font-size: 18rpx;
						color: #23E3AA;
						width: 80rpx;
						height: 40rpx;
						line-height: 40rpx;
						text-align: center;
						border: 1rpx solid #23E3AA;
					}

					.detail_btn_1 {
						font-size: 18rpx;
						color: #FFC653;
						width: 80rpx;
						height: 40rpx;
						line-height: 40rpx;
						text-align: center;
						border: 1rpx solid #FFC653;
					}
				}
			}
		}
	}

	.marginBoth {}
</style>
