<template>
	<view class="vip_container">
		<nav-bar :navInfo="navInfo" class="nav_header" @showCancleModal="showCancleModal"></nav-bar>
		<view class="vip_content" :style="{height:'calc(100vh -' + navHeight + 'px)'}">
			<view class="vip_item">
				<view class="package_container">
					<!-- <view class="title_container">
						<image src="../../../static/vip_crown.png" />
						<view class="value">兑换码<span style="color:#E7BF78;">（上市特惠）</span></view>
					</view> -->
					<view class="change_box">
						<view class="title_container">
							<!-- <image src="../../../static/vip_crown.png" /> -->
							<view class="value">体验兑换码<span style="color:#E7BF78;"></span></view>
						</view>
						<view class="input_container">
							<van-field :value="couponCode" placeholder="请输入兑换码" @change="inputChange" />
							<!-- <van-button color="linear-gradient(89deg, #74DCE9 0%, #0FC0C1 100%)">确定</van-button> -->
						</view>
					</view>
					<!-- <view class="checkbox_container">
						<van-checkbox :value="counponChecked" checked-color="#32CACF">8折优惠券</van-checkbox>
					</view> -->
				</view>
			</view>
			<view class="btn_container" @click="activeCoupon">
				<van-button color="#E7BF78" round >确定</van-button>
			</view>
		</view>
	</view>
</template>

<script>
	import app from '../../../App.vue'
	export default {
		data() {
			return {
				navInfo: {
					bg_color: '',
					color: '#FFFFFF',
					flag: 2,
					name: '兑换码',
					backType: 1
				},
				userInfo: {},
				couponCode: ""

			}
		},
		onLoad(options) {
			// 3PW1GV2P2N
			// this.getCouonList()
			// this.getList()
		},
		onShow() {},
		methods: {
			// 券码输入
			inputChange(e) {
				this.couponCode = e.detail
			},
			// 获取用户信息
			getUserInfo() {
				this.$http("/mp/user/info", "GET", {}).then(res => {
					this.userInfo = res.data
					if (!this.userInfo.answerBuyQuestionnaire || !this.userInfo.answerTrialQuestionnaire) {
						uni.showToast({
							duration: 2500,
							title: "请先完成通关测试后，再来续费哟",
							icon: "none",
							success() {
								setTimeout(() => {
									uni.navigateTo({
										url: "/pages/pagesPerson/index/index?from=vip"
									})
								}, 2500)
							}
						})
					}
				})
			},
			// 激活优惠券
			activeCoupon() {
				if (this.couponCode) {
					this.$http("/mp/user/coupon/active", "POST", {
						couponCode: this.couponCode
					}).then(res => {
						uni.showToast({
							title:"兑换成功，获得7天时长",
							icon:"none",
							duration:1500,
							success: () => {
								setTimeout(() => {
									uni.navigateBack()
								},1500)
							}
						})
						// this.$error.successToast("success", "兑换成功", "/pages/pagesPerson/index/index")
					})
				} else {
					this.$error.tipsError("请输入兑换码")
				}
			},
		}
	}
</script>

<style lang="less">
	.flex(@A, @B, @C, @D) {
		display: flex;
		flex-direction: @A;
		flex-wrap: @B;
		justify-content: @C;
		align-items: @D;
	}

	.vip_container {
		// padding-bottom: 104rpx;
		height: 100vh;
		.nav_header {
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			z-index: 999;
		}

		.vip_content {
			// padding-left: 30rpx;
			padding: 0rpx 30rpx;
			box-sizing: border-box;
			height: 100%;
			.flex(column,wrap,center,flex-start);
			.vip_item {
				margin-top: 20rpx;
				width: 100%;
				.line {
					margin-right: 30rpx;
					height: 1rpx;
					background: #DCDCDC;
				}

				.title_container {
					// .flex(row, nowrap, flex-start, center);

					image {
						width: 36rpx;
						height: 36rpx;
						margin-right: 10rpx;
					}

					.value {
						font-size: 32rpx;
						font-weight: 500;
						color: #333333;
						text-align: center;
					}
				}

				.ticket_container {
					.flex(row, nowrap, flex-start, center);
					padding: 20rpx 0 40rpx;
					overflow-x: auto;

					.ticket_item {
						width: 216rpx;
						height: 284rpx;
						// background: url('~@/static/person_coupon_b.png');
						background-size: 100% 100%;
						margin-right: 22rpx;
						flex-shrink: 0;

						.ticket_title {
							// width: 100%;
							height: 80rpx;
							// padding-top: 22rpx;
							box-sizing: border-box;
							padding: 22rpx 10rpx 0rpx 10rpx;
							// .flex(row, nowrap, center, flex-start);
							font-size: 32rpx;
							font-weight: 500;
							color: #00A7BC;
							white-space: nowrap;
							text-overflow: ellipsis;
							overflow: hidden;
							text-align: center;
						}

						.ticket_inner {
							.flex(column, nowrap, flex-start, center);
							flex: 1;
							margin-top: 12rpx;
							width: 100%;

							.day {
								.flex(row, nowrap, flex-start, baseline);

								span {
									&:first-child {
										font-size: 72rpx;
										font-weight: 600;
										color: #FFFFFF;
										letter-spacing: 2px;
									}

									&:last-child {
										font-size: 28rpx;
										font-weight: 600;
										color: #FFFFFF;
									}
								}
							}

							.ticket_btn {
								.flex(row, nowrap, center, center);
								margin-top: 20rpx;
								width: 88rpx;
								height: 40rpx;
								border-radius: 16rpx;
								border: 1rpx solid #00A7BC;
								font-size: 28rpx;
								color: #00A7BC;
							}
						}
					}

					.select_ticket {
						// background: url('~@/static/person_coupon_g.png');
						background-size: 100% 100%;

						.ticket_title {
							color: #12BD70 !important;
						}

						.ticket_btn {
							border: 1rpx solid #12BD70 !important;
							color: #12BD70 !important;
						}
					}
				}

				.package_container {
					// padding-top: 130rpx;

					.package_row {
						// margin-top: 32rpx;
						overflow-x: scroll;
						.flex(row, nowrap, flex-start, center);
						.package_item {
							.flex(column, nowrap, center, center);
							width: 200rpx;
							height: 234rpx;
							background: #FFFFFF;
							box-shadow: 0 0 12rpx 0 rgba(212, 212, 212, 0.5);
							border-radius: 16rpx;
							border: 2rpx solid #DCDCDC;
							margin-right: 20rpx;
							flex-shrink: 0;
							overflow: hidden;

							.package_title {
								font-size: 28rpx;
								font-weight: 500;
								color: #333333;
							}

							.money {
								color: #E7BF78;

								span {
									&:first-child {
										font-size: 28rpx;
										font-weight: 500;
									}

									&:last-child {
										font-size: 60rpx;
										font-weight: 600;
									}
								}
							}

							.market {
								font-size: 36rpx;
								font-weight: bold;
								color: #666666;
								text-decoration: line-through;
							}
						}

						.package_select {
							background: linear-gradient(90deg, #1DE4A8 0%, #40B0C2 100%);
							// box-shadow: 0 0 12rpx 0 #4ECBD4;
							border: none;
							border: none;

							.package_title {
								color: #fff;
							}

							.money {
								color: #fff;
							}
						}
					}

					.change_box {
						padding: 30rpx 0 0 0;
					}

					.input_container {
						// .flex(row, nowrap, flex-start, center);
						margin-top: 47rpx;
						// padding-right: 30rpx;
						box-sizing: border-box;

						// padding-left: 74rpx;
						.input_title {
							font-size: 32rpx;
							color: #666666;
							margin-right: 30rpx;
						}

						.van-cell {
							padding: 8rpx 16rpx !important;
							// width: 344rpx;
							width: 100% !important;
							background: #FFFFFF;
							border-radius: 8rpx;
							border: 2rpx solid #E3E3E3;
						}

						.van-field__input {
							font-size: 32rpx;
							font-weight: 500;
							color: #333333;
							height: 60rpx;
						}

						.van-button {
							width: 106rpx;
							height: 60rpx;
							border-radius: 10rpx;
							font-size: 28rpx;
							font-weight: 500;
							color: #FFFFFF;
							margin-left: 20rpx;
							padding: 0 !important;
						}
					}

					.checkbox_container {
						margin-top: 20rpx;
						padding-left: 206rpx;

						.van-checkbox__icon {
							font-size: 32rpx !important;
						}

						.van-checkbox__label {
							font-size: 30rpx;
							font-weight: 500;
							color: #666666;
						}
					}
				}
			}

			.btn_container {
				text-align: center;
				// padding: 18rpx 70rpx 18rpx 40rpx;
				width: 140rpx;
				height: 60rpx;
				line-height: 60rpx;
				border-radius: 60rpx;
				margin: 64rpx auto 0 auto;
				background: #00C98D;
				color: #FFFFFF;
				font-size: 30rpx;
				border-color: #00C98D;
				text-align: center;
			}

			.info_container {
				margin-top: 60rpx;

				.info_title {
					font-size: 32rpx;
					font-weight: 500;
					color: #333333;
					line-height: 44rpx;
					margin-bottom: 20rpx;
				}

				.info_row {
					font-size: 28rpx;
					color: #666666;
					line-height: 40rpx;
				}
			}
		}
	}

	::-webkit-scrollbar {
		width: 0;
		height: 0;
		color: transparent;
	}
</style>
