<template>
	<view class="account_container">
		<image src="../static/account_bg.png" class="bg_img" mode="aspectFill" />
		<view class="account_content">
			<image src="" class="user_avatar"  />
			<view class="input_container" v-if="accountType==1" :style="{marginTop:isIpx?'290rpx':'186rpx'}">
				<view class="account_container">
					<view title="注册">
						<view class="regist_title">
							<view class="">
								注册
							</view>
							<view class="title_line">

							</view>
						</view>
						<view class="inner_container">
							<view class="input_row">
								<image src="../static/account_type.png" class="input_icon" />
								<picker range-key="name" class="picker_box" mode="selector" :range="industryList" @change="pickerChange">
									<view class="picker_placeholder" v-if="!registInfo.industry">所在行业</view>
									<view class="picker_value" v-else>
										{{industryName}}
									</view>
								</picker>
							</view>
							<view class="input_row">
								<image src="../static/account_phone.png" class="input_icon" />
								<van-field class="picker_box" :value="registInfo.telephone" placeholder="请输入手机号码" @change="inputChange('telephone',$event)"></van-field>
							</view>
							<view class="input_row">
								<image src="../static/account_code.png" class="input_icon" />
								<van-field :value="registInfo.verifyCode" @change="inputChange('verifyCode',$event)" placeholder="请输入验证码">
									<van-button slot="button" size="small" type="primary" @click="getCode">{{codeText}}</van-button>
								</van-field>
							</view>
						</view>
						<view class="checkbox_container">
							<van-checkbox :value="aggrementChecked" checked-color="#32CACF" @change="checkChange">
								<span>已阅读并同意</span>
								<span @click.stop="handleAgreement">《法律声明及隐私政策》</span>
							</van-checkbox>
						</view>
						<view class="btn_container">
							<van-button color="linear-gradient(90deg, #1DE4A8 0%, #41AFC3 100%)" round @click="regist">注册并登陆</van-button>
						</view>
					</view>
				</view>
				<!-- 	<van-tabs :active="tabValue" color="#22E0A8" @change="onChange">
					<van-tab title="登陆" name="1">
						<view class="inner_container">
							<view class="input_row">
								<image src="../../../static/account_type.png" class="input_icon" />
								<van-field :value="registInfo.telephone" placeholder="请输入手机号码"></van-field>
							</view>
							<view class="input_row">
								<image src="../../../static/account_type.png" class="input_icon" />
								<van-field :value="password" placeholder="请输入验证码">
									<van-button slot="button" size="small" type="primary">发送验证码</van-button>
								</van-field>
							</view>
						</view>
						<view class="btn_container">
							<van-button color="linear-gradient(90deg, #1DE4A8 0%, #41AFC3 100%)" round>注册并登陆</van-button>
						</view>
					</van-tab>
					<van-tab title="注册" >
						<view class="inner_container">
							<view class="input_row">
								<image src="../../../static/account_type.png" class="input_icon" />
								<picker range-key="name" class="picker_box" mode="selector" :range="industryList" @change="pickerChange">
									<view class="picker_placeholder" v-if="!registInfo.industry">所在行业</view>
									<view class="picker_value" v-else>
										{{industryName}}
									</view>
								</picker>
							</view>
							<view class="input_row">
								<image src="../../../static/account_type.png" class="input_icon" />
								<van-field :value="registInfo.telephone" placeholder="请输入手机号码" @change="inputChange('telephone',$event)"></van-field>
							</view>
							<view class="input_row">
								<image src="../../../static/account_type.png" class="input_icon" />
								<van-field :value="registInfo.verifyCode" @change="inputChange('verifyCode',$event)" placeholder="请输入验证码">
									<van-button slot="button" size="small" type="primary" @click="getCode">{{codeText}}</van-button>
								</van-field>
							</view>
						</view>
						<view class="checkbox_container">
							<van-checkbox :value="aggrementChecked" checked-color="#32CACF">
								<span>已阅读并同意</span>
								<span>《法律声明及隐私政策》</span>
							</van-checkbox>
						</view>
						<view class="btn_container">
							<van-button color="linear-gradient(90deg, #1DE4A8 0%, #41AFC3 100%)" round @click="regist">注册并登陆</van-button>
						</view>
					</van-tab>
				</van-tabs> -->
			</view>
			<view class="wx_container" v-if="accountType==2">
				<view class="wx_btn_container">
					<!-- <van-button color="linear-gradient(90deg, #1DE4A8 0%, #41AFC3 100%)" round>微信账号一键登录</van-button> -->
					<button @getuserinfo="getUserInfo" type="default" open-type="getUserInfo" class="login_btn">微信账号一键登录</button>
					<view @click="handleBack" class="no_btn" >暂不登录</view>
				</view>
				<!-- <view class="txt">手机号登陆/注册</view> -->
			</view>
			<view class="bottom_container" v-if="accountType==2">
				<view class="bottom_row">未注册手机号码，登录时将自动注册，且代表</view>
				<view class="bottom_row">
					<span>您已同意</span>
					<span class="txt_orange" @click="handleAgreement">《销Soul 会员注册协议》和《销Soul 隐私政策》</span>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	import app from '../../../App.vue'
	export default {
		data() {
			return {
				isIpx: app.globalData.isIpx,
				accountType: 2,
				tabValue: '2',
				cate: '',
				username: '',
				password: '',
				aggrementChecked: false,
				userInfo: {},
				code: "",
				industryList: [],
				registInfo: {
					industry: "",
					telephone: "",
					tempTicket: "",
					verifyCode: "",
					couponCode:""
				},
				industryName: "",
				disabled: false,
				time: 60,
				codeText: "发送验证码",
				backurl: "",
				// video: "https://cdn.xiaohun.baiziio.com/tutorial/video/%E4%BD%BF%E7%94%A8%E6%8C%87%E5%8D%97.mp4",
				video: "https://cdn.xiaohun.baiziio.com/tutorial/video/introduction-final-2.mp4",
			}
		},
		onLoad(options) {
			if (options.backurl) {
				this.backurl = options.backurl
			}
			if (options.scene) {
				let scene = decodeURIComponent(options.scene)
				this.registInfo.couponCode = scene.split("=")[1]
			}
			let that = this
			that.getIndustryList()
			this.requestRegisterVideo();
		},
		methods: {
			requestRegisterVideo() {
				this.$http("/mp/user/startup/video", "get", {"purpose": "register"}).then(res => {
					if (res.code == 200) {
						if (res.data && res.data.length > 0) {
							this.video = res.data
						}
					}
				})
			},
			handleBack() {
				uni.navigateBack()
			},
			handleAgreement() {
				uni.navigateTo({
					url: '/pages/pagesPerson/agreement/agreement'
				})
			},
			checkChange(e) {
				this.aggrementChecked = e.detail
			},
			// input框输入
			inputChange(type, e) {
				this.registInfo[type] = e.detail
			},
			// 选择行业
			pickerChange(e) {
				let index = e.detail.value
				this.registInfo.industry = this.industryList[e.detail.value].name
				this.industryName = this.industryList[e.detail.value].name
			},
			getUserInfo(info) {
				let that = this
				uni.getSetting({
					success(res) {
						if (res.authSetting['scope.userInfo']) {
							that.userInfo = info.detail.userInfo

							that.judgeRejist(that)
						} else {
							that.accountType = 2
							uni.showModal({
								title: "温馨提示",
								content: '您点击了拒绝授权,将无法正常显示个人信息,点击确定重新获取授权。',
								success(res) {
									if (res.confirm) {
										uni.openSetting({
											success(result) {
												if (result.authSetting["scope.userInfo"]) {
													uni.getUserInfo({
														success(data) {
															that.judgeRejist(that)
															that.userInfo = data.userInfo
														}
													})
												}
											}
										})
									}
								}
							})
						}
					}
				})
			},
			formatGender(gender) {
				if (gender === 0) {
					return "未知"
				}else if (gender === 1) {
					return "男"
				}else {
					return "女"
				}
			},
			// 判断用户是否注册
			judgeRejist(that) {
				let params = {
					avatar: that.userInfo.avatarUrl,
					city: that.userInfo.city,
					code: "",
					gender: this.formatGender(that.userInfo.gender),
					nickname: that.userInfo.nickName,
					province: that.userInfo.province,
					type: "weixin",
				}
				uni.login({
					success(res) {
						params.code = res.code
						that.$http("/mp/user/login", "POST", params).then(res => {
							uni.setStorageSync('userLevel',res.data.userLevel)
							if (res.data.tempTicket) {
								that.tabValue = res.data.tempTicket ? '2' : '1'
								that.registInfo.tempTicket = res.data.tempTicket || ""
								that.accountType = 1
							} else {
								uni.setStorageSync("token", res.data.token)
								uni.setStorageSync("userId", res.data.id)
								uni.setStorageSync("userInfo",res.data)
								let pageList = getCurrentPages()
								if (pageList.length >= 2) {
									let topicPage = pageList[pageList.length - 2]
									if (topicPage.route == 'pages/pagesGrow/topic/index/index') {
										topicPage.data
										topicPage.$vm.pageStatus = true
									}
								}
								uni.navigateBack()
								// if (that.backurl) {
								// 	uni.navigateBack()
								// } else {
								// 	uni.navigateBack()
								// 	// uni.reLaunch({
								// 	// 	url: "/pages/index/index"
								// 	// })
								// }
							}
						})
					}
				})

			},
			// 获取所有行业 
			getIndustryList() {
				this.$http("/mp/industry/list", "GET", {}).then(res => {
					this.industryList = res.data
				})
			},
			// 获取验证码
			getCode() {
				let params = {
					telephone: this.registInfo.telephone,
					tempTicket: this.registInfo.tempTicket
				}
				if (!this.disabled) {
					let mobileReg = /^1[3|4|5|6|7|8|9][0-9]\d{4,8}$/;
					if (mobileReg.test(this.registInfo.telephone)) {
						this.$http("/mp/user/sendVerifyCode", "POST", params).then(res => {
							if (res.code == 200) {
								this.countTime(this);
							} else {
								this.$error.tipsError(res.msg)
							}
						});
					} else {
						this.$error.tipsError("请填写正确的手机号码")
						// this.$error.tipsError(res.msg)
					}
				}
			},
			// 用户注册
			regist() {
				let that = this
				let params = this.registInfo
				let mobileReg = /^1[3|4|5|6|7|8|9][0-9]\d{4,8}$/
				if (!params.industry) {
					this.$error.tipsError("请选择行业")
					return
				}

				if (mobileReg.test(params.telephone)) {
					if (params.verifyCode) {
						if (!this.aggrementChecked) {
							this.$error.tipsError("请阅读并同意《法律声明及隐私政策》")
							return
						}
						this.$http("/mp/user/register", "POST", params).then(res => {
							if (res.code == 200) {
								uni.setStorageSync("token", res.data.token)
								uni.setStorageSync("userId", res.data.id);
								uni.setStorageSync("userInfo",res.data)
								uni.showToast({
									icon: "success",
									duration: 2500,
									success() {
										setTimeout(() => {
											if (that.backurl) {
												uni.navigateBack()
											} else {
												uni.reLaunch({
													url: "/pages/pagesGrow/video/video?direction=0&backVisible=true&videoUrl=" + encodeURIComponent(that.video)
												})
											}
											// uni.reLaunch({
											// 	url: "/pages/index/index"
											// })
										}, 1000)
									}
								})
							} else {
								this.$error.tipsError(res.message)
							}
						})
					} else {
						this.$error.tipsError("请填写验证码")
					}
				} else {
					this.$error.tipsError("请填写正确的手机号码")
				}
			},
			// 获取验证码倒计时
			countTime(self) {
				if (self.time === 0) {
					self.disabled = false
					self.time = 60
					self.codeText = "获取验证码"
				} else {
					self.disabled = true
					self.time = self.time - 1
					self.codeText = self.time + "s"
					setTimeout(() => {
						this.countTime(self)
					}, 1000)
				}
			},
			onChange() {

			}
		}
	}
</script>

<style lang="less">
	.flex(@A, @B, @C, @D) {
		display: flex;
		flex-direction: @A;
		flex-wrap: @B;
		justify-content: @C;
		align-items: @D;
	}

	page {
		width: 100%;
		height: 100%;
	}

	.account_container {
		width: 100%;
		height: 100%;

		.bg_img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		.regist_title {
			width: 72rpx;
			margin: 30rpx auto 0rpx auto;
			font-size: 36rpx;
			line-height: 50rpx;
			font-weight: bold;
			color: #22E0A8;
			// border-bottom: 1rpx solid #22E0A8;
			position: relative;

			.title_line {
				width: 72rpx;
				height: 4rpx;
				border-radius: 2rpx;
				background: #22E0A8;
				position: absolute;
				left: 0rpx;
				bottom: -5rpx;
			}
		}

		.account_content {
			.flex(column, nowrap, flex-start, center);
			position: relative;
			z-index: 99;

			.user_avatar {
				width: 182rpx;
				height: 182rpx;
				// background: #FFFFFF;
				border-radius: 50%;
				margin-top: 148rpx;
			}

			.input-box {
				// height: 524rpx !important;
				height: 680rpx;
			}

			.input_container {
				margin-top: 186rpx;
				width: 540rpx;
				// height: 680rpx;
				height: 650rpx;
				background: #fff;
				border-radius: 22rpx;

				.van-tabs__wrap {
					position: relative;
					left: 0;
					right: 0;
					margin: 0 auto;
					width: 240rpx;
				}

				.van-tab--active {
					font-size: 36rpx;
					font-weight: 500;
					color: #22E0A8;
				}

				.input_icon {
					width: 46rpx;
					height: 46rpx;
					margin-right: 20rpx;
				}

				.picker_box {
					width: calc(100% - 46rpx);
					height: 40rpx;

					.picker_placeholder {
						font-size: 24rpx;
						color: #999999;
						line-height: 34rpx;
					}
				}

				.van-cell {
					.flex(row, nowrap, flex-start, center);
					padding: 0;
					background: #FAFAFA;

					&::after {
						border: none;
					}
				}

				.inner_container {
					.flex(column, nowrap, flex-start, center);
					padding-top: 26rpx;

					.van-field__input {
						font-size: 24rpx;
						font-weight: 300;
						color: #999999;
					}

					.input_row {
						.flex(row, nowrap, flex-start, center);
						width: 460rpx !important;
						padding: 16rpx 20rpx !important;
						box-sizing: border-box;
						background: #FAFAFA;
						margin-top: 20rpx;
						border-radius: 10rpx;

						.van-button {
							width: 124rpx;
							height: 48rpx;
							background: #FAFAFA;
							border-radius: 10rpx;
							border: 1rpx solid #1DE3A8;
							font-size: 22rpx;
							color: #1EE4A8;
							padding: 0;
						}

						.picker_input {}
					}
				}

				.checkbox_container {
					margin-top: 24rpx;
					padding-left: 58rpx;

					.van-checkbox__icon {
						font-size: 22rpx !important;
					}

					.van-checkbox__label {
						font-size: 20rpx;
						color: #999;

						span {
							&:last-child {
								color: #FFAD42;
							}
						}
					}
				}

				.btn_container {
					width: 100%;
					margin-top: 68rpx;
					text-align: center;

					.van-button {
						width: 232rpx;
						height: 72rpx;
						padding: 0;
						font-size: 32rpx;
						font-weight: 500;
						color: #FFFFFF;
					}
				}
			}

			.wx_container {
				margin-top: 364rpx;

				.van-button {
					width: 472rpx;
					height: 84rpx;
					box-shadow: 0 4rpx 12rpx 0 rgba(57, 187, 189, 0.59);
					font-size: 32rpx;
					font-weight: 500;
					color: #FFFFFF;
					padding: 0;
				}

				.txt {
					text-align: center;
					margin-top: 70rpx;
					font-size: 26rpx;
					color: #FFFFFF;
				}

				.login_btn {
					width: 472rpx;
					height: 84rpx;
					background: linear-gradient(90deg, #1DE4A8 0%, #41AFC3 100%);
					box-shadow: 0px 4rpx 12rpx 0rpx rgba(57, 187, 189, 0.59);
					border-radius: 40rpx;
					color: #FFFFFF;
					font-size: 32rpx;
					font-weight: bold;
				}
				
				.no_btn {
					position: relative;
					left: 0;
					right: 0;
					margin: 40rpx auto 0;
					text-align: center;
					width: 200rpx;
					height: 80rpx;
					color: #999;
					font-size: 28rpx;
					font-weight: bold;
				}
			}

			.bottom_container {
				position: fixed;
				bottom: 60rpx;
				text-align: center;
				font-size: 22rpx;
				color: #BFBFBF;

				.txt_orange {
					color: #FFAD42;
				}
			}
		}
	}
</style>
