<template>
	<view class="chance_container" :style="{'padding-top': navHeight + 'px'}">
		<nav-bar :navInfo="navInfo" class="nav_header"></nav-bar>
		<view class="chance_content">
			<view class="search_container">
				<van-search id="search" :value="progressQuery.keyword" :style="{'padding-top': navHeight + 'px'}" shape="round"
				 placeholder="搜索" use-action-slot @search="onSearch" @change="handleInput">
					<view slot="action" @click="handleFiter">
						<span>筛选</span>
						<view class="fiter_dot" v-if="isFilter"></view>
					</view>
				</van-search>
				<view class="popup_container">
					<van-popup :show="popupVisible" position="top" bind:close="onClose">
						<view class="popup-content" :style="{'padding-top': navHeightRpx + 108 + 'rpx'}">
							<filter ref="filter" @confirm="handleConfirmFilter" :type="'3'"></filter>
						</view>
					</van-popup>
				</view>
			</view>
			<view class="chance_list_container">
				<view class="list_item" v-for="(item,index) in chanceData" :key="index" @click="bindCaseSelect(item)">
					<view class="header_container">
						<image :src="getAvatar(item)" class="user_avatar" />
						<view class="right">
							<view class="row">
								<view class="row_start">
									<view class="name">{{item.customerName?item.customerName:''}}</view>
									<view class="tags_container">
										<view class="tag active" v-if="item.referral">转介挖掘</view>
										<view class="tag" v-else>转介挖掘</view>
									</view>
								</view>
								<view class="no">NO.{{item.seq?$format.formatZero(item.seq,3):''}}</view>
							</view>
							<view class="row">
								<view class="desc">{{item.alias?item.alias:''}}</view>
								<view class="state" v-if="item.status">
									<view class="dot"></view>
									<view class="txt">{{item.status}}</view>
								</view>
							</view>
						</view>
					</view>

					<view class="value">
						{{item.requirement}}
					</view>
						<view class="info_container">
							<view class="info_left">
								<view class="info_row marB20" v-if="item.product">
									<image src="../../../static/client_cate4.png" />
									<view class="name van-ellipsis">{{ item.product }}</view>
								</view>
								<view class="info_obtains">
									<view class="info_obtains_row">
										<block v-for="(item1,index1) in item.obtains" :key="index">
											<view class="line" v-if="index1!=0"></view>
											<view :class="['dot',item1==1?'':'unactive']"></view>
										</block>
									</view>
									<view class="ellipsis" v-if="item.obtains&&item.obtains.length>8">...</view>
								</view>
							</view>
							<view :class="['info_row',item.product?'row_bottom':'']">
								<view class="txt">{{
				  item.createAt
					? $format.formatTimeCustom(new Date(item.createAt), '.')
					: ''
				}}</view>
							</view>
						</view>
				</view>
				<van-loading size="24rpx" v-if="dataLoading">加载中...</van-loading>
			</view>
		</view>
	</view>
</template>

<script>
	import clientitem from '@/components/clientitem.vue'
	import filter from '@/components/filter.vue'
	import app from '../../../App.vue'
	export default {
		components: {
			clientitem,
			filter
		},
		data() {
			return {
				navInfo: {
					bg_color: "",
					color: "#FFFFFF",
					flag: 2,
					name: "选择机会",
					backType: 1
				},
				isIpx: app.globalData.isIpx,
				navHeight: app.globalData.navHeight,
				tabValue: '1',
				popupVisible: false,
				navHeightRpx: 0,
				chanceQuery: {
					orderByDesc: true,
					keyword: '',
					status: '',
					possibility: ''
				},
				dataLoading: true,
				chanceData: [],
				chancePags: {
					current: 1,
					pageSize: 15,
					total: 1
				},
				pageType: "",
				isFilter: false
			}
		},
		onLoad(options) {
			this.getHeaderInfo()
			this.pageType = options.type
		},
		onShow() {
			this.getChance(true)
		},
		onReachBottom() {
			this.chancePags.current++
			if (this.chanceData.length < this.chancePags.total) {
				this.getChance()
			}
		},
		onPullDownRefresh() {
			this.getChance(true)
		},
		methods: {
			// 案例机会选择
			bindCaseSelect (item) {
				console.log(item)
				if (this.pageType == "case") {
					let pages = getCurrentPages()
					let prevPage = pages[pages.length - 2]
					prevPage.$vm.caseInfo.opportunityId = item.id
					prevPage.$vm.changeName = `NO.${item.seq?this.$format.formatZero(item.seq,3):''}-${item.alias }`
					let caseInfo = uni.getStorageSync("caseInfo")?uni.getStorageSync("caseInfo"):{}
					caseInfo.opportunityId = item.id
					caseInfo.changeName =  `NO.${item.seq?this.$format.formatZero(item.seq,3):''}-${item.alias }`
					uni.setStorageSync("caseInfo",caseInfo)
					uni.navigateBack()
					console.log(prevPage)
				}
			},
			getHeaderInfo() {
				let self = this;
				uni.getSystemInfo({
					success: function(res) {
						self.navHeightRpx = app.globalData.navHeight * (750 / res.windowWidth)
					},
				})
			},
			handleConfirmFilter(type, params, isFilter) {
				this.chanceQuery.status = params.status
				this.chanceQuery.possibility = params.possibility
				this.getChance(true)
				this.popupVisible = false
				this.isFilter = isFilter
			},
			back() {
				uni.navigateBack({
					delta: 1
				})
			},
			handleInput(value) {
				this.chanceQuery.keyword = value.detail
			},
			onSearch() {
				this.getChance(true)
			},
			onChange(e) {
				this.tabValue = e.detail.name
			},
			handleFiter(type) {
				this.$refs.filter.getStatus()
				this.popupVisible = !this.popupVisible
			},
			handleSelect(item) {
				
			},
			getChance(refresh = false) {
				if (refresh) {
					this.chancePags.current = 1
					this.chanceData = []
				}
				let params = JSON.parse(JSON.stringify(this.chanceQuery))
				params.current = this.chancePags.current
				params.pageSize = 15
				this.dataLoading = true
				this.$http('/mp/opportunity/conditionPageList', 'post', params)
					.then((res) => {
						res.data.list.forEach(per=>{
							if(per.obtains) {
								per.obtains = per.obtains.split(',')
							}else {
								per.obtains = [0,0,0,0,0,0,0,0]
							}
						})
						this.chanceData = this.chanceData.concat(res.data.list)
						this.chancePags.total = res.data.total
					})
					.finally(() => {
						this.dataLoading = false
						uni.stopPullDownRefresh()
					})
			},
			getAvatar(item) {
				switch(item.gender) {
					case '男':
						return '../../../static/avatar_b.png'
						break
					case '女':
						return '../../../static/avatar_g.png'
						break
					default:
						return '../../../static/avatar_n.png'
						break
				}
			}
		}
	}
</script>

<style lang="less">
	.flex(@A, @B, @C, @D) {
		display: flex;
		flex-direction: @A;
		flex-wrap: @B;
		justify-content: @C;
		align-items: @D;
	}

	.chance_container {

		.nav_header {
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			z-index: 999;
		}

		.chance_content {

			.list_container {
				padding-top: 71rpx;
			}

			.search_container {
				position: relative;
				.van-search {
					position: fixed;
					left: 0;
					right: 0;
					z-index: 101;

					.van-search__action {
						color: #1FE3A8;
					}
				}
				.fiter_dot {
					position: absolute;
					top: 30rpx;
					right: 8rpx;
					width: 8rpx;
					height: 8rpx;
					border-radius: 50%;
					background: red;
				}
			}

			.chance_list_container {
				padding-top: 120rpx;
				.flex(column, wrap, flex-start, center);

				.list_item {
					padding: 20rpx 20rpx 32rpx 20rpx;
					box-sizing: border-box;
					width: 690rpx;
					background: #FFFFFF;
					box-shadow: 0 0rpx 20rpx 0 rgba(154, 154, 154, 0.16);
					border-radius: 20rpx;
					margin-bottom: 20rpx;

					.header_container {
						.flex(row, nowrap, flex-start, center);

						.user_avatar {
							width: 96rpx;
							height: 96rpx;
							border-radius: 50%;
							margin-right: 6rpx;
						}

						.right {
							flex: 1;
						}
					}

					.row_start {
						.flex(row, wrap, flex-start, center);

						.tags_container {
							.flex(row, wrap, flex-start, center);

							.tag {
								padding: 2rpx 12rpx;
								border-radius: rpx;
								background: #F5F5F5;
								font-size: 24rpx;
								color: #999999;
								margin-right: 18rpx;
								border-bottom: 10rpx;
								border-radius: 10rpx;
							}
						}
					}

					.row {
						.flex(row, wrap, space-between, center);
						padding-bottom: 10rpx;

						.name {
							max-width: 200rpx;
							font-size: 32rpx;
							font-weight: 500;
							color: #333333;
							margin-right: 28rpx;
						}

						.no {
							font-size: 26rpx;
							font-weight: 500;
							color: #02BFEE;
						}

						.desc {
							font-size: 23rpx;
							color: #333333;
						}

						.state {
							.flex(row, wrap, flex-end, center);

							.dot {
								width: 8rpx;
								height: 8rpx;
								border-radius: 50%;
								margin-right: 14rpx;
								background: #1EE5A9;
							}

							.txt {
								font-size: 24rpx;
								font-weight: 500;
								color: #1EE5A9;
							}
						}
					}

					.value {
						margin-top: 41rpx;
						font-size: 24rpx;
						font-weight: 500;
						color: #45675D;
						line-height: 33rpx;
					}

					.info_container {
						margin-top: 42rpx;
						.flex(row, wrap, space-between, center);
						
						.info_obtains {
							.flex(row, wrap, flex-start, center);
							.ellipsis {
								margin-left: 10rpx;
								font-size: 28rpx;
							}
						}

						.info_obtains_row {
							.flex(row, nowrap, flex-start, center);
							max-width: 417rpx;
							overflow: hidden;

							.line {
								flex-shrink: 0;
								width: 32rpx;
								height: 2rpx;
								background: #D8DFEC;
								margin: 0 4rpx;
							}

							.dot {
								flex-shrink: 0;
								width: 12rpx;
								height: 12rpx;
								background: #22DEAC;
								border: 2rpx solid #38BDBD;
								border-radius: 50%;
							}

							.unactive {
								background: #C9C9C9 !important;
								box-shadow: 0 0 8rpx 0 #FCFCFC !important;
								border: 2rpx solid #B8B8B8 !important;
							}
						}
							
						.row_bottom {
							align-self: flex-end!important;
							position: relative;
							top: 8rpx;
						}
						
						.marB20 {
							margin-bottom: 25rpx;
						}

						.info_row {
							.flex(row, wrap, flex-start, center);
							font-size: 26rpx;
							color: #333333;

							image {
								width: 28rpx;
								height: 26rpx;
								margin-right: 22rpx;
							}

							.name {
								max-width: 300rpx;
								font-weight: 500;
							}

							.txt {
								color: #999999;
							}
						}
					}
				}
			}
		}

		.btn_container {
			bottom: 144rpx !important;
		}
		
		.active {
			color: #4AD4FF;
			background: #EFFCFF;
		}
	}
</style>
