<template>
	<view class="question_container">
		<navbar :navInfo="navInfo" class="question_header"></navbar>
		<view class="question_content" :style="{'padding-top': navHeight + 'px'}" v-if="questionList.length > 0">
			<view class="tips">
				{{questionInfo.introduction}}
			</view>
			<view class="question_single" v-for="(item,index) in questionList" :key="index">
				<view class="question_title">
					{{item.title}}
				</view>
				<van-radio-group v-model="item.value" @change="onChange($event,item,index)">
					<van-radio checked-color="#1DE5A8" :name="subItem.id" icon-size="36rpx" v-for="(subItem,subIndex) in item.optionList"
					 :key="subIndex">{{subItem.title}}</van-radio>
				</van-radio-group>
			</view>
			<view class="submit_btn" v-if="questionList.length > 0" @click="submit">提交问卷</view>
		</view>
	</view>
</template>

<script>
	import navbar from '../../../components/navbar.vue'
	import app from '../../../App.vue'
	export default {
		components: {
			navbar
		},
		data() {
			return {
				navInfo: {
					"bg_color": "",
					"color": "#FFFFFF",
					"flag": 2,
					"name": "问卷调查",
					"backType": 1
				},
				isIpx: app.globalData.isIpx,
				navHeight: app.globalData.navHeight,
				requestUrl: "",
				questionList: [],
				questionInfo: {},
				tipsContent: "",
				type: "",
				from: "",
				userInfo: {}

			}
		},
		onLoad(options) {
			this.from = options.from || ""
			this.type = options.type
			this.requestUrl = options.type == "buy" ? "/mp/user/questionnaire/buy" : "/mp/user/questionnaire/trial"
			this.tipsContent = options.type == "buy" ? "" : ""
			this.getQuestionList()
		},
		onShow() {
		},
		methods: {
			// 获取用户信息
			getUserInfo(type) {
				let that = this
				this.$http("/mp/user/info", "GET", {}).then(res => {
					this.userInfo = res.data
					if (type == "trial") {
						uni.showToast({
							duration: 2000,
							icon: "none",
							title: "恭喜通过测试"
						})
						setTimeout(() => {
							if (that.from == "vip") {
								if (res.data.answerBuyQuestionnaire && res.data.answerTrialQuestionnaire) {
									uni.navigateBack({
										delta: that.findPage()
									})
								} else {
									uni.navigateBack()
								}
							} else {
								uni.navigateBack()
								// uni.redirectTo({
								// 	url: "/pages/pagesPerson/index/index"
								// })
							}
						}, 2000)
					} else {
						uni.showToast({
							duration: 2000,
							icon: "none",
							title: "恭喜你，通过测试，前往续费吧～"
						})
						setTimeout(() => {
							if (that.from == "vip") {
								if (res.data.answerBuyQuestionnaire && res.data.answerTrialQuestionnaire) {
									uni.navigateBack({
										delta: that.findPage()
									})
								} else {
									uni.navigateBack()
								}
							} else {
								uni.redirectTo({
									url: "/pages/pagesPerson/vip/vip"
								})
							}
						}, 2000)
					}
				})
			},
			findPage() {
				let pages = getCurrentPages()
				for (let i = 0; i < pages.length; i++) {
					let page = pages[i]
					if (page.route == "pages/pagesPerson/vip/vip") {
						return pages.length - i
					}
				}
			},
			// 问卷选择
			onChange(event, item, index) {
				item.value = event.detail
				this.$set(this.questionList, index, item)
			},
			// 获取问卷列表数据
			getQuestionList() {
				this.$http(this.requestUrl, "GET", {}).then(res => {
					this.navInfo.name = res.data.title
					this.questionInfo = res.data
					this.questionList = res.data.topicList
					this.questionList.map(item => {
						item.value = ""
					})
				})
			},
			// 提交问卷
			submit() {
				uni.showLoading({
					mask: true
				})
				let answerInfo = {}
				let that = this
				for (let i = 0; i < this.questionList.length; i++) {
					let item = this.questionList[i]
					if (!item.value) {
						uni.hideLoading()
						this.$error.tipsError("请填写完整的问卷")
						return
					} else {
						answerInfo[item.id] = item.value
					}
				}
				let params = {
					answer: answerInfo,
					id: this.questionInfo.id
				}
				this.$http("/mp/user/questionnaire/answer", "POST", params).then(res => {
					if (res.data) {
						let text = this.type == "buy" ? "" : ""
						this.getUserInfo(this.type)
						if (this.type == "trial") {
							// uni.showToast({
							// 	duration: 2000,
							// 	icon: "none",
							// 	title: "恭喜获得7天时长"
							// })
							// setTimeout(() => {
							// 	uni.redirectTo({
							// 		url: "/pages/pagesPerson/index/index"
							// 	})
							// }, 2000)
						} else {
							// uni.showToast({
							// 	duration: 2000,
							// 	icon: "success",
							// 	title: "恭喜你，通过测试，前往续费吧～"
							// })
							// setTimeout(() => {
							// 	uni.redirectTo({
							// 		url: "/pages/pagesPerson/vip/vip"
							// 	})
							// }, 2000)
						}
					} else {
						if (this.type == "trial") {
							this.$error.submitModal("很遗憾，未能通过测评，可重新回答。", this.type, "重新回答", "放弃")
						} else {
							if (this.$isAndroid()) {
								uni.showModal({
									title: "温馨提示",
									content: "鉴于你在试用期间并没有用心理解销Soul，我们不确定你后期是否会在销Soul的辅助下用心成长，所以不建议购买VIP。",
									confirmText: "继续购买",
									cancelText: "听从建议",
									success(res) {
										if (res.confirm) {
											that.$http("/mp/user/questionnaire/confirmAnswered", "GET", {}).then(res => {
												that.getUserInfo("buy")
												// uni.showToast({
												// 	duration: 2000,
												// 	icon: "none",
												// 	title: "恭喜你，通过测试，前往续费吧～"
												// })
												// setTimeout(() => {
												// 	if (that.from == "vip") {
												// 		uni.navigateBack({
												// 			delta:that.findPage()
												// 		})
												// 	} else {
												// 		uni.redirectTo({
												// 			url: "/pages/pagesPerson/vip/vip"
												// 		})
												// 	}
												// }, 2000)
											})
										} else {
											uni.navigateBack()
											// uni.redirectTo({
											// 	url: "/pages/pagesPerson/index/index"
											// })
										}
									}
								})
							}else {
								uni.showModal({
									title: "温馨提示",
									content: "鉴于你在试用期间并没有用心理解销Soul，我们不确定你后期是否会在销Soul的辅助下用心成长，所以不建议购买VIP。",
									confirmText: "继续购买",
									cancelText: "听从建议",
									success(res) {
										if (res.confirm) {
											that.$http("/mp/user/questionnaire/confirmAnswered", "GET", {}).then(res => {
												that.getUserInfo("buy")
											})
										} else {
											uni.navigateBack()
										}
									}
								})
							}
							
						}
					}
				})
			}
		}
	}
</script>

<style lang="less">
	.flex(@A, @B, @C, @D) {
		display: flex;
		flex-direction: @A;
		flex-wrap: @B;
		justify-content: @C;
		align-items: @D;
	}

	.question_container {
		position: relative;
		box-sizing: border-box;
		padding: 30rpx 30rpx 170rpx 30rpx;

		.submit_btn {
			width: 300rpx;
			height: 80rpx;
			background: #1DE5A8;
			border-radius: 20rpx;
			margin: 40rpx auto 0rpx auto;
			font-size: 34rpx;
			font-weight: bold;
			color: #FFFFFF;
			display: block;
			line-height: 80rpx;
			padding: 0rpx;
			position: fixed;
			left: 50%;
			margin-left: -150rpx;
			bottom: 120rpx;
			border: none;
			text-align: center;
			box-sizing: border-box;
		}

		.question_header {
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			z-index: 99999999;
		}

		.question_content {
			.question_single {
				margin-bottom: 30rpx;
			}

			.tips {
				font-size: 34rpx;
				color: #333333;
				margin-bottom: 15rpx;
				font-weight: bold;
				text-align: center;
			}

			.van-radio {
				margin-bottom: 10rpx !important;
				box-sizing: border-box;
				padding-left: 10rpx;
			}

			.van-radio__label {
				font-size: 30rpx;
				color: #666666;
				line-height: 40rpx;
			}

			.question_title {
				font-size: 32rpx;
				color: #333333;
				margin-bottom: 20rpx;
				// font-weight: bold;
			}
		}
	}
</style>
