<template>
	<view class="deal_index">
		<navbar :navInfo="navInfo" class="share_header"></navbar>
		<view class="deal_content" :style="{ 'margin-top': navHeight + 'px' }">
			<view class="title_box">
				<view class="title">名词解释</view>
				<view class="text">{{ detailInfo.content || '&nbsp;' }}</view>
			</view>
			<view class="strength_box">
				<view class="strength_title">对应实力</view>
				<view class="title_box">
					<view class="title1">能力</view>
					<view class="title2">得分</view>
					<view class="title3">心得</view>
					<view class="title4">近20次表现</view>
				</view>
				<view v-if="detailInfo.skills && detailInfo.skills.length > 0">
					<view class="strength_single" v-for="(item, index) in detailInfo.skills" :key="index" @click="bindExperience(item)">
						<view class="single_left">
							<view class="single_title">
								{{ item.skillName }}
								<!-- <view class="">
							</view>
							<view class="">
							</view> -->
							</view>
							<view class="single_score">
								<!-- <text class="score">{{item.avg}}</text> -->
								<text class="score">{{ item.score }}</text>
								<text>分</text>
							</view>
							<view class="left_line"></view>
						</view>
						<view class="single_right">
							<view class="single_count">
								<text class="count">{{ item.knowledgeTotal }}</text>
								<text>篇</text>
								<view class="draft_box" v-if="item.knowledgeDraft > 0"></view>
							</view>
							<view class="status_box">
								<view
									class="low_status"
									:style="{ background: subItem == 1 ? '#FF4A4A' : subItem == 2 ? '#FFBD41' : '#40C367' }"
									v-for="(subItem, subIndex) in item.twenty"
									:key="subIndex"
								></view>
							</view>
						</view>
					</view>
				</view>
				<view v-else class="title_box">
					<view class="text">&nbsp;</view>
					<view class="text">&nbsp;</view>
				</view>
			</view>
			<view class="promote_box">
				<view class="promote_title">学习提升</view>
				<view class="promote_list" v-if="detailInfo.recommends.length > 0">
					<view class="list_single" v-for="(item, index) in detailInfo.recommends" :key="index" @click="bindDetail(item.type, item)">
						<view class="list_left">{{ index + 1 }}、{{ item.content }}</view>
						<view class="list_right">
							<image src="../../../static/play_icon.png" mode="" class="list_icon" v-if="item.type == 'video'"></image>
							<image src="../../../static/qa_icon.png" mode="" class="list_icon" v-if="item.type == 'help'"></image>
						</view>
					</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
import navbar from '../../../components/navbar.vue';
import app from '../../../App.vue';
export default {
	components: {
		navbar
	},
	data() {
		return {
			navInfo: {
				bg_color: '',
				color: '#5F370F',
				flag: 2,
				name: '元素详情',
				backType: 2
			},
			isIpx: app.globalData.isIpx,
			navHeight: app.globalData.navHeight,
			itemsID: '',
			detailInfo: {},
			link: '',
			video: '',
			text: ''
		};
	},
	onLoad(options) {
		this.itemsID = options.id;
		this.getDetails();
	},
	methods: {
		// 跳转实战心得页面
		bindExperience(item) {
			uni.navigateTo({
				url: `/pages/pagesGrow/experience/experience?skillId=${item.skillId}`
			});
		},
		// 跳转详情
		bindDetail(type, item) {
			if (type == 'video' || type == 'link') {
				let url = type == 'video' ? '/pages/pagesGrow/video/video' : '/pages/pagesGrow/webview/webview';
				this[type] = item.typeParam;
				uni.navigateTo({
					url: url
				});
			} else if (type == 'text') {
				this.text = item.typeParam;
				uni.navigateTo({
					url: '/pages/pagesGrow/textpage/textpage'
				});
			} else if (type == 'help') {
				this.$error.tipsError(item.typeParam);
			} else if (type == 'page') {
				uni.navigateTo({
					url: item.typeParam
				});
			}
		},
		// 获取成交元素详情
		getDetails() {
			this.$http('/mp/deal-element/detail', 'GET', {
				id: this.itemsID,
				mock: false
			}).then(res => {
				this.detailInfo = res.data;
				this.navInfo.name = this.detailInfo.name;
				this.detailInfo.skills.map(item => {
					item.score = this.$format.formatNumber(item.avg, 0);
				});
			});
		}
	}
};
</script>

<style lang="less">
.flex(@A, @B, @C, @D) {
	display: flex;
	flex-direction: @A;
	flex-wrap: @B;
	justify-content: @C;
	align-items: @D;
}

.deal_index {
	background: #e8e5e0;
	min-height: 100vh;

	.share_header {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 999999;
	}

	.deal_content {
		box-sizing: border-box;

		.title_box {
			box-sizing: border-box;
			padding: 26rpx 32rpx 58rpx 32rpx;
			font-size: 28rpx;
			line-height: 40rpx;

			.title {
				font-weight: bold;
				color: #593e0d;
				margin-bottom: 10rpx;
			}

			.text {
				color: #666666;
			}
		}

		.strength_box {
			box-sizing: border-box;
			padding-bottom: 42rpx;

			// padding: 0rpx 32rpx 42rpx 32rpx;
			.strength_title {
				box-sizing: border-box;
				font-size: 28rpx;
				line-height: 40rpx;
				color: #593e0d;
				font-weight: bold;
				margin-bottom: 20rpx;
				padding: 0 32rpx;
			}

			.title_box {
				font-size: 22rpx;
				line-height: 32rpx;
				color: #5c4212;
				text-align: center;
				box-sizing: border-box;
				padding: 0rpx 30rpx 20rpx 30rpx;
				.flex(row, nowrap, space-between, center);

				.title1 {
					// width: 52rpx;
					width: 65rpx;
					margin-right: 54rpx;
				}

				.title2 {
					// width: 190rpx;
					width: calc(278rpx - 65rpx - 64rpx - 34rpx);
				}

				.title3 {
					width: 100rpx;
					padding-left: 20rpx;
					text-align: left;
					box-sizing: border-box;
				}

				.title4 {
					width: 290rpx;
					text-align: left;
					box-sizing: border-box;
					padding-left: 30rpx;
					// width: calc(100% - 52rpx - 190rpx - 152rpx);
				}
			}

			.strength_single {
				height: 96rpx;
				width: 750rpx;
				box-sizing: border-box;
				background: #f5f3ef;
				margin-bottom: 20rpx;
				.flex(row, nowrap, space-between, center);

				.single_left {
					width: 278rpx;
					box-sizing: border-box;
					.flex(row, nowrap, space-between, center);

					.single_title {
						font-size: 26rpx;
						line-height: 36rpx;
						font-weight: bold;
						color: #593e0d;
						margin-left: 34rpx;
						margin-right: 64rpx;
						width: 65rpx;
					}

					.single_score {
						font-size: 20rpx;
						color: #ffab0b;

						.score {
							font-size: 48rpx;
							line-height: 66rpx;
							font-weight: bold;
						}
					}

					.left_line {
						width: 2rpx;
						height: 41rpx;
						background: #979797;
					}
				}

				.single_right {
					width: 472rpx;
					box-sizing: border-box;
					padding-left: 46rpx;
					padding-right: 32rpx;
					.flex(row, nowrap, space-between, center);

					.single_count {
						font-size: 20rpx;
						line-height: 28rpx;
						color: #8d6213;
						position: relative;

						.draft_box {
							width: 16rpx;
							height: 16rpx;
							border-radius: 8rpx;
							background: #ff4040;
							position: absolute;
							top: 0rpx;
							right: -10rpx;
						}

						.count {
							font-size: 48rpx;
							line-height: 66rpx;
							font-weight: bold;
						}
					}

					.status_box {
						box-sizing: border-box;
						padding-left: 28rpx;
						width: 290rpx;
						.flex(row, wrap, flex-start, center);

						.low_status {
							margin-left: 10rpx;
							width: 18rpx;
							height: 18rpx;
							background: #ff4a4a;
							margin-top: 10rpx;
						}

						.middler_status {
							margin-left: 10rpx;
							width: 18rpx;
							height: 18rpx;
							background: #ffbd41;
							margin-top: 10rpx;
						}

						.high_status {
							margin-left: 10rpx;
							width: 18rpx;
							height: 18rpx;
							background: #40c367;
							margin-top: 10rpx;
						}
					}
				}
			}
		}

		.promote_box {
			box-sizing: border-box;
			padding: 0rpx 32rpx 32rpx 32rpx;

			.promote_title {
				font-size: 28rpx;
				line-height: 40rpx;
				color: #593e0d;
				font-weight: bold;
				margin-bottom: 14rpx;
			}

			.promote_list {
				.list_single {
					box-sizing: border-box;
					padding: 20rpx 0rpx;
					border-bottom: 4rpx dashed #a39d92;
					.flex(row, nowrap, space-between, center);

					.list_left {
						width: calc(100% - 50rpx);
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						font-size: 26rpx;
						line-height: 36rpx;
						color: #444444;
					}

					.list_right {
						width: 32rpx;
						height: 32rpx;

						.list_icon {
							width: 32rpx;
							height: 32rpx;
							display: block;
						}
					}
				}
			}
		}
	}
}
</style>
