<template>
	<view>
		<navbar :navInfo="navInfo" class="share_header"></navbar>
		<video id="myVideo" :src="sourceUrl"  :controls="controls"  :autoplay="true" @timeupdate="timeUpdate" :direction="direction" @ended="bindended" v-if="videoInfo.type == 'video'"></video>
		<imt-audio autoplay ref="audioRef" :info="dataInfo" :src="sourceUrl" v-if="videoInfo.type == 'audio'"></imt-audio>
	</view>
</template>

<script>
	import imtAudio from '@/pages/pagesGrow/components/imt-audio/imt-audio.vue'
	import navbar from '../../../components/navbar.vue'
	import app from '../../../App.vue'
	export default {
		components: {
			imtAudio
		},
		data() {
			return {
				navInfo: {
					"bg_color": "",
					"color": "#5F370F",
					"flag": 2,
					"name": "视频播放",
					"backType": 2
				},
				isIpx: app.globalData.isIpx,
				navHeight: app.globalData.navHeight,
				sourceUrl: "",
				direction: 90,
				backVisible: false,
				urlVisible: false,
				duration: 0.0,
				controls: false,
				force: false,
				videoInfo: {
					id: null,
					tutorialId: null,
					type: ''
				},
				dataInfo: {},
				userLevel: uni.getStorageSync('userLevel'),
				pageVisible: true
			}
		},
		onLoad(options) {
			this.videoInfo.tutorialId = options.tutorialId ? options.tutorialId : null
			this.videoInfo.id = options.id ? options.id : null
			this.direction = options.direction ? options.direction : 90
			this.backVisible = options.backVisible ? true : false
			if(options.videoUrl) {
				this.urlVisible = true
				this.sourceUrl = decodeURIComponent(options.videoUrl)
			}
			if (options.force) {
				this.force = options.force
			}
			const that = this;
			if (!this.force) {
				this.controls = true
			}else {
				this.controls = false
			}
			if(this.videoInfo.tutorialId && this.videoInfo.id) {
				this.controls = true
			}
		},
		onHide() {
			this.reportDuration();
		},
		onUnload() {
			this.reportDuration();
		},
		onReady(res) {
			let pages = getCurrentPages()
			let prevPage = pages[pages.length - 2]
			if(this.videoInfo.tutorialId && this.videoInfo.id) {
				this.getVideo()
			}else {
				this.videoInfo.type = 'video'
				this.sourceUrl = this.urlVisible ? this.sourceUrl : prevPage.$vm.video
				this.$nextTick(()=>{
					this.videoContext = uni.createVideoContext('myVideo')
					this.videoContext.requestFullScreen()
				})
			}
		},
		methods: {
			bindended() {
				if(this.backVisible) {
					uni.reLaunch({
						url: '/pages/index/index'
					})
				}
			},
			timeUpdate(event) {
				this.duration += 250
			},
			//获取资源
			getVideo() {
				let params = {
					id: this.videoInfo.id,
					tutorialId: this.videoInfo.tutorialId
				}
				this.$http("/mp/tutorial/media/itemDetail", "GET", params).then(res => {
					// if(res.data.userLevel.indexOf(this.userLevel) == -1) {
					// 	this.pageVisible = false
					// 	return
					// }
					this.dataInfo = res.data
					this.videoInfo.type = res.data.type
					this.sourceUrl = res.data.url
					this.$nextTick(()=>{
						if(res.data.type == 'video') {
							this.videoContext = uni.createVideoContext('myVideo')
							this.videoContext.requestFullScreen()
						}
						if(res.data.type == 'audio') {
							this.$refs.audioRef.init()
						}
					})
				})
			},
			reportDuration() {
				// 上报数据
				if (this.duration > 0 && this.sourceUrl.length > 0) {
					try {
						this.$logUtils.reportDuration(this.sourceUrl, this.duration/1000);
						this.duration = 0;
					}catch(e) {
					}
				}
			}
		}
	}
</script>

<style>
	video {
		width: 100%;
	}
</style>
