<template>
	<view class="share_index">
		<navbar :navInfo="navInfo" class="share_header"></navbar>
		<!-- <view class="share_content" :style="{'margin-top': navHeight + 'px'}"> -->
		<view class="share_content" :style="{'margin-top': 'calc(' + navHeight + 'px - ' + 1 + 'px)'}">
			<view class="share_banner">
				<view class="title_box">
					<view class="radius">
					</view>
					<view class="title_text">
						{{caseInfo.name}}
					</view>
				</view>
				<view class="textarea_box">
					<textarea :disabled="disabled" :maxlength="-1" v-model="caseInfo.requirement" :auto-height="true" class="textarea" placeholder=""
					 placeholder-class="placeholder" />
					<!-- 	{{caseInfo.requirement}} -->
				</view>
				<view class="share_info">
					<view class="info_single">
						分享人：{{caseInfo.signed}}
					</view>
					<view class="info_single center">
						{{caseInfo.industry}}
					</view>
					<view class="info_single right">
						{{caseInfo.type}}
					</view>
				</view>
			</view>
			<view class="case_box">
				<view class="case_single" v-for="(item,index) in caseInfo.fieldList" :key="index">
					<view class="case_header">
						<view class="single_left">
							<image src="../../../static/share_book.png" mode="" class="share_book"></image>
							<view class="share_title">
								{{item.fieldName}}
							</view>
						</view>
						<view class="single_right">
							NO.{{index + 1}}
						</view>
					</view>
					<view class="case_content">
						<!-- {{item.fieldValue}} -->
						<textarea :disabled="disabled" :maxlength="-1" v-model="item.fieldValue" :auto-height="true" class="textarea" placeholder=""
						 placeholder-class="placeholder" />
						</view>
				</view>
				<!-- 		<view class="case_single">
					<view class="case_header">
						<view class="single_left">
							<image src="../../../static/share_book.png" mode="" class="share_book"></image>
							<view class="share_title">
								破冰
							</view>
						</view>
						<view class="single_right">
							NO.1
						</view>
					</view>
					<view class="case_content">
						<textarea :auto-height="true" class="textarea" value="" placeholder="请设置提示语" placeholder-class="placeholder" />
					</view>
				</view> -->
			</view>
		</view>
		<view class="global_btn_box">
			<button type="default" open-type="share" class="global_share_btn">
				<image src="../../../static/btn_back.png" mode="" class="global_btn_back"></image>
				<view class="global_btn_text">
					确认分享
				</view>
			</button>
		<!-- 	<button type="default" open-type="share" class="share_button">
			</button> -->
		</view>
		
	</view>
</template>

<script>
	import navbar from '../../../components/navbar.vue'
	import app from '../../../App.vue'
	export default {
		components: {
			navbar
		},
		data() {
			return {
				navInfo: {
					"bg_color": "",
					"color": "#5F370F",
					"flag": 2,
					"name": "案例分享",
					"backType": 2
				},
				isIpx: app.globalData.isIpx,
				navHeight: app.globalData.navHeight,
				caseId: "",
				caseInfo: {},
				showModal: false,
				userInfo: {},
				opportunity: {},
				dealElementList: [],
				originText: "",
				newText: "",
				shareId: "",
				disabled: true
			}
		},
		onLoad(options) {
			this.caseId = options.id?options.id:""
			// this.getCaseDetail()
			// uni.loadFontFace({
			// 	family:"my-font",
			// 	source: "https://cdn.xiaohun.baiziio.com/fonts/FZXBSJW.TTF",
			// 	success: () => {
			// 		console.log("字体加载")
			// 	},
			// })
			// this.getUserInfo()
		},
		onShow() {
			this.getCaseDetail()
		},
		onShareAppMessage() {
			// this.modalChange(false,"")
			// this.confirmShare()
			return {
				title: "案例分享:" + this.caseInfo.name,
				path: `/pages/pagesGrow/shareInfo/shareInfo?shareId=${this.shareId}&signedId=${this.caseInfo.signedId}&caseId=${this.caseId}`
			}
		},
		methods: {
			// 替换字符串
			replaceFunc(str) {
				return str.replace(new RegExp(this.originText, 'g'), this.newText)
			},
			// 确认分享
			confirmShare() {
				// this.caseInfo.contentJson = this.replaceFunc(this.caseInfo.contentJson)
				this.caseInfo.industry = this.replaceFunc(this.caseInfo.industry)
				this.caseInfo.name = this.replaceFunc(this.caseInfo.name)
				// this.caseInfo.requirement = this.replaceFunc(this.caseInfo.requirement)
				this.caseInfo.contentJson = JSON.stringify(this.caseInfo.fieldList)
				// contentJson
				let {
					contentJson,
					industry,
					name,
					requirement
				} = this.caseInfo
				let params = {
					contentJson,
					industry,
					name,
					requirement
				}
				params.id = this.shareId
				// params.name = "Emily"
				this.$http("/mp/user/case/shared/one", "POST", params).then(res => {

				})
			},
			// 显示隐私弹窗
			modalChange(type,name) {
				this.showModal = type
				if (name == "check") {
					uni.navigateTo({
						url:`/pages/pagesGrow/newCase/newCase?id=${this.caseId}&from=share`
					})
				}
				
			},
			getCaseDetail() {
				this.$http("/mp/user/case/shared/default", "GET", {
					caseId: this.caseId
				}).then(res => {
					this.caseInfo = res.data
					this.shareId = res.data.id
				})
			},
		}
	}
</script>

<style lang="less" scoped>
	.flex(@A, @B, @C, @D) {
		display: flex;
		flex-direction: @A;
		flex-wrap: @B;
		justify-content: @C;
		align-items: @D;
	}
	.share_index {
		background: #E8E5E0;
		min-height: 100vh;
		font-family: my-font;
		
		button {
			padding-left: 0;
			padding-right: 0;
			background-color: #E8E5E0;
			border: none;
		}
		
		button::after {
			background: none;
			border: none;
			// background:rgba(51, 51, 51, 0.5)
		}
		.share_header {
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			z-index: 999999;
		}

		.share_content {

			.share_banner {
				background-image: url('https://xiaoguan-67477.oss-cn-hangzhou.aliyuncs.com/bg/bg1.jpg');
				background-size: 100% 100%;
				box-sizing: border-box;
				padding: 16rpx 30rpx;

				.title_box {
					.flex(row, nowrap, flex-start, center);

					.radius {
						width: 16rpx;
						height: 16rpx;
						border-radius: 8rpx;
						background: #FFFFFF;
						margin-right: 8rpx;
					}

					.title_text {
						font-size: 32rpx;
						line-height: 44rpx;
						color: #FFFFFF;
						font-weight: bold;
					}
				}

				.textarea_box {
					width: 100%;
					background: rgba(246, 246, 245, .1);
					border-radius: 16rpx;
					box-sizing: border-box;
					padding: 20rpx;
					overflow: hidden;
					margin-top: 10rpx;
					margin-bottom: 20rpx;
					font-size: 32rpx;
					line-height: 42rpx;
					color: #593E0D;

					.share_textarea {
						font-size: 32rpx;
						line-height: 42rpx;
						color: #593E0D;
						background: rgba(246, 246, 245, .0);
					}

					.placeholder {
						font-size: 32rpx;
						line-height: 42rpx;
					}
					.textarea {
						min-height: 96rpx;
						width: 100%;
						font-size: 32rpx;
						color: #593E0D;
						line-height: 36rpx;
					}
					
				}

				.share_info {
					.flex(row, nowrap, center, center);

					.info_single {
						font-size: 26rpx;
						color: #593E0D;
						letter-spacing: 2rpx;
						width: 33.3%;
					}

					.center {
						text-align: center;
					}

					.right {
						text-align: right;
					}
				}
			}

			.case_box {
				.case_single {
					width: 686rpx;
					margin: 36rpx auto 0rpx auto;

					.case_header {
						margin-bottom: 14rpx;
						.flex(row, nowrap, space-between, center);

						.single_left {
							.flex(row, nowrap, flex-start, center);

							.share_book {
								width: 22rpx;
								height: 26rpx;
								display: block;
							}

							.share_title {
								font-size: 28rpx;
								line-height: 40rpx;
								color: #5B4010;
								margin-left: 8rpx;
							}
						}

						.single_right {
							padding: 0 6rpx;
							height: 24rpx;
							line-height: 24rpx;
							font-size: 22rpx;
							color: #FFFFFF;
							background: #D9B27E;
						}
					}

					.case_content {
						// background: #F5F3EF;
						background: rgba(245, 243, 239, .44);
						padding: 10rpx 20rpx;
						min-height: 96rpx;
						font-size: 24rpx;
						color: #666666;
						line-height: 36rpx;

						.textarea {
							min-height: 96rpx;
							width: 100%;
							font-size: 24rpx;
							color: #333333;
							line-height: 36rpx;
						}

						.placeholder {
							font-size: 22rpx;
							color: #666666;
							line-height: 36rpx;
						}
					}
				}
			}
		}

		.share_btn {
			position: fixed;
			width: 232rpx;
			height: 80rpx;
			bottom: 34rpx;
			left: 50%;
			z margin-left: -116rpx;

			.btn_back {
				width: 232rpx;
				height: 80rpx;
				display: block;
			}

			.btn_text {
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				text-align: center;
				font-size: 32rpx;
				color: #5F370F;
				font-weight: bold;
				line-height: 75rpx;
			}
		}
	}
</style>
