<template>
	<view class="chance_detail_container" :style="{'padding-top': navHeight + 'px'}">
		<nav-bar :navInfo="navInfo" class="nav_header"></nav-bar>
		<view class="bg" :style="{'top':navHeight+'px'}"></view>
		<view class="chance_detail_content">
			<view class="info_container">
				<image src="../../../static/progress_state1.png" class="type_img" v-if="chanceData.possibility=='优'" />
				<image src="../../../static/chance_state2.png" class="type_img" v-if="chanceData.possibility=='良'" />
				<image src="../../../static/chance_state3.png" class="type_img" v-if="chanceData.possibility=='小'" />
				<view class="header_container">
					<image :src="getAvatar(chanceData)" class="user_avatar" />
					<view class="right">
						<view class="row">
							<view class="row_start">
								<view class="name">{{chanceData.customerName ? chanceData.customerName : '' }}</view>
								<view class="tags_container">
									<view class="tag active" v-if="chanceData.referral">转介挖掘</view>
									<view class="tag" v-else>转介挖掘</view>
								</view>
							</view>
							<view class="no">NO.{{chanceData.seq?$format.formatZero(chanceData.seq,3):''}}</view>
						</view>
						<view class="row">
							<view class="desc">{{chanceData.alias ? chanceData.alias : ''}}</view>
							<view class="state">
								<view class="dot"></view>
								<view class="txt">{{chanceData.status ? chanceData.status : ''}}</view>
							</view>
						</view>
					</view>
				</view>

				<view class="value">
					{{chanceData.requirement ? chanceData.requirement : ''}}
				</view>
				<view class="inner_info_container">
					<view class="info_row">
						<image src="../../../static/client_cate4.png" />
						<view class="name van-ellipsis">{{chanceData.product ? chanceData.product : ''}}</view>
					</view>
					<view class="info_row">
						<view class="label">预期业绩：</view>
						<view class="txt">{{chanceData.revenue ? chanceData.revenue : ''}}</view>
					</view>
				</view>
				<view class="footer_container">
					<view class="footer_row">
						<view class="label">回款/成交:</view>
						<view :class="['txt',chanceData.couldPayback?'':'btn_disable']">{{chanceData.payback ? chanceData.payback : ''}}/{{chanceData.dealMoney ? chanceData.dealMoney : ''}}</view>
						<image src="../../../static/edit_icon1.png" v-if="chanceData.couldPayback" @click="handleToMoney" />
						<image src="../../../static/edit_icon_n.png" v-else />
					</view>
					<van-button @click="handleEdit(3)">编辑机会</van-button>
				</view>
				<view class="score_container">
					<view class="score_content" v-for="(item,index) in scoreList" :key="index" @click="handleScore(item)">
						<view class="score_item">
							<view class="name">{{item.elementName ? item.elementName : ''}}</view>
							<image :class="item.obtain?'score_l':''" :src="item.obtain?require('../../../static/chance_score_l.png'):require('../../../static/chance_score.png')" />
						</view>
						<view class="line" v-if="index+1<scoreList.length"></view>
					</view>
				</view>
			</view>
			<view class="operation_container">
				<view class="operation_item">
					<view class="left_item" :class="operationType==1?'operation_select':''" @click="handleOperation(1)">
						<image src="../../../static/squre_left_l.png" v-if="operationType==1" />
						<image src="../../../static/squre_left.png" v-else />
						<span>本客户推进</span>
					</view>
					<view class="center_item" @click="handleOperation(2)">
						<view class="img_container" :class="operationType==2?'shadow_green':'shadow_black'">
							<image src="../../../static/chance_center_l.png" v-if="operationType==2" />
							<image src="../../../static/chance_center.png" v-else />
						</view>
					</view>
					<view class="right_item" :class="operationType==3?'operation_select':''" @click="handleOperation(3)">
						<image src="../../../static/squre_right_l.png" v-if="operationType==3" />
						<image src="../../../static/squre_right.png" v-else />
						<span>转介绍推进</span>
					</view>
				</view>
			</view>
			<view class="list_container" v-if="operationType==1">
				<view class="list_item" v-for="(item,index) in progressData" :key="index" @click="handleProgressDetail(item)">
					<view class="tip_img">
						<view class="num">{{item.seq ? item.seq : ''}}</view>
						<image src="../../../static/top_tip.png" />
					</view>
					<view class="list_top_container">
						<view class="list_top_item">
							<view class="date">{{item.followupTime?$format.formatTimeCustom(new Date(item.followupTime),'/'):''}}</view>
							<view class="tags_container">
								<view class="tag">{{item.realWay?item.realWay:item.planWay}}</view>
								<view :class="['tag',item.summaryId?'':'grey']">总结</view>
							</view>
						</view>
						<view class="list_top_item">
							<view class="state">{{item.preStatus?item.preStatus:'?'}}</view>
							<image src="../../../static/next_icon.png" />
							<view class="money">{{item.postStatus?item.postStatus:'?'}}</view>
						</view>
					</view>
					<view class="txt">{{item.strategy}}</view>
				</view>
				<van-loading size="24rpx" v-if="dataLoadingList">加载中...</van-loading>
			</view>
			<view class="step_container" v-if="operationType==2">
				<communicateitem :dataInfo="item" :isLast="index+1==communicateData.length?true:false" v-for="(item,index) in communicateData"
				 :key="item.id" @edit="handleEditCommunicate"></communicateitem>
				<van-loading size="24rpx" v-if="dataLoadingList">加载中...</van-loading>
			</view>
			<view class="list_container" v-if="operationType==3">
				<view class="list_item" v-for="(item,index) in progressDataReferral" :key="index" @click="handleProgressDetail(item)">
					<view class="tip_img">
						<view class="num">{{item.seq}}</view>
						<image src="../../../static/top_tip.png" />
					</view>
					<view class="list_top_container">
						<view class="list_top_item">
							<view class="date">{{item.followupTime?$format.formatTimeCustom(new Date(item.followupTime),'/'):''}}</view>
							<view class="tags_container">
								<view class="tag">{{item.realWay?item.realWay:item.planWay}}</view>
								<view :class="['tag',item.summaryId?'':'grey']">总结</view>
							</view>
						</view>
						<view class="list_top_item">
							<view class="state">{{item.preStatus?item.preStatus:'?'}}</view>
							<image src="../../../static/next_icon.png" />
							<view class="money">{{item.postStatus?item.postStatus:'?'}}</view>
						</view>
					</view>
					<view class="txt">{{item.strategy}}</view>
				</view>
				<van-loading size="24rpx" v-if="dataLoadingList">加载中...</van-loading>
			</view>
		</view>
		<bottombtn btnName="新建沟通记录" @confirm="handleNew" v-if="operationType==2"></bottombtn>
		<bottombtn btnName="新建推进任务" @confirm="handleNew" v-else></bottombtn>
		<modual :modualInfo="modualInfo" @modualChange="modualChange" @modualConfirm="modualConfirm" @modualCancle="modualCancle" v-if="showModual"></modual>
		<modual :modualInfo="modualInfoActual" @modualConfirm="modualConfirmActual" @modualCancle="modualCancleActual" v-if="showModualActual"></modual>
		<modual :modualInfo="modualInfoPayback" @modualConfirm="modualConfirmPayback" @modualCancle="modualCanclePayback" v-if="showModualPayback"></modual>
		<modual :modualInfo="modualInfoHelpful" @modualConfirm="modualConfirmHelpful" @modualCancle="modualCancleHelpful" v-if="showModualHelpful"></modual>
		<modual :modualInfo="modualInfoCommunicate" @modualConfirm="modualConfirmCommunicate" @modualCancle="modualCancleCommunicate" v-if="showModualCommunicate"></modual>
		<modual :modualInfo="modualInfoProgress" @modualConfirm="modualConfirmProgress" @modualCancle="modualCancleProgress" v-if="showModualProgress"></modual>
		<van-action-sheet :show="actionShow" :actions="actions" @cancel="actionShow = false" cancel-text="取消" @select="handleActionSelect" />
	</view>
</template>

<script>
	import app from '../../../App.vue'
	import bottombtn from '@/components/bottombtn'
	import modual from '@/components/modual.vue'
	import communicateitem from '@/components/communicateitem.vue'
	export default {
		components: {
			bottombtn,
			communicateitem,
			modual
		},
		data() {
			return {
				showModual: false,
				modualInfo: {
					activeType: 5,
					showClose: false,
					showSingle: false,
					showBtns: false,
					title: "",
					content: "",
					cancleText: "取消",
					confirmText: "立即前往",
					backgroundUrl: require('@/static/blackboard7.png')
				},
				showModualPayback: false,
				modualInfoPayback: {
					activeType: 4,
					showClose: false,
					showSingle: false,
					showBtns: true,
					title: "",
					content: "",
					cancleText: "取消",
					confirmText: "立即前往"
				},
				showModualActual: false,
				modualInfoActual: {
					activeType: 2,
					showClose: false,
					showSingle: false,
					showBtns: true,
					title: "必读",
					content: "本次推进中是否有相关能力的实战心得，如果有一定要及时为自己沉淀下来。",
					cancleText: "取消",
					confirmText: "现在就去"
				},
				showModualHelpful: false,
				modualInfoHelpful: {
					activeType: 2,
					showClose: false,
					showSingle: false,
					showBtns: true,
					title: "干得漂亮",
					content: "如果感觉本案比较典型，建议进行案例复盘，及时沉淀成功经验。同时回忆一下销Soul对本次签单是否起到了辅助作用？",
					cancleText: "貌似没有",
					confirmText: "那必须滴"
				},
				showModualCommunicate: false,
				modualInfoCommunicate: {
					activeType: 3,
					showClose: false,
					showSingle: false,
					showBtns: true,
					title: "必读",
					content: "条理清晰的沟通记录有助于更好的把握销售机会。另外，首次销售沟通，如果没有成交，那么做好记录和分析是未来能否有机会推进成功的关键。如果首次沟通就成交了，那可以简单做个记录后及时去成长页面写下实战感悟或能力心得，有助于我们实力的沉淀和精进。",
					cancleText: "取消",
					confirmText: "新建"
				},
				showModualProgress: false,
				modualInfoProgress: {
					activeType: 2,
					showClose: false,
					showSingle: false,
					showBtns: true,
					title: "推进计划",
					content: "是否立即新建一个推进任务",
					cancleText: "取消",
					confirmText: "立即前往"
				},
				navInfo: {
					bg_color: '',
					color: '#FFFFFF',
					flag: 2,
					name: '机会详情',
					backType: 1
				},
				id: null,
				type: 'default',
				chanceData: {},
				scoreList: [],
				progressData: [],
				progressDataReferral: [],
				communicateData: [],
				actionShow: false,
				actions: [{
					name: '元素',
				}, {
					name: '求助销Soul',
				},, {
					name: '推进详情',
				}, ],
				progressPags: {
					current: 1,
					pageSize: 15,
					total: 1
				},
				progressPagsReferral: {
					current: 1,
					pageSize: 15,
					total: 1
				},
				communicatePags: {
					current: 1,
					pageSize: 15,
					total: 1
				},
				isIpx: app.globalData.isIpx,
				navHeight: app.globalData.navHeight,
				operationType: 1,
				dataLoading: true,
				dataLoadingList: false,
				currentElement: null
			}
		},
		onLoad(options) {
			this.id = options.id ? options.id : null
		},
		onShow() {
			if(app.globalData.chanceDetailType&&app.globalData.chanceDetailType == 1) {
				this.operationType = 1
				app.globalData.chanceDetailType = null
			}
			if(this.$utils.getStatus('chanceDetailCommunicate',0)) {
				this.showModualCommunicate = true
				this.$utils.setStatus("chanceDetailCommunicate")
			}else if(app.globalData.confirmChance.indexOf(this.id)>-1) {
				this.showModualHelpful = true
			}else if(this.$utils.getStatus('chanceDetail',2)) {
				this.showModual = true
				this.$utils.setStatus("chanceDetail")
			}else if(app.globalData.newSummary){
				this.showModualActual = true
			}
			this.getData()
			this.handleOperation(this.operationType)
		},
		onHide() {
			if(app.globalData.confirmChance.indexOf(this.id)>-1) {
				app.globalData.confirmChance.splice(app.globalData.confirmChance.indexOf(this.id),1)
			}
			app.globalData.newSummary = false
		},
		onUnload() {
			if(app.globalData.confirmChance.indexOf(this.id)>-1) {
				app.globalData.confirmChance.splice(app.globalData.confirmChance.indexOf(this.id),1)
			}
			app.globalData.newSummary = false
		},
		onReachBottom() {
			switch (this.operationType) {
				case 1:
					this.progressPags.current++
					if (this.progressData.length < this.progressPags.total)
						this.getList('default')
					break
				case 2:
					this.communicatePags.current++
					if (this.communicateData.length < this.communicatePags.total)
						this.getCommunicate()
					break
				case 3:
					this.progressPagsReferral.current++
					if (this.progressDataReferral.length < this.progressPagsReferral.total)
						this.getList('referral')
					break
			}
		},
		onPullDownRefresh() {
			switch (this.operationType) {
				case 1:
					this.getList('default', true)
					break
				case 2:
					this.getCommunicate(true)
					break
				case 3:
					this.getList('referral', true)
					break
			}
		},
		methods: {
			modualChange(type) {
				if (type == 'open') {
					this.showModual = true
				} else {
					this.showModual = false
				}
			},
			modualCancle() {
				this.showModual = false
			},
			modualConfirm() {
				this.showModual = false
				this.handleToMoney()
			},
			modualCancleActual() {
				this.showModualActual = false
			},
			modualConfirmActual() {
				this.showModualActual = false
				uni.navigateTo({
					url: '/pages/pagesGrow/experience/experience'
				})
			},
			modualCanclePayback() {
				this.showModualPayback = false
			},
			modualConfirmPayback() {
				this.showModualPayback = false
			},
			modualConfirmHelpful() {
				let params = {
					id: this.id,
					useful: true
				}
				this.$http("/mp/opportunity/helpful", "get", params)
					.then(res => {
						if (res.code == 200) {
							this.showModualHelpful = false
							this.showModualPayback = true
						}
					})
					.catch(() => {
						this.showModualHelpful = false
						this.showModualPayback = true
					})
			},
			modualCancleHelpful() {
				let params = {
					id: this.id,
					useful: false
				}
				this.$http("/mp/opportunity/helpful", "get", params)
					.then(res => {
						if (res.code == 200) {
							this.showModualHelpful = false
							this.showModualPayback = true
						}
					})
					.catch(() => {
						this.showModualHelpful = false
						this.showModualPayback = true
					})
			},
			modualConfirmCommunicate() {
				this.showModualCommunicate = false
				uni.navigateTo({
					url: '../../pagesClient/communicateAdd/communicateAdd?customerId=' + this.chanceData.customerId +
						'&customerName=' + this.chanceData.customerName + '&opportunityId=' + this.id
				})
			},
			modualCancleCommunicate() {
				this.showModualCommunicate = false
				this.showModualProgress = true
			},
			modualConfirmProgress() {
				let type = 'default'
				let params = {
					opportunityId: this.id,
					type: type,
				}
				
				this.$http("/mp/opportunity/followup/v2/initFollowupStatus", "get", params)
					.then(res => {
						if (res.code == 200) {
							this.showModualProgress = false
							uni.navigateTo({
								url: '../../pagesClient/progressAdd/progressAdd?opportunityId=' + this.id + '&workflowId=' + this.chanceData.defaultWorkflowId + '&type=' + type
							})
						}
					})
					.finally(() => {})
			},
			modualCancleProgress() {
				this.showModualProgress = false
			},
			handleOperation(type) {
				this.operationType = type
				switch (type) {
					case 1:
						this.getList('default', true)
						break
					case 2:
						this.getCommunicate(true)
						break
					case 3:
						this.getList('referral', true)
						break
				}
			},
			handleActionSelect(e) {
				let value = e.detail
				if (value.name == '求助销Soul') {
					uni.navigateTo({
						url: '../../pagesGrow/dealDetail/dealDetail?id=' + this.currentElement.elementId
					})

				} else if (value.name == '元素') {
					uni.navigateTo({
						url: '../../pagesClient/progress/progress?opportunityElementId=' + this.currentElement.id + '&opportunityId=' +
							this.id + '&isChange=true'
					})
				} else if (value.name == '推进详情') {
					uni.navigateTo({
						url: '../../pagesClient/progress/progress?opportunityId=' +
							this.id + '&isCheck=true'
					})
				} else {
					uni.navigateTo({
						url: '../../pagesClient/progress/progress?opportunityElementId=' + this.currentElement.id + '&opportunityId=' +
							this.id + '&isChange=true'
					})
				}
				this.actionShow = false
			},
			handleToMoney() {
				if(!this.chanceData.couldPayback) {
					return
				}
				uni.navigateTo({
					url: '../money/money?opportunityId=' + this.id + '&payback=' + this.chanceData.payback + '&revenue=' + this.chanceData
						.revenue + '&dealMoney=' + this.chanceData.dealMoney
				})
			},
			handleEditCommunicate(item) {
				uni.navigateTo({
					url: '../../pagesClient/communicateAdd/communicateAdd?id=' + item.id + '&customerName=' + this.chanceData.customerName +
						'&customerId=' + this.chanceData.customerId
				})
			},
			handleNew() {
				if (this.operationType == 2) {
					uni.navigateTo({
						url: '../../pagesClient/communicateAdd/communicateAdd?customerId=' + this.chanceData.customerId +
							'&customerName=' + this.chanceData.customerName + '&opportunityId=' + this.id
					})
				} else {
					let type = (this.operationType == 1 ? 'default' : 'referral')
					let params = {
						opportunityId: this.id,
						type: type,
					}

					this.$http("/mp/opportunity/followup/v2/initFollowupStatus", "get", params)
						.then(res => {
							if (res.code == 200) {
								uni.navigateTo({
									url: '../../pagesClient/progressAdd/progressAdd?opportunityId=' + this.id + '&workflowId=' + (this.operationType ==
										1 ? this.chanceData.defaultWorkflowId : this.chanceData.referralWorkflowId) + '&type=' + type
								})
							}
						})
						.finally(() => {})
				}
			},
			handleProgressDetail(item) {
				let url = '../../pagesClient/progressDetail/progressDetail?id=' + item.id + '&opportunityId=' + this.id
				if (item.communicationId)
					url += ('&communicationId=' + item.communicationId)
				if (item.summaryId)
					url += ('&summaryId=' + item.summaryId)
				if (item.status)
					url += ('&status=' + item.status)
				uni.navigateTo({
					url: url + '&workflowId=' + (this.operationType ==
						1 ? this.chanceData.defaultWorkflowId : this.chanceData.referralWorkflowId)
				})
			},
			handleEdit() {
				uni.navigateTo({
					url: '../add/add?customerId=' + this.id + '&customerName=' + this.chanceData.customerName + '&chanceInfo=' +
						JSON.stringify(this.chanceData)
				})
			},
			handleScore(item) {
				if (item.obtain) {
					this.actions[0].name = '修改'
				} else {
					this.actions[0].name = '评估'
				}
				this.currentElement = item
				this.actionShow = true
			},
			getData() {
				let params = {
					id: this.id
				}
				this.dataLoading = true
				this.$http("/mp/opportunity/one", "get", params)
					.then(res => {
						this.chanceData = res.data.opportunity
						this.scoreList = res.data.dealElementList
					})
					.finally(() => {
						this.dataLoading = false
					})
			},
			getCommunicate(refresh = false) {
				if (refresh) {
					this.communicateData = []
					this.communicatePags = {
						current: 1,
						pageSize: 15,
						total: 1
					}
				}
				let params = {
					current: this.communicatePags.current,
					opportunityId: parseInt(this.id),
					pageSize: 15
				}
				this.dataLoadingList = true
				this.$http("/mp/communication/pageList", "post", params)
					.then(res => {
						res.data.list.forEach(per => {
							if (per.attachment)
								per.attachment = per.attachment.split(',')
						})
						this.communicateData = this.communicateData.concat(res.data.list)
					})
					.finally(() => {
						this.dataLoadingList = false
						uni.stopPullDownRefresh()
					})
			},
			getList(type, refresh = false) {
				if (refresh) {
					this.progressData = []
					this.progressPags = {
						current: 1,
						pageSize: 15,
						total: 1
					}
					this.progressDataReferral = []
					this.progressPagsReferral = {
						current: 1,
						pageSize: 15,
						total: 1
					}
				}
				let params = {
					opportunityId: parseInt(this.id),
					current: type == 'default' ? this.progressPags.current : this.progressPagsReferral.current,
					pageSize: 15,
					type: type
				}
				this.dataLoadingList = true
				this.$http("/mp/opportunity/followup/pageList", "post", params)
					.then(res => {
						if (type == 'default') {
							this.progressData = this.progressData.concat(res.data.list)
							this.progressPags.total = res.data.total
						} else {
							this.progressDataReferral = this.progressDataReferral.concat(res.data.list)
							this.progressPagsReferral.total = res.data.total
						}
					})
					.finally(() => {
						this.dataLoadingList = false
						uni.stopPullDownRefresh()
					})
			},
			getAvatar(item) {
				switch (item.gender) {
					case '男':
						return '../../../static/avatar_b.png'
						break
					case '女':
						return '../../../static/avatar_g.png'
						break
					default:
						return '../../../static/avatar_n.png'
						break
				}
			}
		}
	}
</script>

<style lang="less">
	.flex(@A, @B, @C, @D) {
		display: flex;
		flex-direction: @A;
		flex-wrap: @B;
		justify-content: @C;
		align-items: @D;
	}

	.chance_detail_container {
		padding-top: 413rpx;
		padding-bottom: 132rpx;

		.nav_header {
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			z-index: 999;
		}

		.bg {
			position: absolute;
			left: 0;
			right: 0;
			height: 285rpx;
			background: linear-gradient(90deg, #1CE5A8 0%, #41AFC3 100%);
		}

		.chance_detail_content {
			.flex(column, nowrap, flex-start, center);
			position: relative;
			z-index: 10;

			.info_container {
				position: relative;
				overflow: hidden;
				padding: 20rpx;
				box-sizing: border-box;
				width: 690rpx;
				background: #FFFFFF;
				box-shadow: 0 0rpx 20rpx 0 rgba(154, 154, 154, 0.16);
				border-radius: 20rpx;
				margin-bottom: 20rpx;

				.type_img {
					position: absolute;
					top: 0;
					right: 138rpx;
					width: 98rpx;
					height: 73rpx;
				}

				.header_container {
					.flex(row, nowrap, flex-start, center);

					.user_avatar {
						width: 96rpx;
						height: 96rpx;
						border-radius: 50%;
						margin-right: 17rpx;
					}

					.right {
						flex: 1;
					}
				}

				.row_start {
					.flex(row, wrap, flex-start, center);

					.tags_container {
						.flex(row, wrap, flex-start, center);

						.tag {
							padding: 2rpx 12rpx;
							border-radius: rpx;
							background: #F5F5F5;
							font-size: 24rpx;
							color: #999999;
							margin-right: 18rpx;
							border-bottom: 10rpx;
							border-radius: 10rpx;
						}

						.active {
							color: #4AD4FF;
							background: #EFFCFF;
						}
					}
				}

				.row {
					.flex(row, wrap, space-between, center);
					padding-bottom: 10rpx;

					.name {
						max-width: 200rpx;
						font-size: 32rpx;
						font-weight: 500;
						color: #333333;
						margin-right: 28rpx;
					}

					.no {
						font-size: 26rpx;
						font-weight: 500;
						color: #02BFEE;
					}

					.desc {
						font-size: 23rpx;
						color: #333333;
					}

					.state {
						.flex(row, wrap, flex-end, center);

						.dot {
							width: 8rpx;
							height: 8rpx;
							border-radius: 50%;
							margin-right: 14rpx;
							background: #1EE5A9;
						}

						.txt {
							font-size: 24rpx;
							font-weight: 500;
							color: #1EE5A9;
						}
					}
				}

				.value {
					margin-top: 41rpx;
					font-size: 24rpx;
					font-weight: 500;
					color: #45675D;
					line-height: 33rpx;
				}

				.inner_info_container {
					margin-top: 22rpx;
					.flex(row, wrap, space-between, center);

					.info_row {
						.flex(row, wrap, flex-start, center);
						font-size: 26rpx;
						color: #333333;

						.label {
							color: #666666;
						}

						image {
							width: 28rpx;
							height: 26rpx;
							margin-right: 22rpx;
						}

						.name {
							max-width: 300rpx;
							font-weight: 500;
						}

						.txt {
							color: #333333;
							font-weight: 600;
						}
					}
				}

				.footer_container {
					margin-top: 17rpx;
					padding-bottom: 11rpx;
					border-bottom: 1rpx dashed #999999;
					.flex(row, wrap, space-between, flex-end);

					.footer_row {
						position: relative;
						.flex(row, wrap, flex-start, flex-end);
						font-size: 26rpx;
						font-weight: 500;
						top: 4rpx;
						color: #666666;

						.label {
							margin-right: 10rpx;
						}

						.txt {
							font-size: 26rpx;
						}
						
						.btn_disable {
							color: #999!important;
						}

						image {
							position: relative;
							top: 6rpx;
							width: 26rpx;
							height: 26rpx;
							padding: 20rpx 20rpx 12rpx 20rpx;
						}
					}

					.van-button {
						width: 104rpx;
						height: 40rpx;
						background: #FFFFFF;
						border: 1rpx solid #02C0EE;
						border-radius: 6rpx;
						font-size: 22rpx;
						color: #02BFEE;
						padding: 0;
					}
				}
			}

			.score_container {
				.flex(row, nowrap, flex-start, center);
				padding-top: 25rpx;

				.score_content {
					.flex(row, nowrap, flex-start, center);

					.score_item {
						.flex(column, nowrap, flex-start, center);

						.score_l {
							box-shadow: 0 0 10rpx 0 rgba(29, 228, 168, 0.67);
						}

						.name {
							width: 44rpx;
							font-size: 22rpx;
							font-weight: 500;
							color: #999999;
							line-height: 27rpx;
						}

						image {
							width: 27rpx;
							height: 27rpx;
							margin-top: 15rpx;
							border-radius: 50%;
						}
					}

					.line {
						align-self: flex-end;
						margin: 0 6rpx 13rpx 6rpx;
						width: 33rpx;
						height: 2rpx;
						background: #E5E5E5;
					}
				}
			}

			.operation_container {
				width: 100%;
				margin-top: 21rpx;

				.operation_item {
					.flex(row, nowrap, space-between, center);
					font-size: 30rpx;
					font-weight: 500;
					color: #999999;
					height: 100rpx;

					.center_item {
						position: absolute;
						left: 0;
						right: 0;
						z-index: 1;
						margin: 0 auto;
						width: 100rpx;
						height: 100rpx;

						.img_container {
							.flex(row, nowrap, center, center);
							width: 100%;
							height: 100%;
							border-radius: 50%;

							image {
								width: 22rpx;
								height: 52rpx;
							}
						}
					}

					.shadow_black {
						box-shadow: 0 0 29rpx 0 rgba(153, 153, 153, 0.4);
						background: #FFFFFF;
					}

					.shadow_green {
						box-shadow: 0 0 29rpx 0 rgba(29, 227, 167, 0.4);
						background: linear-gradient(90deg, #1DE5A8 0%, #41AFC3 100%);
					}

					.left_item,
					.right_item {
						.flex(row, nowrap, center, center);
						position: relative;
						width: 330rpx;
						height: 69rpx;

						image {
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
						}

						span {
							position: relative;
							z-index: 10;
						}
					}

					.operation_select {
						span {
							color: #00D6F6;
						}
					}
				}
			}

			.step_container {
				width: 100%;
				box-sizing: border-box;
				padding: 2rpx 66rpx 0 24rpx;
			}

			.list_container {
				width: 100%;
				margin-top: 21rpx;
				margin-bottom: 19rpx;
				padding: 0 30rpx;
				box-sizing: border-box;

				.list_item {
					position: relative;
					padding: 0 10rpx 20rpx;
					box-shadow: 0 2rpx 10rpx 0 rgba(153, 153, 153, 0.16);
					border-radius: 10rpx;
					margin-bottom: 20rpx;

					.tip_img {
						.flex(row, nowrap, center, center);
						position: absolute;
						top: 0;
						left: 10rpx;
						z-index: 10;
						width: 33rpx;
						height: 48rpx;

						image {
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
						}

						.num {
							position: relative;
							z-index: 1;
							font-size: 22rpx;
							color: #FFFFFF;
						}
					}

					.list_top_container {
						.flex(row, nowrap, space-between, center);
						padding-left: 52rpx;
						padding-top: 18rpx;
					}

					.list_top_item {
						.flex(row, nowrap, flex-start, center);
						font-size: 24rpx;
						font-weight: 500;

						.date {
							margin-right: 25rpx;
							color: #999999;
						}

						.tags_container {
							.flex(row, nowrap, flex-start, center);

							.tag {
								margin-right: 20rpx;
								color: #00D75B;
							}
						}

						.state {
							margin-right: 9rpx;
							color: #02BFEE;
						}

						image {
							width: 15rpx;
							height: 17rpx;
							margin-right: 12rpx;
						}

						.money {
							color: #FFB82E;
						}
					}

					.txt {
						margin-top: 22rpx;
						width: 670rpx;
						padding: 10rpx;
						box-sizing: border-box;
						background: #FAFAFA;
						border-radius: 10rpx;
						font-size: 24rpx;
						font-weight: 500;
						color: #333333;
						line-height: 40rpx;
					}
				}
			}
		}

		.grey {
			color: #999 !important;
		}
		.btn_container button {
			width: auto!important;
			padding: 0 40rpx!important;
		}
	}
</style>
