<template>
	<view class="person_container" :style="{'padding-top': navHeight + 'px'}">
		<nav-bar :navInfo="navInfo" class="nav_header"></nav-bar>
		<image src="../static/person_bg.png" class="bg_img" />
		<view class="header_container" :style="{'padding-top': navHeight + 'px'}">
			<view class="header_row" :style="{marginTop:isIpx?'25rpx':'50rpx'}">
				<image v-if="userInfo.avatar" :src="userInfo.avatar" mode="aspectFit" class="user_avatar" />
				<image v-else src="../static/default_user.png" mode="aspectFit" class="user_avatar" />
				<view class="header_info">
					<view class="name" v-if="userInfo.nickname">{{userInfo.nickname}}</view>
					<view class="name" v-else @click="bindLogin">注册/登录</view>
					<view class="desc_container" v-if="userInfo.industry">
						<view class="txt">{{userInfo.industry}}</view>
						<!-- <image src="../../../static/person_edit.png" /> -->
					</view>
				</view>
			</view>
			<view class="vip_container" v-if="userInfo.token" :style="{marginTop:isIpx?'6rpx':'26rpx'}">
				<view class="vip_row">
					<image class="level_icon" v-for="(item,index) in levelicons" :key="index" :src="item.url" v-if="index== userInfo.userLevel" />
					<!-- <image src="../static/person_vip.png" /> -->
					<!-- <view class="label" v-if="userInfo.vip">VIP套餐：</view>
					<view class="label" v-else>试用期：</view> -->
					<view  v-for="(item,index) in levelicons" :key="index" class="label" v-if="index== userInfo.userLevel">{{item.title}}：</view>
					
					<view v-if="userInfo.timeout">
						<view>已过期</view>
					</view>
					<view class="value" v-else>
						<view>剩余</view>
						<view>{{userInfo.timeStr}}</view>
						<!-- <view>天</view> -->
					</view>
				</view>
				<view v-if="$isAndroid()">
					<view class="hearder_btn" v-if="userInfo.vip" @click="purchaseVip">续费</view>
					<view class="hearder_btn" v-else @click="purchaseVip">购买VIP</view>
				</view>
				
			</view>
		</view>
		<view class="body_container" :style="{'margin-top': 440 - navHeightRpx + 'rpx'}">
			<!-- <span>正式/测试接口</span> -->
			<!-- <van-switch :checked="checked" @change="onChange" /> -->
			<van-cell @click="bindPage(item)" :title="item.title" :is-link="index!=8" :border="false" v-for="(item,index) in selectList"
			 :key="index">
				<template #icon>
					<image :src="item.imgUrl" class="cell_icon" :style="(index == 3 || index == 4)?'left:-2rpx':''" />
				</template>
				<template #right-icon>
					<image src="../../../static/person_ques.png" class="cell_icon_right" v-if="index==8" />
				</template>
			</van-cell>
			<!-- <van-cell @click="bindVip()" title="赢取免费试用期7天" :is-link="true" :border="false" v-if="!userInfo.answerTrialQuestionnaire && userInfo.nickname">
				<template #icon>
					<image src="../static/money.png" class="cell_icon" />
				</template>
			</van-cell> -->
			<van-cell @click="bindVip()" title="通关测试" :is-link="true" :border="false" v-if="$isAndroid() && !userInfo.answerBuyQuestionnaire">
				<template #icon>
					<image src="../static/money.png" class="cell_icon" />
				</template>
			</van-cell>
		</view>
		<view class="btn_container">
			<van-button color="#C8C8C8" round @click="layout">退出登陆</van-button>
		</view>
		<van-action-sheet closeOnClickOverlay={false} title="请选择需要查看的讲解版本" :show="actionShow" :actions="actions" @close="actionShow = false"
		 @cancel="actionShow = false" cancel-text="取消" @select="handleActionSelect" />

		<tabbar :activeIndex="4"></tabbar>
	</view>
</template>

<script>
	import tabbar from '../../../components/tabbar.vue'
	import app from '../../../App.vue'
	export default {
		components: {
			tabbar
		},
		data() {
			return {
				navInfo: {
					bg_color: '',
					color: '#FFFFFF',
					flag: 1,
					name: '我的',
					backType: 0
				},
				isIpx: false,
				navHeight: app.globalData.navHeight,
				navHeightRpx: 0,
				selectList: [{
						title: '模板管理',
						imgUrl: require('../static/person_cate1.png'),
						pageUrl: "/pages/pagesPerson/manage/manage"
					}, {
						title: '功能全解',
						imgUrl: require('../static/use_icon.png'),
						pageUrl: "/pages/pagesGrow/video/video?direction=0"
					}, {
						title: '问题反馈',
						imgUrl: require('../static/person_cate7.png'),
						pageUrl: "/pages/pagesPerson/feedback/feedback"
					}, {
						title: '我的收藏',
						imgUrl: require('../static/person_cate8.png'),
						pageUrl: "/pages/pagesPerson/collection/collection"
					},
					{
						title: '体验兑换码',
						imgUrl: require('../static/coupon_icon.png'),
						pageUrl: "/pages/pagesPerson/couponCode/couponCode"
					},
					// {
					// 	title: '完成问卷得7天时长',
					// 	imgUrl: require('../../../static/person_cate4.png'),
					// 	pageUrl: "/pages/pagesGrow/caseTemplate/caseTemplate"
					// },{
					// 	title: '完成问卷即可续费',
					// 	imgUrl: require('../../../static/person_cate4.png'),
					// 	pageUrl: "/pages/pagesGrow/caseTemplate/caseTemplate"
					// }
					// , {
					// 	title: '商务合作',
					// 	imgUrl: require('../../../static/person_cate5.png')
					// }, {
					// 	title: '邀请好友',
					// 	imgUrl: require('../../../static/person_cate6.png')
					// },
				],
				userInfo: {},
				checked: app.globalData.isTest,
				from: "",
				video: "https://cdn.xiaohun.baiziio.com/tutorial/video/introduction-final-2.mp4",
				actionShow: false,
				actions: [{
					type: "link",
					name: '精简版',
					url: "https://cdn.xiaohun.baiziio.com/html/introduction.html"
				}, {
					type: "video",
					name: '完整版',
					url: "https://cdn.xiaohun.baiziio.com/tutorial/video/introduction-final-2.mp4"
				}],
				levelicons: [{
						url: require('../../../static/level0.png'),
						title: "试用期",
					},
					{
						url: require('../../../static/level1.png'),
						title: "纯神器VIP"
					}, {
						url: require('../../../static/level2.png'),
						title: "纯学堂VIP"
					}, {
						url: require('../../../static/level3.png'),
						title: "销魂俱乐部超级VIP"
					}
				]
			}
		},
		onLoad(options) {
			let that = this
			this.from = options.from || ""
			uni.getSystemInfo({
				success: function(res) {
					if (res.statusBarHeight > 20) {
						that.isIpx = true
					} else {
						that.isIpx = false
					}
					console.log("手机型号")
					console.log(res)
				},

			})
			console.log(getCurrentPages())
		},
		onShow() {
			this.getHeaderInfo()
			this.getUserInfo()
			this.$utils.getPig();
			this.requestRegisterVideo();
		},
		methods: {
			requestRegisterVideo() {
				this.$http("/mp/user/startup/video", "get", {"purpose": "full-tutorial"}).then(res => {
					if (res.code == 200) {
						if (res.data && res.data.length > 0) {
							this.video = res.data
						}
					}
				})
			},
			// 跳转问卷页面
			purchaseVip(type) {
				if (!this.userInfo.answerBuyQuestionnaire) {
					this.$error.questionModal("请先通过悟性和匹配性测试", "buy", "立即挑战", this.from, "通关挑战", "怂了")
					return;
				}
				uni.navigateTo({
					url: "/pages/pagesPerson/vip/vip"
				})
				// uni.navigateTo({
				// 	url:`/pages/pagesPerson/questionnaire/questionnaire?type=${type}`
				// })
			},
			// 跳转登录
			bindLogin() {
				uni.navigateTo({
					url: "/pages/pagesPerson/account/account"
				})
			},
			// 退出登录
			layout() {
				this.$http("/mp/user/logout", "POST", {}).then(res => {
					uni.clearStorageSync("token")
					uni.clearStorageSync("userId")
					uni.clearStorageSync("userInfo")
					this.userInfo = {}
				})
			},
			// 跳转vip购买页面
			bindVip() {
				if (!this.userInfo.answerTrialQuestionnaire) {
					this.$error.questionModal("通过基础挑战，赢取免费试用期7天。", "trial", "干啊", this.from, "基础挑战", "怂了")
					return;
				}
				if (!this.userInfo.answerBuyQuestionnaire) {
					this.$error.questionModal("请先通过悟性和匹配性测试", "buy", "立即挑战", this.from, "通关挑战", "怂了")
					return;
				}
				uni.navigateTo({
					url: "/pages/pagesPerson/vip/vip"
				})
			},
			onChange({
				detail
			}) {
				this.checked = detail
				app.globalData.isTest = detail
				if (detail) {
					app.globalData.serverUrl = 'http://testpayment.baiziio.com'
				} else {
					app.globalData.serverUrl = 'https://xiaohun.baiziio.com'
				}
			},
			// 页面跳转
			bindPage(item) {
				if (item.title === "功能全解") {
					this.actionShow = true
					return;
				}
				uni.navigateTo({
					url: item.pageUrl,
				})
			},
			getHeaderInfo() {
				let self = this;
				uni.getSystemInfo({
					success: function(res) {
						self.navHeightRpx = app.globalData.navHeight * (750 / res.windowWidth)
					},
				})
			},
			// 获取用户信息
			getUserInfo() {
				this.$http("/mp/user/info", "GET", {}).then(res => {
					let now = new Date().getTime()
					this.userInfo = res.data
					// 修复已经登录的用户观看视频无法统计的问题
					uni.setStorageSync("userId", res.data.id)

					if (now > this.userInfo.vipTime) {
						this.userInfo.timeout = true
						this.userInfo.timeStr = ""
					} else {
						this.userInfo.timeout = false
						this.userInfo.timeStr = this.$format.formatDays(this.userInfo.vipTime)
					}
				})
			},
			handleActionSelect(e) {
				let value = e.detail
				
				this.actionShow = false
				if (value.type == "link") {
					uni.navigateTo({
						url: "../../pagesGrow/webview/webview?url=" + value.url
					})
				}else if (value.type == "video") {
					uni.navigateTo({
						url: "/pages/pagesGrow/video/video?direction=0&videoUrl="+this.video,
					})
				}
				
				
			},
		}
	}
</script>

<style lang="less">
	.flex(@A, @B, @C, @D) {
		display: flex;
		flex-direction: @A;
		flex-wrap: @B;
		justify-content: @C;
		align-items: @D;
	}

	.bg_img {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 440rpx;
		z-index: 99;
	}

	.person_container {
		.van-popup--bottom {
			bottom: 150rpx;
		}

		padding-bottom: 150rpx;

		.nav_header {
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			z-index: 999;
		}

		.van-cell view {
			// color: red;
			font-size: 32rpx;
		}

		.header_container {
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			height: 440rpx;
			box-sizing: border-box;
			z-index: 99;

			.header_row {
				.flex(row, nowrap, flex-start, flex-start);
				// margin-top: 50rpx;
				padding-left: 80rpx;

				.user_avatar {
					width: 148rpx;
					height: 148rpx;
					border-radius: 50%;
					margin-right: 30rpx;
				}

				.header_info {
					margin-top: 12rpx;

					.name {
						font-size: 36rpx;
						font-weight: 500;
						color: #FFFFFF;
						line-height: 50rpx;
						letter-spacing: 1rpx;
					}

					.desc_container {
						.flex(row, nowrap, flex-start, flex-start);
						font-size: 24rpx;
						color: #FFFFFF;
						margin-top: 16rpx;

						image {
							position: relative;
							top: -8rpx;
							width: 16rpx;
							height: 16rpx;
							margin-left: 10rpx;
						}
					}
				}
			}

			.vip_container {
				.flex(row, nowrap, space-between, center);
				color: #FFFFFF;
				font-weight: 500;
				// margin-top: 26rpx;
				padding-left: 80rpx;
				padding-right: 30rpx;

				.vip_row {
					.flex(row, nowrap, flex-start, center);

					// image {
					// 	width: 32rpx;
					// 	height: 28rpx;
					// 	margin-right: 10rpx;
					// }
					.level_icon {
						width: 36rpx;
						height: 40rpx;
						margin-right: 10rpx;
					}

					.label {
						font-size: 28rpx;
						margin-right: 10rpx;
					}

					.value {
						.flex(row, nowrap, flex-start, baseline);

						view {
							&:first-child {
								font-size: 32rpx;
							}

							&:nth-child(2) {
								font-size: 42rpx;
							}

							&:last-child {
								font-size: 32rpx;
							}
						}
					}
				}

				.hearder_btn {
					.flex(row, nowrap, center, center);
					// width: 100rpx;
					padding: 0rpx 20rpx;
					height: 50rpx;
					border-radius: 16rpx;
					border: 1rpx solid #FFFFFF;
					font-size: 28rpx;
					font-weight: 500;
					color: #FFFFFF;
				}
			}
		}

		.body_container {
			.cell_icon {
				position: relative;
				width: 36rpx;
				height: 36rpx;
				margin-right: 20rpx;
			}

			.cell_icon_right {
				width: 36rpx;
				height: 36rpx;
			}

			.van-cell {
				border-bottom: 1rpx solid #FAFAFA;

				view {
					.flex(row, nowrap, flex-start, center);
				}
			}
		}

		.btn_container {
			margin-top: 104rpx;
			text-align: center;

			.van-button {
				width: 296rpx;
				height: 84rpx;
			}
		}
	}
</style>
