<template>
	<view class="text_page">
		<view class="text">
			{{text}}
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				text:""
			}
		},
		onLoad() {
			let pages = getCurrentPages ()
			let prevPage = pages[pages.length - 2]
			this.text = prevPage.$vm.text
		},
		methods: {
			
			
		}
	}
</script>

<style>
	.text_page{
		box-sizing: border-box;
		padding: 30rpx;
	}
	.text{
		font-size: 26rpx;
		line-height: 34rpx;
	}

</style>
