<template>
	<view class="source_index">
		<navbar :navInfo="navInfo" class="data_header"></navbar>
		<view class="source_content" :style="{'margin-top': navHeight + 'px'}">
			<view class="chart_box">
				<view class="chart_single">
					<!-- <canvas canvas-id="customerAmount" id="customerAmount" class="charts" @touchstart="touchRing($event,'customerAmount')"></canvas> -->
					<canvas canvas-id="customerAmount" id="customerAmount" class="charts" ></canvas>
					<view class="chart_text">
						获客数
					</view>
				</view>
				<view class="chart_single">
					<!-- <canvas canvas-id="dealAmount" id="dealAmount" class="charts" @touchstart="touchRing($event,'dealAmount')"></canvas> -->
					<canvas canvas-id="dealAmount" id="dealAmount" class="charts" ></canvas>
					<view class="chart_text">
						成交数
					</view>
				</view>
				<view class="chart_single">
					<canvas canvas-id="dealMoney" id="dealMoney" class="charts" ></canvas>
					<!-- <canvas canvas-id="dealMoney" id="dealMoney" class="charts" @touchstart="touchRing($event,'dealMoney')"></canvas> -->
					<view class="chart_text">
						成交额
					</view>
				</view>
			</view>
			<view class="item_box">
				<view class="item_box_inner">
					<view class="single_item" v-for="(item,index) in chanelData" :key="index">
						<view class="single_color" :style="{'background':item.color}">

						</view>
						<view class="single_text" :style="{'color':item.color}">
							{{item.name}}
						</view>
					</view>
				</view>
			</view>
			<view class="detail_box">
				<view class="detail_title">
					数据明细
				</view>
				<!-- <view class="detail_header">
					<view class="header_single">
						来源
					</view>
					<view class="header_single">
						获客数
					</view>
					<view class="header_single">
						成交数
					</view>
					<view class="header_single">
						成交总额
					</view>
				</view> -->
				<view class="detail_header">
					<van-row gutter="10">
						<van-col span="6">
							<view class="header_single header_single_left">
								客户来源
							</view>
						</van-col>
						<van-col span="6">
							<view class="header_single">
								获客数
							</view>
						</van-col>
						<van-col span="6">
							<view class="header_single">
								成交数
							</view>
						</van-col>
						<van-col span="6">
							<view class="header_single">
								成交总额
							</view>
						</van-col>
					</van-row>
				</view>
				<view class="detail_single" v-for="(item,index) in chanelData" :key="index">
					<van-row gutter="10">
						<van-col span="6">
							<view class="source_text source_text_left">
								{{item.name}}
							</view>
						</van-col>
						<van-col span="6">
							<view class="color_text">
								{{item.customerAmount}}
							</view>
						</van-col>
						<van-col span="6">
							<view class="color_text">
								{{item.dealAmount}}
							</view>
						</van-col>
						<van-col span="6">
							<view class="color_text">
								{{item.dealMoney}}
							</view>
						</van-col>
					</van-row>
					<!-- <view class="source_text">
						{{item.name}}
					</view>
					<view class="color_text">
						{{item.customerAmount}}
					</view>
					<view class="color_text">
						{{item.dealAmount}}
					</view>
					<view class="color_text">
						{{item.dealMoney}}
					</view> -->
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	import navbar from '../../../components/navbar.vue'
	import app from '../../../App.vue'
	import uCharts from '@/utils/u-charts.min.js';
	var _self;
	var canvaRing = null;
	var customerAmountRing = null
	var dealAmountRing = null
	var dealMoneyRing = null
	export default {
		components: {
			navbar
		},
		data() {
			return {
				navInfo: {
					"bg_color": "",
					"color": "#FFFFFF",
					"flag": 2,
					"name": "具体来源分析",
					"backType": 1
				},
				groupName: "",
				isIpx: app.globalData.isIpx,
				navHeight: app.globalData.navHeight,
				cWidth: '',
				cHeight: '',
				pixelRatio: 1,
				textarea: '',
				chanelData: [],
				color: ["#1EE3A8", "#FFD838", "#9378FF", "#ff4f8d", "#c844ff", "#5858ff", "#6dabff", "#5ebd5a", "#F86365",
					"#a8cc00", "#ffd451", "#ff814f"
				]
			}
		},
		onLoad(optinos) {
			_self = this
			this.groupName = optinos.groupName
			this.cWidth = uni.upx2px(230);
			this.cHeight = uni.upx2px(230);
			this.getChanelData()
		},
		onShow() {
			// this.getChanelData()
		},
		methods: {
			getChartsData(name) {
				let _self = this
				let Ring = {
					series: []
				};

				this.chanelData.map((item, index) => {
					item.color = _self.color[index%_self.color.length]
					let obj = {
						color: _self.color[index%_self.color.length],
						data: item[name],
						index: 0,
						legendShape: "circle",
						name: item.name,
						pointShape: "circle",
						show: true,
						type: "ring",
						format: () => {
							return Ring.series[i].data
						}
					}
					Ring.series.push(obj)
				})
				_self.showRing(name, Ring);
			},
			// 获取图表数据
			getChanelData() {
				let params = {
					groupName: this.groupName
				}
				this.$http("/mp/data/sourceDetail", "GET", params).then(res => {
					if (res.data.length == 0) {
						uni.showToast({
							title:"没有明细数据",
							icon:"none",
							duration:2000,
							success: () => {
								setTimeout(() => {
									uni.navigateBack()
								},2000)
							}
						})
					} else {
						this.chanelData = res.data
						this.getChartsData("customerAmount")
						this.getChartsData("dealAmount")
						this.getChartsData("dealMoney")
					}
				})
			},
			showRing(canvasId, chartData) {
				console.log(`渲染开始---${canvasId}`)
				console.log(chartData)
				if (canvasId == 'customerAmount') {
					customerAmountRing = new uCharts({
						$this: _self,
						canvasId: canvasId,
						type: 'ring',
						fontSize: 11,
						padding: [5, 5, 5, 5],
						legend: {
							show: false,
							position: 'right',
							float: 'center',
							itemGap: 10,
							padding: 5,
							lineHeight: 26,
							margin: 5,
							//backgroundColor:'rgba(41,198,90,0.2)',
							//borderColor :'rgba(41,198,90,0.5)',
							borderWidth: 1
						},
						background: '#FFFFFF',
						pixelRatio: _self.pixelRatio,
						series: chartData.series,
						animation: false,
						width: _self.cWidth * _self.pixelRatio,
						height: _self.cHeight * _self.pixelRatio,
						disablePieStroke: true,
						dataLabel: false,
						extra: {
							pie: {
								offsetAngle: 0,
								ringWidth: 14 * _self.pixelRatio,
								labelWidth: 10,
								// ringWidth: 14
							}
						},
					});
					console.log(`渲染结束---${canvasId}`)
				} else if (canvasId == 'dealAmount') {
					dealAmountRing = new uCharts({
						$this: _self,
						canvasId: canvasId,
						type: 'ring',
						fontSize: 11,
						padding: [5, 5, 5, 5],
						legend: {
							show: false,
							position: 'right',
							float: 'center',
							itemGap: 10,
							padding: 5,
							lineHeight: 26,
							margin: 5,
							//backgroundColor:'rgba(41,198,90,0.2)',
							//borderColor :'rgba(41,198,90,0.5)',
							borderWidth: 1
						},
						background: '#FFFFFF',
						pixelRatio: _self.pixelRatio,
						series: chartData.series,
						animation: false,
						width: _self.cWidth * _self.pixelRatio,
						height: _self.cHeight * _self.pixelRatio,
						disablePieStroke: true,
						dataLabel: false,
						extra: {
							pie: {
								offsetAngle: 0,
								ringWidth: 14 * _self.pixelRatio,
								labelWidth: 10,
								// ringWidth: 14
							}
						},
					});
					console.log(`渲染结束---${canvasId}`)
				} else {
					dealMoneyRing = new uCharts({
						$this: _self,
						canvasId: canvasId,
						type: 'ring',
						fontSize: 11,
						padding: [5, 5, 5, 5],
						legend: {
							show: false,
							position: 'right',
							float: 'center',
							itemGap: 10,
							padding: 5,
							lineHeight: 26,
							margin: 5,
							//backgroundColor:'rgba(41,198,90,0.2)',
							//borderColor :'rgba(41,198,90,0.5)',
							borderWidth: 1
						},
						background: '#FFFFFF',
						pixelRatio: _self.pixelRatio,
						series: chartData.series,
						animation: false,
						width: _self.cWidth * _self.pixelRatio,
						height: _self.cHeight * _self.pixelRatio,
						disablePieStroke: true,
						dataLabel: false,
						extra: {
							pie: {
								offsetAngle: 0,
								ringWidth: 14 * _self.pixelRatio,
								labelWidth: 10,
								// ringWidth: 14
							}
						},
					});
					console.log(`渲染结束---${canvasId}`)
				}
			},
			deepCopy(obj) {
				var result = Array.isArray(obj) ? [] : {};
				for (var key in obj) {
					if (obj.hasOwnProperty(key)) {
						if (typeof obj[key] === 'object' && obj[key] !== null) {
							result[key] = _self.deepCopy(obj[key]); //递归复制
						} else {
							result[key] = obj[key];
						}
					}
				}
				return result;
			},
			touchRing(e, type) {
				if (type == 'customerAmount') {
					customerAmountRing.touchLegend(e, {
						animation: false
					});
					customerAmountRing.showToolTip(e, {
						format: function(item) {
							return item.data
						}
					});
				}
				if (type == 'dealAmount') {
					dealAmountRing.touchLegend(e, {
						animation: false
					});

					dealAmountRing.showToolTip(e, {
						format: function(item) {
							console.log(123)
							console.log(item)
							return item.name + item.data
						}
					});
				}
				if (type == 'dealMoney') {
					dealMoneyRing.touchLegend(e, {
						animation: false
					});
					dealMoneyRing.showToolTip(e, {
						format: function(item) {
							return item.data
						}
					});
				}

			},
		}
	}
</script>

<style lang="less" scoped>
	.flex(@A, @B, @C, @D) {
		display: flex;
		flex-direction: @A;
		flex-wrap: @B;
		justify-content: @C;
		align-items: @D;
	}

	.source_index {
		position: relative;

		.data_header {
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
		}

		.source_content {
			.chart_box {
				.flex(row, wrap, center, center);
				margin-top: 150rpx;

				.chart_single {
					width: 240rpx;
					// height: 240rpx;
					.flex(row, wrap, center, center);

					.charts {
						width: 230rpx;
						height: 230rpx;
					}

					.chart_text {
						text-align: center;
						// color: #1EE3A8;
						font-size: 32rpx;
						line-height: 44rpx;
						// font-weight: bold;
						color: #333333;
					}
				}
			}

			.item_box {
				.flex(row, wrap, flex-end, center);
				margin-top: 70rpx;

				.item_box_inner {
					// width: 320rpx;
					// width: 500rpx;
					width: 700rpx;
					.flex(row, wrap, flex-end, center);

					.single_item {
						box-sizing: border-box;
						// width: 130rpx;
						width: 150rpx;
						margin-left: 30rpx;
						margin-top: 10rpx;
						margin-right: 30rpx;
						white-space: nowrap;
						text-align: right;
						.flex(row, nowrap, flex-end, center);

						.single_color {
							width: 28rpx;
							height: 8rpx;
							border-radius: 4rpx;
							margin-right: 8rpx;
						}

						.single_text {
							width: 80rpx;
							font-size: 20rpx;
							line-height: 28rpx;
						}
					}
				}
			}

			.detail_box {
				box-sizing: border-box;
				padding: 30rpx 30rpx 0rpx 30rpx;

				.detail_title {
					font-size: 32rpx;
					line-height: 36rpx;
					// color: #999999;
					margin-bottom: 20rpx;
					color: #333333;
					font-weight: bold;
				}

				.detail_header {

					// .flex(row, nowrap, space-between, center);
					.header_single {
						font-size: 28rpx;
						color: #666666;
						line-height: 40rpx;
						font-weight: 500;
						text-align: center;
					}

					.header_single_left {
						text-align: left;
					}
				}

				.detail_single {
					box-sizing: border-box;
					padding: 24rpx 0rpx;
					border-bottom: 1rpx solid #DCDCDC;

					// .flex(row, nowrap, space-between, center);
					.source_text {
						font-size: 26rpx;
						line-height: 36rpx;
						color: #666666;
						font-weight: 500;
						text-align: center;
					}

					.source_text_left {
						text-align: left;
					}

					.color_text {
						font-size: 32rpx;
						line-height: 36rpx;
						font-weight: 500;
						// color: #1EE3A8;
						text-align: center;
						color: #333333;
					}

					.detail_btn {
						font-size: 18rpx;
						color: #23E3AA;
						width: 80rpx;
						height: 40rpx;
						line-height: 40rpx;
						text-align: center;
						border: 1rpx solid #23E3AA;
					}
				}
			}
		}
	}
</style>
