<template>
	<view class="client_detail_container" :style="{'padding-top': navHeight + 'px'}">
		<nav-bar :navInfo="navInfo" class="nav_header"></nav-bar>
		<view class="bg" :style="{'height':190+navHeightRpx+'rpx'}"></view>
		<view class="user_container">
			<image src="../../../static/edit_icon1.png" class="edit_img" @click="handleEdit" />
			<view class="row">
				<image :src="getAvatar(dataInfo)" mode="aspectFill" class="user_avatar" />
				<view class="info mar_right">
					<view class="name van-ellipsis">{{dataInfo.name?dataInfo.name:''}}</view>
					<view class="info_txt mar_top">联系：{{dataInfo.telephone?dataInfo.telephone:''}}</view>
				</view>
				<view class="info">
					<view class="info_txt txt_blue van-ellipsis">来源：{{dataInfo.source?dataInfo.source:''}}</view>
					<view class="info_txt mar_top van-ellipsis">微信：{{dataInfo.weixin?dataInfo.weixin:''}}</view>
				</view>
			</view>
			<view class="row">
				<view class="bottom_info_container" :style="pullVisible?'max-height: 600rpx;overflow-y:hidden;':'max-height: 38rpx;min-height: 38rpx;overflow:hidden;'">
					<view class="tags_container">
						<view class="tag" v-for="(item,index) in dataInfo.tags" :key="index">{{item}}</view>
					</view>
					<view class="desc_container">
						<view class="desc_row" v-if="dataInfo.interest.length>0">
							<image src="../../../static/client_cate3.png" />
							<view class="value">{{dataInfo.interest ? dataInfo.interest : ''}}</view>
						</view>
						<view class="desc_row" v-if="dataInfo.address.length>0">
							<image src="../../../static/client_cate2.png" />
							<view class="value">{{dataInfo.address ? dataInfo.address : ''}}</view>
						</view>
						<view class="desc_row align_start" v-if="customList&&customList.length>0">
							<image src="../../../static/client_cate1.png" />
							<view>
								<view class="value mar_bottom" v-for="(item,index) in customList" :key="item.id" v-if="item.fieldValue">{{item.fieldName}}：{{item.fieldValue}}</view>
							</view>
						</view>
					</view>
				</view>
				<view class="pull" @click="handlePull">
					<view class="txt">展开</view>
					<image src="../../../static/arrow_down.png" :style="pullVisible?'transform:rotate(180deg)':'transform:rotate(0deg)'" />
				</view>
			</view>
		</view>
		<view class="operation_container">
			<view class="operation_item">
				<view class="left_item" :class="operationType==2?'operation_select':''" @click="handleOperation(2)">
					<span>本客户机会</span>
				</view>
				<view class="center_item">
					<view class="line"></view>
					<!-- <view class="img_container" :class="operationType==2?'shadow_green':'shadow_black'">
						<image src="../../../static/center_icon_l.png" v-if="operationType==2" />
						<image src="../../../static/center_icon.png" v-else />
					</view> -->
				</view>
				<view class="right_item" :class="operationType==3?'operation_select':''" @click="handleOperation(3)">
					<span>转介绍信息</span>
				</view>
			</view>
		</view>
		<view class="tips" v-if="operationType==1">推进需要动脑子</view>
		<view class="step_container" v-if="operationType==1">
			<communicateitem :dataInfo="item" :isLast="index+1==communicateData.length?true:false" v-for="(item,index) in communicateData"
			 :key="item.id" @edit="handleEditCommunicate"></communicateitem>
			<van-loading size="24rpx" v-if="dataLoading">加载中...</van-loading>
		</view>
		<view class="need_list_container" v-if="operationType==2">
			<view class="list_item" v-for="(item,index) in chanceData" :key="index" @click="handleChanceDetail(item)">
				<image src="../../../static/progress_state1.png" class="type_img" v-if="item.possibility=='优'" />
				<image src="../../../static/chance_state2.png" class="type_img" v-if="item.possibility=='良'" />
				<image src="../../../static/chance_state3.png" class="type_img" v-if="item.possibility=='小'" />
				<view class="header_container">
					<image :src="getAvatar(item)" class="user_avatar" />
					<view class="right">
						<view class="row">
							<view class="row_start">
								<view class="name">{{item.customerName?item.customerName:''}}</view>
								<view class="tags_container">
									<view class="tag active" v-if="item.referral">转介挖掘</view>
									<view class="tag" v-else>转介挖掘</view>
								</view>
							</view>
							<view class="no">NO.{{item.seq?$format.formatZero(item.seq,3):''}}</view>
						</view>
						<view class="row">
							<view class="desc">{{item.alias?item.alias:''}}</view>
							<view class="state" v-if="item.status">
								<view class="dot"></view>
								<view class="txt">{{item.status}}</view>
							</view>
						</view>
					</view>
				</view>
		
				<view class="value">
					{{item.requirement}}
				</view>
				<view class="info_container">
					<view class="info_row">
						<image src="../../../static/client_cate4.png" v-if="item.product" />
						<view class="name">{{item.product ? item.product : ''}}</view>
					</view>
					<view class="info_row">
						<view class="txt">{{item.createAt?$format.formatTimeCustom(new Date(item.createAt),'.'):''}}</view>
					</view>
				</view>
			</view>
			<view class="bottom_txt" v-if="chanceData&&chanceData.length>0">点击机会卡开始推进</view>
			<van-loading size="24rpx" v-if="dataLoading">加载中...</van-loading>
		</view>
		<view class="list_content" v-if="operationType==3">
			<clientitem v-for="(item,index) in referralData" :dataClient="item" :key="index"></clientitem>
			<van-loading size="24rpx" v-if="dataLoading">加载中...</van-loading>
		</view>
		<bottombtn btnName="新建沟通记录" @confirm="handleNew(1)" class="padding_btn" v-if="operationType==1"></bottombtn>
		<bottombtn btnName="提炼机会" @confirm="handleNew(2)" v-if="operationType==2"></bottombtn>
		<bottombtn btnName="新建转介绍客户" @confirm="handleNew(3)" class="padding_btn" v-if="operationType==3"></bottombtn>
		<modual :modualInfo="modualInfo" @modualConfirm="modualConfirm" @modualChange="modualChange" v-if="showModual"></modual>
	</view>
</template>

<script>
	import clientitem from '@/components/clientitem'
	import bottombtn from '@/components/bottombtn'
	import communicateitem from '@/components/communicateitem.vue'
	import modual from '@/components/modual.vue'
	import app from '../../../App.vue'
	export default {
		components: {
			clientitem,
			bottombtn,
			communicateitem,
			modual
		},
		data() {
			return {
				showModual: false,
				modualInfo: {
					activeType: 2,
					showClose: false,
					showSingle: false,
					showBtns: false,
					title: "必读",
					content: "客户不是机会。客户的痛点，爽点，痒点等需要得到解决的需求才是销售机会。赶紧点击下面提炼机会按钮，生成详细的机会卡片并开始推进该机会。",
					cancleText: "否",
					confirmText: "是"
				},
				pullVisible: true,
				operationType: 2,
				navInfo: {
					bg_color: '',
					color: '#FFFFFF',
					flag: 2,
					name: '客户详情',
					backType: 1
				},
				isIpx: app.globalData.isIpx,
				navHeight: app.globalData.navHeight,
				navHeightRpx: 0,
				id: null,
				dataLoading: false,
				dataInfo: {},
				customList: [],
				referralData: [],
				referralPags: {
					current: 1,
					pageSize: 15,
					total: 1
				},
				communicateData: [],
				communicatePags: {
					current: 1,
					pageSize: 15,
					total: 1
				},
				chanceData: [],
				chancePags: {
					current: 1,
					pageSize: 15,
					total: 1
				}
			}
		},
		onLoad(option) {
			this.id = option.id ? option.id : null
			this.getHeaderInfo()
		},
		onShow() {
			if(app.globalData.newCustomer)
				this.showModual = true
			this.getData()
			this.handleOperation(this.operationType)
		},
		onHide() {
			app.globalData.newCustomer = false
		},
		onUnload() {
			app.globalData.newCustomer = false
		},
		onReachBottom() {
			switch (this.operationType) {
				case 1:
					this.communicatePags.current++
					if (this.communicateData.length < this.communicatePags.total)
						this.getCommunicate()
					break
				case 2:
					this.chancePags.current++
					if (this.chanceData.length < this.chancePags.total)
						this.getChanceData()
					break
				case 3:
					this.referralPags.current++
					if (this.referralData.length < this.referralPags.total)
						this.getReferralClient()
					break
			}
		},
		onPullDownRefresh() {
			switch (this.operationType) {
				case 1:
					this.getCommunicate(true)
					break
				case 2:
					this.getChanceData(true)
					break
				case 3:
					this.getReferralClient(true)
					break
			}
		},
		methods: {
			modualChange(type) {
				if (type == 'open') {
					this.showModual = true
				} else {
					this.showModual = false
					this.inputShow = true
				}
			},
			// 弹窗确认操作
			modualConfirm() {
			},
			getHeaderInfo() {
				let that = this;
				uni.getSystemInfo({
					success: function(res) {
						console.log(res)
						that.navHeightRpx = app.globalData.navHeight * (750 / res.windowWidth)
					},
				})
			},
			handleToMoney(item) {
				if(!item.couldPayback) {
					return
				}
				uni.navigateTo({
					url: '../../pagesChance/money/money?opportunityId=' + item.id + '&payback=' + item.payback + '&revenue=' + item.revenue
				})
			},
			handleEdit() {
				uni.navigateTo({
					url: '../add/add?id=' + this.id
				})
			},
			handlePull() {
				this.pullVisible = !this.pullVisible
			},
			handleOperation(type) {
				this.operationType = type
				switch (type) {
					case 1:
						this.getCommunicate(true)
						break
					case 2:
						this.getChanceData(true)
						break
					case 3:
						this.getReferralClient(true)
						break
				}
			},
			handleChanceDetail(item) {
				uni.navigateTo({
					url: '../../pagesChance/detail/detail?id=' + item.id
				})
			},
			handleNew(type) {
				if (type == 1) {
					uni.navigateTo({
						url: '../communicateAdd/communicateAdd?customerId=' + this.id + '&customerName=' + this.dataInfo.name
					})
				}
				if (type == 2) {
					uni.redirectTo({
						url: '../../pagesChance/add/add?customerId=' + this.id + '&customerName=' + this.dataInfo.name
					})
				}
				if (type == 3) {
					uni.navigateTo({
						url: '../add/add?referralCustomerId=' + this.id + '&customerName=' + this.dataInfo.name
					})
				}
			},
			handleEditChance(item) {
				uni.navigateTo({
					url: '../../pagesChance/add/add?customerId=' + this.dataInfo.id + '&customerName=' + this.dataInfo.name +
						'&chanceInfo=' + JSON.stringify(item)
				})
			},
			handleEditCommunicate(item) {
				uni.navigateTo({
					url: '../communicateAdd/communicateAdd?id=' + item.id + '&customerName=' + this.dataInfo.name + '&customerId=' +
						this.dataInfo.id
				})
			},
			getData() {
				let params = {
					id: this.id
				}
				this.dataLoading = true
				this.$http("/mp/customer/one", "get", params)
					.then(res => {
						res.data.tags = res.data.tags ? res.data.tags.split(',') : [],
						this.customList = JSON.parse(res.data.customizeFieldJson)
						this.customList = this.customList.filter((element, index, array) => {
							return element.fieldValue && element.fieldValue.length > 0;
						});
						this.dataInfo = res.data
					})
					.finally(() => {
						this.dataLoading = false
					})
			},
			getCommunicate(refresh = false) {
				if (refresh) {
					this.communicateData = []
					this.communicatePags = {
						current: 1,
						pageSize: 15,
						total: 1
					}
				}
				let params = {
					current: this.communicatePags.current,
					customerId: parseInt(this.id),
					pageSize: 15
				}
				this.dataLoading = true
				this.$http("/mp/communication/pageList", "post", params)
					.then(res => {
						res.data.list.forEach(per => {
							if (per.attachment)
								per.attachment = per.attachment.split(',')
						})
						this.communicateData = this.communicateData.concat(res.data.list)
					})
					.finally(() => {
						this.dataLoading = false
						uni.stopPullDownRefresh()
					})
			},
			getChanceData(refresh = false) {
				if (refresh) {
					this.chanceData = []
					this.chancePags = {
						current: 1,
						pageSize: 15,
						total: 1
					}
				}
				let params = {
					current: this.chancePags.current,
					pageSize: 15,
					customerId: parseInt(this.id)
				}
				this.dataLoading = true
				this.$http("/mp/opportunity/pageListWithCustomer", "post", params)
					.then(res => {
						this.chanceData = this.chanceData.concat(res.data.list)
					})
					.finally(() => {
						this.dataLoading = false
						uni.stopPullDownRefresh()
					})
			},
			getReferralClient(refresh = false) {
				if (refresh) {
					this.referralData = []
					this.referralPags = {
						current: 1,
						pageSize: 15,
						total: 1
					}
				}
				let params = {
					current: this.referralPags.current,
					customerId: parseInt(this.id),
					pageSize: 15
				}
				this.dataLoading = true
				this.$http("/mp/customer/referral/pageList", "post", params)
					.then(res => {
						res.data.list.forEach((per) => {
							per.tags = per.tags ? per.tags.split(',') : []
						})
						this.referralData = this.referralData.concat(res.data.list)
					})
					.finally(() => {
						this.dataLoading = false
						uni.stopPullDownRefresh()
					})
			},
			getAvatar(item) {
				switch (item.gender) {
					case '男':
						return '../../../static/avatar_b.png'
						break
					case '女':
						return '../../../static/avatar_g.png'
						break
					default:
						return '../../../static/avatar_n.png'
						break
				}
			}
		}
	}
</script>

<style lang="less">
	.flex(@A, @B, @C, @D) {
		display: flex;
		flex-direction: @A;
		flex-wrap: @B;
		justify-content: @C;
		align-items: @D;
	}

	.client_detail_container {
		padding-bottom: 132rpx;

		.nav_header {
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			z-index: 999;
		}

		.bg {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			z-index: -1;
			height: 278rpx;
			background: linear-gradient(90deg, #1DE5A8 0%, #41AFC3 100%);
		}

		.user_container {
			position: relative;
			margin-top: 129rpx;
			margin: 24rpx auto 0 auto;
			width: 690rpx;
			padding: 20rpx 20rpx 10rpx;
			box-sizing: border-box;
			background: #FFFFFF;
			box-shadow: 0 4rpx 20rpx 0 rgba(153, 153, 153, 0.16);
			border-radius: 20rpx;

			.edit_img {
				position: absolute;
				right: 0rpx;
				top: 0rpx;
				width: 30rpx;
				height: 30rpx;
				z-index: 10;
				padding: 20rpx 20rpx 0 0;
			}

			.row {
				.flex(row, nowrap, flex-start, center);
				position: relative;

				.user_avatar {
					margin-right: 20rpx;
					width: 70rpx;
					height: 70rpx;
					border-radius: 50%;
				}

				.mar_right {
					margin-right: 20rpx;
				}

				.mar_top {
					margin-top: 10rpx;
				}

				.info {
					width: 250rpx;

					.name {
						font-size: 32rpx;
						font-weight: 500;
						color: #333333;
						line-height: 44rpx;
					}

					.info_txt {
						font-size: 26rpx;
						font-weight: 500;
						color: #666666;
						line-height: 36rpx;
					}

					.txt_blue {
						color: #12C0EF;
					}
				}

				.bottom_info_container {
					width: 550rpx;
					margin-top: 20rpx;
					transition: all .3s;
				}

				.tags_container {
					.flex(row, wrap, flex-start, center);
					min-height: 52rpx;
					width: 550rpx;

					.tag {
						padding: 2rpx 20rpx;
						margin: 0 10rpx 10rpx 0;
						background: #F7FFFD;
						border-radius: 30rpx;
						font-size: 24rpx;
						font-weight: 500;
						color: #4A6C62;
					}
				}

				.desc_container {
					margin-top: 16rpx;

					.align_start {
						align-items: flex-start !important;
					}

					.mar_bottom {
						margin-bottom: 10rpx;
					}

					.desc_row {
						.flex(row, wrap, flex-start, center);
						margin-top: 16rpx;

						image {
							width: 28rpx;
							height: 28rpx;
							margin-right: 20rpx;
						}

						.value {
							font-size: 26rpx;
							color: #333333;
						}
					}
				}

				.pull {
					.flex(row, nowrap, flex-start, center);
					position: absolute;
					padding: 10rpx 0 10rpx 10rpx;
					right: 0;
					top: 16rpx;
					font-size: 20rpx;
					font-weight: 400;
					color: #666666;
					transition: .6s all;

					image {
						width: 18rpx;
						height: 10rpx;
						margin-left: 10rpx;
						transition: .3s all;
					}
				}
			}
		}

		.operation_container {
			margin-top: 42rpx;

			.operation_item {
				.flex(row, nowrap, space-between, center);
				font-size: 30rpx;
				font-weight: 500;
				color: #333;
				height: 100rpx;

				.center_item {
					.flex(row, nowrap, center, center);
					position: absolute;
					left: 0;
					right: 0;
					z-index: 1;
					margin: 0 auto;
					width: 4rpx;
					height: 100rpx;

					// .img_container {
					// 	.flex(row, nowrap, center, center);
					// 	width: 100%;
					// 	height: 100%;
					// 	border-radius: 50%;

					// 	image {
					// 		width: 50rpx;
					// 		height: 50rpx;
					// 	}
					// }
					
					.line {
						width: 2rpx;
						height: 30rpx;
						background: #333;
					}
				}

				.shadow_black {
					box-shadow: 0 0 29rpx 0 rgba(153, 153, 153, 0.4);
					background: #FFFFFF;
				}

				.shadow_green {
					box-shadow: 0 0 29rpx 0 rgba(29, 227, 167, 0.4);
					background: linear-gradient(90deg, #1DE5A8 0%, #41AFC3 100%);
				}

				.left_item,
				.right_item {
					.flex(row, nowrap, center, center);
					position: relative;
					width: 374rpx;
					height: 69rpx;
					font-weight: 400;

					image {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
					}

					span {
						position: relative;
						z-index: 10;
					}
				}

				.operation_select {
					span {
						color: #1ee5a9;
						font-weight: bold!important;
					}
				}
			}
		}

		.tips {
			text-align: right;
			padding-right: 66rpx;
			font-size: 24rpx;
			font-weight: 300;
			color: #67E6FA;
		}

		.step_container {
			padding: 2rpx 66rpx 0 24rpx;
		}

		.need_list_container {
			.flex(column, wrap, flex-start, center);
			padding-top: 30rpx;
			.referral_img {
				width: 72rpx;
				height: 27rpx;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
			}

			.type_img {
				width: 66rpx;
				height: 48rpx;
				position: absolute;
				top: 0;
				right: 186rpx;
				z-index: 1;
			}
			.list_item {
				position: relative;
				padding: 20rpx;
				box-sizing: border-box;
				width: 690rpx;
				background: #ffffff;
				box-shadow: 0 0rpx 20rpx 0 rgba(25, 194, 147, 0.2);
				border-radius: 20rpx;
				margin-bottom: 20rpx;
			
				.header_container {
					position: relative;
					z-index: 10;
					.flex(row, nowrap, flex-start, center);
			
					.user_avatar {
						width: 96rpx;
						height: 96rpx;
						border-radius: 50%;
						margin-right: 12rpx;
					}
			
					.right {
						flex: 1;
					}
				}
			
				.row_start {
					.flex(row, wrap, flex-start, center);
			
					.tags_container {
						.flex(row, wrap, flex-start, center);
			
						.tag {
							padding: 2rpx 12rpx;
							border-radius: rpx;
							background: #f5f5f5;
							font-size: 24rpx;
							color: #999999;
							margin-right: 18rpx;
							border-bottom: 10rpx;
							border-radius: 10rpx;
						}
			
						.active {
							color: #4AD4FF;
							background: #EFFCFF;
						}
					}
				}
			
				.row {
					.flex(row, wrap, space-between, center);
					padding-bottom: 10rpx;
			
					.name {
						max-width: 200rpx;
						font-size: 32rpx;
						font-weight: 500;
						color: #333333;
						margin-right: 28rpx;
					}
			
					.no {
						font-size: 26rpx;
						font-weight: 500;
						color: #02bfee;
					}
			
					.desc {
						font-size: 24rpx;
						font-weight: 500;
						color: #333333;
					}
			
					.state {
						.flex(row, wrap, flex-end, center);
			
						.dot {
							width: 8rpx;
							height: 8rpx;
							border-radius: 50%;
							margin-right: 14rpx;
							background: #1ee5a9;
						}
			
						.txt {
							font-size: 24rpx;
							font-weight: 500;
							color: #1ee5a9;
						}
					}
				}
			
				.value {
					margin-top: 41rpx;
					font-size: 24rpx;
					font-weight: 500;
					color: #45675d;
					line-height: 33rpx;
				}
			
				.info_container {
					margin-top: 22rpx;
					.flex(row, wrap, space-between, center);
			
					.info_row {
						.flex(row, wrap, flex-start, center);
						font-size: 26rpx;
						color: #333333;
			
						image {
							width: 28rpx;
							height: 26rpx;
							margin-right: 22rpx;
						}
			
						.name {
							font-weight: 500;
						}
			
						.txt {
							color: #333333;
							font-weight: 500;
						}
					}
				}
			}
			.bottom_txt {
				text-align: center;
				font-size: 22rpx;
				color: #999;
				margin-top: 30rpx;
			}
		}

		.padding_btn button {
			width: auto !important;
			padding: 0 24rpx !important;
		}
	}
</style>
