<template>
	<view class="feedback_container" :style="{'padding-top': navHeight + 'px'}">
		<nav-bar :navInfo="navInfo" class="nav_header"></nav-bar>
		<view class="feedback_content">
			<view class="title">反馈建议</view>
			<view class="input_container">
				  <van-field
				    :value="message"
				    type="textarea"
				    placeholder="请尽量详细描述情况或建议。"
				    :border="false"
					@input="handleInput"
				  />
			</view>
			<view class="title marTop30">截图({{uploadImgList.length}}/4)</view>
			<view class="upload_container">
				<view class="upload_content">
					<view class="upload_img" v-for="(item,index) in uploadImgList" :key="index">
						<image src="../../../static/img_del_icon.png" class="delete_img" @click="handleDeleteImg(item,index)" />
						<image :src="item" class="img" mode="aspectFill"></image>
					</view>
					<view class="upload_img upload_icon" @click="handleUpload" v-if="uploadImgList.length<4">
						<van-icon name="plus" color="#979797" />
					</view>
				</view>
			</view>
			<view class="btn_container">
				<van-button round color="linear-gradient(90deg, #1DE5A8 0%, #41AFC3 100%)" @click="handleConfirm">提交</van-button>
			</view>
		</view>
	</view>
</template>

<script>
	import app from '../../../App.vue'
	export default {
		data() {
			return {
				navInfo: {
					bg_color: "",
					color: "#FFFFFF",
					flag: 2,
					name: "问题反馈",
					backType: 1
				},
				isIpx: app.globalData.isIpx,
				navHeight: app.globalData.navHeight,
				message: '',
				uploadImgList: []
			}
		},
		onLoad() {
		},
		methods: {
			handleInput(e) {
				this.message = e.detail
			},
			handleUpload() {
				let self = this
				uni.chooseImage({
					count: 1,
					sizeType: ['copressed'],
					success(res) {
						//因为有一张图片， 输出下标[0]， 直接输出地址
						var imgFiles = res.tempFiles[0]
						console.log(res)
						// 上传图片
						// 做成一个上传对象

						uni.showLoading()
						var uper = uni.uploadFile({
							// 需要上传的地址
							url: 'https://xiaohun.baiziio.com/mp/upload/uploadPicture',
							// filePath  需要上传的文件
							filePath: imgFiles.path,
							header: {
								token: uni.getStorageSync('token'),
								'Content-Type': 'multipart/form-data'
							},
							name: 'file',
							success(res1) {
								// 显示上传信息
								console.log(res1)
								let data = JSON.parse(res1.data)
								if (data.code == 200) {
									self.uploadImgList.push(data.data)
								} else {
									uni.showToast({
										icon: 'none',
										title: data.message,
										duration: 2500
									})
								}
							},
							complete() {
								uni.hideLoading()
							}
						});
					}
				})
			},
			handleDeleteImg(item, index) {
				uni.showLoading()
				this.$http("/mp/upload/removePicture", "delete", {
						path: item
					})
					.then(res => {
						this.uploadImgList.splice(index, 1)
					})
					.finally(() => {
						uni.hideLoading()
					})
			},
			handleConfirm() {
				if(this.message.length==0) {
					uni.showToast({
						icon: 'none',
						title: '请填写反馈建议'
					})
					return
				}
				let params = {
					content: this.message,
					images: this.uploadImgList&&this.uploadImgList.length>0?this.uploadImgList.join(','):''
				}
				uni.showLoading()
				this.$http("/mp/user/feedback", "post", params)
					.then(res => {
						uni.hideLoading()
						uni.showToast({
							icon: 'none',
							title: '感谢您的反馈，我们将尽快处理',
							duration: 1500
						})
						setTimeout(()=>{
							uni.navigateBack()
						},1500)
					})
			}
		}
	}
</script>

<style lang="less">
	.flex(@A, @B, @C, @D) {
		display: flex;
		flex-direction: @A;
		flex-wrap: @B;
		justify-content: @C;
		align-items: @D;
	}
	.nav_header {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 99999;
	}
	.feedback_content {
		padding: 20rpx;
		.title {
			padding: 20rpx 30rpx;
		}
		.input_container {
			margin-top: 20rpx;
			padding: 0 30rpx;
			textarea {
				height: 210rpx;
				background: #FAFAFA;
			}
		}
		.van-cell {
			background: #fafafa!important;
			border-radius: 8rpx;
		}
		.upload_container {
			margin-top: 20rpx;
			padding: 0 30rpx;
			min-height: 460rpx;
			.upload_content {
				.flex(row, wrap, flex-start, center);
				.upload_img {
					position: relative;
					width: 180rpx;
					height: 180rpx;
					margin-right: 40rpx;
					margin-bottom: 40rpx;
					background: #fafafa;
					.img {
						width: 100%;
						height: 100%;
					}
					.delete_img {
						position: absolute;
						top: -20rpx;
						right: -20rpx;
						width: 20rpx;
						height: 20rpx;
						padding: 15rpx;
						background: #D9BC80;
						border-radius: 50%;
					}
				}
				.upload_icon {
					.flex(row, nowrap, center, center);
					background: #D8D8D8;
					.van-icon {
						font-size: 50rpx!important;
					}
				}
			}
		}
		.btn_container {
			.flex(row, wrap, center, center);
			.van-button {
				width: 250rpx;
			}
		}
	}
	.marTop30 {
		margin-top: 30rpx;
	}
</style>
