<template>
	<view class="advance_index">
		<navbar :navInfo="navInfo" class="share_header"></navbar>
		<view class="advance_content" :style="{'margin-top': navHeight + 'px'}">
			<view class="left_box">
				<view class="left_single" v-for="(item,index) in itemsList" :key="index" v-if="index%2==0" @click="bindDetails(item.id)">
					<view class="info_line">

					</view>
					<view class="info_box">
						<view class="info_title">
							{{item.name}}
						</view>
						<view class="info_text">
							{{item.content}}
						</view>
					</view>

				</view>
			</view>
			<view class="center_box">
				<image src="../../../static/advance_icon.png" mode="" class="center_img" v-for="(item,index) in itemsList" :key="index"></image>
			</view>
			<view class="left_box right_box">
				<view class="left_single" v-for="(item,index) in itemsList" :key="index" v-if="index%2!=0" @click="bindDetails(item.id)">

					<view class="info_box">
						<view class="info_title">
							{{item.name}}
						</view>
						<view class="info_text">
							{{item.content}}
						</view>
					</view>
					<view class="info_line">

					</view>
				</view>
			</view>
		</view>
		<!-- <view class="advance_content" :style="{'margin-top': navHeight + 'px'}">
			<view class="left_box" >
				<view class="left_single"  v-for="(item,index) in itemsList" :key="index" v-if="index%2==0" @click="bindDetails(item.id)">
					<view class="info_box">
						<view class="info_title">
							{{item.name}}
						</view>
						<view class="info_text">
							{{item.content}}
						</view>
					</view>
					<view class="info_line">

					</view>
				</view>
			</view>
			<view class="center_box">
				<image src="../../../static/advance_icon.png" mode="" class="center_img" v-for="(item,index) in itemsList" :key="index"></image>
			</view>
			<view class="left_box right_box">
				<view class="left_single" v-for="(item,index) in itemsList" :key="index" v-if="index%2!=0" @click="bindDetails(item.id)">
					<view class="info_line">

					</view>
					<view class="info_box">
						<view class="info_title">
							{{item.name}}
						</view>
						<view class="info_text">
							{{item.content}}
						</view>
					</view>

				</view>
			</view>
		</view> -->
		<modual :modualInfo="modualInfo" @modualChange="modualChange" v-if="showModual"></modual>
	</view>
</template>

<script>
	import navbar from '../../../components/navbar.vue'
	import modual from '../../../components/modual.vue'
	import app from '../../../App.vue'
	export default {
		components: {
			navbar,
			modual
		},
		data() {
			return {
				showModual: false,
				modualInfo: {
					activeType: 2,
					showClose: false,
					showSingle: false,
					showBtns: false,
					title: "必读",
					content: "这里详细呈现了把握好一个销售机会，迈向签单所需满足的每个成交元素。点击具体元素可查看元素的定义以及推进该元素所需的对应的能力，还有实战技巧教学举例及提升建议。",
					cancleText: "否",
					confirmText: "是"
				},
				navInfo: {
					"bg_color": "",
					"color": "#5F370F",
					"flag": 2,
					"name": "八元成交法",
					"backType": 2
				},
				isIpx: app.globalData.isIpx,
				navHeight: app.globalData.navHeight,
				itemsList: []
			}
		},
		onLoad() {
			console.log(this.$utils.getStatus('advanceIndex'))
			// this.showModual = this.$utils.getStatus('advanceIndex')
			// this.$utils.setStatus("advanceIndex")
			this.getItems()
		},
		methods: {
			modualChange(type) {
				if (type == 'open') {
					this.showModual = true
				} else {
					this.showModual = false
				}
			},
			// 跳转成交元素详情
			bindDetails(id) {
				uni.navigateTo({
					url: `/pages/pagesGrow/dealDetail/dealDetail?id=${id}`
				})
			},
			// 获取成交元素
			getItems() {
				this.$http("/mp/deal-element/list", "GET", {}).then(res => {
					this.itemsList = res.data
				})
			}
		}
	}
</script>

<style lang="less">
	.flex(@A, @B, @C, @D) {
		display: flex;
		flex-direction: @A;
		flex-wrap: @B;
		justify-content: @C;
		align-items: @D;
	}

	.advance_index {
		background: #E8E5E0;
		min-height: 100vh;

		.share_header {
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			z-index: 999999;
		}

		.advance_content {
			box-sizing: border-box;
			padding: 70rpx 48rpx;
			.flex(row, wrap, space-between, flex-start);

			.left_box {
				width: 300rpx;
				box-sizing: border-box;
				// padding-top: 48rpx;

				.left_single {
					width: 100%;
					position: relative;
					box-sizing: border-box;
					margin-bottom: 114rpx;

					.info_line {
						width: 54rpx;
						height: 4rpx;
						background: #CB9B40;
						position: absolute;
						right: 2rpx;
						top: 24rpx;
						// bottom: 36rpx;
					}

					.info_box {
						width: 224rpx;
						height: 146rpx;
						background: #F5F3EF;
						border-radius: 28rpx;
						box-sizing: border-box;
						padding: 12rpx 20rpx;

						.info_title {
							font-size: 36rpx;
							line-height: 50rpx;
							font-weight: bold;
							color: #582A00;
							text-overflow: ellipsis;
							overflow: hidden;
							white-space: nowrap;
						}

						.info_text {
							font-size: 24rpx;
							line-height: 34rpx;
							color: #793F0A;
							margin-top: 4rpx;
							display: -webkit-box;
							overflow: hidden;
							text-overflow: ellipsis;
							word-wrap: break-word;
							white-space: normal !important;
							-webkit-line-clamp: 2;
							-webkit-box-orient: vertical;
						}


					}
				}
			}

			.right_box {
				// width: calc((100% - 52rpx) / 2);
				width: 300rpx;
				padding-top: 48rpx;
				position: relative;
				// padding-top: 132rpx;
				.left_single {
					.flex(row, wrap, flex-end, flex-start);

					.info_line {
						width: 54rpx;
						height: 4rpx;
						background: #CB9B40;
						position: absolute;
						left: 2rpx;
						// top: 24rpx;
						bottom: 36rpx!important;
						top: 108rpx;
					}
				}

			}

			.center_box {
				width: 48rpx;

				.center_img {
					width: 48rpx;
					height: 48rpx;
					display: block;
					margin-bottom: 82rpx;

				}
			}
		}

	}
</style>
