<template>
	<view class="grow_index">
		<navbar class="nav" :navInfo="navInfo"></navbar>
		<view class="grow_banner" :style="{'padding-top': navHeight + 'px'}">
			<view class="topic_info" v-if="from == 'message' " @click="bindTopicDetail">
				<view class="title_text">
					原话题:
				</view>
				<view class="title_info">
					{{topicTitle || ""}}
				</view>
			</view>
			<view class="topic_box">
				<view class="single_left">
					<image :src="detailInfo.creatorAvatar" mode=""></image>
				</view>
				<view class="single_right">
					<view class="name_box">
						<view class="name_text">
							{{detailInfo.creatorName || ""}}
						</view>
						<!-- <image src="../../../../static/topic_user_icon.png" mode="" class="topic_user_icon"></image> -->
					</view>
					<view class="title_box">
						{{detailInfo.content || ""}}
					</view>
					<view class="status_box">
						<view class="status_time" v-if="item.timeType == 3">
							<text v-if="detailInfo.timeStr">{{detailInfo.timeStr  || ""}}前</text>
							<text v-else>刚刚</text>
						</view>
						<view class="status_time" v-else>
							{{detailInfo.timeStr || ""}}
						</view>
						<view class="status_right">
							<view class="right_single">
								<image v-if="detailInfo.isLike" @click="bindLike(detailInfo.id,5,false,1,'',0)" src="../../../../static/topic_like.png"
								 mode="" class="topic_like"></image>
								<image v-else src="../../../../static/topic_detail_like.png" mode="" class="topic_like" @click="bindLike(detailInfo.id,5,true,1,'',0)"></image>
								<view class="right_text">
									{{detailInfo.likeAmount || ""}}
								</view>
							</view>
							<view class="right_single">
								<image src="../../../../static/dislike_active.png" mode="" class="topic_like" v-if="detailInfo.isDislike"
								 @click="bindLike(detailInfo.id,5,false,3,'',0)"></image>
								<image src="../../../../static/topic_unlike.png" mode="" class="topic_like" v-else @click="bindLike(detailInfo.id,5,true,3,'',0)"></image>
								<view class="right_text">
									{{detailInfo.dislikeAmount || ""}}
								</view>
							</view>
							<view class="right_single">
								<image @click="changeComment(true,detailInfo.creatorName,1,'',0)" src="../../../../static/topic_detail_comment.png"
								 mode="" class="topic_like"></image>
							</view>
						</view>
					</view>
				</view>
			</view>
			
			<view class="list_box">
				<view class="list_title">
					所有回复
				</view>
				<view class="list_single" v-for="(item,index) in listData" :key="index">
					<view class="single_left">
						<image :src="item.creatorAvatar" mode=""></image>
					</view>
					<view class="single_right">
						<view class="name_box">
							<view class="name_text">
								{{item.creatorName}}
							</view>
							<!-- <image src="../../../../static/topic_user_icon.png" mode="" class="topic_user_icon"></image> -->
						</view>
						<view class="refer_box" v-if="item.refCommentContent">
							@ {{item.refCommentCreatorName}}:{{item.refCommentContent}}
						</view>
						<view class="title_box">
							{{item.content}}
						</view>
						<view class="comment_box">
							<view class="time_text" v-if="item.timeType == 3">
								<text v-if="item.timeStr">{{item.timeStr}}前</text>
								<text v-else>刚刚</text>
							</view>
							<view class="time_text" v-else>
								{{item.timeStr}}
							</view>
							<view class="status_right">
								<view class="right_single">
									<image v-if="item.isLike" @click="bindLike(item.id,5,false,1,'',index)" src="../../../../static/topic_like.png"
									 mode="" class="topic_like"></image>
									<image v-else src="../../../../static/topic_detail_like.png" mode="" class="topic_like" @click="bindLike(item.id,5,true,1,'',index)"></image>
									<view class="right_text">
										{{item.likeAmount}}
									</view>
								</view>
								<view class="right_single">
									<image src="../../../../static/dislike_active.png" mode="" class="topic_like" v-if="item.isDislike" @click="bindLike(item.id,5,false,3,'',index)"></image>
									<image src="../../../../static/topic_unlike.png" mode="" class="topic_like" v-else @click="bindLike(item.id,5,true,3,'',index)"></image>
									<view class="right_text">
										{{item.dislikeAmount}}
									</view>
								</view>

								<view class="right_single" @click="changeComment(true,item.creatorName,3,item.id,index)">
									<image src="../../../../static/topic_detail_comment.png" mode="" class="topic_like"></image>
								</view>
							</view>

						</view>
					</view>
				</view>
				<!-- 	<view class="list_single">
					<view class="single_left">
					</view>
					<view class="single_right">
						<view class="name_box">
							<view class="name_text">
								销Soul
							</view>
							<image src="../../../../static/topic_user_icon.png" mode="" class="topic_user_icon"></image>
						</view>
						<view class="list_time">
							12-14 17:06
						</view>
						<view class="title_box">
							很精彩的案例分享！学习了！很精彩的案例分享！学习了！很精彩的案例分享！学习了！很精彩的案例分享！学习了！很精彩的案例分享！
						</view>
					</view>
				</view> -->
			</view>
		</view>
		<view class="bottom_box" @click="changeComment(true,detailInfo.creatorName,1,'',0)">
			<view class="user_photo">
				<image :src="userInfo.avatar" mode=""></image>
			</view>
			<view class="bottom_box_inner">
				接着奏乐，接着唠
			</view>
		</view>
		<view class="input_pop" v-if="showComment" @click.self="changeComment(false,'',0,'',0)" @touchmove.stop="moveHandle">
			<view class="input_box" @click.stop="defaultEvent">
				<view class="content_box">
					<!-- <textarea v-model="commentInfo.content" auto-height :cursor-spacing="180" :fixed="true" :hold-keyboard="true"
					 :adjust-position="true" :focus="showComment" :placeholder="'评论给' + authName " class="textarea" placeholder-class="placeholder" /> -->
					<van-field
						@input="inputChange"
						:focus="showComment"
						:placeholder="'评论给' + authName "
						:value="commentInfo.content"
						class="textarea"
						:autosize="{ minHeight: 90,maxHeight:240 }"
						:cursor-spacing="180"
						:adjust-position="true" 
						type="textarea"
						placeholder-style="font-size: 28rpx;line-height: 40rpx;color: #9DA5B5;"
					/>
				</view>
				<view class="publish_box">
					<view class="cancle_text" @click="changeComment(false,'',0,'',0)">
						取消
					</view>
					<view class="pulish_text" @click="submitComment">
						发布
					</view>
				</view>
			</view>
		</view>
		<toast v-if="showToast" :title="toastTitle"></toast>
	</view>
</template>

<script>
	import navbar from '../../../../components/navbar.vue'
	import tabbar from '../../../../components/tabbar.vue'
	import app from '../../../../App.vue'
	import toast from '../../../../components/toast.vue'
	export default {
		components: {
			navbar,
			tabbar,
			toast
		},
		data() {
			return {
				toastTitle:"",
				showToast: false,
				isIpx: app.globalData.isIpx,
				navHeight: app.globalData.navHeight,
				navInfo: {
					"bg_color": "",
					"color": "#5F370F",
					"flag": 2,
					"name": "回复",
					"backType": 2
				},
				commentId: "",
				queryInfo: {
					commentId: "",
					current: 1,
					pageSize: 10,
					topicId:""
				},
				listData: [],
				total: 0,
				detailInfo: {},
				placeholder:"回复评论",
				showComment:false,
				authName: "",
				commentInfo: {
					content: "",
					commentId: "",
					refCommentId:"",
					topicId: ""
				},
				submitType: 0,
				submitId: "",
				dataIndex: 0,
				from:"",
				topicTitle: "",
				userInfo: {}
			}
		},
		onLoad(options) {
			this.commentId = options.commentId
			this.queryInfo.commentId = options.commentId
			this.queryInfo.topicId = options.topicId
			this.commentInfo.commentId = options.commentId
			this.commentInfo.topicId = options.topicId
			this.from = options.from?options.from:""
		},
		onShow() {
			this.userInfo = uni.getStorageSync("userInfo")
			this.getDetails()
			this.getCommentList("search")
			if (this.from) {
				this.getTopicInfo()
			}
		},
		methods: {
			moveHandle () {
				return false
			},
			bindTopicDetail () {
				uni.navigateTo({
					url:`/pages/pagesGrow/topic/detail/detail?id=${this.queryInfo.topicId}`
				})
			},
			// 获取原话题信息
			getTopicInfo () {
				this.$http("/mp/topic/title","GET",{id:this.queryInfo.topicId}).then(res => {
					console.log(1234)
					console.log(res)
					this.topicTitle = res.data
				})
			},
			inputChange(value) {
				this.commentInfo.content = value.detail
			},
			defaultEvent () {},
			// 查询单条评论详情
			getSingleDetail(id,dataIndex) {
				let params= {
					id
				}
				this.$http("/mp/topic/comment/one","GET",params).then(res => {
					console.log("请求结果")
					console.log(res)
					let data = res.data
					let now = new Date().getTime()
					let maxTime = this.$format.getSecondsFunc(1)
					let oneDay = this.$format.getSecondsFunc(0)
					let subTime = now - data.createAt
					if (subTime >= maxTime) {
						data.timeType =1
						data.timeStr = this.$format.formatTopicTime(new Date(data.createAt))
					} else if (subTime < oneDay ) {
						data.timeType = 3
						data.timeStr = this.$format.formatDays(data.createAt)
					} else {
						data.timeType = 2
						data.timeStr = "昨天"
					}
					// data.latestComment = data.latestCommentJson?JSON.parse(data.latestCommentJson):[]
					this.$set(this.listData,dataIndex, data)
				})
				
			},
			// 增加/取消点赞
			bindLike (id,type,value,requestType,commentType,dataIndex) {
				console.log(type)
				let title = ""
				// let url = requestType ==1?"/mp/user/interest/like":requestType ==2?"/mp/user/interest/collect":"/mp/user/interest/dislike"
				let params = {
					interestId: id,
					interestType: type,
					value:value
				}
				if (requestType == 1) {
					params.op = "like"
					title = value?"点赞成功":"取消点赞成功"
				} else if (requestType == 2) {
					params.op = "collect"
					title = value?"收藏成功":"取消收藏成功"
				} else {
					params.op = "dislike"
					title = value?"点踩成功":"取消点踩成功"
				}
				this.$http("/mp/user/interest/one","POST",params).then(res => {
					if (type == 5) {
						console.log(1)
						this.getSingleDetail(id,dataIndex)
					} else {
						this.getDetails()
						console.log(2)
					}
					this.changeToast(true,title)
					this.changeToast(false,"")
				}) 
			},
			// 控制toast
			changeToast(value,title) {
				if (value) {
					this.showToast = value
					this.toastTitle = title
				} else {
					setTimeout(()=> {
						this.showToast = value
						this.toastTitle = title
					},1500)
				}
			},
			// 添加评论
			submitComment () {
				this.commentInfo.refCommentId = this.submitType == 3?this.submitId:""
				this.$http("/mp/topic/comment/one","POST",this.commentInfo).then(res => {
					this.changeToast(true,"评论成功")
					this.changeToast(false,"")
					this.changeComment(false,"",0,"",0)
					this.getCommentList("search")
					this.commentInfo.content = ""
					
				})
			},
			// 唤起评论框
			changeComment (type,name,submitType,submitId,dataIndex) {
				this.showComment = type
				this.authName = name
				this.submitType = submitType
				this.submitId = submitId
				this.dataIndex = dataIndex
				// if (!type) {
				// 	this.commentInfo.content = ""
				// }
			},
			// 获取评论详情
			getDetails () {
				this.$http("/mp/topic/comment/one","GET",{id:this.commentId}).then(res => {
					let data = res.data
					let now = new Date().getTime()
					let maxTime = this.$format.getSecondsFunc(1)
					let oneDay = this.$format.getSecondsFunc(0)
					let subTime = now - data.createAt
					if (subTime >= maxTime) {
						data.timeType =1
						data.timeStr = this.$format.formatTopicTime(new Date(data.createAt))
					} else if (subTime < oneDay ) {
						data.timeType = 3
						data.timeStr = this.$format.formatDays(data.createAt)
					} else {
						console.log(3)
						data.timeType = 2
						data.timeStr = "昨天"
					}
					this.detailInfo = data
				})
			},
			// 获取评论的评论列表
		getCommentList (type) {
			let _this = this
			console.log(12334)
			console.log(this.commentId)
			if (type == 'search' || type == 'fresh') {
				this.queryInfo.current = 1
				this.listData = []
				this.total = 0
			}
			let params = JSON.parse(JSON.stringify(this.queryInfo))
			console.log(this.dataIndex)
			if (type == "update") {
				params.current = Math.ceil(this.dataIndex / this.queryInfo.pageSize)
			}
			this.$http("/mp/topic/comment/pageListByComment","POST",params).then(res => {
				let data = res.data.list
				let now = new Date().getTime()
				data.map(item => {
					item.latestComment = item.latestCommentJson?JSON.parse(item.latestCommentJson):[]
					let maxTime = this.$format.getSecondsFunc(1)
					let oneDay = this.$format.getSecondsFunc(0)
					let subTime = now - item.createAt
					if (subTime >= maxTime) {
						item.timeType =1
						item.timeStr = this.$format.formatTopicTime(new Date(item.createAt))
					} else if (subTime < oneDay ) {
						item.timeType = 3
						item.timeStr = this.$format.formatDays(item.createAt)
					} else {
						console.log(3)
						item.timeType = 2
						item.timeStr = "昨天"
					}
				})
				if (type != "update") {
					this.listData = this.listData.concat(data);
					this.total = res.data.total;
					this.navInfo.name = this.total + "条回复"
				} else {
					let index = this.dataIndex % this.queryInfo.pageSize
					this.$set(this.listData,this.dataIndex, data[index])
				}
				if (type == "fresh") {
					uni.stopPullDownRefresh()
				}
				if (this.listData.length == this.total) {
					this.showNodata = true
				} else {
					this.showNodata = false
				}
				console.log(data)
			})
		}
		}
	}
</script>

<style lang="less" scoped>
	.flex(@A, @B, @C, @D) {
		display: flex;
		flex-direction: @A;
		flex-wrap: @B;
		justify-content: @C;
		align-items: @D;
	}

	.grow_index {
		position: relative;
		min-height: 100vh;
		background: #F7F8F9;
		box-sizing: border-box;
		padding-bottom: 98rpx;
		.topic_info{
			width: 100%;
			height: 84rpx;
			// background: rgba(139, 87, 42, .32);
			background: #F1E5C7;
			box-sizing: border-box;
			padding: 0rpx 32rpx;
			.flex(row,nowrap,space-between,center);
			.title_text{
				color: #8B572A;
				font-size: 26rpx;
				font-weight: 500;
				line-height: 84rpx;
				width: 106rpx;
				box-sizing: border-box;
			}
			.title_info{
				width: calc(100% - 118rpx);
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				font-size: 26rpx;
				color: #8B572A;
				font-weight: 400;
			}
		}
		.input_pop {
			width: 100%;
			height: 100%;
			position: fixed;
			left: 0;
			bottom: 0;
			z-index: 999999;
			background: rgba(0, 0, 0, 0.4);
		
			.input_box {
				position: absolute;
				left: 0;
				bottom: 0;
				z-index: 999999;
				width: 100%;
				background: #FFFFFF;
				padding: 24rpx 32rpx;
				box-sizing: border-box;
				.content_box{
					box-sizing: border-box;
					background: #F4F5F8;
					padding: 20rpx;
				}
				.textarea{
					// height: 180rpx;
					min-height: 180rpx;
					background: #F4F5F8;
					box-sizing: border-box;
					// padding: 24rpx;
					font-size: 28rpx;
					line-height: 40rpx;
					color: #333333;
					width: 100%;
				}
				/deep/.van-cell{
					background: #F4F5F8;
					padding: 0;
				}
				.placeholder{
					font-size: 28rpx;
					line-height: 40rpx;
					color: #9DA5B5;
				}
				.input_box{
					font-size: 30rpx;
					line-height: 32rpx;
					color: #2D8EFF;
					font-weight: 500;
					text-align: right;
					margin-top: 24rpx;
				}
				.publish_box{
					font-size: 30rpx;
					line-height: 32rpx;
					color: #2D8EFF;
					font-weight: 500;
					margin-top: 24rpx;
					.flex(row,nowrap,space-between,center);
					.cancle_text{
						color: #768196;
					}
				}
			}
		}
		.bottom_box{
			position: fixed;
			width: 100%;
			height: 94rpx;
			background: #F7F8F9;
			left: 0;
			bottom: 0;
			z-index: 999999;
			border-top: 2rpx solid #E7E9EF;
			padding: 0rpx 32rpx;
			box-sizing: border-box;
			.flex(row,nowrap,space-between,center);
			.comment_text{
				// width: 686rpx;
				// width: 606rpx;
				// height: 70rpx;
				// background: #FFFFFF;
				// border-radius: 35rpx;
				// border: 2rpx solid #EFF0F2;
				// padding: 16rpx 30rpx;
				// box-sizing: border-box;
			}
			.user_photo{
				width:60rpx;
				height: 60rpx;
				border-radius: 30rpx;
				overflow: hidden;
				image{
					width: 60rpx;
					height: 60rpx;
					display: block;
				}
			}
			.bottom_box_inner{
				// width: 686rpx;
				width: 606rpx;
				height: 70rpx;
				background: #EFF0F2;
				border-radius: 35rpx;
				border: 2rpx solid #EFF0F2;
				padding: 0 30rpx;
				box-sizing: border-box;
				font-size: 24rpx;
				line-height: 70rpx;
				color: #9DA5B5;
			}
			.placeholder{
				
				font-size: 24rpx;
				// line-height: 70rpx;
				color: #9DA5B5;
			}
		}
		.nav {
			width: 100%;
			position: fixed;
			left: 0;
			top: 0;
			z-index: 999999;
		}

		.single_left {
			width: 60rpx;
			height: 60rpx;
			border-radius: 30rpx;
			// border: 1px solid green;
			overflow: hidden;
			image{
				width: 60rpx;
				height: 60rpx;
				display: block;
			}
		}

		.single_right {
			width: calc(100% - 80rpx);
			box-sizing: border-box;

			// padding-right: 32rpx;
			// padding-bottom: 36rpx;
			.name_box {
				padding-bottom: 22rpx;
				width: 100%;
				.flex(row, nowrap, flex-start, center);

				.name_text {
					font-size: 26rpx;
					line-height: 26rpx;
					color: #F57623;
					font-weight: 400;
				}

				.topic_user_icon {
					width: 32rpx;
					height: 32rpx;
					display: block;
					margin-left: 10rpx;
				}

			}

			.title_box {
				font-size: 28rpx;
				line-height: 40rpx;
				font-weight: 400;
				color: #0D0E15;
				padding-bottom: 20rpx;
			}

			.status_box {
				box-sizing: border-box;
				padding-top: 26rpx;
				.flex(row, nowrap, space-between, center);

				.status_time {
					font-size: 24rpx;
					line-height: 24rpx;
					font-weight: 400;
					color: #768196;
				}

				.status_right {
					.flex(row, nowrap, flex-end, center);

					.right_single {
						.flex(row, nowrap, flex-start, center);
						margin-left: 40rpx;

						.topic_like {
							width: 30rpx;
							height: 30rpx;
							display: block;
							padding: 10rpx;
						}

						.right_text {
							font-size: 24rpx;
							line-height: 24rpx;
							font-weight: 500;
							color: #0D0E15;
							margin-left: 12rpx;
						}
					}
				}
			}
		}

		.topic_box {
			background: #FFFFFF;
			padding: 36rpx 32rpx 10rpx 32rpx;
			box-sizing: border-box;
			margin-bottom: 12rpx;
			.flex(row, nowrap, space-between, flex-start);


		}
		.list_title{
			
		}
		.list_box {
			background: #FFFFFF;
			.list_title{
				font-size: 32rpx;
				line-height: 44rpx;
				color: #000000;
				font-weight: 500;
				padding-left: 32rpx;
				padding-top: 32rpx;
				padding-bottom: 32rpx;
			}
			.list_single {
				padding: 20rpx 32rpx 10rpx 32rpx;
				border-bottom: 2rpx solid #E7E9EF;
				.flex(row, nowrap, space-between, flex-start);

				.name_text {
					font-size: 26rpx;
					line-height: 32rpx;
					font-weight: 400;
					color: #0D0E15 !important;
				}

				.name_box {
					padding-bottom: 0rpx;
				}

				.single_left {
					width: 52rpx;
					height: 52rpx;
					border-radius: 26rpx;
					// border: 1px solid green;
					overflow: hidden;
					image{
						width: 52rpx;
						height: 52rpx;
						display: block;
					}
				}
				.refer_box{
					height: 48rpx;
					background: #F3F4F6;
					border-radius: 8rpx;
					box-sizing: border-box;
					padding: 0 14rpx;
					margin-top: 14rpx;
					line-height: 48rpx;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					font-size: 28rpx;
					color: #7E8593;
					font-weight: 400;
				}

				.title_box {
					padding-bottom: 0rpx;
					padding-top: 12rpx;
				}

				.list_time {
					font-size: 22rpx;
					line-height: 24rpx;
					font-weight: 400;
					color: #768196;
					padding-top: 8rpx;
					padding-bottom: 12rpx;
				}
				.comment_box{
					margin-top: 14rpx;
					.flex(row,nowrap,space-between,center);
					.time_text{
						font-size: 22rpx;
						color: #768196;
						font-weight: 400;
					}
					.status_right {
						.flex(row, nowrap, flex-end, center);
					
						.right_single {
							.flex(row, nowrap, flex-start, center);
							margin-left: 40rpx;
					
							.topic_like {
								width: 30rpx;
								height: 30rpx;
								display: block;
								padding: 10rpx;
							}
					
							.right_text {
								font-size: 24rpx;
								line-height: 24rpx;
								font-weight: 500;
								color: #0D0E15;
								margin-left: 12rpx;
							}
						}
					}
					.right_single{
					}
					image{
						width: 30rpx;
						height: 30rpx;
						display: block;
					}
				}
			}
		}

	}
</style>
