<template>
	<view class="btn_container" name="bottombtn">
		<van-button class="btn" round color="linear-gradient(90deg, #1DE5A8 0%, #41AFC3 100%)" v-if="btnsName.length==0" @click="handleConfirm(1)">{{btnName}}</van-button>
		<template v-else>
			<van-button class="btn" round color="#3FB1C1" @click="handleConfirm(1)">{{btnsName[0]}}</van-button>
			<van-button class="btn" round color="#1FE3A9" @click="handleConfirm(2)">{{btnsName[1]}}</van-button>
		</template>
	</view>
</template>

<script>
	import VanButton from '@/wxcomponents/vant/dist/button/index'
	export default {
		name: 'bottombtn',
		components: {
			VanButton: VanButton
		},
		props: {
			btnName: {
				type: String,
				default: function() {
					return ''
				}
			},
			btnsName: {
				type: Array,
				default: function() {
					return []
				}
			}
		},
		data() {
			return {}
		},
		onLoad() {

		},
		methods: {
			handleConfirm(type) {
				this.$emit('confirm',type)
			}
		}
	}
</script>

<style lang="less">
	.flex(@A, @B, @C, @D) {
		display: flex;
		flex-direction: @A;
		flex-wrap: @B;
		justify-content: @C;
		align-items: @D;
	}

	.btn_container {
		max-width: 340rpx;
		button {
			width: 232rpx;
			height: 80rpx;
			box-shadow: 0 4rpx 12rpx 0 rgba(57, 187, 189, 0.59);
			margin: 0 32rpx;
		}
		position: fixed;
		bottom: 26rpx;
		left: 0;
		right: 0;
		z-index: 99;
		margin: 0 auto;
		.flex(row, wrap, center, center);
	}
</style>
