<template>
	<view class="client_item_container" name="clientItem">
		<image src="../static/phone_icon.png" class="phone_icon" @click.stop="handleCall" />
		<view class="item_content">
			<view class="row align_between">
				<view class="left">
					<view class="name">{{dataClient.name}}</view>
					<image src="../static/male.png" class="sex" v-if="dataClient.gender=='女'" />
					<image src="../static/female_icon.png" class="sex" v-if="dataClient.gender=='男'" />
					<!-- <view class="state">{{dataClient.purchase?'推进中':'机会把握中'}}</view> -->
				</view>
				<view class="right">{{dataClient.createAt?$format.formatTimeCustom(new Date(dataClient.createAt),'-'):''}}</view>
			</view>
			<view class="row mar_top align_between">
				<!-- <view class="phone van-ellipsis">联系：{{dataClient.telephone}}</view> -->
				<view class="tags_container">
					<view class="tag" v-for="(item,index) in dataClient.tags" :key="index">{{item}}</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		name: 'clientItem',
		props: {
			dataClient: {
				type: Object
			}
		},
		data() {
			return {}
		},
		methods: {
			handleCall() {
				if (this.dataClient.telephone) {
					uni.makePhoneCall({
						phoneNumber: this.dataClient.telephone
					});
				} else {
					uni.showToast({
						icon: 'none',
						title: '此客户未登记电话',
						duration: 2500
					})
				}
			}
		}
	}
</script>

<style lang="less">
	.flex(@A, @B, @C, @D) {
		display: flex;
		flex-direction: @A;
		flex-wrap: @B;
		justify-content: @C;
		align-items: @D;
	}

	.client_item_container {
		padding: 20rpx 30rpx;
		margin-bottom: 20rpx;
		box-shadow: 0 4rpx 10rpx 0 rgba(207, 207, 207, 0.26);
		.flex(row, nowrap, flex-start, center);

		.phone_icon {
			width: 70rpx;
			height: 70rpx;
		}
	}

	.item_content {
		flex: 1;
		margin-left: 24rpx;

		.align_between {
			justify-content: space-between;
		}

		.mar_top {
			margin-top: 0rpx;
		}

		.row {
			display: flex;
			align-items: center;

			.left {
				display: flex;
				align-items: center;

				.name {
					font-size: 32rpx;
					font-weight: 500;
					color: #333333;
				}

				.sex {
					width: 86rpx;
					height: 68rpx;
				}

				.state {
					font-size: 22rpx;
					color: #1FE3A8;
					line-height: 32rpx;
				}
			}

			.right {
				font-size: 24rpx;
				color: #C8C8C8;
			}

			.phone {
				flex: 1;
				margin-right: 10rpx;
				font-size: 24rpx;
				color: #666666;
			}

			.tags_container {
				.flex(flex, wrap, flex-start, center);
				margin-right: 25rpx;
				// width: 340rpx;
				// overflow: hidden;
			}

			.tag {
				margin-top: 10rpx;
				margin-right: 10rpx;
				padding: 4rpx 20rpx;
				background: #EFFCFF;
				box-shadow: 0 4rpx 10rpx 0 rgba(207, 207, 207, 0.26);
				border-radius: 30rpx;
				font-size: 22rpx;
				color: #4AD4FF;
				white-space: nowrap;
				flex-shrink: 0;
			}
		}
	}
</style>
