<template>
	<view class="step_item">
		<view class="left">
			<view class="dot_container">
				<view class="num">{{dataInfo.seqInCustomer}}</view>
				<image src="../../../static/light_dot.png" />
			</view>
			<view class="line" v-if="!isLast"></view>
		</view>
		<view class="right">
			<view class="header">
				<view class="header_row">
					<view class="date" v-if="dataInfo.communicateAt">{{dataInfo.communicateAt?$format.formatTimeCustom(new Date(dataInfo.communicateAt),'/',true):''}}</view>
					<view class="time">{{dataInfo.duration}}分钟</view>
					<view class="type">{{dataInfo.way}}</view>
				</view>
				<view class="header_row">
					<view class="no">NO.{{dataInfo.seq}}</view>
				</view>
			</view>
			<view class="value">
				<view class="txt">
					{{dataInfo.content}}
				</view>
				<view class="edit_container" @click="handleEditCommunicate(dataInfo)">
					<image src="../../../static/edit_icon2.png" />
				</view>
			</view>
			<view class="img_container" v-if="dataInfo.attachment&&dataInfo.attachment.length>0">
				<image :src="item1" v-for="(item1,index1) in dataInfo.attachment" :key="index1" />
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		props: {
			dataInfo: {
				type: Object
			},
			isLast: {
				type: Boolean,
				default: function() {
					return true
				}
			}
		},
		data() {
			return {
				
			}
		},
		onLoad() {
			
		},
		methods: {
			handleEditCommunicate() {
				this.$emit('edit',this.dataInfo)
			},
		}
	}
</script>

<style lang="less">
	.flex(@A, @B, @C, @D) {
		display: flex;
		flex-direction: @A;
		flex-wrap: @B;
		justify-content: @C;
		align-items: @D;
	}
			.step_item {
				.flex(row, nowrap, flex-start, flex-start);
				position: relative;

				.left {
					.flex(column, nowrap, flex-start, center);
					width: 78rpx;
					position: absolute;
					top: 0;
					bottom: 0;
					margin-right: 6rpx;

					.dot_container {
						position: relative;
						width: 78rpx;
						height: 78rpx;
						.flex(row, nowrap, center, center);

						image {
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							z-index: 1;
						}

						.num {
							position: relative;
							z-index: 2;
							font-size: 24rpx;
							color: #FFFFFF;
						}
					}

					.line {
						flex: 1;
						width: 4rpx;
						background: #33DEF8;
					}
				}

				.right {
					flex: 1;
					padding-top: 18rpx;
					padding-left: 78rpx;
					padding-bottom: 30rpx;

					.header {
						.flex(row, nowrap, space-between, center);
						width: 100%;
						padding-bottom: 6rpx;
						border-bottom: 1rpx solid #C8C8C8;

						.header_row {
							.flex(row, nowrap, flex-start, center);
							font-size: 24rpx;
							color: #333333;

							.date {
								margin-right: 10rpx;
							}

							.time {
								margin-right: 30rpx;
							}

							.type {
								color: #1CDA6A;
							}

							.no {
								font-size: 28rpx;
								font-weight: 500;
								color: #23E3AA;
							}
						}
					}

					.value {
						.flex(row, nowrap, space-between, flex-end);

						.txt {
							flex: 1;
							font-size: 24rpx;
							color: #999999;
							line-height: 40rpx;
						}

						.edit_container {
							width: 40rpx;
							text-align: right;

							image {
								width: 20rpx;
								height: 20rpx;
							}
						}
					}

					.img_container {
						.flex(row, wrap, flex-start, center);

						image {
							width: 100rpx;
							height: 100rpx;
							margin-right: 18rpx;
							margin-top: 20rpx;
						}
					}
				}
			}
</style>
