<template>
	<view class="filter_container">
		<view class="inner_content" :style="{'padding-top':top+'rpx'}" v-if="type=='1'">
			<view class="inner_item">
				<view class="title">性别</view>
				<view class="tags_container">
					<view class="tag male" :class="filter1.sex==1?'male_select':''" @click="handleSex(1)">男</view>
					<view class="tag female" :class="filter1.sex==2?'female_select':''" @click="handleSex(2)">女</view>
				</view>
			</view>
			<view class="inner_item">
				<view class="title">成交状态</view>
				<view class="tags_container">
					<view class="tag" :class="filter1.state==1?'tag_select':''" @click="handleState(1)">未成交</view>
					<view class="tag" :class="filter1.state==2?'tag_select':''" @click="handleState(2)">已成交</view>
				</view>
			</view>
			<view class="inner_item">
				<view class="title">标签</view>
				<view class="tags_container">
					<view class="tag mar_right" :class="filter1.customIndex==index?'tag_select':''" v-for="(item,index) in filter1.stateList"
					 :key="index" @click="handleCustom(item,index)">{{item.name}}</view>
				</view>
			</view>
		</view>
		<view class="inner_content" :style="{'padding-top':top+'rpx'}" v-if="type=='2'">
			<view class="search_container">
				<van-search id="search" :value="filter2.keyword" shape="round" placeholder="搜索" @change="handleInputTop($event.detail)"></van-search>
			</view>
			<view class="inner_item">
				<view class="title">推进类别</view>
				<view class="tags_container">
					<view class="tag" :class="filter2.type=='default'?'tag_select':''" @click="handleStateProgress(1,1)">本客户推进</view>
					<view class="tag" :class="filter2.type=='referral'?'tag_select':''" @click="handleStateProgress(1,2)">转介绍推进</view>
				</view>
			</view>
			<view class="inner_item">
				<view class="title">是否写总结</view>
				<view class="tags_container">
					<view class="tag" :class="filter2.finishedSummary==true?'tag_select':''" @click="handleStateProgress(2,1)">是</view>
					<view class="tag" :class="filter2.finishedSummary==false?'tag_select':''" @click="handleStateProgress(2,2)">否</view>
				</view>
			</view>
			<view class="inner_item">
				<view class="title">是否写沟通</view>
				<view class="tags_container">
					<view class="tag" :class="filter2.finishedCommunication==true?'tag_select':''" @click="handleStateProgress(3,1)">是</view>
					<view class="tag" :class="filter2.finishedCommunication==false?'tag_select':''" @click="handleStateProgress(3,2)">否</view>
				</view>
			</view>
		</view>
		<view class="inner_content" :style="{'padding-top':top+'rpx'}" v-if="type=='3'">
			<view class="inner_item">
				<view class="title">机会大小</view>
				<view class="tags_container">
					<view class="tag mar_right" :class="filter3.possibility=='优'?'tag_select':''" @click="handlePossibility('优')">优</view>
					<view class="tag mar_right" :class="filter3.possibility=='良'?'tag_select':''" @click="handlePossibility('良')">良</view>
					<view class="tag mar_right" :class="filter3.possibility=='小'?'tag_select':''" @click="handlePossibility('小')">小</view>
				</view>
			</view>
			<view class="inner_item">
				<view class="title">推进阶段</view>
				<view class="tags_container">
					<view class="tag mar_right" :class="filter3.statusIndex==index?'tag_select':''" v-for="(item,index) in filter3.statusList"
					 :key="index" @click="handleStatus(item,index)">{{item}}</view>
				</view>
			</view>
			<!-- <view class="inner_item">
				<view class="title">是否转介</view>
				<view class="tags_container">
					<view class="tag" :class="filter3.status==1?'tag_select':''" @click="handleStateChance(1)">未提交</view>
					<view class="tag" :class="filter3.status==2?'tag_select':''" @click="handleStateChance(2)">已成交</view>
				</view>
			</view> -->
		</view>
		<view class="inner_btn_container">
			<van-button class="btn" block @click.native="handleReset(type)">重置</van-button>
			<van-button class="btn blue" block @click.native="handleConfirm(type)">完成</van-button>
		</view>
	</view>
</template>

<script>
	import VanButton from '@/wxcomponents/vant/dist/button/index'
	import VanSearch from '@/wxcomponents/vant/dist/search/index'
	export default {
		components: {
			VanButton,
			VanSearch
		},
		props: {
			top: {
				type: Number | String,
				default: function() {
					return 0
				}
			},
			type: {
				type: Number | String,
				default: function() {
					return '1'
				}
			}
		},
		data() {
			return {
				filter1: {
					sex: null,
					state: null,
					custom: '',
					customIndex: null,
					stateList: [],
				},
				filter2: {
					keyword: '',
					type: '',
					finishedSummary: null,
					finishedCommunication: null
				},
				filter3: {
					possibility: '',
					status: '',
					statusList: [],
					statusIndex: null,
				},
			}
		},
		methods: {
			handleSex(type) {
				this.filter1.sex = type
			},
			handleState(type) {
				this.filter1.state = type
			},
			handleCustom(item, index) {
				this.filter1.customIndex = index
				this.filter1.custom = item.name
			},
			handleStatus(item, index) {
				this.filter3.statusIndex = index
				this.filter3.status = item
			},
			handlePossibility(type) {
				this.filter3.possibility = type
			},
			handleStateProgress(type, state) {
				switch (type) {
					case 1:
						this.filter2.type = state == 1 ? 'default' : 'referral'
						break
					case 2:
						this.filter2.finishedSummary = state == 1 ? true : false
						break
					case 3:
						this.filter2.finishedCommunication = state == 1 ? true : false
						break
				}
			},
			handleReset(type) {
				switch (type) {
					case '1':
						this.filter1.sex = null
						this.filter1.state = null
						this.filter1.custom = null
						this.filter1.customIndex = null
						break
					case '2':
						this.filter2.keyword = ''
						this.filter2.type = ''
						this.filter2.finishedSummary = null
						this.filter2.finishedCommunication = null
						break
					case '3':
						this.filter3.status = ''
						this.filter3.statusIndex = null
						this.filter3.possibility = ''
						break
				}

			},
			handleConfirm(type) {
				switch (type) {
					case '1':
						this.$emit('confirm', type, {
							sex: this.filter1.sex ? this.filter1.sex == 1 ? '男' : '女' : '',
							state: this.filter1.state ? this.filter1.state == 1 ? false : true : '',
							custom: this.filter1.custom,
						},this.checkStatus(type))
						break
					case '2':
						this.$emit('confirm', type, this.filter2,this.checkStatus(type))
						break
					case '3':
						this.$emit('confirm', type, this.filter3,this.checkStatus(type))
						break

				}
			},
			handleInputTop(value) {
				this.filter2.keyword = value
			},
			getTagsData() {
				let params = {
					keyword: ''
				}
				this.$http("/mp/customer/tag/list", "get", params)
					.then(res => {
						this.filter1.stateList = res.data
					})
			},
			getStatus() {
				let params = {
					type: 'default'
				}
				this.$http("/mp/machine-state/defaultList", "get", params)
					.then(res => {
						this.filter3.statusList = res.data
					})
					.finally(() => {})
			},
			checkStatus(type) {
				let flag = false
				switch(type) {
					case '1':
						if(this.filter1.sex != null) {
							flag = true
						}
						if(this.filter1.state != null) {
							flag = true
						}
						if(this.filter1.customIndex != null) {
							flag = true
						}
						break
					case '2':
						if(this.filter2.keyword != '') {
							flag = true
						}
						if(this.filter2.type != '') {
							flag = true
						}
						if(this.filter2.finishedSummary != null) {
							flag = true
						}
						if(this.filter2.finishedCommunication != null) {
							flag = true
						}
						break
					case '3':
						if(this.filter3.status != '') {
							flag = true
						}
						if(this.filter3.statusIndex != null) {
							flag = true
						}
						if(this.filter3.possibility != '') {
							flag = true
						}
						break
				}
				return flag
			},
		}
	}
</script>

<style lang="less">
	.flex(@A, @B, @C, @D) {
		display: flex;
		flex-direction: @A;
		flex-wrap: @B;
		justify-content: @C;
		align-items: @D;
	}

	.filter_container {
		.inner_content {
			padding: 20rpx 30rpx;
			max-height: 600rpx;
			overflow-y: auto;

			.search_container {
				.van-search {
					padding-left: 0 !important;
					padding-right: 0 !important;
				}
			}

			.inner_item {
				margin-bottom: 40rpx;

				.title {
					font-size: 26rpx;
					color: #999999;
				}

				.tags_container {
					margin-top: 20rpx;
					.flex(row, wrap, flex-start, center);

					.tag {
						margin-right: 40rpx;
						margin-bottom: 20rpx;
						padding: 4rpx 38rpx;
						background: #F5F5F5;
						border-radius: 27rpx;
						font-size: 28rpx;
						color: #333333;
					}

					.male {
						background: #DAFAFF;
						color: #0AD5F6;
					}

					.female {
						background: #FFEBEE;
						color: #FF3556;
					}

					.male_select {
						background: #0AD5F6;
						color: #fff;
					}

					.female_select {
						background: #FF3556 !important;
						color: #fff !important;
					}

					.tag_select {
						background: #1EE5A9;
						color: #FFFFFF;
					}

					.mar_right {
						margin-right: 20rpx;
					}
				}
			}
		}

		.inner_btn_container {
			.flex(row, wrap, flex-start, center);

			.btn {
				flex: 1;
			}

			.blue {
				button {
					color: #23DAF7;
				}
			}
		}
	}
</style>
