<template>
	<view class="modual_box">
		<view :class="['modual_pop',(modualInfo.activeType == 5||modualInfo.activeType == 6) ? 'pop_special':'']" :style="{position: 'relative', height:height+ 'rpx',width:(modualInfo.activeType == 5||modualInfo.activeType == 6) ? '620rpx' : '564rpx '}">
			<image :src="backgroundUrl" class="bg_img"></image>
			<view class="modual_small modual_special" v-if="modualInfo.activeType == 7">
				<view class="pop_title">
					{{modualInfo.title}}
				</view>
				<view class="inner_top" v-if="modualInfo.source == 'data'" v-html="modualInfo.content">
					{{modualInfo.content}}
				</view>
				<view class="inner_top" v-else>
					{{modualInfo.content}}
				</view>
				<view class="btn_box" v-if="modualInfo.showBtns" :style="{'opacity':btnActive?1:0}">
					<view class="choose_box1" @click="cancle">
						{{modualInfo.cancleText}}
					</view>
					<view class="choose_line">
			
					</view>
					<view class="choose_box2" @click="confirm">
						{{modualInfo.confirmText}}
					</view>
				</view>
				<view class="other_box" v-else :style="{'opacity':btnActive?1:0}">
			
					<view class="other_btn" @click="bindVip" v-if="modualInfo.confirmText == '立即升级'">
						立即升级
					</view>
					<view class="other_btn" @click="modualChange" v-else>
						知道了～
					</view>
				</view>
			</view>
			<view class="modual_small" v-if="modualInfo.activeType == 1">
				<view class="inner_top" v-if="modualInfo.source == 'data'" v-html="modualInfo.content">
					{{modualInfo.content}}
				</view>
				<view class="inner_top" v-else>
					{{modualInfo.content}}
				</view>
				<view class="btn_box" v-if="modualInfo.showBtns" :style="{'opacity':btnActive?1:0}">
					<view class="choose_box1" @click="cancle">
						{{modualInfo.cancleText}}
					</view>
					<view class="choose_line">

					</view>
					<view class="choose_box2" @click="confirm">
						{{modualInfo.confirmText}}
					</view>
				</view>
				<view class="other_box" v-else :style="{'opacity':btnActive?1:0}">

					<view class="other_btn" @click="bindVip" v-if="modualInfo.confirmText == '立即升级'">
						立即升级
					</view>
					<view class="other_btn" @click="modualChange" v-else>
						知道了～
					</view>
				</view>
			</view>
			<view v-if="modualInfo.activeType == 2" class="modual_middle" :style="{width: modualInfo.showSingle?'400rpx':'100%',padding:modualInfo.showSingle?'0 36rpx':'0 78rpx',marginLeft:modualInfo.showSingle?'164rpx':'0rpx'}">
				<view class="modual_inner">
					<view class="pop_title">
						{{modualInfo.title}}
					</view>

					<view class="pop_text" v-if="modualInfo.source == 'data'" v-html="modualInfo.content">
						<!-- {{modualInfo.content}} -->
					</view>
					<view class="pop_text" v-else>
						{{modualInfo.content}}
					</view>
					<view class="btn_box" v-if="modualInfo.showBtns" :style="{'opacity':btnActive?1:0}">
						<view class="choose_box1" @click="cancle">
							{{modualInfo.cancleText}}
						</view>
						<view class="choose_line">

						</view>
						<view class="choose_box2" @click="confirm">
							{{modualInfo.confirmText}}
						</view>
					</view>
					<view class="other_box" v-else :style="{'opacity':btnActive?1:0}">
						<view class="other_btn" @click="modualChange">
							知道了～
						</view>
					</view>
				</view>
			</view>
			<view class="modual_middle" v-if="modualInfo.activeType == 3" :style="{width: modualInfo.showSingle?'400rpx':'100%',padding:modualInfo.showSingle?'0 36rpx':'0 78rpx',marginLeft:modualInfo.showSingle?'164rpx':'0rpx'}">
				<view class="modual_inner">
					<view class="pop_title">
						{{modualInfo.title}}
					</view>
					<view :class="['pop_text',modualInfo.showScroll?'scroll':'']" v-if="modualInfo.source == 'data'" v-html="modualInfo.content">
						<!-- {{modualInfo.content}} -->
					</view>
					<view :class="['pop_text',modualInfo.showScroll?'scroll':'']" v-else>
						{{modualInfo.content}}
					</view>
					<view class="btn_box" v-if="modualInfo.showBtns" :style="{'opacity':btnActive?1:0}">
						<view class="choose_box1" @click="cancle">
							{{modualInfo.cancleText}}
						</view>
						<view class="choose_line">

						</view>
						<view class="choose_box2" @click="confirm">
							{{modualInfo.confirmText}}
						</view>
					</view>
					<view class="other_box" v-else :style="{'opacity':btnActive?1:0}">
						<view class="other_btn" @click="bindTopic" v-if="modualInfo.confirmText == '100'">
							立即打开
						</view>
						<view class="other_btn" @click="modualChange" v-else-if="modualInfo.confirmText == '支持'">
							支持
						</view>
						<view class="other_btn" @click="modualChange" v-else>
							知道了～
						</view>
					</view>
				</view>
			</view>
			<view class="modual_middle" v-if="modualInfo.activeType == 4" :style="{width: modualInfo.showSingle?'400rpx':'100%',padding:modualInfo.showSingle?'0 36rpx':'0 78rpx',marginLeft:modualInfo.showSingle?'164rpx':'0rpx'}">
				<view class="modual_inner">
					<view class="pop_title">
						{{modualInfo.title}}
					</view>
					<view :class="['pop_text',modualInfo.showScroll?'scroll':'']">
						{{modualInfo.content}}
					</view>
					<view class="btn_box_special" v-if="modualInfo.showBtns" :style="{'opacity':btnActive?1:0}">
						<view class="choose_box1" @click="cancle">
							{{modualInfo.cancleText}}
						</view>
						<view class="choose_line">

						</view>
						<view class="choose_box2" @click="confirm">
							{{modualInfo.confirmText}}
						</view>
					</view>
					<view class="other_box" v-else :style="{'opacity':btnActive?1:0}">
						<view class="other_btn" @click="modualChange">
							知道了～
						</view>
					</view>
				</view>
			</view>
			<view class="modual_middle" v-if="modualInfo.activeType == 5" :style="{width: modualInfo.showSingle?'400rpx':'100%',padding:modualInfo.showSingle?'0 36rpx':'0 78rpx',marginLeft:modualInfo.showSingle?'164rpx':'0rpx'}">
				<view class="modual_inner">
					<view class="pop_title">
						{{modualInfo.title}}
					</view>
					<view :class="['pop_text',modualInfo.showScroll?'scroll':'']">
						{{modualInfo.content}}
					</view>
					<view class="btn_box_special" v-if="modualInfo.showBtns">
						<view class="choose_box1" @click="cancle">
							{{modualInfo.cancleText}}
						</view>
						<view class="choose_line">

						</view>
						<view class="choose_box2" @click="confirm">
							{{modualInfo.confirmText}}
						</view>
					</view>
					<view class="other_box" v-else :style="{'opacity':btnActive?1:0,'position':'relative','top':'10rpx'}">
						<view class="other_btn" @click="modualChange">
							知道了～
						</view>
					</view>
				</view>
			</view>
			<view class="modual_middle content_right" v-if="modualInfo.activeType == 6" :style="{width: modualInfo.showSingle?'400rpx':'100%',padding:modualInfo.showSingle?'0 36rpx':'0 78rpx',marginLeft:modualInfo.showSingle?'164rpx':'0rpx'}">
				<view class="modual_inner modual_small1">
					<view class="pop_title">
						{{modualInfo.title}}
					</view>
					<view :class="['pop_text',modualInfo.showScroll?'scroll':'']" v-if="modualInfo.source == 'data'" v-html="modualInfo.content">
						<!-- {{modualInfo.content}} -->
					</view>
					<view :class="['pop_text',modualInfo.showScroll?'scroll':'']" v-else>
						{{modualInfo.content}}
					</view>
					<view class="btn_box" v-if="modualInfo.showBtns" :style="{'opacity':btnActive?1:0}">
						<view class="choose_box1" @click="cancle">
							{{modualInfo.cancleText}}
						</view>
						<view class="choose_line choose_line_small">

						</view>
						<view class="choose_box2" @click="confirm">
							{{modualInfo.confirmText}}
						</view>
					</view>
					<view class="other_box" v-else :style="{'opacity':btnActive?1:0}">
						<view class="other_btn" @click="modualChange">
							知道了～
						</view>
					</view>
				</view>
			</view>
			<image src="../static/close_modual.png" mode="" class="close_icon" v-if="modualInfo.showClose"></image>
			<image src="../static/single_icon.png" mode="" class="single_icon" v-if="modualInfo.showSingle"></image>
		</view>
	</view>
</template>

<script>
	export default {
		props: {
			modualInfo: {
				type: Object,
				default: function() {
					return {
						activeType: 0,
						showClose: false,
						showSingle: false,
						showBtns: false,
						showScroll: false,
						title: "",
						content: "",
						cancleText: "否",
						confirmText: "是",
						source: "",
						backgroundUrl: ""
					}
				}
			},
		},
		data() {
			return {
				backgroundUrl: "",
				height: 0,
				btnActive: false
			};
		},
		onLoad() {

		},
		created() {
			switch (this.modualInfo.activeType) {
				case 1:
					this.backgroundUrl = require('@/static/blackboard1.png')
					this.height = 302
					break
				case 2:
					this.backgroundUrl = require('@/static/blackboard4.png')
					this.height = 438
					break
				case 3:
					this.backgroundUrl = require('@/static/blackboard2.png')
					this.height = 616
					break
				case 4:
					this.backgroundUrl = require('@/static/blackboard5.png')
					this.height = 731
					break
				case 5:
					this.backgroundUrl = this.modualInfo.backgroundUrl
					this.height = 616 * 1.1
					break
				case 6:
					this.backgroundUrl = require('@/static/blackboard3.png')
					this.height = 396 * 1.1
					break
				case 7:
					this.backgroundUrl = require('@/static/blackboard1.png')
					this.height = 302
					break
			}
			this.btnActive = true
		},
		methods: {
			// 跳转vip页面
			bindVip() {
				uni.navigateTo({
					url: "/pages/pagesPerson/vip/vip"
				})
			},
			bindTopic() {
				uni.navigateBack()
			},
			modualChange() {
				this.$emit("modualChange", 'close')
			},
			cancle() {
				if (this.modualInfo.confirmText == "立即升级") {
					uni.navigateBack()
				} else {
					this.$emit("modualCancle")
				}
			},
			confirm() {
				if (this.modualInfo.confirmText == "立即升级") {
					uni.navigateTo({
						url: "/pages/pagesPerson/vip/vip"
					})
				} else {

					this.$emit("modualConfirm")
				}
			}
		}
	}
</script>

<style lang="less">
	.flex(@A, @B, @C, @D) {
		display: flex;
		flex-direction: @A;
		flex-wrap: @B;
		justify-content: @C;
		align-items: @D;
	}

	.modual_box {
		position: fixed;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background: rgba(51, 51, 51, 0.5);
		z-index: 999999;
		.flex(row, nowrap, center, center);

		.bg_img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		.pop_special {
			background: rgba(51, 51, 51, 0);
			width: 620rpx !important;
			background-size: 100% 100%;
		}

		.modual_pop {
			background: rgba(51, 51, 51, 0);
			width: 564rpx;
			background-repeat: no-repeat;
			position: relative;

			.modual_small {
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				box-sizing: border-box;
				padding-top: 92rpx;
				padding-bottom: 46rpx;
				.flex(column, wrap, space-between, center);

				.inner_top {
					font-size: 36rpx;
					font-weight: 500;
					color: #FFFFFF;
					line-height: 50rpx;
					text-align: center;
					box-sizing: border-box;
					padding: 0 30rpx;
					width: 100%;
				}

				.btn_box {
					.flex(row, nowrap, center, center);

					.choose_box1 {
						font-size: 28rpx;
						line-height: 40rpx;
						color: #57AA7E;
					}

					.choose_box2 {
						font-size: 28rpx;
						line-height: 40rpx;
						color: #EDC778;
					}

					.choose_line {
						width: 4rpx;
						height: 32rpx;
						background: #FFFFFF;
						margin-left: 72rpx;
						margin-right: 72rpx;
					}
				}

				.other_box {
					.flex(row, nowrap, center, center);

					.other_btn {
						height: 46rpx;
						border-radius: 23rpx;
						background: #234B35;
						padding: 0 14rpx;
						line-height: 46rpx;
						font-size: 30rpx;
						color: #EDC778;
					}
				}

			}
			

			.modual_middle {
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				box-sizing: border-box;

				.modual_inner {
					height: 100%;
					padding: 58rpx 0rpx 64rpx 0rpx;
					box-sizing: border-box;
					color: #FFFFFF;
					.flex(column, nowrap, space-between, center);
				}

				.modual_small1 {
					padding: 58rpx 0rpx 24rpx 0rpx;

					.pop_text {
						font-size: 29rpx !important;
						line-height: 36rpx !important;
					}

					.btn_box {
						font-size: 24rpx !important;
					}
				}

				.pop_title {
					font-size: 36rpx;
					line-height: 50rpx;
					font-weight: bold;
					text-align: center;
				}

				.pop_text {
					font-size: 26rpx;
					line-height: 38rpx;
					letter-spacing: 1rpx;
				}

				.scroll {
					overflow-y: auto !important;
					max-height: 410rpx !important;
					white-space: pre-line;
				}

				.btn_box {
					.flex(row, nowrap, center, center);

					.choose_box1 {
						font-size: 28rpx;
						line-height: 40rpx;
						color: #57AA7E;
					}

					.choose_box2 {
						font-size: 28rpx;
						line-height: 40rpx;
						color: #EDC778;
					}

					.choose_line {
						width: 4rpx;
						height: 32rpx;
						background: #FFFFFF;
						margin-left: 72rpx;
						margin-right: 72rpx;
					}

					.choose_line_small {
						margin-left: 32rpx !important;
						margin-right: 32rpx !important;
					}
				}

				.btn_box_special {
					.flex(row, nowrap, center, center);

					.choose_box1 {
						width: 140rpx;
						text-align: right;
						font-size: 28rpx;
						line-height: 40rpx;
						color: #57AA7E;
					}

					.choose_box2 {
						width: 140rpx;
						text-align: left;
						font-size: 28rpx;
						line-height: 40rpx;
						color: #EDC778;
					}

					.choose_line {
						width: 4rpx;
						height: 32rpx;
						background: #FFFFFF;
						margin-left: 72rpx;
						margin-right: 72rpx;
					}
				}

				.other_box {
					.flex(row, nowrap, center, center);

					.other_btn {
						height: 46rpx;
						border-radius: 23rpx;
						background: #234B35;
						padding: 0 14rpx;
						line-height: 46rpx;
						font-size: 30rpx;
						color: #EDC778;
					}
				}
			}

			.content_right {
				padding-box: border-box;
				padding: 50rpx 30rpx 20rpx 175rpx !important;
			}

			.modual_big {}

			.close_icon {
				width: 60rpx;
				height: 60rpx;
				position: absolute;
				top: -30rpx;
				right: -30rpx;
			}

			.single_icon {
				width: 256rpx;
				height: 470rpx;
				position: absolute;
				bottom: 0rpx;
				left: -58rpx;
			}
		}
		.modual_special{
			padding-top: 30rpx!important;
			padding-bottom: 30rpx!important;
			.pop_title{
				font-size: 36rpx;
				line-height: 50rpx;
				font-weight: bold;
				text-align: center;
				color: #FFFFFF;
			}
			.inner_top{
				font-size: 26rpx!important;
				color: #FFFFFF;
				text-align: left!important;
			}
			
		}
	}
</style>
