<template>
	<view class="bar" :style="{'height': 'calc(' + titleBarHeight + ' + ' +  statusBarHeight + ')'}">
		<image v-if="navInfo.backType == 2" src="../static/header_back.png" mode="" class="header_back" :style="{'height': 'calc(' + titleBarHeight + ' + ' +  statusBarHeight + ')'}"></image>
		<view class="nav_header" :style="{'height':titleBarHeight,'padding-top':statusBarHeight,'background-color': navInfo.bg_color,
'background': navInfo.backType ==1 ?'linear-gradient(90deg, #1DE5A8 0%, #41AFC3 100%)': navInfo.backType ==2 ?'':'navInfo.bg_color'}">
			<view class="leftArrow" v-if="navInfo.flag===2" @click="back">
				<image src="../static/left_arrow.png" mode="" class="left_arrow"></image>
			</view>
			<view class="leftArrow" v-if="navInfo.flag===4" @click="back">
				<van-icon class="arrow_icon" name="arrow-left" color="#000000" />
			</view>
			<view class="header_title" :style="{'color': navInfo.color}">{{navInfo.name}}</view>
		</view>
	</view>
	<!-- 	<cover-view  class="bar" :style="{'height': 'calc(' + titleBarHeight + ' + ' +  statusBarHeight + ')'}">
		<cover-image v-if="navInfo.backType == 2" src="../static/header_back.png" mode="" class="header_back" :style="{'height': 'calc(' + titleBarHeight + ' + ' +  statusBarHeight + ')'}"></cover-image>
		<cover-view class="nav_header" :style="{'height':titleBarHeight,'padding-top':statusBarHeight,'background-color': navInfo.bg_color,
'background': navInfo.backType ==1 ?'linear-gradient(90deg, #1DE5A8 0%, #41AFC3 100%)': navInfo.backType ==2 ?'':'navInfo.bg_color'}">
			<cover-view class="leftArrow" v-if="navInfo.flag===2" @click="back">
				<cover-image src="../static/left_arrow.png" mode="" class="left_arrow" ></cover-image>
			</cover-view>
			<cover-view class="header_title" :style="{'color': navInfo.color}">{{navInfo.name}}</cover-view>
		</cover-view>
	</cover-view> -->
</template>
<script>
	import VanIcon from '@/wxcomponents/vant/dist/icon/index'
	export default {
		components: {
			VanIcon
		},
		props: {
			navInfo: {
				type: Object,
				default: function() {
					return {
						"activeType": 0,
						"color": "#FFFFFF",
						"flag": 3,
						"name": "",
						"backType": 1
					}
				}
			}
		},
		data() {
			return {
				statusBarHeight: 0,
				titleBarHeight: 0,
			}
		},
		created() {
			var that = this;
			uni.getSystemInfo({
				success: function(res) {
					if (res.model.indexOf('iPhone X') !== -1) {
						that.titleBarHeight = 44 + 'px';
					} else {
						that.titleBarHeight = 48 + 'px';
					}
					that.statusBarHeight = res.statusBarHeight + 'px'
				},

			})
		},
		methods: {
			// 回到上一页
			back () {
				let page = getCurrentPages()
				console.log(page)
				if (page.length == 1) {
					uni.reLaunch({
						url: "/pages/index/index"
					})
				} else {
					uni.navigateBack()
				}
			},
		}
	}
</script>

<style lang="less">
	.bar {
		position: relative;

		.header_back {
			width: 750rpx;
			height: 100%;
			font-display: block;
		}
	}

	.back_img {
		background-image: url('https://xiaoguan-67477.oss-cn-hangzhou.aliyuncs.com/bg/bg1.jpg');
	}

	.nav_header {
		display: flex;
		align-items: center;
		top: 0;
		width: 100%;
		z-index: 100000;
		position: absolute;
		left: 0;
		top: 0;

		.weight {
			font-weight: bold;
		}

		.leftArrow {
			.left_arrow {
				width: 24rpx;
				height: 44rpx;
				margin-left: 50rpx;
				margin-top: 12rpx;
				margin-right: 50rpx;
				// padding-right: 16rpx;
			}

			.arrow_icon {
				margin-left: 30rpx;
				font-size: 40rpx;
			}
		}

		.header_title {
			position: absolute;
			left: 50%;
			font-size: 38rpx;
			transform: translateX(-50%);
		}

		.header-back {
			position: absolute;
			left: 15rpx;
			font-size: 30rpx;
			padding: 10rpx;
			border-radius: 50%;
			border: 1px solid red;
		}
	}
</style>
