<template>
	<view class="page_disable_container" :style="{'background': background}">
		<image src="../static/account_bg.png" class="bg_img"></image>
		<view v-if="$isAndroid()">
			<view class="txt">解锁签单辅助系统，成交如有神助。如有需要，可升级为销魂俱乐部超级VIP，开启爆单之路。（原套餐剩余天数可折算后抵扣同等费用）</view>
			<!-- <van-button class="btn" round color="linear-gradient(90deg, #1DE5A8 0%, #41AFC3 100%)" @click.native="handleToVip">前往升级</van-button> -->
			<button @click="handleToVip" type="default" class="btn">前往升级</button>
		</view>
		<view v-else style="color:white;">
			由于相关规范，iOS功能暂不可用
		</view>
	</view>
</template>

<script>
	import VanButton from '@/wxcomponents/vant/dist/button/index'
	export default {
		name: 'pagedisable',
		components: {
			VanButton: VanButton
		},
		props: {
			background: {
				type: String,
				default: function() {
					return '#ffffff'
				},
			}
		},
		data() {
			return {
			}
		},
		onLoad() {
			
		},
		methods: {
			handleToVip() {
				uni.navigateTo({
					url: '/pages/pagesPerson/vip/vip'
				})
			}
		}
	}
</script>

<style lang="less">
	.flex(@A, @B, @C, @D) {
		display: flex;
		flex-direction: @A;
		flex-wrap: @B;
		justify-content: @C;
		align-items: @D;
	}
	.page_disable_container {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 10;
		.flex(column,nowrap,center,center);
	}
	
	.txt {
		text-align: center;
		padding: 0 60rpx;
		color: #fff;
		font-size: 32rpx;
	}
	
	.btn {
		margin-top: 30rpx;
		button {
			width: 260rpx;
		}
	}
	
	.bg_img {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		display: block;
		width: 100%;
		height: 100%;
	}

	.btn {
		width: 472rpx;
		height: 84rpx;
		background: linear-gradient(90deg, #1DE4A8 0%, #41AFC3 100%);
		box-shadow: 0px 4rpx 12rpx 0rpx rgba(57, 187, 189, 0.59);
		border-radius: 40rpx;
		color: #FFFFFF!important;
		font-size: 32rpx;
		font-weight: bold;
	}
</style>
