<template>
	<view>
		<view class="preview_container" name="preview" v-if="previewVisible" @click="handleClose">
			<van-popup :show="popupVisible">
				<view class="popup_content">
					<image :src="imgUrl" mode="widthFix" @click="handleClose"></image>
				</view>
			</van-popup>
		</view>
	</view>
</template>

<script>
	import VanPopup from '@/wxcomponents/vant/dist/popup/index'
	export default {
		name: 'preview',
		components: {
			VanPopup
		},
		props: {
			imgUrl: {
				type: String
			}
		},
		data() {
			return {
				previewVisible: false,
				popupVisible: false
			}
		},
		methods: {
			handleOpen() {
				this.previewVisible = true
				this.$nextTick(() => {
					this.popupVisible = true
				})
			},
			handleClose() {
				this.popupVisible = false
				setTimeout(()=>{
					this.previewVisible = false
				},300)
			}
		}
	}
</script>

<style lang="less">
	.flex(@A, @B, @C, @D) {
		display: flex;
		flex-direction: @A;
		flex-wrap: @B;
		justify-content: @C;
		align-items: @D;
	}
	.preview_container {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 999999;
		overflow: hidden;
	}
</style>
