<template>
	<view class="tabbar" style="background:transparent">
		<image :src="isIpx?'../static/tabbar_back2.png':'../static/tabbar_back.png'" mode="" class="tabbar_back"></image>
		<view class="tabber_content">
			<view class="tabbar_single" v-for="(item,index) in tabList" :key="index" @click="tabChange(item,index)">
				<image v-if="activeIndex == index && index!=2" :src="'../static/'+item.icon+'_active.png'" mode="" class="tabbar_icon"></image>
				<image v-if="activeIndex != index&& index!=2" :src="'../static/'+item.icon+'.png'" mode="" class="tabbar_icon"></image>
				<image v-if="activeIndex != index && index == 2" src="../static/grow.png" mode="" class="grow_icon"></image>
				<image v-if="activeIndex == index && index == 2" src="../static/grow_active.png" mode="" class="grow_icon"></image>
				<view :class="activeIndex==index?'tabber_title_active':'tabber_title'" :style="{'marginTop': index==2?'60rpx':'6rpx','color':index==2 && activeIndex==index?'#9E6E17':''}">
					{{item.name}}
				</view>
			</view>
		</view>
		<!-- 	<view class="bar_left">
			<view class="bar_single">
				<image src="../static/chance_active.png" mode="" class="bar_img"></image>
				<view class="bar_title">
					机会
				</view>
			</view>
			<view class="bar_single">
				<image src="../static/chance_active.png" mode="" class="bar_img"></image>
				<view class="bar_title">
					机会
				</view>
			</view>
		</view>
		<view class="bar_left">
			<view class="bar_single">
				<image src="../static/chance_active.png" mode="" class="bar_img"></image>
				<view class="bar_title">
					机会
				</view>
			</view>
			<view class="bar_single">
				<image src="../static/chance_active.png" mode="" class="bar_img"></image>
				<view class="bar_title">
					机会
				</view>
			</view>
		</view> -->
	</view>
</template>

<script>
	export default {
		props: {
			activeIndex: {
				type: Number,
				default: function() {
					return 0
				},
			},
		},
		created() {
			this._activeIndex = this.activeIndex
		},
		data() {
			return {
				isIpx: false,
				_activeIndex: 0,
				tabList: [{
						name: '签单辅助',
						icon: 'chance',
						url: '/pages/index/index',
					},
					{
						name: '实力评估',
						icon: 'client',
						url: '/pages/pagesGrow/strength/strength',
					},
					{
						name: '技能提升',
						icon: 'client',
						url: '/pages/pagesGrow/index/index',
					},
					{
						name: '数据分析',
						icon: 'data',
						url: '/pages/dataIndex/dataIndex',
					},
					{
						name: '个人中心',
						icon: 'mine',
						url: '/pages/pagesPerson/index/index',
					},
				],
			}
		},
		created() {
			let that = this
			uni.getSystemInfo({
				success: function(res) {
					if (res.model.indexOf('iPhone X') !== -1) {
						that.isIpx = true;
					} else {
						that.isIpx = false
					}
				},
			
			})
		},
		methods: {
			// 导航切换
			tabChange(item, index) {
				this._activeIndex = index
				console.log(1234)
				console.log(item.url)
				let pages = getCurrentPages() 
				console.log(pages)
				let currentPage = pages[pages.length - 1]
				console.log(currentPage.$page.fullPath)
				if (item.url != currentPage.$page.fullPath) {
					// uni.reLaunch({
					// 	url: item.url
					// })
					uni.redirectTo({
						url:item.url
					})
				}
			},
		},
	}
</script>

<style lang="less">
	.flex(@A, @B, @C, @D) {
		display: flex;
		flex-direction: @A;
		flex-wrap: @B;
		justify-content: @C;
		align-items: @D;
	}

	.tabbar {
		width: 750rpx;
		// height: 104rpx;
		background: #ffffff;
		height: 120rpx;
		position: fixed;
		left: 0;
		bottom: 0;
		z-index: 99999999;

		// background: #FFFFFF;
		// border-top-left-radius: 16rpx;
		// border-top-right-radius: 16rpx;
		.tabbar_back {
			position: absolute;
			left: 0;
			top: -10rpx;
			width: 750rpx;
			height: 138rpx;
			display: block;
		}

		.tabber_content {
			width: 750rpx;
			height: 120rpx;
			position: absolute;
			left: 0;
			top: 0;
			.flex(row, nowrap, flex-start, center);

			.tabbar_single {
				width: 20%;
				height: 100%;
				position: relative;
				box-sizing: border-box;
				padding-top: 20rpx;
				.flex(column, wrap, center, center);

				.tabbar_icon {
					position: relative;
					right: -2rpx;
					bottom: -2rpx;
					width: 46rpx;
					height: 46rpx;
					display: block;
				}

				.grow_icon {
					width: 138rpx;
					height: 138rpx;
					display: block;
					position: absolute;
					left: 50%;
					margin-left: -70rpx;
					top: -43rpx;
				}

				.tabber_title {
					font-size: 22rpx;
					line-height: 32rpx;
					color: #666666;
					margin-top: 13rpx;
					letter-spacing: 1rpx;
				}

				.tabber_title_active {
					font-size: 22rpx;
					line-height: 32rpx;
					color: #00c78d;
					margin-top: 13rpx;
					letter-spacing: 1rpx;
				}
			}
		}

		.flex(row, nowrap, space-between, center);

		.bar_left {
			width: 50%;
			.flex(row, nowrap, space-between, center);

			.bar_single {
				width: 50%;
				.flex(column, nowrap, space-between, center);

				.bar_img {
					width: 46rpx;
					height: 46rpx;
					display: block;
					margin-top: 16rpx;
					margin-bottom: 8rpx;
				}

				.bar_title {
					font-size: 22rpx;
					line-height: 32rpx;
					color: #666666;
					font-weight: 400;
				}

				.bar_title_active {
					font-size: 22rpx;
					line-height: 32rpx;
					color: #00c78d;
					font-weight: 500;
				}
			}
		}
	}
</style>
