<template>
	<view class="toast_box">
		<view class="toast_pop">
			{{title}}
		</view>
	</view>
</template>

<script>
	export default {
		props: {
			title: {
				type: String,
				default: function() {
					return ""
				},
			},
		},
		data() {
			return {
				
			};
		}
	}
</script>

<style lang="less" scoped>
.toast_box{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	// background: rgba(0,0,0,0);
	z-index: 999999;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	.toast_pop{
		padding: 25rpx 30rpx;
		background: rgba(0,0,0,.7);
		font-size: 28rpx;
		color: #FFFFFF;
		border-radius: 8rpx;
		letter-spacing: 2rpx;
		max-width: 400rpx;
		text-align: center;
	}
}
</style>
