<template>
	<view class="vip_container" :style="{'padding-top': navHeight + 'px'}">
		<nav-bar :navInfo="navInfo" class="nav_header" @showCancleModal="showCancleModal"></nav-bar>
		<image src="../static/vip_bg.png" class="vip_bg" :style="{'top': navHeight + 'px'}" />
		<view class="vip_content">
			<!-- <view class="vip_item">
				<view class="title_container">
					<image src="../../../static/vip_ticket.png" />
					<view class="value">会员卡券({{couponList.length}}张）</view>
				</view>
				<view class="ticket_container">
					<view class="ticket_item" v-for="(item,index) in couponList" @click="activeCoupon(item)" :key="index">
						<view class="ticket_title">{{item.name}}</view>
						<view class="ticket_inner">
							<view class="day">
								<span>{{item.value}}</span>
								<span>天</span>
							</view>
							<view class="ticket_btn" v-if="!item.used">激活</view>
						</view>
					</view>
						<view class="ticket_item">
						<view class="ticket_title">体验券</view>
						<view class="ticket_inner">
							<view class="day">
								<span>7</span>
								<span>天</span>
							</view>
							<view class="ticket_btn">激活</view>
						</view>
					</view>
					<view class="ticket_item">
						<view class="ticket_title">体验券</view>
						<view class="ticket_inner">
							<view class="day">
								<span>7</span>
								<span>天</span>
							</view>
							<view class="ticket_btn">激活</view>
						</view>
					</view>
					<view class="ticket_item select_ticket">
						<view class="ticket_title">分享奖励</view>
						<view class="ticket_inner">
							<view class="day">
								<span>30</span>
								<span>天</span>
							</view>
							<view class="ticket_btn">激活</view>
						</view>
					</view>
					<view class="ticket_item select_ticket">
						<view class="ticket_title">分享奖励</view>
						<view class="ticket_inner">
							<view class="day">
								<span>30</span>
								<span>天</span>
							</view>
							<view class="ticket_btn">激活</view>
						</view>
					</view>
				</view>
				<view class="line"></view>
			</view> -->
			<view class="vip_item">
				<!-- <view class="title_container">
					<image src="../../../static/vip_crown.png" />
					<view class="value">会员套餐<span style="color:#E7BF78;">（上市特惠）</span></view>
				</view> -->
				<view class="package_container">
					<view class="package_row">
						<view :class="item.checked?'package_item package_select':'package_item'" v-for="(item,index) in listData" :key="index"
						 @click="bindChoose(item,index)">
							<view class="package_item_content">
								<view class="vip_type" v-if="item.formateName=='销魂俱乐部'">{{getType(item.vipLevel).card}}</view>
								<view class="package_title" :style="{'background': item.formateName=='销魂俱乐部'?'linear-gradient(147deg, #FFD250 0%, #FFA629 100%)':'linear-gradient(321deg, #DEC09F 0%, #F0D6B5 100%)'}">{{item.formateName}}</view>
								<view class="package_name">
									<image :src="item.formateName=='销魂俱乐部'?require('../static/vip_super.png'):require('../static/vip_normal.png')" />
									<span>{{item.vip}}</span>
								</view>
								<view class="money">
									<span>￥</span>
									<span>{{item.discountMoneyStr}}</span>
									<span>{{item.formateName=='销魂俱乐部'?'':getType(item.vipLevel).type}}</span>
								</view>
								<view class="market">
									￥{{item.moneyStr}}
								</view>
							</view>
						</view>
						<!-- 	<view class="package_item">
							<view class="package_title">月卡VIP</view>
							<view class="money">
								<span>￥</span>
								<span>100</span>
							</view>
							<view class="market">
								原价 ￥100
							</view>
						</view>
						<view class="package_item">
							<view class="package_title">月卡VIP</view>
							<view class="money">
								<span>￥</span>
								<span>100</span>
							</view>
							<view class="market">
								原价 ￥100
							</view>
						</view>
						<view class="package_item">
							<view class="package_title">月卡VIP</view>
							<view class="money">
								<span>￥</span>
								<span>100</span>
							</view>
							<view class="market">
								原价 ￥100
							</view>
						</view> -->
					</view>
				<!-- 	<view class="change_box">

						<view class="title_container">
							<image src="../../../static/vip_crown.png" />
							<view class="value">兑换码<span style="color:#E7BF78;">（上市特惠）</span></view>
						</view>
						<view class="input_container">
							<van-field :value="inputValue" placeholder="请输入兑换码" />
							<van-button color="linear-gradient(89deg, #74DCE9 0%, #0FC0C1 100%)">确定</van-button>
						</view>
					</view> -->
					<!-- <view class="checkbox_container">
						<van-checkbox :value="counponChecked" checked-color="#32CACF">8折优惠券</van-checkbox>
					</view> -->
				</view>
			</view>
			<view class="vip_title">
				<view class="line"></view>
				<view class="title_txt">功能介绍</view>
				<view class="line"></view>
			</view>
			<view class="img_container">
				<image src="../static/vip_detail.png" mode="widthFix" />
			</view>
			<view class="vip_title">
				<view class="line"></view>
				<view class="title_txt">购买须知</view>
				<view class="line"></view>
			</view>
			<view class="info_container">
				<view class="info_row">1、 月=31天，半年=183天，年=365天。</view>
				<view class="info_row">2、 购买套餐后不支持退款，请试用满意再下单。</view>
				<view class="info_row">3、 如有疑问请联系客服微信：zhitan-002。</view>
				<view class="info_row"> 4、 原抖音和网易的做单王秘诀学员可联系客服获取学员专属特惠码</view>
			</view>
			<view class="btn_container">
				<view class="left">
					<view class="btn_content">
						<view class="name" v-if="formateName">
							<span>{{formateName}}</span>
							<span>VIP</span>
						</view>
						<view class="price" v-if="payMoney && payMoney > 0">
							<span>{{payMoney}}</span>
							<span>元{{getType(vipLevel).type}}</span>
						</view>
						<!-- <view class="price" v-if="payMoney > 0 && payMoney != totalFee">
							<span>{{totalFee}}</span>
							<span>元/{{vipLevel==2?'半年':'年'}}</span>
						</view> -->
					</view>
				</view>
				<!-- <van-button color="#E7BF78" round @click="bindPayment">立即支付 
				<text class="discount_money" v-if="payMoney > 0 ">({{payMoney}}元)</text>
				<text class="origin_money" v-if="payMoney > 0 && payMoney != totalFee">{{totalFee}}元</text></van-button> -->
				<view class="right" @click="bindPayment">立即开通</view>
				<!-- <van-button color="#E7BF78" round @click="bindPayment">立即支付 <text class="discount_money" v-if="payMoney > 0 ">({{payMoney}}元)</text><text
					 class="origin_money" v-if="payMoney > 0 && payMoney != totalFee">{{totalFee}}元</text></van-button> -->
			</view>
		</view>
	</view>
</template>

<script>
	import app from '../../../App.vue'
	export default {
		data() {
			return {
				navInfo: {
					bg_color: '',
					color: '#000000',
					flag: 4,
					name: '购买VIP套餐',
					backType: 0
				},
				productDiscountInfo: null,
				isIpx: app.globalData.isIpx,
				navHeight: app.globalData.navHeight,
				counponChecked: false,
				listData: [],
				totalPrice: 0,
				payMoney: 0,
				totalFee: 0,
				productId: "",
				couponCode: "",
				discountInfo: {},
				orginMoney: 0,
				couponList: [],
				userInfo: {},
				vipLevel: 1.,
				formateName: '',
				hasCoupon: false
			}
		},
		computed: {
			getType(level) {
				return function(level) {
					let obj = {
						card: '',
						type: ''
					}
					switch (level) {
						case 3:
							obj.card = '年卡'
							obj.type = '/年'
							break
						case 2:
							obj.card = '半年'
							obj.type = '/半年'
							break
						case 1:
							obj.card = '月卡'
							obj.type = '/月'
							break
					}
					return obj
				}
			}
		},
		onLoad(options) {
			// 3PW1GV2P2N
			// this.getCouonList()
			// this.getList()
			if (options.scene) {
				let scene = decodeURIComponent(options.scene)
				this.couponCode = scene.split("=")[1]
				this.hasCoupon = true
			}
			console.log(getCurrentPages())
		},
		onShow() {
			this.getCouonList()
			this.getList()
			this.getUserInfo()
		},
		methods: {
			// 获取用户信息
			getUserInfo() {
				this.$http("/mp/user/info", "GET", {}).then(res => {
					this.userInfo = res.data
					if (!this.userInfo.answerBuyQuestionnaire || !this.userInfo.answerTrialQuestionnaire) {
						uni.showToast({
							duration: 2500,
							title: "请先完成通关测试后，再来续费哟",
							icon: "none",
							success() {
								setTimeout(() => {
									uni.navigateTo({
										url: "/pages/pagesPerson/index/index?from=vip"
									})
								}, 2500)
							}
						})
					}
				})
			},
			// 激活优惠券
			activeCoupon(item) {
				if (!item.used) {
					this.$http("/mp/user/coupon/active", "POST", {
						couponId: item.id
					}).then(res => {
						this.$error.successToast("success", "激活成功", "/pages/pagesPerson/index/index")
					})
				}
			},
			// 获取使用券列表
			getCouonList() {
				this.$http("/mp/user/coupon/list", "GET", {}).then(res => {
					this.couponList = res.data
				})
			},
			// 查询优惠信息
			getDiscountInfo() {
				let params = {
					couponCode: this.couponCode,
					productId: this.productId
				}
				this.$http("/mp/subscription/queryDiscountInfo", "POST", params).then(res => {
					let data = res.data
					this.totalFee = (data.discountMoney > 100 && (data.discountMoney % 100) == 0) ? Math.ceil(data.discountMoney / 100) : (data.discountMoney / 100).toFixed(
						2)
					if (data.payMoney < data.discountMoney) {
						this.payMoney = (data.payMoney > 100 && (data.payMoney % 100) == 0) ? Math.ceil(data.payMoney / 100) : (data.payMoney / 100).toFixed(2)
					} else {
						this.payMoney = (data.totalPrice > 100 && (this.totalPrice % 100) == 0) ? Math.ceil(this.totalPrice / 100) : (this.totalPrice / 100).toFixed(2)
					}
				}, error => {
					console.log(error)
				})
			},
			// 查询优惠信息
			getProductDiscountInfo() {
				let params = {
					couponCode: this.couponCode,
				}
				this.$http("/mp/subscription/queryProductDiscountInfo", "POST", params).then(res => {
					let data = res.data
					if(res.data == null) {
						return
					}
					const totalFee = (data.discountMoney > 100 && (data.discountMoney % 100) == 0) ? Math.ceil(data.discountMoney / 100) : (data.discountMoney / 100).toFixed(
						2);
					var payMoney = 0;
					if (data.payMoney < data.discountMoney) {
						payMoney = (data.payMoney > 100 && (data.payMoney % 100) == 0) ? Math.ceil(data.payMoney / 100) : (data.payMoney / 100).toFixed(2)
					} else {
						payMoney = (totalPrice > 100 && totalPrice % 100 == 0) ? Math.ceil(totalPrice / 100) : (totalPrice / 100).toFixed(2)
					}
					this.productDiscountInfo = {
						id: data.id,
						name: data.name,
						totalFee: totalFee,
						payMoney: payMoney,
						formateName: '',
						vipLevel: null,
						vip: ''
					};
					if(this.productDiscountInfo.name.indexOf('俱乐部超级VIP')>-1) {
						this.productDiscountInfo.formateName = '销魂俱乐部'
						this.productDiscountInfo.vip = '超级VIP'
					}else {
						this.productDiscountInfo.formateName = this.productDiscountInfo.name.replace('VIP','')
						this.productDiscountInfo.vip = 'VIP'
					}
					if(res.data.day == 365) {
						this.productDiscountInfo.vipLevel = 3
					}else if(res.data.day == 183) {
						this.productDiscountInfo.vipLevel = 2
					}else {
						this.productDiscountInfo.vipLevel = 1
					}
					this.updateDiscountInfo();
				}, error => {
					console.log(error)
				})
			},
			// 取消订单弹窗
			showCancleModal() {
				let that = this
				uni.showModal({
					title: "温馨提示",
					content: "确定要取消套餐购买？",
					cancelText: "确定取消",
					confirmText: "继续购买",
					success(res) {
						if (res.confirm) {
							if (that.orderId) {
								that.bindPayment()
							}
						} else {
							if (that.orderId) {
								that.cancleOrder('')
							} else {
								uni.navigateBack()
							}
						}
					}
				})
			},
			// 取消订单
			cancleOrder(type) {
				let params = {
					orderId: this.orderId,
					productId: this.productId,
					couponCode: this.couponCode
				}
				this.$http("/mp/subscription/cancel", "POST", params).then(res => {
					if (type == 'back') {
						uni.navigateBack()
					} else {
						uni.showToast({
							icon: "none",
							title: "订单已取消",
							mask: true,
							duration: 2500
						})
						// this.$error.successToast("fail", "支付失败", "/pages/pagesPerson/index/index")
					}
				})
			},
			// 立即支付
			bindPayment() {

				if (!this.productId) {
					this.$error.tipsError("请选择购买的vip卡类型")
					return
				}
				let params = {
					productId: this.productId,
					orderId: this.orderId,
					couponCode: this.couponCode
				}
				this.$http("/mp/subscription/purchase", "POST", params).then(res => {
					let data = res.data
					this.orderId = res.data.orderId
					uni.requestPayment({
						timeStamp: data.timeStamp,
						nonceStr: data.nonceStr,
						package: data.package,
						signType: data.signType,
						paySign: data.paySign,
						success: res => {
							this.$error.successToast("success", "购买成功", "/pages/pagesPerson/index/index")
						},
						fail: res => {
							this.showCancleModal()
							// console.log('fail')
							// console.log(res)
							// this.cancleOrder('cancle')
						}

					})
				})
			},
			// 选择vip卡 
			bindChoose(item, index) {
				if(!item.enable) {
					return
				}
				this.listData.map(value => {
					if (value.id == item.id) {
						item.checked = !item.checked
					} else {
						value.checked = false
					}
				})
				this.$set(this.listData, index, item)
				if (item.checked) {
					this.formateName = item.formateName == '销魂俱乐部'?'销魂俱乐部超级':item.formateName
					this.vipLevel = item.vipLevel
					this.totalPrice = item.discountMoney
					this.productId = item.id
					this.totalFee = item.discountMoney > 100 ? Math.ceil(item.discountMoney / 100) : (item.discountMoney / 100).toFixed(
						2)
					if (item.payMoney < item.discountMoney) {
						this.payMoney = item.payMoney > 100 ? Math.ceil(item.payMoney / 100) : (item.payMoney / 100).toFixed(2)
					} else {
						this.payMoney = this.totalPrice > 100 ? Math.ceil(this.totalPrice / 100) : (this.totalPrice / 100).toFixed(2)
					}
					// 不管有没有couponCode都查询，目的在于计算剩余价值
					// if (this.couponCode) {
						// 由于错误被拦截，无法在错误方法里面进行设置，所以将设置前置
						this.getDiscountInfo()
					// }
				} else {
					this.vipLevel = 1
					this.formateName = ""
					this.totalPrice = 0
					this.productId = ""
					this.payMoney = ""
					this.totalFee = ""
				}
			},
			// 获取vip卡
			getList() {
				const that = this;
				this.$http("/mp/subscription/list/v2", "GET", {}).then(res => {
					this.listData = res.data
					this.listData.map(item => {
						if(item.name.indexOf('俱乐部超级VIP')>-1) {
							item.formateName = '销魂俱乐部'
							item.vip = '超级VIP'
						}else {
							item.formateName = item.name.replace('VIP','')
							item.vip = 'VIP'
						}
						if(item.day == 365) {
							item.vipLevel = 3
						}else if(item.day == 183) {
							item.vipLevel = 2
						}else {
							item.vipLevel = 1
						}
						item.moneyStr = item.money > 100 ? Math.ceil(item.money / 100) : (item.money / 100).toFixed(2)
						item.discountMoneyStr = item.discountMoney > 100 ? Math.ceil(item.discountMoney / 100) : (item.discountMoney /
							100).toFixed(2)
						if(this.hasCoupon) {
							this.getProductDiscountInfo();
						}
					})
					this.updateDiscountInfo();
				})
			},
			updateDiscountInfo() {
				const that = this;
				if (this.productDiscountInfo && this.listData) {
					var selectedIndex = 0;
					var i = 0;
					for (let item of this.listData) {
						if (that.productDiscountInfo.id == item.id) {
							selectedIndex = i
							break;
						}
						i++;
					}
					// 选中第index个
					const item = that.listData[selectedIndex];
					console.log(item)
					item.checked = true;
					that.$set(that.listData, selectedIndex, item)
					that.totalPrice = that.listData[selectedIndex].discountMoney
					that.productId = that.productDiscountInfo.id
					that.totalFee = that.productDiscountInfo.totalFee
					that.payMoney = that.productDiscountInfo.payMoney
					that.formateName = that.productDiscountInfo.formateName
					that.vipLevel = that.productDiscountInfo.vipLevel
					that.vip = that.productDiscountInfo.vip
					that.productDiscountInfo = null;
				}

			},
		}
	}
</script>

<style lang="less">
	.flex(@A, @B, @C, @D) {
		display: flex;
		flex-direction: @A;
		flex-wrap: @B;
		justify-content: @C;
		align-items: @D;
	}

	.vip_container {
		padding-bottom: 104rpx;

		.nav_header {
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			background: #fff;
			z-index: 99999;
		}
			
		.vip_bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 286rpx;
		}

		.vip_content {
			position: relative;
			box-sizing: border-box;
			z-index: 1;

			.vip_item {
				margin-top: 20rpx;

				.line {
					margin-right: 30rpx;
					height: 1rpx;
					background: #DCDCDC;
				}

				.title_container {
					.flex(row, nowrap, flex-start, center);

					image {
						width: 36rpx;
						height: 36rpx;
						margin-right: 10rpx;
					}

					.value {
						font-size: 32rpx;
						font-weight: 500;
						color: #333333;
					}
				}

				.ticket_container {
					.flex(row, nowrap, flex-start, center);
					padding: 20rpx 0 40rpx;
					overflow-x: auto;

					.ticket_item {
						width: 216rpx;
						height: 284rpx;
						// background: url('~@/static/person_coupon_b.png');
						background-size: 100% 100%;
						margin-right: 22rpx;
						flex-shrink: 0;

						.ticket_title {
							// width: 100%;
							height: 80rpx;
							// padding-top: 22rpx;
							box-sizing: border-box;
							padding: 22rpx 10rpx 0rpx 10rpx;
							// .flex(row, nowrap, center, flex-start);
							font-size: 32rpx;
							font-weight: 500;
							color: #00A7BC;
							white-space: nowrap;
							text-overflow: ellipsis;
							overflow: hidden;
							text-align: center;
						}

						.ticket_inner {
							.flex(column, nowrap, flex-start, center);
							flex: 1;
							margin-top: 12rpx;
							width: 100%;

							.day {
								.flex(row, nowrap, flex-start, baseline);

								span {
									&:first-child {
										font-size: 72rpx;
										font-weight: 600;
										color: #FFFFFF;
										letter-spacing: 2px;
									}

									&:last-child {
										font-size: 28rpx;
										font-weight: 600;
										color: #FFFFFF;
									}
								}
							}

							.ticket_btn {
								.flex(row, nowrap, center, center);
								margin-top: 20rpx;
								width: 88rpx;
								height: 40rpx;
								border-radius: 16rpx;
								border: 1rpx solid #00A7BC;
								font-size: 28rpx;
								color: #00A7BC;
							}
						}
					}

					.select_ticket {
						// background: url('~@/static/person_coupon_g.png');
						background-size: 100% 100%;

						.ticket_title {
							color: #12BD70 !important;
						}

						.ticket_btn {
							border: 1rpx solid #12BD70 !important;
							color: #12BD70 !important;
						}
					}
				}

				.package_container {
					padding-left: 30rpx;
					.package_row {
						margin-top: 100rpx;
						overflow-x: scroll;
						.flex(row, nowrap, flex-start, center);

						.package_item {
							position: relative;
							width: 212rpx;
							height: 338rpx;
							box-shadow: 0 16rpx 20rpx 0 rgba(43, 33, 22, 0.1);
							border-radius: 16rpx;
							border: 6rpx solid transparent;
							background-color: transparent;
							background-clip: padding-box;
							margin-right: 12rpx;
							flex-shrink: 0;
							
							.package_item_content {
								.flex(column, nowrap, flex-start, center);
								width: 100%;
								height: 100%;
								background: url('../static/vip_item_bg.png');
								background-size: 100% 100%;
								overflow: hidden;
							}
							
							.vip_type {
								.flex(row, nowrap, center, center);
								position: absolute;
								bottom: 0;
								right: 0;
								width: 92rpx;
								height: 40rpx;
								background: linear-gradient(321deg, #DEC09F 0%, #F0D6B5 100%);
								border-radius: 20rpx 0 16rpx 0;
								font-size: 26rpx;
								font-weight: 500;
								color: #383839;
								z-index: 12;
							}

							.package_title {
								margin-top: 44rpx;
								padding: 6rpx 18rpx;
								border-radius: 20rpx;
								font-size: 26rpx;
								color: #343435;
							}
							
							.package_name {
								margin-top: 26rpx;
								.flex(row, nowrap, flex-start, center);
								image {
									width: 32rpx;
									height: 32rpx;
									margin-right: 6rpx;
								}
								span {
									font-size: 30rpx;
									color: #FFE9D0;
								}
							}

							.money {
								color: #FAE6CF;
								margin-top: 6rpx;

								span {
									&:first-child {
										font-size: 28rpx;
										font-weight: 500;
									}

									&:nth-child(2) {
										font-size: 56rpx;
										font-weight: 600;
									}
									
									&:last-child {
										font-size: 28rpx;
										font-weight: 500;
									}
								}
							}

							.market {
								margin-top: 4rpx;
								font-size: 26rpx;
								color: #B9AF9F;
								text-decoration: line-through;
							}
						}

						.package_select {
							position: relative;
							z-index: 11;
							// width: 200rpx!important;
							// height: 322rpx!important;			
							// box-shadow: 0 0 12rpx 0 #4ECBD4;
							
							&::after {
								content: '';
								display: block;
								position: absolute;
								top: -6rpx;
								right: -6rpx;
								bottom: -6rpx;
								left: -6rpx;
								background: linear-gradient(180deg, rgba(255, 153, 102, 1), rgba(255, 94, 98, 1));
								z-index: 10;
								border-radius: 16rpx;
								z-index: -1;
							}
						}
					}
					.change_box{
						padding: 30rpx 0 0 0 ;
					}

					.input_container {
						.flex(row, nowrap, flex-start, center);
						margin-top: 47rpx;
						// padding-left: 74rpx;

						.input_title {
							font-size: 32rpx;
							color: #666666;
							margin-right: 30rpx;
						}

						.van-cell {
							padding: 8rpx 16rpx !important;
							width: 344rpx;
							background: #FFFFFF;
							border-radius: 8rpx;
							border: 2rpx solid #E3E3E3;
						}

						.van-field__input {
							font-size: 32rpx;
							font-weight: 500;
							color: #333333;
						}

						.van-button {
							width: 106rpx;
							height: 60rpx;
							border-radius: 10rpx;
							font-size: 28rpx;
							font-weight: 500;
							color: #FFFFFF;
							margin-left: 20rpx;
							padding: 0 !important;
						}
					}

					.checkbox_container {
						margin-top: 20rpx;
						padding-left: 206rpx;

						.van-checkbox__icon {
							font-size: 32rpx !important;
						}

						.van-checkbox__label {
							font-size: 30rpx;
							font-weight: 500;
							color: #666666;
						}
					}
				}
			}
			
			.vip_title {
				margin-top: 96rpx;
				.flex(row, nowrap, center, center);
				.line {
					width: 20rpx;
					height: 2rpx;
					background: #D5BA9C;
					margin: 0 34rpx;
				}
				.title_txt {
					font-size: 32rpx;
					font-weight: 600;
					color: #000000;
				}
			}
			
			.img_container {
				margin-top: 40rpx;
				width: 100%;
				.flex(row, nowrap, center, center);
				image {
					width: 690rpx;
				}
			}

			.info_container {
				padding-left: 30rpx;
				margin-top: 40rpx;
				.info_row {
					font-size: 26rpx;
					color: #0D0E15;
					line-height: 42rpx;
				}
			}

			.btn_container {
				.flex(row, nowrap, flex-start, center);
				position: fixed;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100rpx;
				background: url('../static/vip_btn_bg.png');
				background-size: 100% 100%;
				.left {
					.flex(row, nowrap, center, center);
					width: 540rpx;
					height: 100rpx;
					color: #272829;
					.btn_content {
						position: relative;
						top: -5rpx;
						.flex(row, nowrap, center, baseline);
						.name {
							font-size: 28rpx;
							margin-right: 10rpx;
							&>span:last-child {
								font-weight: 600;
							}
						}
						.price {
							.flex(row, nowrap, center, baseline);
							color: #13020A;
							&>span:first-child {
								font-size: 48rpx;
								font-weight: 600;
							}&>span:last-child {
								font-size: 34rpx;
							}
						}
					}
				}
				.right {
					.flex(row, nowrap, center, center);
					flex: 1;
					height: 100rpx;
					font-size: 32rpx;
					color: #EAD3B5;
				}
			}
		}
	}

	::-webkit-scrollbar {
		width: 0;
		height: 0;
		color: transparent;
	}
</style>
