<template>
	<view class="custom_container" :style="{'padding-top': navHeight + 'px'}">
		<nav-bar :navInfo="navInfo" class="nav_header"></nav-bar>
		<page-disable v-if="!pageVisible"></page-disable>
		<view class="custom_content" v-else>
			<view class="title">所有信息项</view>
			<view class="tags_container">
				<view class="tag" :class="item.select&&isSelect?'select':''" v-for="(item,index) in dataList" :key="index" @click="handleSelect(item,index)">
					<view class="tag_content">{{item.fieldName}}</view>
					<image src="../../../static/bottom_select%20copy.png" v-if="item.select&&isSelect" />
				</view>
			</view>
			<view class="input_container">
				<view class="label">新增</view>
				<van-field :value="inputValue" clearable placeholder="输入自定义信息项" @change="handleInput" @confirm="handleInputConfirm" />
				<van-button size="small" color="linear-gradient(90deg, #1DE5A8 0%, #41AFC3 100%)" @click="handleInputConfirm">确定</van-button>
			</view>
			<bottombtn btnName="保存" @confirm="handleSave" v-if="isSelect"></bottombtn>
		</view>
	</view>
</template>

<script>
	import bottombtn from '@/components/bottombtn.vue'
	import app from '../../../App.vue'
	export default {
		components: {
			bottombtn
		},
		data() {
			return {
				pageVisible: true,
				navInfo: {
					bg_color: "",
					color: "#FFFFFF",
					flag: 2,
					name: "自定义信息",
					backType: 1
				},
				isIpx: app.globalData.isIpx,
				navHeight: app.globalData.navHeight,
				inputValue: '',
				dataList: [],
				dataLoading: false,
				id: null,
				isSelect: false,
				customizeJson: null
			}
		},
		onLoad(options) {
			this.isSelect = options.isSelect?true:false
			this.customizeJson = options.customizeJson?JSON.parse(decodeURIComponent(options.customizeJson)):null
		},
		onShow() {
			if(this.$utils.checkLevel()) {
				this.pageVisible = true
			}else {
				this.pageVisible = false
				return
			}
			this.getData()
		},
		methods: {
			handleInput(e) {
				this.inputValue = e.detail
			},
			handleSelect(type, index) {
				if(!this.isSelect)
					return
				let dataList = JSON.parse(JSON.stringify(this.dataList))
				dataList[index].select = !dataList[index].select
				this.dataList = dataList
			},
			handleInputConfirm() {
				if (this.inputValue.length == 0) {
					uni.showToast({
						icon: 'none',
						title: '请填写字段名',
						duration: 2500
					})
					return
				}
				let params = {
					fieldName: this.inputValue
				}
				uni.showLoading()
				this.$http("/mp/customer/field/one", "post", params)
					.then(res => {
						this.getData(true)
						this.inputValue = ''
					})
					.finally(() => {
						uni.hideLoading()
					})
			},
			handleSave() {
				let dataList = JSON.parse(JSON.stringify(this.dataList)),
					list = []
				dataList.forEach(per => {
					if (per.select) {
						delete per.select
						list.push(per)
					}
				})
				// if(!flag) {
				// 	uni.showToast({
				// 		icon: 'none',
				// 		title: '请选择字段'
				// 	})
				// }
				let params = {
					id: this.id,
					templateJson: JSON.stringify(list)
				}
				uni.showLoading()
				this.$http("/mp/customer/template/one", "post", params)
					.then(res => {
						app.globalData.isUpdateCustomer = true
						uni.navigateBack({
							delta: 1
						})
					})
					.finally(() => {
						uni.hideLoading()
					})
			},
			getData(refresh) {
				refresh ? uni.showLoading() : this.dataLoading = true
				let params = {}
				this.$http("/mp/customer/field/list", "get", params)
					.then(res => {
						res.data.forEach(per => {
							per.select = false
						})
						this.$http("/mp/customer/template/default", "get", params)
							.then(res1 => {
								this.id = res1.data.id
								let data = res.data
								data.forEach(per => {
									if(this.customizeJson) {
										this.customizeJson.forEach(per1 => {
											if(per1.id == per.id) {
												per.select = true
											}
										})
									}else {
										res1.data.fields.forEach(per1 => {
											if (per.id == per1.id)
												per.select = true
										})
									}
								})
								this.dataList = data
							})
							.finally(() => {
								this.dataLoading = false
								if (refresh)
									uni.hideLoading()
							})
					})
					.catch(err => {
						this.dataLoading = false
						if (refresh)
							uni.hideLoading()
					})

			}
		}
	}
</script>

<style lang="less">
	.flex(@A, @B, @C, @D) {
		display: flex;
		flex-direction: @A;
		flex-wrap: @B;
		justify-content: @C;
		align-items: @D;
	}

	page {
		background: #FAFAFA;
	}

	.custom_container {
		padding-bottom: 132rpx;

		.nav_header {
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			z-index: 999;
		}

		.custom_content {
			padding: 20rpx 0 20rpx 30rpx;

			.title {
				font-size: 26rpx;
				color: #999999;
			}

			.tags_container {
				.flex(row, wrap, flex-start, center);
				padding-bottom: 40rpx;

				.tag {
					position: relative;
					margin-top: 40rpx;
					margin-right: 36rpx;
					padding: 8rpx 44rpx;
					background: #fff;
					font-size: 24rpx;
					color: #999999;
				}

				.select {
					border: 1rpx solid #22E0A8;
				}

				image {
					position: absolute;
					right: 0;
					bottom: 0;
					width: 34rpx;
					height: 30rpx;
				}
			}

			.input_container {
				margin-top: 20rpx;
				.flex(row, wrap, flex-start, center);
				padding-right: 20rpx;

				.label {
					margin-right: 20rpx;
					font-size: 28rpx;
					color: #333333;
				}

				van-cell,
				van-field {
					flex: 1;
				}

				.van-cell {
					background: transparent !important;
					font-size: 22rpx !important;
				}
				.van-field__input {
					font-size: 26rpx;
				}
			}
		}
	}
</style>
