<template>
	<view class="question_container">
		<navbar :navInfo="navInfo" class="question_header"></navbar>
		<view class="question_content" :style="{'padding-top': navHeight + 'px'}" v-if="questionList.length > 0">
			<view class="tips">
				{{questionInfo.introduction}}
			</view>
			<view class="question_single" v-for="(item,index) in questionList" :key="index">
				<view class="question_title">
					{{item.title}}
				</view>
				<van-radio-group v-model="item.value" @change="onChange($event,item,index)">
					<van-radio checked-color="#1DE5A8" :name="subItem.id" icon-size="36rpx" v-for="(subItem,subIndex) in item.optionList"
					 :key="subIndex">{{subItem.title}}</van-radio>
				</van-radio-group>
			</view>
			<view class="question_tips">
				<text>*</text>注：连续两次不通过视为永久放弃参与资格
			</view>
			<view class="submit_btn" v-if="questionList.length > 0" @click="submit">提交问卷</view>
		</view>
		<modual
		  :modualInfo="modualInfo"
		  @modualConfirm="modualConfirm"
		  @modualCancle="modualCancle"
		  @modualChange="modualChange"
		  v-if="showModual"
		></modual>
	</view>
</template>

<script>
	import navbar from '../../../../components/navbar.vue'
	import app from '../../../../App.vue'
	import modual from '@/components/modual.vue'
	export default {
		components: {
			navbar,
			modual
		},
		data() {
			return {
				modualInfo: {
				  activeType: 3,
				  showClose: false,
				  showSingle: false,
				  showBtns: false,
				  title: '鲁迅说',
				  content: '1-“先予文化”难点探讨类话题，需要用自己的观点当钥匙🔑，才能查看所有老铁的答案和互动。灌水者将被系统关入小黑屋15天。\n2-“共勉文化”经验分享类话题，学习了别人分享的实战案例，技能心得等，需及时回馈真诚的观点或谢意。连续3次白嫖关小黑屋15天。',
				  cancleText: '好的鲁哥',
				  confirmText: '100',
				  showScroll: true,
				},
				showModual:false,
				navInfo: {
					"bg_color": "",
					"color": "#FFFFFF",
					"flag": 2,
					"name": "问卷调查",
					"backType": 1
				},
				isIpx: app.globalData.isIpx,
				navHeight: app.globalData.navHeight,
				requestUrl: "",
				questionList: [],
				questionInfo: {},
				tipsContent: "",
				type: "",
				from: "",
				userInfo: {}

			}
		},
		onLoad(options) {
			this.from = options.from || ""
			this.type = options.type
			this.requestUrl = options.type == "buy" ? "/mp/user/questionnaire/buy" : "/mp/user/questionnaire/trial"
			this.tipsContent = options.type == "buy" ? "" : ""
			this.getQuestionList()
		},
		onShow() {
		},
		methods: {
			modualConfirm (){},
			modualCancle () {},
			modualChange(type) {
			  if (type == 'open') {
			    this.showModual = true
			  } else {
			    this.showModual = false
			  }
			},
			// 获取用户信息
			getUserInfo(type) {
				let that = this
				this.$http("/mp/user/info", "GET", {}).then(res => {
					this.userInfo = res.data
					uni.setStorageSync("userInfo",res.data)
				})
			},
			findPage() {
				let pages = getCurrentPages()
				for (let i = 0; i < pages.length; i++) {
					let page = pages[i]
					if (page.route == "pages/pagesPerson/vip/vip") {
						return pages.length - i
					}
				}
			},
			// 问卷选择
			onChange(event, item, index) {
				item.value = event.detail
				this.$set(this.questionList, index, item)
			},
			// 获取问卷列表数据
			getQuestionList() {
				this.$http("/mp/user/questionnaire/topic", "GET", {}).then(res => {
					this.navInfo.name = res.data.title
					this.questionInfo = res.data
					this.questionList = res.data.topicList
					this.questionList.map(item => {
						item.value = ""
					})
				})
			},
			// 提交问卷
			submit() {
				uni.showLoading({
					mask: true
				})
				let answerInfo = {}
				let that = this
				for (let i = 0; i < this.questionList.length; i++) {
					let item = this.questionList[i]
					if (!item.value) {
						uni.hideLoading()
						this.$error.tipsError("请填写完整的问卷")
						return
					} else {
						answerInfo[item.id] = item.value
					}
				}
				let params = {
					answer: answerInfo,
					id: this.questionInfo.id
				}
				this.$http("/mp/user/questionnaire/answer", "POST", params).then(res => {
					if (res.data) {
						this.getUserInfo()
						this.modualChange("open")
					} else {
						uni.showModal({
							title: "温馨提示",
							content: "看来你与销魂倡导的文化并不契合，若为操作失误导致，可返回后重新进入互助区再次作答。",
							confirmText: "继续作答",
							cancelText: "取消",
							success(res) {
								
							}
						})
					}
				})
			}
		}
	}
</script>

<style lang="less">
	.flex(@A, @B, @C, @D) {
		display: flex;
		flex-direction: @A;
		flex-wrap: @B;
		justify-content: @C;
		align-items: @D;
	}

	.question_container {
		position: relative;
		box-sizing: border-box;
		padding: 30rpx 30rpx 240rpx 30rpx;

		.submit_btn {
			width: 300rpx;
			height: 80rpx;
			background: #1DE5A8;
			border-radius: 20rpx;
			margin: 40rpx auto 0rpx auto;
			font-size: 34rpx;
			font-weight: bold;
			color: #FFFFFF;
			display: block;
			line-height: 80rpx;
			padding: 0rpx;
			position: fixed;
			left: 50%;
			margin-left: -150rpx;
			bottom: 120rpx;
			border: none;
			text-align: center;
			box-sizing: border-box;
		}

		.question_header {
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			z-index: 99999999;
		}

		.question_content {
			.question_single {
				margin-bottom: 30rpx;
			}

			.tips {
				font-size: 34rpx;
				color: #333333;
				margin-bottom: 15rpx;
				font-weight: bold;
				text-align: center;
			}

			.van-radio {
				margin-bottom: 10rpx !important;
				box-sizing: border-box;
				padding-left: 10rpx;
			}

			.van-radio__label {
				font-size: 30rpx;
				color: #666666;
				line-height: 40rpx;
			}

			.question_title {
				font-size: 32rpx;
				color: #333333;
				margin-bottom: 20rpx;
				// font-weight: bold;
			}
			.question_tips{
				font-size: 28rpx;
				text{
					color: red;
				}
			}
		}
	}
</style>
