<template>
	<view class="progress_add_container" :style="{'padding-top': navHeight + 'px'}">
		<nav-bar :navInfo="navInfo" class="nav_header"></nav-bar>
		<view class="cell_container">
			<van-cell title="当前阶段" :value="status" :border="false" />
			<van-cell title="计划时间" is-link :border="false">
					<temlate #value>
						<datetime-picker ref="datetime" :placeholder="placeholder" :maxDate="defaultMaxDate" :minDate="defaultMinDate" @getData="getData"
						 :timeIntervalMsec="timeIntervalMsec" :type="timeType"></datetime-picker>
					</temlate>
			</van-cell>
			<van-cell title="推进方式" is-link :value="query.planWay?query.planWay:'请选择'" :border="false" @click="popupPickerVisible = true" />
			<view v-if="query.type==='default'">
				<van-cell title="成交推进" is-link :value="stepValue?stepValue:'请选择'" :border="false" @click="handleAdvance" />
				<van-cell title="销售工具" :border="false">
					<van-field :value="query.tools" placeholder="请填写" :border="false" input-align="right" class="input_right" @change="handleInputQuery($event.detail,'tools')" />
				</van-cell>
			</view>
			
			<van-cell title="推进策略" :border="false" class="border_none" />
			<view class="text_area">
				<van-field :value="query.strategy" autosize type="textarea" placeholder="本次推进应该注意些什么，采取什么策略..." :border="false" @change="handleInputQuery($event.detail,'strategy')" />
			</view>
		</view>
		<!-- <view class="upload_img_container">
			<view class="img_content" v-for="(item,index) in uploadImgList" :key="index">
				<image src="../../../static/img_del_icon.png" class="delete_img" @click="handleDeleteImg(item,index)" />
				<image :src="item" class="img" mode="aspectFill" />
			</view>
		</view>
		<view class="upload_container" v-if="uploadImgList.length<6">
			<image src="../../../static/upload_icon.png" @click="handleUpload" />
			<span @click="handleUpload">上传附件</span>
		</view> -->
		<bottombtn btnName="保存" @confirm="handleConfirm"></bottombtn>
		<van-popup :show="popupPickerVisible" position="bottom">
			<van-picker :columns="pickerColumns" show-toolbar @confirm="onPickerConfirm" @cancel="popupPickerVisible=false" />
		</van-popup>
		<van-popup :show="popupProgressVisible" position="bottom" @touchmove.stop.prevent="moveHandle">
			<view class="popup_content">
				<view class="popup_top">
					<div class="cancle" @click="handleProgressCancle">取消</div>
					<div class="confirm" @click="handleProgressConfirm">确定</div>
				</view>
				<van-checkbox-group :value="progressCurrentValues" @change="handleChangeProgress">
					<van-cell-group>
						<van-cell v-for="(item,index) in pickerColumnsStep" :key="index" :title="item.elementName" value-class="value-class"
						 clickable :data-index="index" @click.stop="toggle">
							<van-checkbox @click.native.stop="noop" checked-color="#1FE3A8" :ref="'checkboxes'+index" :name="index" />
						</van-cell>
					</van-cell-group>
				</van-checkbox-group>
			</view>
		</van-popup>
		<van-popup :show="popupDateVisible" position="bottom">
			<van-datetime-picker type="datetime" :value="currentDate" :min-date="minDate" :formatter="dateFormatter" @input="handleInputDate"
			 @confirm="handleConfirmDate" @cancel="handleCancelDate" />
		</van-popup>
		<modual :modualInfo="modualInfo" @modualConfirm="modualConfirm" @modualChange="modualChange" v-if="showModual"></modual>
	</view>
</template>

<script>
	import bottombtn from '@/components/bottombtn.vue'
	import datetimePicker from '@/components/datetimepicker.vue'
	import modual from '@/components/modual.vue'
	import app from '../../../App.vue'
	export default {
		components: {
			bottombtn,
			datetimePicker,
			modual
		},
		data() {
			return {
				showModual: false,
				modualInfo: {
					activeType: 2,
					showClose: false,
					showSingle: false,
					showBtns: false,
					title: "必读",
					content: "及时并带策略的推进才有意义，点亮每个销售机会的8大成交元素才是目的。",
					cancleText: "否",
					confirmText: "是"
				},
				navInfo: {
					bg_color: '',
					color: '#FFFFFF',
					flag: 2,
					name: '新建推进',
					backType: 1
				},
				isIpx: app.globalData.isIpx,
				navHeight: app.globalData.navHeight,
				pickerColumns: [],
				pickerColumnsStep: [],
				progressValues: [],
				progressCurrentValues: [],
				popupProgressVisible: false,
				query: {
					attachment: '',
					dealElementIds: '',
					followupTime: null,
					id: null,
					opportunityId: null,
					planWay: '',
					status: '',
					strategy: '',
					target: '',
					tools: '',
					attachment: '',
					type: ''
				},
				stepValue: '',
				opportunityId: null,
				popupPickerVisible: false,
				minDate: new Date().getTime(),
				dateFormatter(type, value) {
					if (type === 'year') {
						return `${value}年`;
					} else if (type === 'month') {
						return `${value}月`;
					} else if (type === 'day') {
						return `${value}日`;
					} else if (type === 'hour') {
						return `${value}时`;
					}
					return `${value}分`;
				},
				selectDate: null,
				currentDate: new Date().getTime(),
				popupDateVisible: false,
				status: '',
				workflowId: null,
				uploadImgList: [],
				//时间选择配置
				placeholder: '请选择',
				defaultMinDate: new Date(1).getTime(),
				defaultMaxDate: new Date('2050/12/31').getTime(),
				// 时间类型
				timeType: 'anyTime',
				// 间隔的毫秒
				timeIntervalMsec: 20,
			}
		},
		computed: {
			inputShow() {
				return !(this.showModual||this.popupPickerVisible||this.popupProgressVisible)
			}
		},
		onLoad(options) {
			this.showModual = this.$utils.getStatus('progressAdd')
			this.$utils.setStatus("progressAdd")
			if (options.workflowId) {
				this.workflowId = options.workflowId
			}
			if (options.type) {
				this.query.type = options.type
			}
			if (options.opportunityId) {
				this.opportunityId = options.opportunityId
				this.getStatus()
				if (options.type === 'default') {
					this.getObtain()
				}
			}
		},
		onShow() {},
		methods: {
			modualChange(type) {
				if (type == 'open') {
					this.showModual = true
				} else {
					this.showModual = false
				}
			},
			// 弹窗确认操作
			modualConfirm() {

			},
			getData(time) {
				this.selectDate = time
			},
			moveHandle() {},
			onPickerConfirm(e) {
				this.query.planWay = e.detail.value
				this.popupPickerVisible = false
			},
			handleInputQuery(value, name) {
				this.query[name] = value
			},
			handleChangeProgress(e) {
				console.log(e)
				this.progressCurrentValues = e.detail
			},
			handleSelectDate() {
				if (this.selectDate)
					this.currentDate = this.selectDate
				this.popupDateVisible = true
			},
			toggle(event) {
				let index = event.currentTarget.dataset.index
				const checkbox = this.$refs['checkboxes' + index][0];
				checkbox.toggle();
			},
			noop() {},
			handleInputDate(e) {
				this.currentDate = e.detail
			},
			handleConfirmDate() {
				this.selectDate = this.currentDate
				this.popupDateVisible = false
			},
			handleCancelDate() {
				this.popupDateVisible = false
			},
			handleToSelect() {
				uni.navigateTo({
					url: '../select/select'
				})
			},
			handleAdvance() {
				this.progressCurrentValues = this.progressValues
				this.popupProgressVisible = true
			},
			handleProgressCancle() {
				this.popupProgressVisible = false
			},
			handleProgressConfirm() {
				let list = [],list1 = []
				this.progressValues = this.progressCurrentValues
				this.progressCurrentValues.forEach(per => {
					list.push(this.pickerColumnsStep[per].elementName)
					list1.push(this.pickerColumnsStep[per].id)
				})
				this.stepValue = list.join(' ')
				this.query.dealElementIds = list1.join(',')
				this.popupProgressVisible = false
			},
			handleDeleteImg(item,index) {
				uni.showLoading()
				this.$http("/mp/upload/removePicture", "delete", {
					path: item
				})
					.then(res => {
						this.uploadImgList.splice(index,1)
					})
					.finally(() => {
						uni.hideLoading()
					})
			},
			handleUpload() {
				let self = this
				uni.chooseImage({
					count: 1,
					sizeType: ['copressed'],
					success(res) {
						//因为有一张图片， 输出下标[0]， 直接输出地址
						var imgFiles = res.tempFiles[0]
						console.log(res)
						// 上传图片
						// 做成一个上传对象

						if (imgFiles.size > 1024 * 200) {
							uni.showToast({
								icon: 'none',
								title: '上传图片不能大于200k'
							});
							return
						}
						uni.showLoading()
						var uper = uni.uploadFile({
							// 需要上传的地址
							url: 'https://xiaohun.baiziio.com/mp/upload/uploadPicture',
							// filePath  需要上传的文件
							filePath: imgFiles.path,
							header: {
								token: uni.getStorageSync('token'),
								'Content-Type': 'multipart/form-data'
							},
							name: 'file',
							success(res1) {
								// 显示上传信息
								console.log(res1)
								let data = JSON.parse(res1.data)
								if(data.code==200){
									self.uploadImgList.push(data.data)
								}else {
									uni.showToast({
										icon: 'none',
										title: data.message,
										duration: 2500
									})
								}
							},
							complete() {
								uni.hideLoading()
							}
						});
					}
				})
			},
			getWay() {
				let params = {}
				this.dataLoading = true
				this.$http("/mp/communication/way/list", "get", params)
					.then(res => {
						let list = []
						res.data.forEach(per => {
							list.push(per.name)
						})
						this.pickerColumns = list
					})
					.finally(() => {
						this.dataLoading = false
					})
			},
			getStatus() {
				let params = {
					opportunityId: this.opportunityId,
					type: this.query.type,
				}
				this.$http("/mp/opportunity/followup/v2/initFollowupStatus", "get", params)
					.then(res => {
						this.status = res.data.status
						this.query.status = res.data.status
						this.query.strategy = res.data.strategy
						if (this.workflowId)
							this.getWay()
					})
					.finally(() => {})
			},
			getStatuList() {
				let params = {}
				if (this.workflowId) {
					params.state = this.status
					params.workflowId = this.workflowId
					uni.showLoading()
					this.$http("/mp/machine-state/reachable", "post", params)
						.then(res => {
							this.pickerColumns = res.data
						})
						.finally(() => {
							uni.hideLoading()
						})
				}
			},
			getObtain() {
				let params = {
					opportunityId: this.opportunityId
				}
				uni.showLoading()
				this.$http("/mp/opportunity/dealElement/listUnObtain", "get", params)
					.then(res => {
						this.pickerColumnsStep = res.data
					})
					.finally(() => {
						uni.hideLoading()
					})
			},
			handleConfirm() {
				let params = JSON.parse(JSON.stringify(this.query))
				if (this.selectDate)
					params.followupTime = this.selectDate
				if(this.uploadImgList.length>0) {
					params.attachment = this.uploadImgList.join(',')
				}
				params.opportunityId = this.opportunityId
				uni.showLoading()
				this.$http("/mp/opportunity/followup/one", "post", params)
					.then(res => {
						uni.navigateBack()
					})
					.finally(() => {
						uni.hideLoading()
					})
			}
		}
	}
</script>

<style lang="less">
	.flex(@A, @B, @C, @D) {
		display: flex;
		flex-direction: @A;
		flex-wrap: @B;
		justify-content: @C;
		align-items: @D;
	}

	.progress_add_container {
		padding-bottom: 160rpx;

		.nav_header {
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			z-index: 999;
		}

		.cell_container {
			.van-cell__value {
				flex: 2!important;
			}

			.input_right .van-cell {
				padding: 0 !important;
				border: none !important;
			}

			.van-cell {
				border-bottom: 1rpx solid #F5F5F5 !important;
			}

			.border_none .van-cell {
				border-bottom: none !important;
			}

			.line {
				height: 20rpx;
				background: #F5F5F5;
			}

			.cell_green {

				.van-cell__title,
				.van-cell__value {
					color: #23E3AA;
					font-weight: 500;
				}
			}

			.cell_black {
				.van-cell__value {
					color: #333333;
				}
			}

			.cell_input {
				.van-cell__title {
					flex: none;
					width: 120rpx;
				}
			}

			.text_area {
				.field-index--van-field {
					margin: 0 30rpx;
					min-height: 100rpx;
					background: #FAFAFA;
					border-radius: 8rpx;
					font-size: 26rpx;
					color: #999999;
					line-height: 32rpx;
				}
				.van-cell {
					width: auto!important;
				}
			} 
		}

		.upload_img_container {
			.flex(row,wrap,flex-start,center);
			padding: 0 16rpx;

			.img_content {
				position: relative;

				.delete_img {
					position: absolute;
					top: 12rpx;
					right: -7rpx;
					width: 20rpx;
					height: 20rpx;
					padding: 15rpx;
					background: #D9BC80;
					border-radius: 50%;
				}

				.img {
					width: 200rpx;
					height: 200rpx;
					margin: 40rpx 16rpx 0;
				}
			}
		}

		.upload_container {
			padding: 16rpx 30rpx 160rpx;
			.flex(row, wrap, flex-end, center);

			image {
				width: 44rpx;
				height: 32rpx;
				margin-right: 20rpx;
			}

			font-size: 28rpx;
			color: #00C98D;
		}

		.btn_container {
			bottom: 40rpx!important;
		}

		.value-class {
			flex: none !important;
		}

		.popup_content {
			position: relative;
			z-index: 999;
			.popup_top {
				.flex(row, nowrap, space-between, center);
				background: #fff;
				font-size: 26rpx;

				&>div {
					padding: 20rpx 30rpx;
				}

				.cancel {
					color: #969799;
				}

				.confirm {
					color: #576b95;
				}
			}
		}
	}
	.van-field__input--textarea {
		min-height: 48rpx!important;
	}
</style>
