<template>
  <view
    class="collection_container"
    :style="{ 'padding-top': navHeight + 'px' }"
  >
    <nav-bar :navInfo="navInfo" class="nav_header"></nav-bar>
    <view class="selects_container" :style="{ top: navHeight + 'px' }">
      <view class="selects_conntent">
        <view class="left">
          <view
            class="item"
            :class="type == 1 ? 'select' : ''"
            @click="handleSelectType(1)"
            >案例</view
          >
          <view
            class="item"
            :class="type == 2 ? 'select' : ''"
            @click="handleSelectType(2)"
            >心得</view
          >
          <view
            class="item"
            :class="type == 3 ? 'select' : ''"
            @click="handleSelectType(3)"
            >感悟</view
          >
		  <view
		    class="item"
		    :class="type == 4 ? 'select' : ''"
		    @click="handleSelectType(4)"
		    >话题</view
		  >
        </view>
      </view>
    </view>
    <view class="list_container">
      <view class="list_content">
        <view
          class="list_item"
          v-for="(item, index) in dataList"
          :key="index"
          @click="handleDetail(item)"
        >
          <image :src="item.avatar" mode="aspectFit" />
          <view class="item_info">
            <view class="name van-ellipsis">{{ item.nickname }}</view>
            <view class="content van-ellipsis">{{ item.title }}</view>
          </view>
        </view>
        <van-loading size="24rpx" v-if="dataLoading">加载中...</van-loading>
      </view>
    </view>
  </view>
</template>

<script>
import app from '../../../App.vue'
export default {
  data() {
    return {
      navInfo: {
        bg_color: '',
        color: '#FFFFFF',
        flag: 2,
        name: '我的收藏',
        backType: 1,
      },
      isIpx: app.globalData.isIpx,
      navHeight: app.globalData.navHeight,
      dataLoading: false,
      type: 1,
      dataList: [],
      pags: {
        current: 1,
        pageSize: 15,
        total: 1,
      },
    }
  },
  onLoad() {},
  onShow() {
    this.getData(true)
  },
  onReachBottom() {
    this.pags.current++
    if (this.dataList.length < this.pags.total) {
      this.getData()
    }
  },
  onPullDownRefresh() {
    this.getData(true)
  },
  methods: {
    handleSelectType(type) {
      this.type = type
      this.getData(true)
    },
    handleDetail(item) {
      if (item.interestType == 1) {
        uni.navigateTo({
          url:
            '/pages/pagesGrow/shareInfo/shareInfo?shareId=' + item.interestId,
        })
      } else if(item.interestType == 2) {
        uni.navigateTo({
          url: `/pages/pagesGrow/experience/shareExperience?id=${item.interestId}&type=share`,
        })
      }else if (item.interestType == 3){
		  uni.navigateTo({
			url: `/pages/pagesGrow/feeling/shareFeeling?id=${item.interestId}&source=list`,
		  })
	  } else if (item.interestType == 4) {
		  uni.navigateTo({
		  			url: `/pages/pagesGrow/topic/detail/detail?id=${item.interestId}`,
		  })
	  }
    },
    getData(refresh = false) {
      let params = {
        current: this.pags.current,
        interestType: this.type,
        pageSize: 10,
      }
      if (refresh) {
        this.pags.current = 1
        this.dataList = []
      }
      this.dataLoading = true
      this.$http('/mp/user/interest/pageList', 'POST', params)
        .then((res) => {
          this.dataList = this.dataList.concat(res.data.list)
          this.pags.total = res.data.total
        })
        .finally((res) => {
          this.dataLoading = false
          uni.stopPullDownRefresh()
        })
    },
  },
}
</script>

<style lang="less">
.flex(@A, @B, @C, @D) {
  display: flex;
  flex-direction: @A;
  flex-wrap: @B;
  justify-content: @C;
  align-items: @D;
}
.nav_header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99999;
}

.list_container {
  padding-top: 71rpx;
  .list_item {
    .flex(row, nowrap, flex-start, center);
    padding: 20rpx 10rpx;
    border-bottom: 1rpx solid #ececec;
    image {
      width: 100rpx;
      height: 100rpx;
      border-radius: 50%;
      margin-right: 20rpx;
    }
    .item_info {
      height: 100rpx;
      flex: 1;
      .flex(column, nowrap, space-between, flex-start);
      .name {
        font-size: 32rpx;
        color: #707694;
      }
      .content {
        font-size: 28rpx;
      }
    }
  }
}
.selects_container {
  position: fixed;
  left: 0rpx;
  right: 0rpx;
  height: 70rpx;
  padding: 0 30rpx;
  background: #fff;
  z-index: 101;

  .selects_conntent {
    .flex(row, nowrap, space-between, center);
    height: 100%;
    border-bottom: 1rpx solid rgba(207, 207, 207, 0.26);
  }

  .left {
    .flex(row, nowrap, flex-start, center);
  }

  .item {
    font-size: 28rpx;
    font-weight: 300;
    color: #999999;
    margin-right: 50rpx;
  }

  .txt-right {
    margin: 0;
  }

  .select {
    font-weight: 500;
    color: #1fe3a8;
  }

  .select_right {
    position: relative;
    font-weight: 300;
    color: #1fe3a8;
  }

  .fiter_dot {
    position: absolute;
    top: -2rpx;
    right: -6rpx;
    width: 8rpx;
    height: 8rpx;
    border-radius: 50%;
    background: red;
  }
}
</style>
