<template>
	<view class="client_container" :style="{'padding-top': navHeight + 'px'}">
		<nav-bar :navInfo="navInfo" class="nav_header"></nav-bar>
		<view class="search_container">
			<van-search id="search" :value="query.keyword" shape="round" placeholder="搜索" use-action-slot @search="onSearch"
			 @cancel="onCancel" @change="handleInput" :style="{'top': navHeightRpx + 108 + 'rpx'}">
				<view slot="action" @click="handleFiter">
					<span>筛选</span>
					<view class="fiter_dot" v-if="isFilter"></view>
				</view>
			</van-search>
			<view class="popup_container">
				<van-popup :show="popupVisible" position="top" bind:close="onClose">
					<view class="popup_content" :style="{'padding-top': navHeightRpx + 108 + 'rpx'}">
						<filter @confirm="handleConfirmFilter" ref="filter"></filter>
					</view>
				</van-popup>
			</view>
			<view class="list_container">
				<van-radio-group :value="select" @change="onChange">
					<van-radio :name="index" checked-color="#1FE3A8" v-for="(item,index) in dataList" :key="index">
						<view class="item_content">
							<view class="row align_between">
								<view class="left">
									<view class="name">{{item.name}}</view>
									<image src="../../../static/male.png" class="sex" v-if="item.gender=='女'" />
									<image src="../../../static/female_icon.png" class="sex" v-if="item.gender=='男'" />
									<view class="state">{{item.purchase?'已完成':'推进中'}}</view>
								</view>
								<view class="right">{{item.createAt?$format.formatTimeCustom(new Date(item.createAt),'-'):''}}</view>
							</view>
							<view class="row mar_top align_between">
								<view class="phone">联系：{{item.telephone}}</view>
								<view class="tags_container">
									<view class="tag" v-for="(item1,index1) in item.tags" :key="index1">{{item1}}</view>
								</view>
							</view>
						</view>
					</van-radio>
				</van-radio-group>
				<van-loading size="24rpx" v-if="dataLoading">加载中...</van-loading>
			</view>
		</view>
		<view class="btns_container">
			<bottombtn :btnsName="['新建客户','确定选中']" @confirm="handleConfirm"></bottombtn>
		</view>
	</view>
</template>

<script>
	import filter from '@/components/filter.vue'
	import bottombtn from '@/components/bottombtn.vue'
	import app from '../../../App.vue'
	export default {
		components: {
			bottombtn,
			filter
		},
		data() {
			return {
				navInfo: {
					bg_color: '',
					color: '#FFFFFF',
					flag: 2,
					name: '客户列表',
					backType: 1
				},
				isIpx: app.globalData.isIpx,
				navHeight: app.globalData.navHeight,
				navHeightRpx: 0,
				searchValue: '',
				select: null,
				editVisible: false,
				popupVisible: false,
				dataList: [],
				pags: {
					current: 1,
					pageSize: 15,
					total: 1
				},
				dataLoading: true,
				query: {
					gender: '',
					purchase: '',
					keyword: ''
				},
				isFilter: false
			}
		},

		onShow() {
			this.getHeaderInfo()
			this.getData(true)
		},
		onReachBottom() {
			this.pags.current++
			if (this.dataList.length < this.pags.total) {
				this.getData()
			}
		},
		onPullDownRefresh() {
			this.getData(true)
		},
		methods: {
			getHeaderInfo() {
				let self = this;
				uni.getSystemInfo({
					success: function(res) {
						self.navHeightRpx = app.globalData.navHeight * (750 / res.windowWidth)
					},
				})
			},
			onSearch() {
				this.getData(true)
			},
			onCancel() {

			},
			onChange(event) {
				this.select = event.detail
			},
			handleInput(value) {
				this.query.keyword = value.detail
			},
			handleFiter() {
				if (!this.popupVisible) {
					this.$refs.filter.getTagsData()
				}
				this.popupVisible = !this.popupVisible
			},
			handleConfirm(type) {
				if (type == 1) {
					uni.navigateTo({
						url: '../add/add'
					})
				} else {
					app.globalData.currentClient = this.dataList[this.select]
					uni.navigateBack()
				}
			},
			handleConfirmFilter(params, isFilter) {
				this.popupVisible = false
				this.query.gender = params.sex
				this.query.purchase = params.state
				this.query.keyword = params.custom
				this.getData(true)
				this.isFilter = isFilter
			},
			getData(refresh = false) {
				if (refresh) {
					this.pags.current = 1
					this.dataList = []
				}
				let params = {
					current: this.pags.current,
					gender: this.query.gender,
					keyword: this.query.keyword,
					pageSize: this.pags.pageSize
				}
				this.dataLoading = true
				this.$http("/mp/customer/pageList", "post", params)
					.then(res => {
						res.data.list.forEach((per) => {
							per.tags = per.tags?per.tags.split(','):[]
						})
						this.dataList = this.dataList.concat(res.data.list)
						this.pags.total = res.data.total
					})
					.finally(() => {
						this.dataLoading = false
						uni.stopPullDownRefresh()
					})
			}
		}
	}
</script>

<style lang="less">
	.flex(@A, @B, @C, @D) {
		display: flex;
		flex-direction: @A;
		flex-wrap: @B;
		justify-content: @C;
		align-items: @D;
	}

	.nav_header {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 999;
	}

	.search_container {
		position: relative;
		padding-bottom: 218rpx;

		.van-search {
			position: fixed;
			left: 0;
			right: 0;
			z-index: 101;

			.van-search__action {
				color: #1FE3A8;
			}
		}
		.fiter_dot {
			position: absolute;
			top: 30rpx;
			right: 8rpx;
			width: 8rpx;
			height: 8rpx;
			border-radius: 50%;
			background: red;
		}
	}

	.popup_container {
		.popup_content {

			.inner_content {
				padding: 20rpx 30rpx;
				max-height: 600rpx;
				overflow-y: auto;

				.inner_item {
					margin-bottom: 40rpx;

					.title {
						font-size: 26rpx;
						color: #999999;
					}

					.tags_container {
						margin-top: 20rpx;
						.flex(row, wrap, flex-start, center);

						.tag {
							margin-right: 40rpx;
							margin-bottom: 20rpx;
							padding: 4rpx 38rpx;
							background: #F5F5F5;
							border-radius: 27rpx;
							font-size: 28rpx;
							color: #333333;
						}

						.male {
							background: #DAFAFF;
							color: #0AD5F6;
						}

						.female {
							background: #FFEBEE;
							color: #FF3556;
						}

						.male_select {
							background: #0AD5F6;
							color: #fff;
						}

						.tag_select {
							background: #1EE5A9;
							color: #FFFFFF;
						}

						.mar_right {
							margin-right: 20rpx;
						}
					}
				}
			}

			.inner_btn_container {
				.flex(row, wrap, flex-start, center);

				.btn {
					flex: 1;
				}

				.blue {
					button {
						color: #23DAF7;
					}
				}
			}
		}
	}

	.list_container {
		padding-top: 108rpx;

		.van-radio {
			padding: 20rpx 30rpx;
			margin-bottom: 20rpx;
			width: 100%;
			box-sizing: border-box;
			box-shadow: 0 4rpx 10rpx 0 rgba(207, 207, 207, 0.26);

			.van-radio__label {
				flex: 1;
			}
		}

		.list-item {
			padding: 20rpx 30rpx;
			margin-bottom: 20rpx;
			box-shadow: 0 4rpx 10rpx 0 rgba(207, 207, 207, 0.26);
			.flex(row, nowrap, flex-start, center);

			.phone_icon {
				width: 70rpx;
				height: 70rpx;
			}
		}

		.item_content {
			flex: 1;
			margin-left: 24rpx;

			.align_between {
				justify-content: space-between;
			}

			.mar_top {
				margin-top: 12rpx;
			}

			.row {
				display: flex;
				align-items: center;

				.left {
					display: flex;
					align-items: center;

					.name {
						font-size: 32rpx;
						font-weight: 500;
						color: #333333;
					}

					.sex {
						width: 86rpx;
						height: 68rpx;
					}

					.state {
						font-size: 22rpx;
						color: #1FE3A8;
						line-height: 32rpx;
					}
				}

				.right {
					font-size: 24rpx;
					color: #C8C8C8;
				}

				.phone {
					margin-right: 10rpx;
					font-size: 24rpx;
					color: #666666;
				}


				.tags_container {
					.flex(flex, nowrap, flex-start, center);
					width: 340rpx;
					overflow: hidden;

					.tag {
						margin-left: 10rpx;
						padding: 4rpx 20rpx;
						background: #EFFCFF;
						box-shadow: 0 4rpx 10rpx 0 rgba(207, 207, 207, 0.26);
						border-radius: 30rpx;
						font-size: 22rpx;
						color: #4AD4FF;
						white-space: nowrap;
					}
				}
			}
		}
	}

	.btns_container {
		.btn_container {
			max-width: 600px !important;
			bottom: 72rpx !important;
		}
	}
</style>
