<template>
	<view class="manage_container" :style="{'padding-top': navHeight + 'px'}">
		<nav-bar :navInfo="navInfo" class="nav_header"></nav-bar>
		<view class="manage_content">
			<van-cell @click="bindPage(item)" :title="item.title" :is-link="index!=8" :border="false" v-for="(item,index) in selectList"
			 :key="index">
				<template #icon>
					<image :src="item.imgUrl" class="cell_icon" />
				</template>
				<template #right-icon>
					<image src="../../../static/person_ques.png" class="cell_icon_right" v-if="index==8" />
				</template>
			</van-cell>
		</view>
	</view>
</template>

<script>
	import app from '../../../App.vue'
	export default {
		data() {
			return {
				navInfo: {
					bg_color: '',
					color: '#FFFFFF',
					flag: 2,
					name: '模板管理',
					backType: 1
				},
				isIpx: false,
				navHeight: app.globalData.navHeight,
				navHeightRpx: 0,
				selectList: [{
					title: '客户标签管理',
					imgUrl: require('../static/person_cate1.png'),
					pageUrl: "/pages/pagesClient/tags/tags"
				}, {
					title: '客户来源管理',
					imgUrl: require('../../../static/person_cate2.png'),
					pageUrl: "/pages/pagesClient/from/from"
				}, {
					title: '客户模版管理',
					imgUrl: require('../../../static/person_cate3.png'),
					pageUrl: "/pages/pagesClient/custom/custom"
				}, {
					title: '案例模版管理',
					imgUrl: require('../../../static/person_cate4.png'),
					pageUrl: "/pages/pagesGrow/caseTemplate/caseTemplate"
				}]
			}
		},
		onLoad() {

		},
		methods: {
			// 页面跳转
			bindPage(item) {
				uni.navigateTo({
					url: item.pageUrl,
				})
			},
		}
	}
</script>

<style lang="less">
	.flex(@A, @B, @C, @D) {
		display: flex;
		flex-direction: @A;
		flex-wrap: @B;
		justify-content: @C;
		align-items: @D;
	}

	.nav_header {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 999;
	}

	.manage_content {
		.van-cell view {
			// color: red;
			font-size: 32rpx;
		}

		.cell_icon {
			width: 36rpx;
			height: 36rpx;
			margin-right: 20rpx;
		}

		.cell_icon_right {
			width: 36rpx;
			height: 36rpx;
		}

		.van-cell {
			border-bottom: 1rpx solid #FAFAFA;

			view {
				.flex(row, nowrap, flex-start, center);
			}
		}
	}
</style>
