<template>
	<view>
		<page-disable background="#E8E5E0" v-if="!pageVisible"></page-disable>
		<view class="grow_index" v-else>
			<navbar class="nav" :navInfo="navInfo"></navbar>
			<view class="grow_banner" :style="{'padding-top': navHeight + 'px'}" >
				<image src="../../../static/grow_top.png" mode="" v-if="bannerList.length == 0" @click="bindTopic"></image>
				<view class="banner_box" v-else>
					<swiper :indicator-dots="false"  :autoplay="true" :interval="2000" :duration="1000">
						<swiper-item v-for="(item,index) in bannerList">
							<view class="swiper-item">
								<image :src="item.pic" mode="" @click="bannerLink(item)"></image>
							</view>
						</swiper-item>
						<!-- <swiper-item>
							<view class="swiper-item"></view>
						</swiper-item> -->
					</swiper>
				</view>
				<view class="banner_desk_box">
					<image src="../../../static/grow_desk.png" mode=""></image>
				</view>
			</view>
			<view class="grow_title">
				<image src="../../../static/grow_title1.png" mode=""></image>
			</view>
			<view class="grow_book">
				<view class="book_box">
					<image src="../../../static/grow_cd1.png" mode="" class="grow_cd" @click="bindProgress"></image>
					<image src="../../../static/grow_cd2.png" mode="" class="grow_cd" @click="bindUrl('king/king')"></image>
				</view>
				<view class="desk_box">
					<image src="../../../static/grow_desk.png" mode=""></image>
				</view>
			</view>
			<view class="grow_title" style="margin-top: 56rpx;">
				<image src="../../../static/grow_title2.png" mode=""></image>
			</view>
			<view class="grow_book">
				<view class="book_box">
					<image src="../../../static/grow_book3.png" mode="" @click="bindUrl('analysis/analysis')"></image>
					<image src="../../../static/grow_book2.png" mode="" @click="bindUrl('experience/experience')"></image>
					<image src="../../../static/grow_book1.png" mode="" @click="bindUrl('feeling/feeling')"></image>
				</view>
				<view class="desk_box" style="bottom: -62rpx">
					<image src="../../../static/grow_desk.png" mode=""></image>
				</view>
			</view>
			<!-- <view class="grow_book">
				<view class="book_box">
					<image src="../../../static/book4.png" mode="" @click="bindUrl('advance/advance')"></image>
					<image src="../../../static/book5.png" mode="" @click="bindUrl('strength/strength')"></image>
				</view>
				<view class="desk_box">
					<image src="../../../static/grow_desk.png" mode=""></image>
				</view>
			</view> -->
		</view>
		<tabbar :activeIndex="2"></tabbar>
	</view>
</template>

<script>
	import navbar from '../../../components/navbar.vue'
	import tabbar from '../../../components/tabbar.vue'
	import app from '../../../App.vue'
	export default {
		components: {
			navbar,
			tabbar
		},
		data() {
			return {
				pageVisible: true,
				isIpx: app.globalData.isIpx,
				navHeight: app.globalData.navHeight,
				navInfo: {
					"bg_color": "",
					"color": "#5F370F",
					"flag": 1,
					"name": "技能提升",
					"backType": 2
				},
				bannerList:[],
				dataLoading: false,
				link:"",
				video: "",
				text:""
			}
		},
		onLoad() {},
		onShow() {
			this.getBannerList()
			if (this.$utils.checkLevel()) {
				this.pageVisible = true
			} else {
				this.pageVisible = false
				return
			}
		},
		methods: {
			bannerLink (item) {
				switch (item.type) {
					case "link":
					this.link = item.typeParam
					uni.navigateTo({
						url:"/pages/pagesGrow/webview/webview"
					})
					break;
					case "video":
					this.video = item.typeParam
					uni.navigateTo({
						url:"/pages/pagesGrow/video/video"
					})
					break;
					case "text":
					this.text = item.typeParam;
					uni.navigateTo({
						url: '/pages/pagesGrow/textpage/textpage'
					});
					break;
					case "mp-page":
					uni.navigateTo({
						url:item.typeParam
					})
					break;
				}
			},
			// 获取banner列表
			getBannerList () {
				this.$http("/mp/banner/list","GET",{}).then(res=>{
					if (res.data.length == 0) {
						this.dataLoading = true
					} else {
						this.dataLoading = false
						this.bannerList = res.data
					}
					console.log(123)
					console.log(res)
				}) 
			},
			// 跳转到话题
			bindTopic () {
				uni.navigateTo({
					url:"/pages/pagesGrow/topic/index/index"
				})
			},
			// 跳转到成交推进页面
			bindProgress () {
				uni.navigateTo({
					url:"/pages/pagesGrow/advance/advance"
				})
			},
			// 页面跳转
			bindUrl(url) {
				uni.navigateTo({
					url: `/pages/pagesGrow/${url}`
				})
			}

		}
	}
</script>

<style lang="less" scoped>
	.flex(@A, @B, @C, @D) {
		display: flex;
		flex-direction: @A;
		flex-wrap: @B;
		justify-content: @C;
		align-items: @D;
	}

	.grow_index {
		position: relative;
		min-height: calc(100vh-170rpx);
		background: #E8E5E0;
		box-sizing: border-box;
		padding-bottom: 170rpx;

		.nav {
			width: 100%;
			position: fixed;
			left: 0;
			top: 0;
			z-index: 999999;
		}

		.grow_banner {
			width: 654rpx;
			height: 308rpx;
			margin: 40rpx auto;
			.banner_box{
				width: 654rpx;
				height: 308rpx;
				swiper{
					width: 100%;
					height: 100%;
				}
				image{
					width: 654rpx;
					height: 308rpx;
					display: block;
				}
			}
			image {
				position: relative;
				width: 654rpx;
				height: 308rpx;
				display: block;
				z-index: 2;
			}
			.banner_desk_box {
				
				image {
					position: relative;
					top: -12rpx;
					left: -24rpx;
					width: 700rpx;
					height: 74rpx;
					font-display: block;
					z-index: 1;
				}
			}
		}

		.grow_book {
			position: relative;
			padding-top: 52rpx;

			.book_box {
				position: relative;
				z-index: 2;
				box-sizing: border-box;
				padding-left: 66rpx;
				.flex(row, nowrap, flex-start, center);

				image {
					width: 172rpx;
					height: 236rpx;
					display: block;
					margin-right: 52rpx;
				}
				
				.grow_cd {
					width: 310rpx;
					height: 212rpx;
					margin-right: 14rpx;
				}
			}
		}

		.desk_box {
			position: absolute;
			width: 100%;
			box-sizing: border-box;
			padding-left: 22rpx;
			bottom: -52rpx;
			z-index: 1;

			image {
				width: 700rpx;
				height: 74rpx;
				font-display: block;
			}
		}
			
		.grow_title {
			text-align: center;
			margin-top: 70rpx;
			image {
				width: 190rpx;
				height: 76rpx;
			}
		}
	}
</style>
