<template>
	<view>
		<page-disable v-if="!pageVisible"></page-disable>
		<view class="strength_index" v-else>
			<!-- <navbar :navInfo="navInfo" class="nav"></navbar> -->
			<view class="average_box">
				<view class="">
					<text>综合得分：</text>
					<text :style="{color:averageColor}" class="average">{{average}}</text>
				</view>
				<view class="rule_box" @click="showMessage">
					<view class="">
						规则
					</view>
					<view class="chanel_angle">
					
					</view>
				</view>
				<!-- <image @click="showMessage" src="../../../static/qa_icon.png" mode="" class="qa_icon.png"></image> -->
			</view>
			<view class="rule_text" v-if="showRule">
				综合实力值为11大实战能力的平均值。使用销魂过程中，数据越多且每次成交推进后对具体能力的评分越真实，综合实力评分就越精准。
			</view>
			<view class="strength_content">
				<view class="chart_box">
					<canvas canvas-id="canvasRadar" id="canvasRadar" class="charts" @touchstart="touchRadar"></canvas>
				</view>
				<view class="strength_box">
					<view class="title_box">
						<view class="title1">
							能力
						</view>
						<view class="title2">
							得分
						</view>
						<view class="title3">
							心得
						</view>
						<view class="title4">
							近20次表现
						</view>
					</view>
					<view class="list_box">
						<!-- 	<view class="single" v-for="(item,index) in dataInfo" :key="index">
						<view class="single_name">
							{{item.skillName}}
						</view>
						<view class="single_score">
							<text class="score">{{item.avg}}</text>
							<text>分</text>
						</view>
						<view class="single_line">

						</view>
						<view class="single_feel">
							<text class="number">{{item.knowledgeTotal}}</text>
							<text>篇</text>
						</view>
						<view class="single_strength">
							<view :style="{'background':subItem==1?'#FF4A4A':subItem==2?'#FFBD41':'#40C367'}" class="status_box" v-for="(subItem,subIndex) in item.twenty"
							 :key="subIndex">

							</view>
						</view>
					</view> -->
						<view class="strength_single" v-for="(item,index) in dataInfo" :key="index" @click="bindExperience(item)">
							<view class="single_left">
								<view class="single_title">
									{{item.skillName}}
									<!-- <view class="">
								</view>
								<view class="">
								</view> -->
								</view>
								<view class="single_score">
									<text class="score" :style="{'color':getColor(item.avg.toFixed(0))}">{{item.avg.toFixed(0)}}</text>
									<!-- <text class="score">1000</text> -->
									<text>分</text>
								</view>
								<view class="left_line">

								</view>
							</view>
							<view class="single_right">
								<view class="single_count">
									<text class="count">{{item.knowledgeTotal}}</text>
									<text>条</text>
									<view class="draft_box" v-if="item.knowledgeDraft > 0">

									</view>
								</view>

								<view class="status_box">
									<view class="status_item" v-for="(subItem,subIndex) in item.twenty" :key="subIndex">
										<view class="low_status" :style="{'background':subItem==1?'#FF4A4A':subItem==2?'#ffc24e':'#0dd094'}">
										</view>
									</view>
									<!-- <view class="status_item" v-for="(subItem,subIndex) in 20" :key="subIndex">
										<view class="low_status" :style="{'background':subItem==1?'#FF4A4A':subItem==2?'#ffc24e':'#0dd094'}">
										</view>
									</view> -->
								</view>
							</view>
						</view>
					</view>
				</view>
			</view>
			<!-- <view class="global_btn_box">
			<view class="global_share_btn" @click="bindNewExperience">
				<image src="../../../static/btn_back.png" mode="" class="global_btn_back"></image>
				<view class="global_btn_text">
					新增
				</view>
			</view>
		</view> -->
		</view>
		<tabbar :activeIndex="1"></tabbar>
		<modual @bindVip="bindVip" :modualInfo="modualInfo" @modualConfirm="modualConfirm" @modualCancle="modualCancle"
		 @modualChange="modualChange" v-if="showModual"></modual>
	</view>
</template>
<script>
	import tabbar from '../../../components/tabbar.vue'
	import navbar from '../../../components/navbar.vue'
	import app from '../../../App.vue'
	import uCharts from '@/utils/u-charts.min.js'
	import modual from '@/components/modual.vue'
	var _self
	var canvaRadar = null
	export default {
		components: {
			navbar,
			tabbar,
			modual
		},
		data() {
			return {
				modualInfo: {
					activeType: 7,
					showClose: false,
					showSingle: false,
					showBtns: false,
					title: '',
					content: '使用销魂过程中，数据越多且每次成交推进后对具体能力的评分越真实，综合实力评分就越精准。',
					cancleText: '',
					confirmText: '',
					showScroll: true,
				},
				showModual: false,
				pageVisible: true,
				isIpx: app.globalData.isIpx,
				navHeight: app.globalData.navHeight,
				navInfo: {
					"bg_color": "",
					"color": "#FFFFFF",
					"flag": 1,
					"name": "实力评估",
					"backType": 1
				},
				cWidth: '',
				cHeight: '',
				pixelRatio: 1,
				textarea: '',
				dataInfo: [],
				average: 0,
				averageColor:"#FF5050",
				showRule: false
			}
		},
		computed: {
			getColor(value) {
				return function(value) {
					if (value >= 1 && value < 60) {
						return '#FF5050'
					}
					if (value >= 60 && value < 80) {
						return '#ffc24e'
					}
					if (value >= 80) {
						return '#0dd094'
					}
				}
			}
		},
		onLoad() {},
		onShow() {
			if (this.$utils.checkLevel()) {
				this.pageVisible = true
			} else {
				this.pageVisible = false
				return
			}
			_self = this;
			this.cWidth = uni.upx2px(680)
			this.cHeight = uni.upx2px(620)
			this.getStrengthData()
		},
		methods: {
			modualConfirm() {
				this.modualChange("close")
			},
			modualCancle() {
				this.modualChange("close")
			},
			modualChange(type) {
				if (type == 'open') {
					this.showModual = true
				} else {
					this.showModual = false
				}
			},
			showMessage () {
				this.showRule = !this.showRule
				// this.modualChange("open")
			},
			// 跳转实战心得页面
			bindExperience(item) {
				uni.navigateTo({
					url: `/pages/pagesGrow/experience/experience?skillId=${item.skillId}`
				})
			},
			// 获取实力数据
			getStrengthData() {
				this.$http("/mp/user/skill/overview", "GET", {}).then(res => {
					this.dataInfo = res.data
					let strengthList = res.data
					let labelArr = []
					let data = []
					let total = 0
					strengthList.map(item => {
						labelArr.push(`${item.skillName}`)
						data.push(item.avg)
						total += item.avg
					})
					this.average = Math.round(total / data.length)
					this.averageColor = this.average < 60? "#FF5050":this.average < 80?"ffc24e":"#0dd094"
					let obj = {
						color: "#0dd094",
						textColor: "#12de9f",
						data: data,
						index: 0,
						legendShape: "circle",
						name: "实力图谱",
						pointShape: "circle",
						show: true,
						type: "radar",
						dataPointShapeType:"solid"
					}
					let chartData = {
						categories: labelArr,
						series: [obj]
					}
					_self.showRadar("canvasRadar", chartData);
				})
			},
			showRadar(canvasId, chartData) {
				canvaRadar = new uCharts({
					$this: _self,
					canvasId: canvasId,
					type: 'radar',
					fontSize: 12,
					padding: [0, 0, 0, 0],
					legend: {
						show: false,
					},
					background: '#E8E5E0',
					pixelRatio: _self.pixelRatio,
					animation: true,
					dataLabel: true,
					// dataPointShape:true,
					categories: chartData.categories,
					series: chartData.series,
					width: _self.cWidth * _self.pixelRatio,
					height: _self.cHeight * _self.pixelRatio,
					extra: {
						radar: {
							max: 100, //雷达数值的最大值
							labelColor: "#000000",
							gridColor: "#E8E9EA",
							opacity: 0.5,
						}
					}
				});
			},
			touchRadar(e) {
				canvaRadar.touchLegend(e);
				// canvaRadar.showToolTip(e, {
				// 	format: function(item) {
				// 		return item.name + ':' + item.data
				// 	}
				// });
			},

		}
	}
</script>

<style lang="less" scoped>
	.flex(@A, @B, @C, @D) {
		display: flex;
		flex-direction: @A;
		flex-wrap: @B;
		justify-content: @C;
		align-items: @D;
	}

	.strength_index {
		position: relative;
		min-height: 100vh;
		background: #ffffff;
		box-sizing: border-box;
		padding-bottom: 120rpx;

		.nav {
			width: 100%;
			position: fixed;
			left: 0;
			top: 0;
			z-index: 999999;
			font-size: 30rpx;
		}
		.average_box{
			padding: 30rpx 30rpx 30rpx 30rpx;
			box-sizing: border-box;
			font-size: 32rpx;
			.flex(row,nowrap,space-between,center);
			.average{
				color: #0dd094;
				font-weight: bold;
				font-size: 40rpx;
			}
			.qa_icon{
				width: 40rpx;
				height: 40rpx;
				display: block;
			}
			.rule_box{
				.flex(row,nowrap,flex-end,center);
				font-size: 30rpx;
				color: #1EE3A8;
				.chanel_angle {
					width: 0;
					height: 0;
					border-left: 10rpx solid transparent;
					border-right: 10rpx solid transparent;
					border-top: 10rpx solid #1EE3A8;
					margin-left: 10rpx;
				}
			}
		}
		.rule_text{
			font-size: 26rpx;
			box-sizing: border-box;
			padding: 0 30rpx;
			line-height: 34rpx;
			color: #768196;
		}

		.strength_content {
			.chart_box {
				box-sizing: border-box;
				padding: 0rpx 70rpx 0rpx 40rpx;

				.charts {
					width: 680rpx;
					height: 620rpx;
				}
			}

			.strength_box {
				width: 750rpx;

				.title_box {
					font-size: 22rpx;
					line-height: 32rpx;
					color: #333333;
					text-align: center;
					box-sizing: border-box;
					padding: 0rpx 30rpx 20rpx 30rpx;
					.flex(row, nowrap, space-between, center);

					.title1 {
						// width: 52rpx;
						width: 65rpx;
						// margin-right: 54rpx;
						margin-right: 24rpx;
					}

					.title2 {
						// width: 190rpx;
						text-align: left;
						padding-left: 20rpx;
						width: calc(278rpx - 65rpx - 64rpx - 34rpx);
					}

					.title3 {
						width: 100rpx;
						// padding-left: 10rpx;
						text-align: left;
						box-sizing: border-box;
					}

					.title4 {
						width: 290rpx;
						text-align: left;
						box-sizing: border-box;
						// padding-left: 30rpx;
						// width: calc(100% - 52rpx - 190rpx - 152rpx);
					}


				}

				.list_box {
					margin-top: 20rpx;

					.strength_single {
						height: 96rpx;
						width: 750rpx;
						box-sizing: border-box;
						background: rgba(224, 224, 224, 0.2);
						margin-bottom: 20rpx;
						position: relative;
						.flex(row, nowrap, space-between, center);

						.single_left {
							// width: 278rpx;
							width: 248rpx;
							box-sizing: border-box;
							.flex(row, nowrap, space-between, center);

							.single_title {
								// font-weight: 26rpx;
								font-size: 26rpx;
								line-height: 30rpx;
								font-weight: bold;
								color: #333333;
								margin-left: 34rpx;
								// margin-right: 64rpx;
								margin-right: 34rpx;
								width: 65rpx;

							}

							.single_score {
								line-height: 28rpx;
								font-size: 20rpx;
								color: #333333;

								.score {
									font-size: 48rpx;
									line-height: 66rpx;
									font-weight: bold;
								}
							}

							.left_line {
								width: 2rpx;
								height: 41rpx;
								background: #979797;
							}
						}

						.single_right {
							// width: 472rpx;
							width: 502rpx;
							box-sizing: border-box;
							// padding-left: 46rpx;
							padding-left: 50rpx;
							padding-right: 32rpx;
							.flex(row, nowrap, space-between, center);

							.single_count {
								font-size: 20rpx;
								line-height: 28rpx;
								color: #333333;
								position: relative;

								.draft_box {
									width: 16rpx;
									height: 16rpx;
									border-radius: 8rpx;
									background: #FF4040;
									position: absolute;
									top: 0rpx;
									right: -10rpx;
								}

								.count {
									font-size: 48rpx;
									line-height: 66rpx;
									font-weight: bold;
								}
							}

							.status_box {
								box-sizing: border-box;
								// padding-left: 28rpx;
								// width: 290rpx;
								width: 280rpx;
								.flex(row, wrap, flex, center);

								.status_item {
									width: 10%;
									height: 18rpx;
									.flex(row, wrap, flex, center);
									margin-top: 10rpx;
								}

								.low_status {
									width: 18rpx;
									height: 18rpx;
									background: #FF4A4A;
									// margin-left:10rpx;
								}

								.middler_status {
									width: 18rpx;
									height: 18rpx;
									background: #FFBD41;
									// margin-left:10rpx;
								}

								.high_status {
									width: 18rpx;
									height: 18rpx;
									background: #40C367;
									// margin-left:10rpx;
								}
							}
						}
					}

					.single {
						width: 750rpx;
						height: 96rpx;
						// background: #F5F3EF;
						background: rgba(245, 243, 239, 0.5);
						box-sizing: border-box;
						padding: 0rpx 30rpx;
						margin-bottom: 20rpx;
						.flex(row, nowrap, flex-start, center);

						.single_name {
							width: 55rpx;
							font-size: 26rpx;
							line-height: 30rpx;
							color: #593E0D;
							font-weight: bold;
						}

						.single_score {
							font-size: 20rpx;
							line-height: 28rpx;
							color: #FFAB0B;
							width: 190rpx;
							// .flex(row, nowrap, center, center);

							.score {
								font-size: 48rpx;
								font-weight: bold;
							}
						}

						.single_line {
							width: 2rpx;
							height: 41rpx;
							background: #979797;
						}

						.single_feel {
							width: 150rpx;
							font-size: 20rpx;
							line-height: 28rpx;
							color: #8D6213;
							.flex(row, nowrap, center, center);

							.score {
								font-size: 48rpx;
								font-weight: bold;
							}

							.number {
								font-size: 48rpx;
								font-weight: bold;
							}
						}

						.single_strength {
							width: calc(100% - 397rpx);
							height: 100%;
							box-sizing: border-box;
							.flex(row, wrap, flex-start, center);

							.status_box {
								box-sizing: border-box;
								width: 18rpx;
								height: 18rpx;
								background: #FF4A4A;
								margin-left: 12rpx;
								// margin-top: 10rpx;
							}
						}
					}
				}
			}
		}

	}
</style>
