<template>
	<view class="progress_add_container" :style="{'padding-top': navHeight + 'px'}">
		<nav-bar :navInfo="navInfo" class="nav_header"></nav-bar>
		<view class="cell_container">
			<van-cell title="客户名称" :is-link="!isCustomer" :value="clientInfo.name?clientInfo.name:'请选择客户'" :clickable="!isCustomer"
			 @click="handleToSelect" />
			<view class="line"></view>
			<van-cell title="沟通时间" is-link>
				<temlate #value>
					<datetime-picker ref="datetime" :placeholder="placeholder" :maxDate="defaultMaxDate" :minDate="defaultMinDate" @getData="getData"
					 :timeIntervalMsec="timeIntervalMsec" :type="timeType" :value="selectDate"></datetime-picker>
				</temlate>
			</van-cell>
			<van-cell title="沟通方式" is-link :value="query.way?query.way:'请选择'" @click="handleOpenWay" />
			<van-cell title="沟通时长" is-link>
				<temlate #value>
					<picker mode="multiSelector" :range="multiArray" @change="handleTimeChange">
						<view class="uni-input">{{selectTime?formatTIme(selectTime):'请选择'}}</view>
					</picker>
				</temlate>
			</van-cell>
			<van-cell title="内容/备注/总结" :border="false" class="border_none" />
			<view class="text_area">
				<van-field :value="query.content" autosize type="textarea" placeholder="条理清晰的沟通记录有助于更好的把握销售机会。另外，首次销售沟通，如果没有成交，那么做好记录和分析是未来能否有机会推进成功的关键。如果首次沟通就成交了，那可以简单做个记录后及时去成长页面写下实战感悟或能力心得，有助于我们实力的沉淀和精进。" :border="false" @change="handleInputQuery($event.detail,'content')" />
			</view>
			<!-- <van-cell title="沟通总结" :border="false" class="border_none" />
			<view class="text_area">
				<van-field :value="query.summary" autosize type="textarea" placeholder="多行文本，首次沟通出现" :border="false" @change="handleInputQuery($event.detail,'summary')" />
			</view> -->
		</view>
		<!-- <view class="upload_img_container">
			<view class="img_content" v-for="(item,index) in uploadImgList" :key="index">
				<image src="../../../static/img_del_icon.png" class="delete_img" @click="handleDeleteImg(item,index)" />
				<image :src="item" class="img" mode="aspectFill" />
			</view>
		</view> -->
		<!-- <view class="upload_container" v-if="uploadImgList.length<6">
			<image src="../../../static/upload_icon.png" @click="handleUpload" />
			<span @click="handleUpload">上传附件</span>
		</view> -->
		<bottombtn btnName="保存" @confirm="handleConfirm"></bottombtn>
		<van-popup :show="popupPickerVisible" position="bottom">
			<van-picker :columns="pickerColumns" show-toolbar @confirm="onPickerConfirm" @cancel="handlePopupClose" />
		</van-popup>
		<van-popup :show="popupDateVisible" position="bottom">
			<!-- <van-datetime-picker type="datetime" :value="currentDate" :min-date="minDate" :formatter="dateFormatter" @input="handleInputDate"
			 @confirm="handleConfirmDate" @cancel="handleCancelDate" /> -->
		</van-popup>
		<van-popup :show="popupTimeVisible" position="bottom">
			<van-datetime-picker type="time" :value="currentTime" :formatter="timeFormatter" @input="handleInputTime" @confirm="handleConfirmTime"
			 @cancel="handleCancelTime" />
		</van-popup>
		<modual :modualInfo="modualInfo" @modualConfirm="modualConfirm" @modualCancel="modualCancel" @modualChange="modualChange" v-if="showModual"></modual>
	</view>
</template>

<script>
	import bottombtn from '@/components/bottombtn.vue'
	import app from '../../../App.vue'
	import datetimePicker from '@/components/datetimepicker.vue'
	import modual from '@/components/modual.vue'
	export default {
		components: {
			bottombtn,
			datetimePicker,
			modual
		},
		data() {
			return {
				multiArray: [],
				showModual: false,
				modualInfo: {
					activeType: 2,
					showClose: false,
					showSingle: false,
					showBtns: true,
					title: "推进计划",
					content: "是否立即新建一个推进任务",
					cancleText: "取消",
					confirmText: "立即前往"
				},
				navInfo: {
					bg_color: '',
					color: '#FFFFFF',
					flag: 2,
					name: '新建沟通记录',
					backType: 1
				},
				isIpx: app.globalData.isIpx,
				navHeight: app.globalData.navHeight,
				query: {
					content: '',
					customerId: null,
					duration: null,
					followupId: null,
					id: null,
					location: '',
					opportunityId: null,
					summary: '',
					way: '',
					attachment: '',
					communicateAt: null
				},
				clientInfo: null,
				pickerColumns: [],
				popupPickerVisible: false,
				popupDateVisible: false,
				popupTimeVisible: false,
				minDate: new Date().getTime(),
				dateFormatter(type, value) {
					if (type === 'year') {
						return `${value}年`;
					} else if (type === 'month') {
						return `${value}月`;
					} else if (type === 'day') {
						return `${value}日`;
					} else if (type === 'hour') {
						return `${value}时`;
					}
					return `${value}分`;
				},
				timeFormatter(type, value) {
					if (type === 'hour') {
						return `${value}小时`;
					}
					return `${value}分钟`;
				},
				selectDate: null,
				currentDate: new Date().getTime(),
				currentTime: '00:00',
				selectTime: '',
				isCustomer: false,
				isEdit: false,
				uploadImgList: [],
				//时间选择配置
				placeholder: '请选择',
				defaultMinDate: new Date(1).getTime(),
				defaultMaxDate: new Date('2050/12/31').getTime(),
				// 时间类型
				timeType: 'anyTime',
				// 间隔的毫秒
				timeIntervalMsec: 20
			}
		},
		computed: {
			inputShow() {
				return !(this.showModual||this.popupPickerVisible)
			}
		},
		onLoad(options) {
			if (options.opportunityId) {
				this.query.opportunityId = options.opportunityId
			}
			if (options.customerId) {
				this.query.customerId = options.customerId
				this.isCustomer = true
			}
			this.query.customerId = options.customerId ? options.customerId : null
			if (options.customerName) {
				this.clientInfo = {}
				this.clientInfo.name = options.customerName
				app.globalData.currentClient = null
			}
			if (options.id) {
				this.isEdit = true
				this.query.id = options.id
				this.navInfo.name = '沟通记录详情'
				this.getDetail()
			}
			this.multiArray = this.getTimeArray()
			this.getWay()
		},
		onShow() {
			if (app.globalData.currentClient)
				this.clientInfo = app.globalData.currentClient
		},
		onUnload() {
			app.globalData.currentClient = null
		},
		methods: {
			modualChange(type) {
				if (type == 'open') {
					this.showModual = true
				} else {
					this.showModual = false
					this.inputShow = true
				}
			},
			// 弹窗确认操作
			modualConfirm() {
				app.globalData.chanceDetailType = 1
				uni.navigateBack()
			},
			modualCancel() {
				uni.navigateBack()
			},
			handleOpenWay() {
				this.inputShow = false
				this.popupPickerVisible = true
			},
			handlePopupClose() {
				this.popupPickerVisible = false
			},
			handleTimeChange(e) {
				let hour = e.detail.value[0],minutes = e.detail.value[1]
				this.selectTime = this.multiArray[0][hour].substring(0,this.multiArray[0][hour].indexOf('小时'))+':'
				+this.multiArray[1][minutes].substring(0,this.multiArray[1][minutes].indexOf('分钟'))
			},
			getData(time) {
				this.selectDate = time
			},
			onPickerConfirm(e) {
				this.query.way = e.detail.value
				this.popupPickerVisible = false
			},
			handleInputQuery(value, name) {
				this.query[name] = value
			},
			handleToSelect() {
				if (this.isCustomer) {
					return
				}
				uni.navigateTo({
					url: '../select/select'
				})
			},
			handleSelectDate() {
				if (this.selectDate)
					this.currentDate = this.selectDate
				this.popupDateVisible = true
			},
			handleInputDate(e) {
				this.currentDate = e.detail
			},
			handleConfirmDate() {
				this.selectDate = this.currentDate
				this.popupDateVisible = false
			},
			handleCancelDate() {
				this.popupDateVisible = false
			},
			handleSelectTime() {
				if (this.selectTime)
					this.currentTime = this.selectTime
				this.popupTimeVisible = true
			},
			handleInputTime(e) {
				this.currentTime = e.detail
			},
			handleConfirmTime() {
				this.selectTime = this.currentTime
				this.popupTimeVisible = false
			},
			handleCancelTime() {
				this.popupTimeVisible = false
			},
			getWay() {
				let params = {}
				this.dataLoading = true
				this.$http("/mp/communication/way/list", "get", params)
					.then(res => {
						let list = []
						res.data.forEach(per => {
							list.push(per.name)
						})
						this.pickerColumns = list
					})
					.finally(() => {
						this.dataLoading = false
					})
			},
			handleDeleteImg(item, index) {
				uni.showLoading()
				this.$http("/mp/upload/removePicture", "delete", {
						path: item
					})
					.then(res => {
						this.uploadImgList.splice(index, 1)
					})
					.finally(() => {
						uni.hideLoading()
					})
			},
			handleUpload() {
				let self = this
				uni.chooseImage({
					count: 1,
					sizeType: ['copressed'],
					success(res) {
						//因为有一张图片， 输出下标[0]， 直接输出地址
						var imgFiles = res.tempFiles[0]
						console.log(res)
						// 上传图片
						// 做成一个上传对象

						if (imgFiles.size > 1024 * 200) {
							uni.showToast({
								icon: 'none',
								title: '上传图片不能大于200k',
								duration: 2500
							});
							return
						}
						uni.showLoading()
						var uper = uni.uploadFile({
							// 需要上传的地址
							url: 'https://xiaohun.baiziio.com/mp/upload/uploadPicture',
							// filePath  需要上传的文件
							filePath: imgFiles.path,
							header: {
								token: uni.getStorageSync('token'),
								'Content-Type': 'multipart/form-data'
							},
							name: 'file',
							success(res1) {
								// 显示上传信息
								console.log(res1)
								let data = JSON.parse(res1.data)
								if (data.code == 200) {
									self.uploadImgList.push(data.data)
								} else {
									uni.showToast({
										icon: 'none',
										title: data.message,
										duration: 2500
									})
								}
							},
							complete() {
								uni.hideLoading()
							}
						});
					}
				})
			},
			getDetail() {
				let params = {
					id: this.query.id
				}
				this.dataLoading = true
				this.$http("/mp/communication/one", "get", params)
					.then(res => {
						this.query = {
							content: res.data.content ? res.data.content : '',
							customerId: res.data.customerId ? res.data.customerId : null,
							duration: res.data.duration ? res.data.duration : null,
							followupId: res.data.followupId ? res.data.followupId : null,
							id: res.data.id ? res.data.id : null,
							location: res.data.location ? res.data.location : '',
							opportunityId: res.data.opportunityId ? res.data.opportunityId : null,
							summary: res.data.summary ? res.data.summary : '',
							way: res.data.way ? res.data.way : '',
							attachment: res.data.attachment ? res.data.attachment : '',
							communicateAt: res.data.communicateAt ? res.data.communicateAt : null,
						}
						if (res.data.attachment)
							this.uploadImgList = res.data.attachment.split(',')
						this.selectDate = res.data.communicateAt ? res.data.communicateAt : null
						this.$nextTick(()=>{
							this.$refs.datetime.initDate()
						})
						if (res.data.duration)
							this.selectTime = this.formTimerString(res.data.duration)
					})
					.finally(() => {
						this.dataLoading = false
					})
			},
			handleConfirm() {
				let params = JSON.parse(JSON.stringify(this.query))
				if (!params.opportunityId)
					delete params.opportunityId
				if (!params.followupId)
					delete params.followupId
				if (!params.customerId)
					delete params.customerId
				if (params.opportunityId) {
					delete params.customerId
				}
				if (this.uploadImgList.length > 0) {
					params.attachment = this.uploadImgList.join(',')
				}
				if (this.selectDate)
					params.communicateAt = this.selectDate
				if (this.selectTime) {
					params.duration = this.ChangeStrToMinutes(this.selectTime)
				}
				uni.showLoading()
				this.$http("/mp/communication/create", "post", params)
					.then(res => {
						this.showModual = true
					})
					.finally(() => {
						uni.hideLoading()
					})
			},
			formatTIme(time) {
				if (time)
					return time.split(':')[0] + '小时' + time.split(':')[1] + '分钟'
				return ''
			},
			formTimerString(time) {
				return this.ChangeHourMinutestr(time)
			},
			addZero(num) {
				if (num.toString().length == 1)
					return '0' + num
				return num
			},
			ChangeStrToMinutes(str) {
				var arrminutes = str.split(":");
				if (arrminutes.length == 2) {
					var minutes = parseInt(arrminutes[0]) * 60 + parseInt(arrminutes[1]);
					return minutes;
				} else {
					return 0;
				}
			},
			ChangeHourMinutestr(str) {
				if (str !== "0" && str !== "" && str !== null) {
					return ((Math.floor(str / 60)).toString().length < 2 ? "0" + (Math.floor(str / 60)).toString() :
						(Math.floor(str / 60)).toString()) + ":" + ((str % 60).toString().length < 2 ? "0" + (str % 60).toString() : (
						str % 60).toString());
				} else {
					return "";
				}
			},
			getTimeArray() {
				return [this.generateArray(0,23,'小时'),this.generateArray(0,60,'分钟')]
			},
			generateArray (start, end, type) {
			  return Array.from(new Array(end + 1).keys(),item=>item+type).slice(start)
			}
		}
	}
</script>

<style lang="less">
	.flex(@A, @B, @C, @D) {
		display: flex;
		flex-direction: @A;
		flex-wrap: @B;
		justify-content: @C;
		align-items: @D;
	}

	.progress_add_container {
		padding-bottom: 160rpx;

		.nav_header {
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			z-index: 999;
		}

		.cell_container {
			.van-cell__value {
				flex: 2 !important;
			}

			.input_right .van-cell {
				padding: 0 !important;
				border: none !important;
			}

			.van-cell {
				border-bottom: 1rpx solid #F5F5F5 !important;
			}

			.border_none .van-cell {
				border-bottom: none !important;
			}

			.line {
				height: 20rpx;
				background: #F5F5F5;
			}

			.cell_green {

				.van-cell__title,
				.van-cell__value {
					color: #23E3AA;
					font-weight: 500;
				}
			}

			.cell_black {
				.van-cell__value {
					color: #333333;
				}
			}

			.cell_input {
				.van-cell__title {
					flex: none;
					width: 120rpx;
				}
			}

			.text_area {
				.field-index--van-field {
					margin: 0 30rpx;
					min-height: 100rpx;
					background: #FAFAFA;
					border-radius: 8rpx;
					font-size: 26rpx;
					color: #999999;
					line-height: 32rpx;
				}

				// .van-field__body--textarea {
				// 	height: 100%;
				// 	padding: 0;
				// }
				.van-cell {
					width: auto !important;
				}
			}

			// textarea {
			// 	height: 100%;
			// }
		}

		.upload_img_container {
			.flex(row, wrap, flex-start, center);
			padding: 0 16rpx;

			.img_content {
				position: relative;

				.delete_img {
					position: absolute;
					top: 12rpx;
					right: -7rpx;
					width: 20rpx;
					height: 20rpx;
					padding: 15rpx;
					background: #D9BC80;
					border-radius: 50%;
				}

				.img {
					width: 200rpx;
					height: 200rpx;
					margin: 40rpx 16rpx 0;
				}
			}
		}

		.upload_container {
			padding: 16rpx 30rpx 160rpx;
			.flex(row, wrap, flex-end, center);

			image {
				width: 44rpx;
				height: 32rpx;
				margin-right: 20rpx;
			}

			font-size: 28rpx;
			color: #00C98D;
		}

		.btn_container {
			bottom: 40rpx !important;
		}

		picker {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;

			.uni-input,
			.placeholder {
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				padding-right: 70rpx;
				display: flex;
				align-items: center;
				justify-content: flex-end;
			}
		}
	}
	.van-field__input--textarea {
		min-height: 178rpx!important;
	}
</style>
