<template>
	<view class="progress_container" :style="{'padding-top':navHeight+'px'}">
		<!-- <nav-bar :navInfo="navInfo" class="nav_header"></nav-bar> -->
		<view class="bar" :style="{'height': 'calc(' + titleBarHeight + ' + ' +  statusBarHeight + ')'}">
			<view class="nav_header" :style="{'height':titleBarHeight,'padding-top':statusBarHeight,
		'background': 'linear-gradient(90deg, #1DE5A8 0%, #41AFC3 100%)'}">
				<view class="leftArrow" @tap="back">
					<image src="../../../static/left_arrow.png" mode="" class="left_arrow"></image>
				</view>
				<view class="header_title" :style="{'color': navInfo.color}">{{navInfo.name}}</view>
			</view>
		</view>
		<view class="progress_content">
			<view class="header_container">
				<view class="between_container">
					<view class="first_title">成交元素</view>
					<view class="row" @click="showModual = true">
						<view class="icon">?</view>
						<view class="txt">如何评分</view>
					</view>
					<view class="title">技能评分</view>
				</view>
			</view>
			<view class="score_list_container">
				<view class="calibration_container">
					<view class="calibration_item" v-for="(item,index) in 6" :key="index" :style="index==5?'width: auto':''">
						<view>{{index}}</view>
						<view class="line" v-if="index!=5"></view>
					</view>
				</view>
				<view class="score_list_item" v-for="(item,index) in rateList" :key="index">
					<view class="imgs_line">
						<view class="img_container" @click="handleObtain(index)">
							<image src="../../../static/score_l.png" v-if="item.obtain" @click="handleChange(2)" />
							<image src="../../../static/score.png" v-else @click="handleChange(1)" />
							<!-- <image src="../../../static/score_n.png" v-if="!item.disable" /> -->
							<view class="txt">{{item.elementName}}</view>
						</view>
						<view class="line" v-if="index+1<rateList.length"></view>
						<view class="dot" v-if="!item.disable&&!isCheck"></view>
					</view>
					<view class="score_container" :class="item.skills.length==1?'center':''" :style="index+1<rateList.length?'':'border-bottom:none'">
						<view class="score_item" v-for="(item1,index1) in item.skills" :key="index1">
							<view class="lable" :style="item1.score==0?'color:#B8B8B8':''">{{item1.skillName}}</view>
							<view class="rate_container">
								<view class="rate_content">
									<view v-if="!item.disable">
										<van-slider custom-class="slider" :value="item1.score" step="20" :active-color="rateColor(item1.score)" @change="onStepChange($event,index,index1)" />
									</view>
									<block v-else-if="item1">
										<view class="rate_item" :class="[index2+1<=item1.score?'select':'',index2==0?'start':'',index2==4?'end':'']"
										 :style="index2+1<=item1.score?'background:'+rateColor(item1.score):''" v-for="(item2,index2) in 5" :key="index2"
										 @click="handleScore(index,index1,index2)"></view>
									</block>
								</view>
							</view>
						</view>
						<view class="line" v-if="index!=rateList.length-1"></view>
						<!-- <view class="score_item">
							<view class="lable">解除抗拒</view>
							<view class="rate_container">
								<view class="rate_item start"></view>
								<view class="rate_item"></view>
								<view class="rate_item"></view>
								<view class="rate_item"></view>
								<view class="rate_item end"></view>
							</view>
						</view> -->
					</view>
				</view>
			</view>
		</view>
			<bottombtn btnName="保存" @confirm="handleConfirm" v-if="!isEdit&&!isCheck"></bottombtn>
			<modual :modualInfo="modualInfo" @modualConfirm="modualConfirm" @modualChange="modualChange" v-if="showModual"></modual>
			<modual :modualInfo="modualInfoFirst" @modualConfirm="modualConfirmFirst" @modualChange="modualChangeFirst" v-if="showModualFirst"></modual>
	</view>
</template>

<script>
	import app from '../../../App.vue'
	import bottombtn from '@/components/bottombtn'
	import modual from '@/components/modual.vue'
	export default {
		components: {
			bottombtn,
			modual
		},
		data() {
			return {
				navInfo: {
					bg_color: '',
					color: '#FFFFFF',
					flag: 2,
					name: '成交推进评估系统',
					backType: 1
				},
				statusBarHeight: 0,
				titleBarHeight: 0,
				isIpx: app.globalData.isIpx,
				navHeight: app.globalData.navHeight,
				followupId: null,
				opportunityElementId: null,
				opportunityId: null,
				rateList: [],
				isEdit: false,
				isChange: false,
				isCheck: false,
				isInit: false,
				detail: false,
				showModual: false,
				showModualFirst: false,
				modualInfo: {
					activeType: 3,
					showClose: false,
					showSingle: false,
					showBtns: false,
					showScroll: true,
					title: "必读",
					content: "基础信任\n1-破冰能力：沟通氛围很尬/冷=0分；舒服/热烈=5分；中间按程度打分。\n2-解除抗拒：客户明显抵触/防范/抗拒=0分；敞开心扉互动=5分；中间按程度打分。\n够紧迫性\n3-感性引导：完全在理性和逻辑层面沟通=0分；根据目的充分调动了客户情绪，并让客户处于极度感性状态=5分；中间按程度打分。 \n4-挖需能力 ：只知道客户想了解啥产品或服务=0分；成功收集需求背后的痛点/爽点/痒点等=5分；中间按程度打分。\n个人价值\n            5-专业能力：只会背参数=0分；行业知识扎实并且形成了自己独到的理解=5分；中间按程度打分。\n6-资源实力：只会拿公司给的产品，政策等闷头销售=0分；整合同行和异业资源并足够为任何目标客户提供增值服务=5分；中间按程度打分。\n品质认可\n7-讲解能力：背书式的自卖自夸=0分；成功利用场景代入，类比表达，痛点刺激等技巧将产品，服务和个人价值传递清晰且氛围舒服=5分；中间按程度打分。\n需求满足\n8-方案能力：客户完全不认可方案=0分；客户相当认可并有超出预期感觉=5分；中间按程度打分。\n够唯一性\n9-差异竞争：毫无唯一性塑造=0分；能从产品，服务，公司，自己等全方位打造唯一性=5分；中间按程度打分。\n担忧解除\n10-异议处理：感觉客户有异议，但客户拒绝沟通=0分；能定位异议的根本原因并当场成功处理=5分；中间按程度打分。\n得便宜感\n11-谈判能力：因客户内心的不满情绪而丢单=0分；通过引导技巧让客户觉得超值=5分；中间按程度打分。",
					cancleText:"否",
					confirmText: "是"
				},
				modualInfoFirst: {
					activeType: 5,
					showClose: false,
					showSingle: false,
					showBtns: false,
					title: "",
					content: "",
					cancleText:"否",
					confirmText: "是",
					backgroundUrl: require('../static/blackboard6.png')
				},
			}
		},
		onLoad(options) {
			this.showModualFirst = this.$utils.getStatus('progress')
			this.$utils.setStatus("progress")
			this.opportunityElementId = options.opportunityElementId ? options.opportunityElementId : null
			this.opportunityId = options.opportunityId ? options.opportunityId : null
			this.followupId = options.followupId ? options.followupId : null
			this.isEdit = options.isEdit ? true : false
			this.isChange = options.isChange? true: false
			this.isCheck = options.isCheck? true: false
			if(options.isInit) {
				this.navInfo.name = '销售机会-初始评估'
				this.isInit = true
			}
			this.detail = options.detail ? options.detail : null
			this.getHeaderInfo()
		},
		onShow() {
			if(this.detail) {
				this.rateList = app.globalData.fromFollowup
				return
			}
			if(this.opportunityElementId)
				this.getDataOpportunity()
			if(this.followupId)
				this.getData()
			if(this.opportunityId && this.isCheck) {
				this.getElementDetail()
			}
			if(this.opportunityId && this.isInit) 
				this.getDataInitOpportunity()
		},
		onUnload() {
			if(this.opportunityElementId)
				app.globalData.fromFollowup = [];
		},
		methods: {
			rateColor(score) {
				let score1 = 0
				if(!score) {
					score1 = 0
				}else if(parseInt(score) > 10) {
					score1 = parseInt(score)/20
				}else {
					score1 = parseInt(score)
				}
				console.log(score1);
				switch (score1) {
				
					case 1:
						return '#FF5050'
						break
					case 2:
						return '#FF5050'
						break
					case 3:
						return '#FFCA66'
						break
					case 4:
						return '#4CEA81'
						break
					case 5:
						return '#4CEA81'
						break
					default:
						return '#1989F8'
						break
				}
			},
			onStepChange(e,index,index1) {
				this.$set(this.rateList[index].skills[index1], 'score', e.detail)
			},
			modualChange (type) {
				if (type == 'open') {
					this.showModual = true
				} else {
					this.showModual = false
				}
			},
			// 弹窗确认操作
			modualConfirm () {
				
			},
			modualChangeFirst(type) {
				if (type == 'open') {
					this.showModualFirst = true
				} else {
					this.showModualFirst = false
				}
			},
			// 弹窗确认操作
			modualConfirmFirst () {
				
			},
			back() {
				uni.navigateBack({
					delta: 1
				})
			},
			getHeaderInfo() {
				var that = this;
				uni.getSystemInfo({
					success: function(res) {
						if (res.model.indexOf('iPhone') !== -1) {
							that.titleBarHeight = 44 + 'px';
						} else {
							that.titleBarHeight = 48 + 'px';
						}
						that.statusBarHeight = res.statusBarHeight + 'px'
					},

				})
			},
			handleConfirm() {
				if(!this.isEdit) {
					let list = [],rateList = JSON.parse(JSON.stringify(this.rateList))
					rateList.forEach(per=>{
						if(!per.disable) {
							per.skills.forEach(per1=>{
								per1.score = per1.score ? per1.score/20 : 0
							})
							list.push(per)
						}
					})
					console.log('list--',list)
					app.globalData.fromFollowup = rateList
				}
				if(this.isChange || this.isInit) {
					this.changeSingle()
				}else {
					uni.navigateBack({
						delta: 1
					})
				}
			},
			handleChange(type) {
			},
			handleObtain(index) {
				if(this.isEdit) {
					return
				}
				if(this.isCheck) {
					return
				}
				if (!this.rateList[index].disable) {
					this.$set(this.rateList[index], 'obtain', !this.rateList[index].obtain)
				}else {
					if(this.isChange) {
						uni.showToast({
							icon: 'none',
							title: '为避免操作失误影响数据，请仅对本次选择的元素进行评估。',
							duration: 3000
						})
					}else {
						uni.showToast({
							icon: 'none',
							title: '计划外的元素请在机会卡上评估',
							duration: 3000
						})
					}
				}
			},
			handleScore(index, index1, index2) {
				if(this.isCheck) {
					return
				}
				if(this.isEdit||this.rateList[index].disable) {
					if(this.isChange) {
						uni.showToast({
							icon: 'none',
							title: '为避免操作失误影响数据，请仅对本次选择的元素进行评估。',
							duration: 3000
						})
					}else {
						uni.showToast({
							icon: 'none',
							title: '计划外的元素请在机会卡上评估',
							duration: 3000
						})
					}
					return
				}
				this.$set(this.rateList[index].skills[index1], 'score', index2 + 1)
			},
			getData() {
				let params = {
					followupId: this.followupId,
				}
				this.dataLoadingList = true
				this.$http("/mp/evaluation/fromFollowup", "get", params)
					.then(res => {
						res.data.elements.forEach(per => {
							if (per.skills) {
								per.skills.forEach(per1 => {
									if (!per1.score) {
										per1.score = 0
									}else {
										let num = this.$format.formatNumber(per1.score,0)
										per1.score = parseInt(num)
									}
								})
							}
						})
						this.rateList = res.data.elements
					})
					.finally(() => {
						this.dataLoadingList = false
					})
			},
			changeSingle() {
				let list = [],rateList = JSON.parse(JSON.stringify(this.rateList))
					rateList.forEach(per=>{
						if(!per.disable) {
							per.skills.forEach(per1=>{
								per1.score = per1.score ? per1.score/20 : 0
							})
							list.push(per)
						}
					})
				let params = {
					elements: list,
					opportunityId: this.opportunityId
				}
				uni.showLoading()
				this.$http("/mp/opportunity/dealElement/changeObtain", "post", params)
					.then(res => {
						if(this.isInit) {
							uni.redirectTo({
								url: '/pages/pagesChance/detail/detail?id=' + this.opportunityId
							})
						}else {
							uni.navigateBack({
								delta: 1
							})
						}
					})
					.finally(() => {
						uni.hideLoading()
					})
			},
			getElementDetail() {
				let params = {
					opportunityId: this.opportunityId,
				}
				this.dataLoadingList = true
				uni.showLoading()
				this.$http("/mp/evaluation/detail", "get", params)
					.then(res => {
						res.data.elements.forEach(per => {
							if (per.skills) {
								if(!per.disable) {
									per.skills.forEach(per1 => {
										if (!per1.score) {
											per1.score = 0
										}else {
											per1.score = per1.score * 20
										}
									})
								}else {
									per.skills.forEach(per1 => {
										if (!per1.score) 
											per1.score = 0
									})
								}
							}
						})
						this.rateList = res.data.elements
					})
					.finally(() => {
						uni.hideLoading()
						this.dataLoadingList = false
					})
			},
			getDataOpportunity() {
				let params = {
					opportunityElementId: this.opportunityElementId,
				}
				this.dataLoadingList = true
				uni.showLoading()
				this.$http("/mp/evaluation/fromOpportunityElement", "get", params)
					.then(res => {
						res.data.elements.forEach(per => {
							if (per.skills) {
								if(!per.disable) {
									per.skills.forEach(per1 => {
										if (!per1.score) {
											per1.score = 0
										}else {
											per1.score = per1.score * 20
										}
									})
								}else {
									per.skills.forEach(per1 => {
										if (!per1.score) 
											per1.score = 0
									})
								}
							}
						})
						this.rateList = res.data.elements
					})
					.finally(() => {
						uni.hideLoading()
						this.dataLoadingList = false
					})
			},
			getDataInitOpportunity() {
				let params = {
					opportunityId: this.opportunityId
				}
				this.dataLoadingList = true
				uni.showLoading()
				this.$http("/mp/evaluation/fromOpportunity", "get", params)
					.then(res => {
						res.data.elements.forEach(per => {
							if (per.skills) {
								if(!per.disable) {
									per.skills.forEach(per1 => {
										if (!per1.score) {
											per1.score = 0
										}else {
											per1.score = per1.score * 20
										}
									})
								}else {
									per.skills.forEach(per1 => {
										if (!per1.score) 
											per1.score = 0
									})
								}
							}
						})
						this.rateList = res.data.elements
					})
					.finally(() => {
						this.dataLoadingList = false
					})
			}
		}
	}
</script>

<style lang="less">
	.flex(@A, @B, @C, @D) {
		display: flex;
		flex-direction: @A;
		flex-wrap: @B;
		justify-content: @C;
		align-items: @D;
	}

	.bar {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 100000;

		.header_back {
			width: 750rpx;
			height: 100%;
			font-display: block;
		}
	}

	.back_img {
		background-image: url('https://xiaoguan-67477.oss-cn-hangzhou.aliyuncs.com/bg/bg1.jpg');
	}

	.nav_header {
		display: flex;
		align-items: center;
		top: 0;
		width: 100%;
		z-index: 100000;
		position: absolute;
		left: 0;
		top: 0;

		.weight {
			font-weight: bold;
		}

		.leftArrow {
			.left_arrow {
				width: 24rpx;
				height: 44rpx;
				margin-left: 50rpx;
				margin-top: 12rpx;
				margin-right: 50rpx;
			}
		}

		.header_title {
			position: absolute;
			left: 50%;
			font-size: 38rpx;
			transform: translateX(-50%);
		}

		.header-back {
			position: absolute;
			left: 15rpx;
			font-size: 30rpx;
			padding: 10rpx;
			border-radius: 50%;
			border: 1px solid red;
		}
	}

	.progress_container {
		.progress_content {
			padding: 36rpx 30rpx 80rpx 30rpx;
		}

		.header_container {
			position: relative;
			.between_container {
				.flex(row, nowrap, space-between, flex-start);
			}

			.title {
				position: absolute;
				top: 0;
				left: 190rpx;
				font-size: 32rpx;
				width: 88rpx;
				text-align: center;
				color: #333333;
				font-weight: bold;
				padding-left: 4rpx;
			}

			.first_title {
				width: 88rpx;
				text-align: center;
				font-size: 32rpx;
				color: #333333;
				font-weight: bold;
			}

			.row {
				.flex(row, nowrap, flex-start, center);

				.icon {
					.flex(row, nowrap, center, center);
					margin-right: 10rpx;
					width: 22rpx;
					height: 22rpx;
					border-radius: 50%;
					border: 1rpx solid #999999;
					font-size: 18rpx;
					color: #999999;
				}

				.txt {
					position: relative;
					right: -6rpx;
					font-size: 24rpx;
					color: #999999;
				}
			}
		}

		.score_list_container {
			position: relative;
			margin-top: 30rpx;
			.calibration_container {
				.flex(row, nowrap, flex-start, center);
				position: absolute;
				top: -62rpx;
				right: -6rpx;
				font-size: 24rpx;
				color: #999;
				.calibration_item {
					width: 78rpx;
					.flex(row, nowrap, flex-start, center);
					.line {
						height: 2rpx;
						flex: 1;
						background: #999;
					}
				}
			}

			.score_list_item {
				padding-bottom: 18rpx;
				.flex(row, nowrap, space-between, center);

				.imgs_line {
					position: relative;
					width: 88rpx;
					height: 88rpx;

					.img_container {
						.flex(row, nowrap, center, center);
						position: relative;
						width: 100%;
						height: 100%;

						image {
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
						}

						.txt {
							position: relative;
							z-index: 10;
							width: 46rpx;
							font-size: 22rpx;
							font-weight: 500;
							color: #FFFFFF;
						}
					}

					.line {
						position: absolute;
						bottom: -29rpx;
						left: 0;
						right: 0;
						margin: 0 auto;
						width: 2rpx;
						height: 21rpx;
						background: #C8C8C8;
					}
					.dot {
						position: absolute;
						top: 0;
						bottom: 0;
						right: -60rpx;
						width: 20rpx;
						height: 20rpx;
						background: #4BAFC0;
						border-radius: 50%;
						margin: auto 0;
					}
				}

				.score_container {
					position: relative;
					.flex(column, nowrap, space-between, center);
					margin-left: 64rpx;
					padding: 4rpx 0;
					height: 102rpx;
					// border-bottom: 1rpx solid #E1E1E1;

					.score_item {
						.flex(row, nowrap, flex-start, center);
						padding: 6rpx 0;

						.lable {
							font-size: 24rpx;
							color: #666666;
							margin-right: 14rpx;
						}

						.rate_container {
							.rate_content {
								.flex(row, nowrap, flex-start, center);
								.rate_item {
									width: 76rpx;
									height: 22rpx;
									background: #F0F0F0;
									position:relative;
									&::before {
										content: '';
										position: absolute;
										top: -15rpx;
										bottom: -15rpx;
										left: 0;
										right: 0;
									}
								
									&:not(:last-child) {
										border-right: 2rpx solid #CFCFCF;
									}
								}
								
								.select {
									border-right-color: #FFFFFF !important;
									background: #FF5050;
								}
								
								.start {
									border-radius: 20rpx 0 0 20rpx;
								}
								
								.end {
									border-radius: 0 20rpx 20rpx 0;
								}
							}
						}
					}
					.line {
						width: 100%;
						height: 2rpx;
						background: #CFCFCF;
						position: absolute;
						bottom: -10rpx;
					}
				}

				.center {
					justify-content: center !important;
				}
			}
		}
	}
	.slider {
		width: 381rpx;
		margin-left: 5rpx;
	}
	.van-slider__bar {
		height: 6px !important;
	}
	.van-slider__button {
		width: 24rpx!important;
		height: 24rpx!important;
		margin: 16rpx;
	}
</style>
