<template>
	<view class="money_container" :style="{'padding-top': navHeight + 'px'}">
		<nav-bar :navInfo="navInfo" class="nav_header"></nav-bar>
		<view class="money_content">
			<view class="cell_container">
				<van-field label="订单总额" :value="query.dealMoney" placeholder="请填写" :border="false" input-align="right" type="number"
				 @change="handleInput($event.detail,'dealMoney')" />
				<van-field label="新增回款" :value="query.increase" placeholder="请填写" :border="false" input-align="right" type="number"
				 @change="handleInput($event.detail,'increase')" />
			</view>
			<view class="btn_container">
				<van-button class="btn" round color="linear-gradient(90deg, #1DE5A8 0%, #41AFC3 100%)" @click="handleConfirm">录入</van-button>
			</view>
			<view class="record_container">
				<van-divider contentPosition="center">回款记录</van-divider>
				<view class="record_item" v-for="(item,index) in dataList" :key="index">
					<image src="../../../static/money_icon.png" />
					<view class="row">
						<view class="time">{{item.createAt?$format.formatDateString(new Date(item.createAt)):''}}</view>
						<view class="money">+{{item.money}}</view>
					</view>
				</view>
				<van-field class="green" :value="payback" label="合计" placeholder="请填写" :border="false" input-align="right"
				 readonly />
			</view>
		</view>
	</view>
</template>

<script>
	import app from '../../../App.vue'
	export default {
		data() {
			return {
				navInfo: {
					bg_color: '',
					color: '#FFFFFF',
					flag: 2,
					name: '录入金额',
					backType: 1
				},
				isIpx: app.globalData.isIpx,
				navHeight: app.globalData.navHeight,
				opportunityId: null,
				dataLoading: true,
				query: {
					dealMoney: null,
					increase: null
				},
				dataList: [],
				pags: {
					current: 1,
					pageSize: 15,
					total: 1
				},
				payback: 0
			}
		},
		onLoad(options) {
			this.opportunityId = options.opportunityId ? options.opportunityId : null
			this.query.dealMoney = options.dealMoney ? options.dealMoney : 0
			this.payback = options.payback ? options.payback : 0
		},
		onShow() {
			this.getData()
		},
		methods: {
			handleInput(value, name) {
				console.log(value)
				this.query[name] = value
			},
			handleConfirm() {
				let params = {
					dealMoney: Number(this.query.dealMoney ? this.query.dealMoney : 0),
					increase: Number(this.query.increase ? this.query.increase : 0),
					opportunityId: this.opportunityId
				}
				uni.showLoading()
				this.$http("/mp/opportunity/payback", "post", params)
					.then(res => {
						uni.hideLoading()
						uni.showToast({
							title: '新增成功',
							duration: 2500
						})
						uni.navigateBack({
							delta: 1
						})
					})
					.catch(() => {
						uni.hideLoading()
					})
			},
			getData() {
				let params = {
					opportunityId: this.opportunityId
				}
				this.dataLoading = true
				this.$http("/mp/opportunity/payback/list", "get", params)
					.then(res => {
						this.dataList = res.data
					})
					.finally(() => {
						this.dataLoading = false
						
					})
			}
		}
	}
</script>

<style lang="less">
	.flex(@A, @B, @C, @D) {
		display: flex;
		flex-direction: @A;
		flex-wrap: @B;
		justify-content: @C;
		align-items: @D;
	}

	.money_container {

		.nav_header {
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			z-index: 999;
		}

		.cell_container {
			.van-cell__value {
				flex: 2!important;
			}
			.van-cell {
				border-bottom: 1rpx solid #F5F5F5;
			}

			.green {
				.van-field__body {
					color: #1EE5A9;
				}
			}
		}

		.btn_container {
			.flex(row, wrap, center, center);
			margin-top: 44rpx;

			button {
				width: 232rpx;
				height: 80rpx;
				box-shadow: 0 4rpx 12rpx 0 rgba(57, 187, 189, 0.59);
			}
		}

		.record_container {
			margin-top: 96rpx;

			.van-divider {
				justify-content: center;
				font-size: 32rpx;
				color: #333333;

				&::after,
				&::before {
					flex: none;
					width: 54rpx;
					border-color: #979797;
				}
			}

			.record_item {
				.flex(row, nowrap, flex-start, center);
				padding-left: 32rpx;
				height: 84rpx;

				image {
					width: 44rpx;
					height: 44rpx;
					margin-right: 20rpx;
				}

				.row {
					.flex(row, nowrap, space-between, center);
					height: 100%;
					flex: 1;
					border-bottom: 1rpx solid #DCDCDC;

					.time {
						font-size: 28rpx;
						color: #999999;
					}

					.money {
						font-size: 36rpx;
						font-weight: 500;
						color: #FF432D;
						margin-right: 30rpx;
					}
				}
			}
			.van-cell__value {
				flex: 2!important;
			}
			.van-cell {
				border-bottom: 1rpx solid #F5F5F5;
			}

			.green {
				.van-field__body {
					color: #1EE5A9;
				}
			}
		}
	}
</style>
