<template>
	<view class="grow_index">
		<navbar class="nav" :navInfo="navInfo"></navbar>
		<view class="grow_banner" :style="{'padding-top': navHeight + 'px'}">
			<view class="list_box">
				<view class="list_single" v-for="(item,index) in listData" :key="index" @click="bindDetails(item)">
					<view class="single_left">
						<image :src="item.avatar" mode=""></image>
					</view>
					<view class="single_right">
						<view class="info_box">
							<view class="name_text">
								<text class="info_name">{{item.nickname}}</text>
								<text class="info_coo" v-if="item.messageType ==1 || item.messageType ==2 || item.messageType ==3">评论了你</text>
								<text class="info_coo" v-if="item.messageType ==4 ">赞了你</text>
								<text class="info_coo" v-if="item.messageType ==5 ">踩了你</text>
							</view>
							<view class="name_time" v-if="item.timeType == 3">
								<text v-if="item.timeStr">{{item.timeStr}}前</text>
								<text v-else>刚刚</text>
							</view>
							<view class="name_time" v-else>
								{{item.timeStr}}
							</view>
						</view>
						<view class="title" v-if="item.messageType ==1 || item.messageType ==2 || item.messageType ==3">
							{{item.content}}
						</view>
						<view class="bottom_box">
							<view class="bottom_left">
								<text v-if="item.refContent">@</text>{{item.refContent}}
							</view>
							<view class="bottom_line" v-if="item.refContent && item.messageType !=4 && item.messageType !=5">

							</view>

							<image v-if="item.messageType !=4 && item.messageType !=5 && item.isLike" src="../../../../static/topic_like.png"
							 mode="" class="bottom_icon first" @click.stop="bindLike(item.replyCommentId,5,false,1,index)"></image>
							<image v-if="item.messageType !=4 && item.messageType !=5 && !item.isLike" src="../../../../static/topic_detail_like.png"
							 mode="" class="bottom_icon first" @click.stop="bindLike(item.replyCommentId,5,true,1,index)"></image>
							<image v-if="item.messageType !=4 && item.messageType !=5 && !item.isDislike" src="../../../../static/topic_unlike.png"
							 mode="" class="bottom_icon" @click.stop="bindLike(item.replyCommentId,5,true,3,index)"></image>
							<image v-if="item.messageType !=4 && item.messageType !=5 && item.isDislike" src="../../../../static/dislike_active.png"
							 mode="" class="bottom_icon" @click.stop="bindLike(item.replyCommentId,5,false,3,index)"></image>
							<image v-if="item.messageType !=4 && item.messageType !=5" src="../../../../static/topic_detail_comment.png"
							 mode="" class="bottom_icon" @click.stop="changeComment(true,item)"></image>
						</view>
					</view>
				</view>
			</view>
		</view>
		<view class="input_pop" v-if="showComment" @click.self="changeComment(false,{})" @touchmove.stop="moveHandle">
			<view class="input_box" @click.stop="defaultEvent">
				<view class="content_box">
					<!-- <textarea :maxlength="-1" v-model="commentInfo.content" :auto-height="true" :cursor-spacing="180" :fixed="true"
					 :hold-keyboard="true" :adjust-position="true" :focus="showComment" :placeholder="'评论给' + authName " class="textarea"
					 placeholder-class="placeholder" /> -->
					<van-field
						@input="inputChange"
						:focus="showComment"
						:placeholder="'评论给' + authName "
						:value="commentInfo.content"
						class="textarea"
						:autosize="{ minHeight: 90,maxHeight:240 }"
						type="textarea"
						:cursor-spacing="180"
						:adjust-position="true" 
						placeholder-style="font-size: 28rpx;line-height: 40rpx;color: #9DA5B5;"
					/>
					</view>
				<view class="publish_box">
					<view class="cancle_text" @click="changeComment(false,{})">
						取消
					</view>
					<view class="pulish_text" @click="submitComment">
						发布
					</view>
				</view>
			</view>
		</view>
		<toast v-if="showToast" :title="toastTitle"></toast>
	</view>
</template>

<script>
	import navbar from '../../../../components/navbar.vue'
	import tabbar from '../../../../components/tabbar.vue'
	import app from '../../../../App.vue'
	import toast from '../../../../components/toast.vue'
	export default {
		components: {
			navbar,
			tabbar,
			toast
		},
		data() {
			return {
				toastTitle:"",
				showToast: false,
				isIpx: app.globalData.isIpx,
				navHeight: app.globalData.navHeight,
				navInfo: {
					"bg_color": "",
					"color": "#5F370F",
					"flag": 2,
					"name": "我的消息",
					"backType": 2
				},
				queryInfo: {
					current:1,
					pageSize: 10
				},
				listData:[],
				total: 0,
				showNodata: false,
				showComment: false,
				authName: "",
				commentInfo: {
					content: "",
					commentId: "",
					refCommentId:"",
					topicId: ""
				},
				dataIndex: 0,
			}
		},
		onLoad() {},
		onShow() {
			this.getMessageList("search")
		},
		onPullDownRefresh() {
			this.getMessageList('fresh');
		},
		onReachBottom() {
			if (this.listData.length < this.total) {
				this.queryInfo.current++;
				this.getMessageList('');
			}
		},
		methods: {
			moveHandle () {
				return false
			},
			inputChange(value) {
				this.commentInfo.content = value.detail
			},
			// 控制toast
			changeToast(value,title) {
				if (value) {
					this.showToast = value
					this.toastTitle = title
				} else {
					setTimeout(()=> {
						this.showToast = value
						this.toastTitle = title
					},1500)
				}
			},
			defaultEvent () {},
			// 消息点击跳转
			bindDetails (item) {
				console.log(121212)
				console.log(item)
				let url = ""
				switch (item.messageType) {
					case 1:
					url = `/pages/pagesGrow/topic/detail/detail?id=${item.topicId}`
					break
					case 2:
					case 3:
					case 4:
					url = `/pages/pagesGrow/topic/comment/comment?commentId=${item.commentId}&topicId=${item.topicId}&from=message`
					break
					default:
					return;
				}
				console.log(url)
				uni.navigateTo({
					url:url
				})
			},
			// 增加/取消点赞
			bindLike (id,type,value,requestType,dataIndex) {
				this.dataIndex = dataIndex
				let title = ""
				// let url = requestType ==1?"/mp/user/interest/like":requestType ==2?"/mp/user/interest/collect":"/mp/user/interest/dislike"
				let params = {
					interestId: id,
					interestType: type,
					value:value
				}
				if (requestType == 1) {
					params.op = "like"
					title = value?"点赞成功":"取消点赞成功"
				} else if (requestType == 2) {
					params.op = "collect"
					title = value?"收藏成功":"取消收藏成功"
				} else {
					params.op = "dislike"
					title = value?"点踩成功":"取消点踩成功"
				}
				this.$http("/mp/user/interest/one","POST",params).then(res => {
					this.getMessageList("update")
					this.changeToast(true,title)
					this.changeToast(false,"")
				}) 
			},
			// 唤起评论框
			changeComment (type,item) {
				this.showComment = type
				this.authName = item.nickname
				this.commentInfo.topicId = item.topicId
				this.commentInfo.commentId = item.commentId
				this.commentInfo.refCommentId = item.replyCommentId
				// if (!type) {
				// 	this.commentInfo.content = ""
				// }
			},
			// 添加评论
			submitComment () {
				// this.commentInfo.commentId = this.submitType == 2?this.submitId:""
				// this.commentInfo.replyCommentId = this.submitType == 3?this.submitId:""
				this.$http("/mp/topic/comment/one","POST",this.commentInfo).then(res => {
					
					this.changeComment(false,{})
					this.getMessageList("search")
					this.changeToast(true,"评论成功")
					this.changeToast(false,"")
					this.commentInfo.content = ""
					
				})
			},
			// 获取消息列表
			getMessageList (type) {
				if (type == 'search' || type == 'fresh') {
					this.queryInfo.current = 1;
					this.listData = [];
					this.total = 0;
				}
				let params = JSON.parse(JSON.stringify(this.queryInfo))
				if (type == "update") {
					params.current = Math.ceil(this.dataIndex / this.queryInfo.pageSize)
				}
				this.$http("/mp/topic/message/pageList","POST",params).then(res => {
					let data = res.data.list;
					data.map(item => {
						item.timeStr = this.$format.formatMessageTime(new Date(item.createAt));
					});
					if (type != "update") {
					this.listData = this.listData.concat(data);
					this.total = res.data.total;
					} else {
						let index = this.dataIndex % this.queryInfo.pageSize
						this.$set(this.listData,this.dataIndex, data[index])
					}
					if (type == 'fresh') {
						uni.stopPullDownRefresh();
					}
					if (this.listData.length == this.total) {
						this.showNodata = true;
					} else {
						this.showNodata = false;
					}
				})
			},

		}
	}
</script>
<style lang="less" scoped>
	.flex(@A, @B, @C, @D) {
		display: flex;
		flex-direction: @A;
		flex-wrap: @B;
		justify-content: @C;
		align-items: @D;
	}

	.grow_index {
		position: relative;
		min-height: 100vh;
		background: #F3F4F6;
		box-sizing: border-box;
		padding-bottom: 16rpx;
		position: relative;
		.input_pop {
			width: 100%;
			height: 100%;
			position: fixed;
			left: 0;
			bottom: 0;
			z-index: 999999;
			background: rgba(0, 0, 0, 0.4);
		
			.input_box {
				position: absolute;
				left: 0;
				bottom: 0;
				z-index: 999999;
				width: 100%;
				background: #FFFFFF;
				height: auto;
				padding: 24rpx 32rpx;
				box-sizing: border-box;
				.content_box{
					box-sizing: border-box;
					background: #F4F5F8;
					padding: 20rpx;
				}
				.textarea{
					// height: 180rpx;
					min-height: 180rpx;
					background: #F4F5F8;
					box-sizing: border-box;
					// padding: 24rpx;
					font-size: 28rpx;
					line-height: 40rpx;
					color: #333333;
					width: 100%;
				}
				/deep/.van-cell{
					background: #F4F5F8;
					padding: 0;
				}
				.placeholder{
					font-size: 28rpx;
					line-height: 40rpx;
					color: #9DA5B5;
				}
				.input_box{
					font-size: 30rpx;
					line-height: 32rpx;
					color: #2D8EFF;
					font-weight: 500;
					text-align: right;
					margin-top: 24rpx;
				}
				.publish_box{
					font-size: 30rpx;
					line-height: 32rpx;
					color: #2D8EFF;
					font-weight: 500;
					margin-top: 24rpx;
					.flex(row,nowrap,space-between,center);
					.cancle_text{
						color: #768196;
					}
				}
			}
		}
		.nav {
			width: 100%;
			position: fixed;
			left: 0;
			top: 0;
			z-index: 999999;
		}

		.list_box {
			.list_single {
				box-sizing: border-box;
				padding: 18rpx 32rpx 24rpx 32rpx;
				background: #FFFFFF;
				margin-top: 16rpx;
				width: 100%;
				.flex(row, nowrap, space-between, flex-start);

				.single_left {
					width: 60rpx;
					height: 60rpx;
					border-radius: 30rpx;
					overflow: hidden;
					image{
						width: 60rpx;
						height: 60rpx;
						display: block;
					}
				}

				.single_right {
					width: calc(100% - 80rpx);
					box-sizing: border-box;

					.info_box {
						// margin-bottom: 16rpx;
						.flex(row, nowrap, space-between, center);
						.name_text {
							font-size: 30rpx;
							line-height: 40rpx;
							font-weight: 400;
							width: calc(100% - 130rpx);
						}

						.info_name {
							color: #F57623;
							padding-right: 10rpx;
						}

						.info_coo {
							color: #0D0E15;
						}

						.name_time {
							font-size: 22rpx;
							line-height: 24rpx;
							color: #768196;
						}
					}

					.title {
						font-size: 30rpx;
						line-height: 40rpx;
						font-weight: 400;
						color: #0D0E15;
						padding-top: 16rpx;
						// color: #7E8593;
						// font-size: 26rpx;
					}

					.bottom_box {
						padding-top: 16rpx;
						.flex(row, nowrap, space-between, center);

						.bottm_text {
							width: 100%;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
							font-size: 26rpx;
							line-height: 40rpx;
							color: #7E8593;
						}

						.bottom_left {
							width: calc(100% - 270rpx);
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
							font-size: 26rpx;
							line-height: 40rpx;
							color: #7E8593;
						}

						.bottom_line {
							width: 2rpx;
							height: 28rpx;
							background: #979797;
						}

						.bottom_icon {
							width: 30rpx;
							height: 30rpx;
							display: block;
							margin-left: 32rpx;
							padding: 10rpx;
						}

						.first {
							// margin-left: 48rpx;
						}
					}
				}
			}
		}
	}
</style>
