<template>
	<view class="topic_index">
		<navbar class="nav" :navInfo="navInfo"  ></navbar>
		<view class="" v-if="!userInfo.answerTopicQuestionnaire && code==0">

		</view>
		<view class="black_box" :style="{'padding-top': navHeight + 'px'}" v-if="code == 10501 || code == 10502 || code == 10503">
			<view class="black_content">
				{{content}}
			</view>
			<view class="time_box" v-if="timeObj">
				<view class="">倒计时</view>
				<view class="time_view" v-if="timeObj.days">{{timeObj.days}}</view>
				<view class="" v-if="timeObj.days">
					天
				</view>
				<view class="time_view">{{timeObj.hours}}</view>
				<view class="">
					:
				</view>
				<view class="time_view">{{timeObj.minutes}}</view>
				<view class="">
					:
				</view>
				<view class="time_view">{{timeObj.seconds}}</view>
			</view>
		</view>
		<view class="grow_banner" :style="{'padding-top': navHeight + 'px'}" v-if="userInfo.answerTopicQuestionnaire && code==200">
			<view class="top_container" :style="{'top': navHeight + 'px'}">
				<view class="search_box">
					<van-search :use-left-icon-slot="true" @change="keywordChange" shape="round" use-action-slot placeholder="输入关键字进行搜索" background="#FFFFFF"
					 input-class="search_input">
						<view slot="left-icon">
							<image src="../../../../static/search_icon.png" mode="" class="search_icon"></image>
						</view>
						<view slot="action" class="search_text" @click="getTopicList('search')">搜索</view>
					</van-search>
				</view>
				<view class="top_box">
					<view class="top_left">
						<view class="left_single" @click="tabChange(1)">
							<view class="text_active">
								<picker mode="selector" :range="typeList" @change="typeChange" range-key="label" class="type_picker">
									<view class="picker_box">
										<view v-if="queryInfo.topicType" class="picker_text">{{typeLabel}}</view>
										<view class="list_angle" v-else>全部</view>
										<image src="../../../../static/classic_icon.png" mode="" class="classic_icon"></image>
									</view>
								</picker>
							</view>
							<!-- <image src="../../../../static/classic_icon.png" mode="" class="classic_icon"></image> -->
							<!-- <view class="active_line" v-if="activeIndex == 1">
				
							</view> -->
						</view>
						<view class="left_single" @click="tabChange(2)">
							<view class="text_active">
								<picker mode="selector" :range="sortList" @change="pickerChange" range-key="label" class="type_picker">
									<view class="picker_box">
										<view v-if="queryInfo.sortBy" class="picker_text">{{sortLabel}}</view>
										<view class="list_angle" v-else>排序</view>
										<image src="../../../../static/sort_icon.png" mode="" class="classic_icon"></image>
									</view>
								</picker>
							</view>
							<!-- <view class="active_line" v-if="activeIndex == 2">
				
							</view> -->
						</view>
					</view>
					<view class="top_right" @click="bindMessage">
						<view class="right_text">
							我的消息
						</view>
						<image src="../../../../static/topic_arrow.png" mode="" class="topic_arrow" :style="{marginLeft:message>0?'52rpx':'10rpx'}"></image>
						<view class="message_box" v-if="message>0">
							{{message}}
						</view>
					</view>
				</view>
			</view>
			<view class="list_box">
				<view class="list_single" v-for="(item,index) in listData" :key="index" @click="bindDetail(item,index)">
					<image v-if="item.valuable" src="../../../../static/topic_flag.png" mode="" class="topic_flag"></image>
					<view class="single_top">
						<view class="title_box">
							<!-- <view class="flag_box">
								<image src="../../../../static/topic_flag.png" mode="" class="topic_flag" v-if="item.valuable"></image>
							</view> -->
							<view class="title_text">
								{{item.title}}
								<!-- <text class="topic_name" v-for="(tag,tagIndex) in item.tagsArr" :key="tagIndex">#{{tag}}#</text> -->
							</view>
							<view class="second_title" v-if="item.content">
								{{item.content}}
							</view>
						</view>
						<view class="tag_box">
							<view class="tag_list">
								<text v-for="(tag,tagIndex) in item.tagsArr" :key="tagIndex">#{{tag}}</text>
							</view>
							
						</view>
						<view class="topic_time">
							<text>创建：{{item.startTime}}</text>
							<template v-if="item.latestCommentAt">
								<text class="second_time" v-if="item.timeType == 3 && item.timeStr">最新观点：{{item.timeStr}}前</text>
								<text class="second_time" v-if="item.timeType == 3 && !item.timeStr">最新观点：刚刚</text>
								<text class="second_time" v-if="item.timeType != 3">最新观点：{{ item.timeStr }}</text>
							</template>
							<template v-else>
								<text class="second_time">最新观点：<text class="sofa_text">抢沙发</text></text>
							</template>
						</view>
						<image src="../../../../static/topic_overDate.png" mode="" class="topic_overDate" v-if="item.isExpired && !item.permanent"></image>
					</view>
					<view class="single_bottom">
						<view class="bottom_left">
							<view class="left_single ">
								<view v-if="item.collect">
									<image src="../../../../static/topic_collect.png" mode="" class="topic_collect"></image>
								</view>
								<view v-else>
									<image src="../../../../static/index_collect.png" mode="" class="topic_collect"></image>
								</view>
								<view class="single_text">
									{{item.collectAmount?item.collectAmount:0}}
								</view>
							</view>	
							<view class="left_single ">
								<image src="../../../../static/topic_comment.png" mode="" class="topic_collect"></image>
								<view class="single_text">
									{{item.commentAmount?item.commentAmount:0}}
								</view>
							</view>
							<view class="left_single left_last">
								<image src="../../../../static/topic_view.png" mode="" class="topic_collect"></image>
								<view class="single_text">
									{{item.viewAmount?item.viewAmount:0}}
								</view>
							</view>
						</view>
						<view class="bottom_right">
							<view class="photo_box" :style="{left:'calc(36rpx * (6 - ' + imgIndex + '))',zIndex:img.zIndex }" v-if="imgIndex < 7" v-for="(img,imgIndex) in item.participantAvatars"
							 :key="imgIndex">
								<view class="photo_inner">
									<image :src="img.url" mode=""></image>
								</view>
							</view>
						</view>
					</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	import navbar from '../../../../components/navbar.vue'
	import tabbar from '../../../../components/tabbar.vue'
	import app from '../../../../App.vue'
	import toast from '../../../../components/toast.vue'
	export default {
		components: {
			navbar,
			tabbar,
			toast
		},
		data() {
			return {
				toastTitle: "点赞成功",
				showToast: true,
				activeIndex: 1,
				isIpx: app.globalData.isIpx,
				navHeight: app.globalData.navHeight,
				tabList: ["分类", "排序"],
				sortList: [{
					label: "发布时间",
					value: ""
				}, {
					label: "浏览人次",
					value: "view"
				}, {
					label: "评论数量",
					value: "comment"
				}, {
					label: "收藏数量",
					value: "collect"
				}],
				typeList: [{
					label: "全部",
					value: ""
				},{
					label: "官宣类话题",
					value: "0"
				},{
					label: "分享类话题",
					value: "2"
				},{
					label: "讨论类话题",
					value: "1"
				}],
				navInfo: {
					"bg_color": "",
					"color": "#5F370F",
					"flag": 2,
					"name": "实战互助专区",
					"backType": 2
				},
				typeLabel: "全部",
				sortLabel: "",
				photoList: [1, 2, 3, 4, 5],
				queryInfo: {
					current: 1,
					keyword: "",
					pageSize: 14,
					sortBy: "",
					topicType: "", // 0 公开话题 2 讨论类话题 1 分享类话题
				},
				listData: [],
				total: 0,
				showNodata: false,
				message: 0,
				userInfo: uni.getStorageSync("userInfo"),
				code: 0,
				content: "",
				timeObj: null,
				timeCount: "",
				timer: null,
				pageStatus: true,
				selectValue: null
			}
		},
		onLoad() {},
		onHide() {
			clearInterval(this.timer)
			this.timer = null
			uni.setStorageSync("topicPage", this.queryInfo.current)
		},
		onUnload() {
			clearInterval(this.timer)
			this.timer = null
		},
		onShow() {
			this.userInfo = uni.getStorageSync("userInfo")
			this.getMessageInfo()
			if (this.pageStatus) {
				this.getTopicList("search")
			}
			if (this.selectValue) {
				const selectedTopic = this.selectValue
				this.selectValue = null;
				// 更新
				this.$http("/mp/topic/stat", "GET", {
					id: selectedTopic.id
				}).then(res => {
					var infoDetail = res.data
					selectedTopic.viewAmount = infoDetail.viewAmount
					selectedTopic.commentAmount = infoDetail.commentAmount
					selectedTopic.collect = infoDetail.isCollect
					selectedTopic.collectAmount = infoDetail.collectAmount
					let imgList = infoDetail.participantAvatars.reverse()
					let imgArr = []
					imgList.map((item,index)=> {
						let obj = {
							url: item,
							zIndex: (imgList.length - index) * 100
						}
						imgArr.push(obj)
					})
					selectedTopic.participantAvatars = imgArr
					// selectedTopic.participantAvatars = infoDetail.participantAvatars.reverse()
				})
			}
		},
		onPullDownRefresh() {
			this.getMessageInfo()
			this.getTopicList('fresh');
		},
		onReachBottom() {
			if (this.listData.length < this.total) {
				this.queryInfo.current++;
				this.getTopicList('');
			}
		},
		methods: {
			
			// 话题详情
			bindDetail(item,index) {
				this.selectValue = item
				this.pageStatus = false
				uni.navigateTo({
					url: `/pages/pagesGrow/topic/detail/detail?id=${item.id}&index=${index}`
				})
			},
			// 跳转未读消息
			bindMessage() {
				this.pageStatus = false
				uni.navigateTo({
					url: "/pages/pagesGrow/topic/message/message"
				})
			},
			// 关键字输入
			keywordChange(e) {
				this.queryInfo.keyword = e.detail
			},
			// 分类选择
			typeChange (e) {
				let value = e.detail.value
				this.typeLabel = this.typeList[value].label
				this.queryInfo.topicType = this.typeList[value].value
				this.getTopicList("search")
			},
			// 排序选择
			pickerChange(e) {
				let value = e.detail.value
				if (value == 0) {
					this.sortLabel = "排序"
				} else {
					this.sortLabel = this.sortList[value].label
				}
				this.queryInfo.sortBy = this.sortList[value].value
				this.getTopicList("search")
			},
			// tab点击
			tabChange(index) {
				// this.activeIndex = index
			},
			// 获取未读信息
			getMessageInfo() {
				this.$http("/mp/topic/message/unreadAmount", "GET", {}).then(res => {
					this.message = res.data
				})
			},
			//倒计时
			timerCount(that) {
				if (that.timeCount > 1000) {
					that.timeCount = that.timeCount - 1000
					that.timeObj = that.$format.timerCount(that.timeCount)
				} else {
					that.getTopicList("search")
					that.timeObj = null
					clearInterval(that.timer)
					that.timer = null
				}
			},
			// 获取话题列表
			getTopicList(type) {
				let that = this
				if (type == 'search' || type == 'fresh') {
					this.queryInfo.current = 1
					this.listData = []
					this.total = 0
				}
				this.$http("/mp/topic/pageList", "POST", this.queryInfo).then(res => {
					this.code = res.code
					if (res.code == 200) {
						this.navInfo = {
							"bg_color": "",
							"color": "#5F370F",
							"flag": 2,
							"name": "实战互助专区",
							"backType": 2
						}
						let now = new Date().getTime()
						let data = res.data.list
						data.map(item => {
							item.startTime = this.$format.formatTopicTime(new Date(item.effectiveAt))
							item.endTime = item.permanent?"":this.$format.formatTopicTime(new Date(item.expireAt))
							item.tagsArr = item.tags ? item.tags.split(",") : []
							item.isExpired = now > item.expireAt ? true : false
							if (item.participantAvatars) {
								let imgList = item.participantAvatars.reverse()
								let imgArr = []
								imgList.map((item2,index2)=> {
									let obj = {
										url: item2,
										zIndex: (imgList.length - index2) * 100
									}
									imgArr.push(obj)
								})
								item.participantAvatars = imgArr
								let now = new Date().getTime();
								let maxTime = this.$format.getSecondsFunc(1);
								let oneDay = this.$format.getSecondsFunc(0);
								let subTime = now - (item.latestCommentAt ?? 0);
								if (subTime >= maxTime) {
									item.timeType = 1;
									item.timeStr = this.$format.formatTopicTime(new Date(item.latestCommentAt));
								} else if (subTime < oneDay) {
									item.timeType = 3;
									item.timeStr = this.$format.formatDays(item.latestCommentAt,"list");
								} else {
									item.timeType = 2;
									item.timeStr = '昨天';
								}
							}
						})
							this.listData = this.listData.concat(data)
						this.total = res.data.total
						if (type == "fresh") {
							uni.stopPullDownRefresh()
						}
						if (this.listData.length == this.total) {
							this.showNodata = true
						} else {
							this.showNodata = false
						}
					} else if (res.code == 10500) {
						uni.showModal({
							title: "准入测试",
							content: "据说只有社会主义接班人才能通过测试",
							confirmText: "开始",
							success: (res) => {
								this.pageStatus = true
								if (res.confirm) {
									uni.navigateTo({
										url: "/pages/pagesGrow/topic/question/question"
									})
								}
							}
						})
					} else {
						this.navInfo = {
							"bg_color": "#000000",
							"color": "#ffffff",
							"flag": 2,
							"name": "小黑屋",
							"backType": 2
						}
						this.content = res.message
						this.timeCount = res.data - new Date().getTime()
						if (this.timeCount > 0) {
							this.timer = setInterval(() => {
								that.timerCount(that)
							}, 1000)

						}
					}
				})
			}

		}
	}
</script>

<style lang="less" scoped>
	.flex(@A, @B, @C, @D) {
		display: flex;
		flex-direction: @A;
		flex-wrap: @B;
		justify-content: @C;
		align-items: @D;
	}

	.black_box {
		width: 100%;
		height: 100vh;
		background: #000000;
		color: #FFFFFF;

		// .flex(column,wrap,center,center);
		.black_title {
			font-size: 36rpx;
			text-align: center;
			font-weight: bold;
			box-sizing: border-box;
			padding-top: 120rpx;
		}

		.black_content {
			box-sizing: border-box;
			padding: 120rpx 64rpx 60rpx 64rpx;
			font-size: 28rx;
		}

		.time_box {
			box-sizing: border-box;
			padding: 30rpx 64rpx;
			.flex(row, nowrap, space-between, center);

			.time_view {
				background: #FFFFFF;
				box-sizing: border-box;
				border-radius: 8rpx;
				padding: 12rpx;
				color: #000000;
				font-weight: 600;
				font-size: 28rpx;
				line-height: 28rpx;
			}
		}
	}

	.topic_index {
		position: relative;
		min-height: 100vh;
		// background: #F3F4F6;
		background: #FFFFFF;
		box-sizing: border-box;

		/deep/.van-search__content {
			background-color: #F3F4F6 !important;
		}

		.nav {
			width: 100%;
			position: fixed;
			left: 0;
			top: 0;
			z-index: 999999;
		}
		.top_container{
			height: 190rpx;
			position: fixed;
			left: 0;
			width: 100%;
			box-sizing: border-box;
			z-index: 99999;
			// top: 0;
		}
		.search_box {
			.van-field__input {
				// background: #F3F4F6 !important;
				// border-radius: 20rpx;
			}

			/deep/.van-search__content {
				// border-radius: 20rpx;
				background: #F3F4F6 !important;
				height: 72rpx;
			}

			.search_icon {
				width: 32rpx;
				height: 32rpx;
				margin-top: 10rpx;
				margin-right: 10rpx;
				margin-left: 14rpx;
			}

			.search_text {
				font-size: 30rpx;
				color: #C59543;
			}
		}

		.top_box {
			box-sizing: border-box;
			padding: 0 38rpx 0 32rpx;
			background: #FFFFFF;
			.flex(row, nowrap, space-between, center);

			.top_left {
				.flex(row, nowrap, flex-start, flex-start);

				.type_picker {}

				.picker_box {
					// width: 200rpx;
					// border: 1px solid red;
					.flex(row, nowrap, flex-start, center);
				}

				.left_single {
					position: relative;
					// padding: 28rpx 48rpx 24rpx 0rpx;
					padding: 10rpx 48rpx 24rpx 0rpx;
					.flex(row, nowrap, flex-start, center);

					.text_active {
						font-size: 28rpx;
						line-height: 40rpx;
						color: #0D0E15;
						font-weight: 500;
					}

					.text_normal {
						font-size: 28rpx;
						line-height: 40rpx;
						color: #768196;
						font-weight: 500;
					}

					.classic_icon {
						width: 16rpx;
						height: 20rpx;
						display: block;
						margin-left: 20rpx;
					}

					.active_line {
						// width: 32rpx;
						width: 56rpx;
						height: 6rpx;
						background: linear-gradient(270deg, #41AFC3 0%, #1CE5A8 100%);
						position: absolute;
						left: 0;
						bottom: 0;
					}
				}
			}

			.top_right {
				height: 56rpx;
				border-radius: 28rpx;
				border: 2rpx solid #F3F4F6;
				padding: 0rpx 26rpx;
				position: relative;
				.flex(row, nowrap, flex-start, center);

				.right_text {
					font-size: 26rpx;
					color: #0D0E15;
					line-height: 56rpx;
					font-weight: 400;
				}

				.topic_arrow {
					width: 10rpx;
					height: 16rpx;
					display: block;
					margin-left: 52rpx;
				}

				.message_box {
					box-sizing: border-box;
					position: absolute;
					left: 125rpx;
					top: 8rpx;
					background: #F43530;
					border-radius: 18rpx;
					font-size: 20rpx;
					line-height: 22rpx;
					color: #FFFFFF;
					font-weight: 600;
					padding: 6rpx 10rpx;
				}
			}
		}

		.list_box {
			box-sizing: border-box;
			// padding-top: 24rpx;
			padding-top: 214rpx;
			padding-bottom: 20rpx;
			.list_single {
				margin:0rpx auto 20rpx auto;
				background: #FFFFFF;
				border-radius: 32rpx;
				box-sizing: border-box;
				// position: relative;
				width: 702rpx;
				// margin-top: 20rpx;
				box-shadow: 0rpx 0rpx 40rpx 0rpx rgba(53,73,93,0.1);
				position: relative;
				.topic_flag {
					position: absolute;
					width: 58rpx;
					height: 62rpx;
					display: block;
					left: 0;
					top: 0;
					// margin-right: 10rpx;
					// margin-top: 12rpx;
				}


				.single_top {
					position: relative;
					box-sizing: border-box;
					padding: 32rpx 30rpx 0rpx 30rpx;
					// padding: 40rpx 32rpx 18rpx 32rpx;
					border-bottom: 2rpx solid #F3F4F6;
					.topic_overDate {
						position: absolute;
						right: 56rpx;
						bottom: 15rpx;
						width: 136rpx;
						height: 134rpx;
						display: block;
						z-index: 999999;
					}

					.title_box {
						margin-bottom: 8rpx;
						// .flex(row, nowrap, flex-start, flex-start);
						.flag_box {
							width: 48rpx;

							// .topic_flag {
							// 	width: 48rpx;
							// 	height: 46rpx;
							// 	display: block;
							// 	margin-right: 10rpx;
							// 	margin-top: 12rpx;
							// }
						}

						.title_text {
							// width: calc(100% - 58rpx);
							font-size: 34rpx;
							line-height: 54rpx;
							color: #000000;
							text-overflow: ellipsis;
							overflow: hidden;
							white-space: nowrap;
							font-weight: bold;
							.topic_name {
								padding-left: 10rpx;
								color: #3754A6;
								padding-right: 10rpx;
							}
						}
						.second_title{
							font-size: 30rpx;
							line-height: 1.5;
							letter-spacing: 0.5rpx;
							font-weight: 400;
							color: #212121;
							overflow: hidden;
							word-break: break-all;
							text-overflow: ellipsis;
							display: -webkit-box;
							-webkit-box-orient: vertical;
							-webkit-line-clamp: 3;
							overflow: hidden;
							box-sizing: border-box;
							margin-top: 10rpx;
						}

						.title_text_overDate {
							color: #768196;
						}
					}
					.tag_box{
						.flex(row,wrap,space-between,center);
						// margin-top: 22rpx;
						box-sizing: border-box;
						.tag_list{
							font-size: 30rpx;
							color: #1B2E62;
							font-weight: 400;
							text{
								padding-right: 10rpx;
								color: #1B2E62;
							}
						}
						
					}
					.topic_time {
						.flex(row,nowrap,space-between,center);
						// text-align: right;
						font-size: 24rpx;
						font-weight: 400;
						color: #575757;
						// display: block;
						// align-items: end;
						// flex-direction: row;
						width: 100%;
						margin-top: 10rpx;
						text{
							// display: block;
						}
						.second_time{
							padding-left: 20rpx;
							text-align: right;
						}
						.sofa_text{
							color: #1B2E62;
						}
					}

					
				}

				.single_bottom {
					box-sizing: border-box;
					padding: 0 30rpx;
					height: 92rpx;
					.flex(row, nowrap, space-between, center);

					.bottom_left {
						// width: calc(100% - 190rpx);
						width: calc(100% - 270rpx);
						.flex(row, nowrap, flex-start, center);

						.left_single {
							margin-right: 46rpx;
							.flex(row, nowrap, flex-start, center);

							.topic_collect {
								width: 34rpx;
								height: 34rpx;
								display: block;
								margin-right: 10rpx;
							}

							.single_text {
								font-size: 28rpx;
								// line-height: 34rpx;
								line-height: 28rpx;
								color: #0D0E15;
								font-weight: 400rpx;
							}
						}

						.left_last {
							margin-right: 0rpx;
						}
					}

					.bottom_right {
						position: relative;
						// width: 194rpx;
						width: 266rpx;
						.photo_box {
							width: 50rpx;
							height: 50rpx;
							border-radius: 30rpx;
							background: #FFFFFF;
							position: absolute;
							top: -30rpx;
							.flex(row, nowrap, center, center);

							.photo_inner {
								width: 44rpx;
								height: 44rpx;
								border-radius: 23rpx;
								overflow: hidden;
								background: #FFFFFF;

								image {
									width: 44rpx;
									height: 44rpx;
									display: block;
								}
							}
							// border: 2rpx solid #1DE5A8;
						}
					}
				}
			}
		}
	}
</style>
