<template>
	<view class="progress_add_container" :style="{'padding-top': navHeight + 'px'}">
		<nav-bar :navInfo="navInfo" class="nav_header"></nav-bar>
		<view class="cell_container">
			<van-cell title="客户名称" :is-link="!isCustomer" :value="clientInfo.name" :clickable="!isCustomer" :border="false" @click="handleToSelect" />
			<van-cell title="客户需求" class="cell_input">
				<view class="text_area">
					<van-field :value="query.requirement" autosize type="textarea" placeholder="客户要买什么东西不是需求，买这个东西要解决的痛点，爽点，痒点等才是需求。而且有的时候客户并不知道自己该怎么买才是最匹配需求的，甚至有的时候客户的需求是需要被引导的。" :border="false" @change="handleInputQuery($event.detail,'requirement')" />
				</view>
			</van-cell>
			<van-cell title="机会大小" is-link :value="query.possibility?query.possibility:'请选择'" :border="false" @click="handlePicker(1)" />
			<van-cell title="机会别名" :border="false">
				<van-field :value="query.alias" placeholder="请填写" :border="false" input-align="right" class="input_right" @change="handleInputQuery($event.detail,'alias')" />
			</van-cell>
			<van-cell title="预期产品" :border="false">
				<van-field :value="query.product" placeholder="请填写" :border="false" input-align="right" class="input_right" @change="handleInputQuery($event.detail,'product')" />
			</van-cell>
			<van-cell title="预期业绩" :border="false">
				<van-field :value="query.revenue" placeholder="请填写" :border="false" input-align="right" type="number" class="input_right"
				 @change="handleInputQuery($event.detail,'revenue')" />
			</van-cell>
			<van-cell title="当前阶段" is-link :value="query.status?query.status:'请选择'" :border="false" @click="handlePicker(2)" />
		</view>
		<bottombtn btnName="保存" @confirm="handleConfirm"></bottombtn>
		<van-popup :show="popupPickerVisible" position="bottom">
			<van-picker :columns="pickerColumns" show-toolbar @confirm="onPickerConfirm" @cancel="popupPickerVisible=false" />
		</van-popup>
	</view>
</template>

<script>
	import bottombtn from '@/components/bottombtn.vue'
	import modual from '@/components/modual.vue'
	import app from '../../../App.vue'
	export default {
		components: {
			bottombtn,
			modual
		},
		data() {
			return {
				navInfo: {
					bg_color: '',
					color: '#FFFFFF',
					flag: 2,
					name: '提炼机会',
					backType: 1
				},
				isIpx: app.globalData.isIpx,
				navHeight: app.globalData.navHeight,
				query: {
					alias: '',
					customerId: null,
					id: null,
					possibility: '',
					product: '',
					requirement: '',
					revenue: null,
					status: ''
				},
				clientInfo: null,
				popupPickerVisible: false,
				pickerType: 1,
				pickerColumns: [],
				pickerColumnsChance: ['优', '良', '小'],
				pickerColumnsStep: [],
				isEdit: false,
				isCustomer: false,
				status: 'default',
				workflowId: null
			}
		},
		computed: {
			inputShow() {
				return !(this.showModual||this.popupPickerVisible)
			}
		},
		onLoad(options) {
			if(options.chanceInfo) {
				this.isEdit = true
				this.navInfo.name = '编辑机会'
				let chanceInfo = JSON.parse(options.chanceInfo)
				console.log(chanceInfo)
				this.query = {
					alias: chanceInfo.alias?chanceInfo.alias:'',
					customerId: chanceInfo.customerId?chanceInfo.customerId:null,
					id: chanceInfo.id,
					possibility: chanceInfo.possibility?chanceInfo.possibility:'',
					product: chanceInfo.product?chanceInfo.product:'',
					requirement: chanceInfo.requirement?chanceInfo.requirement:'',
					revenue: chanceInfo.revenue?chanceInfo.revenue:null,
					status: chanceInfo.status?chanceInfo.status:''
				}
				if(options.chanceType&&options.chanceType=='referral'&&chanceInfo.referralWorkflowId) {
					this.workflowId = chanceInfo.referralWorkflowId
				}else if (chanceInfo.defaultWorkflowId) {
					this.workflowId = chanceInfo.defaultWorkflowId
				}
			}
			if(options.customerId) {
				this.query.customerId = options.customerId
				this.isCustomer = true
				this.clientInfo = {
					name: options.customerName?options.customerName:'',
					id: options.customerId
				}
				app.globalData.currentClient = null
			}
			this.status = options.chanceType?options.chanceType:'default'
		},
		onShow() {
			if (app.globalData.currentClient) {
				this.clientInfo = app.globalData.currentClient
				this.query.customerId = app.globalData.currentClient.id
			}
			this.handleGetStatus()
		},
		onUnload() {
			app.globalData.currentClient = null
		},
		methods: {
			onPickerConfirm(e) {
				if (this.pickerType == 1) {
					this.query.possibility = e.detail.value
				} else {
					this.query.status = e.detail.value
				}
				this.popupPickerVisible = false
			},
			handleInputQuery(value, name) {
				this.query[name] = value
			},
			handleToSelect() {
				if(this.isCustomer) {
					return
				}
				uni.navigateTo({
					url: '../../pagesClient/select/select'
				})
			},
			handlePicker(type) {
				this.pickerType = type
				this.pickerColumns = type == 1 ? this.pickerColumnsChance : this.pickerColumnsStep
				this.popupPickerVisible = true
			},
			handleGetStatus() {
				let params = {}
				uni.showLoading()
				if(this.isEdit) {
					if(this.workflowId) {
						params.state = this.query.status
						params.workflowId = this.workflowId
						this.$http("/mp/machine-state/reachable", "post", params)
							.then(res => {
								this.pickerColumnsStep = res.data
							})
							.finally(() => {
								uni.hideLoading()
							})
					}
				}else {
					params.type = this.status
					this.$http("/mp/machine-state/defaultInitList", "get", params)
						.then(res => {
							this.pickerColumnsStep = res.data
						})
						.finally(() => {
							uni.hideLoading()
						})
				}
			},
			handleConfirm() {
				let params = JSON.parse(JSON.stringify(this.query))
				if (!this.isEdit) {
					delete params.id
				}
				uni.showLoading()
				this.$http("/mp/opportunity/one", "post", params)
					.then(res => {
						app.globalData.currentClient = null
						if(!this.isEdit) {
							uni.redirectTo({
								url: '/pages/pagesClient/progress/progress?isInit=true&opportunityId=' + res.data.id
							})
						}else {
							uni.navigateBack({
								delta: 1
							})
						}
					})
					.finally(() => {
						uni.hideLoading()
					})
			}
		}
	}
</script>

<style lang="less">
	.flex(@A, @B, @C, @D) {
		display: flex;
		flex-direction: @A;
		flex-wrap: @B;
		justify-content: @C;
		align-items: @D;
	}

	.progress_add_container {
		padding-bottom: 160rpx;

		.nav_header {
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			z-index: 999;
		}

		.cell_container {

			.van-cell__value {
				flex: 2!important;
			}
			.input_right .van-cell {
				padding: 0 !important;
				border: none !important;
			}

			.van-cell {
				border-bottom: 1rpx solid #F5F5F5 !important;
			}

			.border_none .van-cell {
				border-bottom: none !important;
			}

			.line {
				height: 20rpx;
				background: #F5F5F5;
			}

			.cell_green {

				.van-cell__title,
				.van-cell__value {
					color: #23E3AA;
					font-weight: 500;
				}
			}

			.cell_black {
				.van-cell__value {
					color: #333333;
				}
			}

			.cell_input {
				.van-cell__title {
					flex: none;
					width: 120rpx;
				}
			}

			.text_area {
				.field-index--van-field {
					margin-left: 50rpx;
					min-height: 100rpx;
					background: #FAFAFA;
					border-radius: 8rpx;
					font-size: 26rpx;
					color: #999999;
					line-height: 32rpx;
				}
				
				.van-cell {
					width: auto!important;
				}
			}
		}

		.upload_container {
			padding: 16rpx 30rpx 160rpx;
			.flex(row, wrap, flex-end, center);

			image {
				width: 44rpx;
				height: 32rpx;
				margin-right: 20rpx;
			}

			font-size: 28rpx;
			color: #00C98D;
		}

		.btn_container {
			bottom: 40rpx !important;
		}
	}
	.van-field__input--textarea {
		min-height: 170rpx!important;
	}
</style>
