<template>
	<view class="client_from_container" :style="{'padding-top': navHeight + 'px'}">
		<nav-bar :navInfo="navInfo" class="nav_header"></nav-bar>
		<page-disable v-if="!pageVisible"></page-disable>
		<view class="client_from_content" v-else>
			<view class="title_container">
				<view class="title_item" v-if="dataList[0].name">{{dataList[0].name}}</view>
				<view class="title_item" v-if="dataList[1].name">{{dataList[1].name}}</view>
			</view>
			<view class="body_content">
				<view class="header_container">
					<image src="../../../static/step_icon.png" class="big" />
					<image src="../../../static/step_icon.png" class="small" />
				</view>
				<view class="inner_container">
					<view class="left_container">
						<view class="squre_item" :class="item.select?'select':''" v-for="(item,index) in personList" :key="item.id" @click="handleSelect(1,index)" @longpress="handleLongpress(1,index)">
							<image :src="item.select?require('../../../static/bubble_box_l.png'):require('../../../static/bubble_box.png')"
							 class="left" />
							<view class="input" v-if="item.input">
								<van-field input-align="center" :value="item.name" placeholder="请输入渠道来源" border="false" @confirm="handleEditConfirm(1)" @blur="handleEditConfirm(1)" auto-focus @change="handleEditInput($event.detail,1)" />
							</view>
							<view class="item_inner van-ellipsis" v-else>{{item.name}}</view>
						</view>
						<view class="squre_item">
							<image src="../../../static/bubble_box.png" class="left" />
							<view class="input" v-if="inputVisible.person">
								<van-field input-align="center" :value="inputList.person" placeholder="请输入渠道来源" border="false" @confirm="handleConfirm(1)" @blur="handleConfirm(1)" id="input1" auto-focus @change="handleInput($event.detail,'person')" />
							</view>
							<view class="item_add" @click="handleInputClick(1)" v-else>
								<span>新增</span>
								<span class="icon">+</span>
							</view>
						</view>
					</view>
					<view class="center_container">
						<view class="icons_container" v-for="(item,index) in (personList.length>companyList.length?personList.length:companyList.length)"
						 :key="index">
							<image src="../../../static/step_icon.png" class="big" />
							<view class="small_container">
								<image src="../../../static/step_icon.png" class="small" />
								<image src="../../../static/step_icon.png" class="small" />
								<image src="../../../static/step_icon.png" class="small" />
							</view>
						</view>
						<view class="icons_container_footer">
							<image src="../../../static/step_icon.png" class="big" />
						</view>
					</view>
					<view class="right_container">
						<view class="squre_item" :class="item.select?'select':''" v-for="(item,index) in companyList" :key="item.id"
						 @click="handleSelect(2,index)" @longpress="handleLongpress(2,index)">
							<view class="line"></view>
							<image :src="item.select?require('../../../static/bubble_box_l.png'):require('../../../static/bubble_box.png')"
							 class="right" />
							<view class="input" v-if="item.input">
								<van-field input-align="center" :value="item.name" placeholder="请输入渠道来源" border="false" @confirm="handleEditConfirm(2)" @blur="handleEditConfirm(2)" auto-focus @change="handleEditInput($event.detail,2)" />
							</view>
							<view class="item_inner van-ellipsis" v-else>{{item.name}}</view>
						</view>
						<view class="squre_item">
							<view class="line"></view>
							<image src="../../../static/bubble_box.png" class="right" />
							<view class="input" v-if="inputVisible.company">
								<van-field input-align="center" :value="inputList.company" placeholder="请输入渠道来源" border="false" @confirm="handleConfirm(2)" @blur="handleConfirm(2)" id="input2" auto-focus @change="handleInput($event.detail,'company')" />
							</view>
							<view class="item_add blue" @click="handleInputClick(2)" v-else>
								<span>新增</span>
								<span class="icon">+</span>
							</view>
						</view>
					</view>
				</view>

				<view class="footer_container">
					<image src="../../../static/step_icon.png" class="small" />
					<image src="../../../static/step_icon.png" class="big" />
				</view>
				<view class="action_container">
					<van-action-sheet
					  :show="actionShow"
					  :actions="actions"
					  @select="handleSelectAction"
					  @close="handleCloseAction"
					  @cancel="handleCancelAction"
					  cancel-text="取消"
					/>
				</view>
			</view>
		</view>
		<bottombtn btnName="保存" @confirm="handleSave" v-if="isSelect"></bottombtn>
	</view>
</template>

<script>
	import bottombtn from '@/components/bottombtn.vue'
	import app from '../../../App.vue'
	export default {
		components: {
			bottombtn
		},
		data() {
			return {
				pageVisible: true,
				navInfo: {
					bg_color: "",
					color: "#FFFFFF",
					flag: 2,
					name: "客户渠道来源",
					backType: 1
				},
				isIpx: app.globalData.isIpx,
				navHeight: app.globalData.navHeight,
				tagLists: {
					person: [0, 0, 0, 0, 0, 0, 0, 0],
					company: [0, 0, 0, 0, 0]
				},
				inputList: {
					person: '',
					company: ''
				},
				inputVisible: {
					person: false,
					company: false
				},
				isIpx: app.globalData.isIpx,
				navHeight: app.globalData.navHeight,
				dataLoading: false,
				dataList: [],
				personList: [],
				companyList: [],
				currentFrom: null,
				isSelect: false,
				actionShow: false,
				actions: [
					{
						name: '编辑'
					},
					{
						name: '删除'
					}
				],
				currentItem: {
					type: null,
					index: null
				}
			}
		},
		onLoad(options) {
			this.isSelect = options.isSelect?true:false
		},
		onShow() {
			if(this.$utils.checkLevel()) {
				this.pageVisible = true
			}else {
				this.pageVisible = false
				return
			}
			this.getData()
		},
		methods: {
			handleSelectAction(e) {
				console.log(e)
				this.actionShow = false
				if(e.detail.name=='编辑') {
					if(this.currentItem.type==1) {
						this.personList[this.currentItem.index].input = true
					}else {
						this.companyList[this.currentItem.index].input = true
					}
				}else if(e.detail.name=='删除') {
					let self = this
					uni.showModal({
						title: '警告',
						content: '请谨慎操作，如果可通过编辑标签达成目的的，请通过编辑处理。删除标签后可能会影响渠道来源统计，确定删除？',
						confirmText: '确定删除',
						success(res){
							if(res.confirm) {
								let params = {
									id: self.currentItem.type==1?(self.personList[self.currentItem.index].id):(self.companyList[self.currentItem.index].id)
								}
								uni.showLoading()
								self.$http("/mp/customer/source/one", "delete", params)
									.then(res => {
										self.currentItem.type==1?self.personList.splice(self.currentItem.index,1):self.companyList.splice(self.currentItem.index,1)
										uni.hideLoading()
									})
							}
						}
					})
				}
			},
			handleCloseAction() {
			},
			handleCancelAction() {
				this.actionShow = false
			},
			handleSelect(type, index) {
				if(!this.isSelect)
					return
				let self = this,
					personList = JSON.parse(JSON.stringify(this.personList)),
					companyList = JSON.parse(JSON.stringify(this.companyList))
				personList.forEach(function(per, index1) {
					per.select = false
				})
				companyList.forEach(function(per, index1) {
					per.select = false
				})
				if (type == 1) {
					personList[index].select = true
					this.currentFrom = personList[index]
				} else {
					companyList[index].select = true
					this.currentFrom = companyList[index]
				}
				this.personList = personList
				this.companyList = companyList
			},
			handleLongpress(type, index) {
				if(this.isSelect)
					return
				this.currentItem = {
					type: type,
					index: index
				}
				this.actionShow = true
			},
			handleInputClick(type) {
				if(type==1) {
					this.inputVisible.person = true
				}else {
					this.inputVisible.company = true
				}
			},
			handleInput(val,type) {
				this.inputList[type] = val
			},
			handleConfirm(type) {
				if(type==1) {
					this.inputVisible.person = false
					if(this.inputList.person.length>0) {
						this.handleAdd(1)
					}
				}else {
					this.inputVisible.company = false
					if(this.inputList.company.length>0) {
						this.handleAdd(2)
					}
				}
				this.inputList.person = ''
				this.inputList.company = ''
			},
			handleEditInput(val,type) {
				let index = this.currentItem.index
				if(type==1) {
					this.$set(this.personList[index],'name', val)
				}else {
					this.$set(this.companyList[index],'name', val)
				}
			},
			handleEditConfirm(type) {
				let index = this.currentItem.index
				if(type==1) {
					this.personList[index].input = false
					this.handleEdit(1)
				}else {
					this.companyList[index].input = false
					this.handleEdit(2)
				}
			},
			handleSave() {
				if(!this.currentFrom) {
					uni.showToast({
						icon: 'none',
						title: '请选择来源',
						duration: 2500
					})
					return
				}
				app.globalData.currentFrom = this.currentFrom.name
				uni.navigateBack({
					delta:1
				})
			},
			handleEdit(type) {
				let params = {
					id: type==1?(this.personList[this.currentItem.index].id):(this.companyList[this.currentItem.index].id),
					groupName: type==1?'自主开发':'公司资源',
					name: type==1?(this.personList[this.currentItem.index].name):(this.companyList[this.currentItem.index].name)
				}
				console.log(params)
				uni.showLoading()
				this.$http("/mp/customer/source/one", "post", params)
					.then(res => {
						this.getData(true)
						uni.hideLoading()
					})
					.catch(()=>{
					})
			},
			handleAdd(type) {
				let params = {
					groupName: type==1?'自主开发':'公司资源',
					name: type==1?this.inputList.person:this.inputList.company
				}
				console.log(params)
				uni.showLoading()
				this.$http("/mp/customer/source/one", "post", params)
					.then(res => {
						this.getData(true)
					})
					.catch(()=>{
						uni.hideLoading()
					})
			},
			getData(loading = false) {
				let params = {}
				loading?uni.showLoading():this.dataLoading = true
				this.$http("/mp/customer/source/group/list", "get", params)
					.then(res => {
						res.data.forEach(per=>{
							per.children.forEach(per1=>{
								per1.select = false
								per1.input = false
							})
						})
						this.dataList = res.data
						this.personList = res.data[0].children?res.data[0].children:[]
						this.companyList = res.data[1].children?res.data[1].children:[]
					})
					.finally(() => {
						this.dataLoading = false
						if(loading)
						uni.hideLoading()
					})
			}
		}
	}
</script>

<style lang="less">
	.flex(@A, @B, @C, @D) {
		display: flex;
		flex-direction: @A;
		flex-wrap: @B;
		justify-content: @C;
		align-items: @D;
	}

	.client_from_container {
		padding-top: 128rpx;

		.nav_header {
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			z-index: 999;
		}

		.client_from_content {
			.title_container {
				.flex(row, nowrap, space-between, center);

				.title_item {
					width: 320rpx;
					padding: 24rpx 0;
					text-align: center;
					font-size: 26rpx;
					color: #999999;
					line-height: 36rpx;
				}
			}

			.body_content {

				.header_container,
				.footer_container {
					position: relative;
					.flex(column, nowrap, flex-start, center);

					image {
						margin-bottom: 8rpx;
					}

					.big {
						width: 18rpx;
						height: 18rpx;
					}

					.small {
						width: 6rpx;
						height: 6rpx;
					}
				}

				.header_container {
					top: 17rpx;
				}

				.footer_container {
					top: -36rpx;
				}

				.inner_container {
					position: relative;
					.flex(row, nowrap, space-between, flex-start);

					.left_container {
						.flex(column, nowrap, start-start, center);
						width: 338rpx;
					}

					.right_container {
						.flex(column, nowrap, start-end, center);
						width: 338rpx;
					}

					.squre_item {
						position: relative;
						z-index: 10;
						.flex(row, nowrap, center, center);
						width: 246rpx;
						height: 52rpx;
						margin-bottom: 26rpx;

						image {
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
						}

						.line {
							position: absolute;
							left: -64rpx;
							width: 46rpx;
							height: 4rpx;
							background: #43D8EE;
						}

						.item_inner {
							position: relative;
							z-index: 10;
							font-size: 28rpx;
							color: #999999;
						}

						.item_add {
							.flex(row, nowrap, start-start, center);
							position: relative;
							z-index: 10;
							font-size: 24rpx;
							color: #22E0A8;

							.icon {
								font-size: 26rpx;
								margin-left: 12rpx;
								font-weight: 500;
							}
						}

						.input {
							.van-cell {
								background: transparent !important;
								padding: 0rpx !important;
								text-align: center;
							}

							.van-field__input {
								height: 40rpx !important;
								width: 220rpx !important;
								font-size: 28rpx;
								color: #999999;
							}
						}

						.blue {
							color: #43D8EE;
						}

						.left {
							transform: rotate(180deg);
						}
					}

					.select {
						.item_inner {
							color: #FFFFFF;
						}

						.left {
							transform: rotate(0deg);
						}

						.right {
							transform: rotate(180deg);
						}
					}

					.center_container {
						position: absolute;
						top: 17rpx;
						left: 0;
						right: 0;
						margin: 0 auto;
						.flex(column, nowrap, flex-start, center);

						.big {
							flex-shrink: 0;
							width: 18rpx;
							height: 18rpx;
						}

						.small {
							flex-shrink: 0;
							width: 6rpx;
							height: 6rpx;
						}

						.icons_container {
							height: 78rpx;
							.flex(column, nowrap, flex-start, center);
							padding: 0;

							.small_container {
								height: 60rpx;
								.flex(column, nowrap, space-around, center);
							}
						}

						.icons_container_footer {
							height: 78rpx;
							.flex(column, nowrap, flex-start, center);
							padding: 0;

							.small_container {
								height: 60rpx;
								.flex(column, nowrap, space-around, center);
							}
						}
					}
				}
			}
		}
		.btn_container {
			bottom: 294rpx!important;
		}
	}
</style>
