<template>
	<view class="newFeeling_index">
		<navbar :navInfo="navInfo" class="share_header"></navbar>
		<view class="newFeeling_content" :style="{ 'margin-top': navHeight + 'px' }">
			<view class="title_box">
				<!-- <input v-model="feelingInfo.title" type="text" value="" placeholder-class="placegolder" placeholder="请填写标题" class="title_input" /> -->
				<van-field @input="inputChange($event, 'title')" :value="feelingInfo.title" placeholder="请填写标题" class="input_content"
				 :autosize="{ minHeight: 20 }" type="textarea" placeholder-style="font-size: 36rpx;line-height: 40rpx;color: #b4b4b4;" />
			</view>
			<view class="textarea_box">
				<!-- <textarea :auto-height="true" v-model="feelingInfo.content" :maxlength="-1" placeholder-class="text_placeholder" placeholder="请填写正文" class="content" /> -->
				<van-field @input="inputChange($event, 'content')" :value="feelingInfo.content" placeholder="请填写正文" class="input_content"
				 :autosize="{ minHeight: 20 }" type="textarea" placeholder-style="font-size: 26rpx;line-height: 40rpx;color: color: #b4b4b4;;" />
				<!-- <textarea :value="feelingInfo.content" placeholder="请填写正文" class="input_content" auto-height placeholder-style="font-size: 26rpx;line-height: 40rpx;color: color: #b4b4b4;"
				  @input="inputChange($event, 'content')"/> -->
			</view>
			<view class="img_box">
				<view class="upload_container">
					<view class="upload_content">
						<view class="upload_img" v-for="(item, index) in uploadImgList" :key="index">
							<image v-if="type != 'share'" src="../../../static/img_del_icon.png" class="delete_img" @click="handleDeleteImg(item, index)" />
							<image :src="item" class="img" mode="aspectFill" @click="handlePreview(item)"></image>
						</view>
						<view class="upload_img upload_icon" @click="handleUpload" v-if="type != 'share' && uploadImgList.length < 6">
							<van-icon name="plus" color="#979797" />
						</view>
					</view>
				</view>
			</view>
		</view>
		<view class="global_btn_box">
			<!-- <view class="global_share_btn" @click="deleteFeeling" v-if="feelingInfo.id && type != 'share'">
				<image src="../../../static/btn_back.png" mode="" class="global_btn_back"></image>
				<view class="global_btn_text">删除</view>
			</view> -->
			<view class="global_share_btn" @click="bindSave('')" v-if="(type == 'share' && userId == createBy) || type != 'share'">
				<image src="../../../static/btn_back.png" mode="" class="global_btn_back"></image>
				<view class="global_btn_text">保存</view>
			</view>
		</view>
		<canvas id="canvas" :style="{ width: canvasWidth + 'px', height: canvasHeight + 'px' }"></canvas>
		<preview :imgUrl="currentImgUrl" ref="previewRef"></preview>
	</view>
</template>

<script>
	import preview from '../../../components/preview.vue';
	import navbar from '../../../components/navbar.vue';
	import app from '../../../App.vue';
	export default {
		components: {
			navbar,
			preview
		},
		data() {
			return {
				navInfo: {
					bg_color: '',
					color: '#5F370F',
					flag: 2,
					name: '新建感悟',
					backType: 2
				},
				isIpx: app.globalData.isIpx,
				navHeight: app.globalData.navHeight,
				feelingInfo: {
					id: '',
					content: '',
					title: ''
				},
				timer: null,
				type: '',
				shareId: '', //详情id
				signId: '', // 分享id
				uploadImgList: [],
				canvasWidth: 0,
				canvasHeight: 0,
				context: null,
				statusInfo: {},
				currentImgUrl: '',
				copyInfo: {
					title: '',
					content: '',
					uploadImgList: []
				}
			};
		},
		watch: {
			feelingInfo: {
				handler(newValue, oldValue) {
					if (!this.signId) {
						let value = this.feelingInfo;
						let attachment = this.uploadImgList.join(',');
						value.attachment = attachment;
						uni.setStorageSync('feelingInfo', value);
					}
				},
				deep: true
			},
			uploadImgList: {
				handler(newValue, oldValue) {
					if (!this.signId) {
						let value = this.feelingInfo;
						let attachment = this.uploadImgList.join(',');
						value.attachment = attachment;
						uni.setStorageSync('feelingInfo', value);
					}
				},
				deep: true
			}
		},
		onLoad(options) {
			this.type = options.type ? options.type : '';
			this.shareId = options.shareId ? options.shareId : '';
			this.signId = options.signId ? options.signId : '';
			if (options.type == 'edit') {
				this.getFeelingDetail1();
			} else if (options.type == 'add' || options.type == 'case' || options.type == 'experence') {
				this.navInfo.name = '新建感悟';
				let feelingInfo = uni.getStorageSync('feelingInfo');
				if (feelingInfo) {
					uni.showModal({
						title: '温馨提示',
						content: '您上次编辑的感悟还未保存，是否继续编辑？',
						confirmText: '继续',
						cancelText: '丢弃',
						success: res => {
							if (res.confirm) {
								this.feelingInfo = feelingInfo;
								if (feelingInfo.attachment) {
									this.uploadImgList = feelingInfo.attachment.split(',');
								}
							} else {
								uni.removeStorageSync('feelingInfo');
							}
						}
					});
				}
			} else if (options.type == 'share') {
				this.navInfo.name = '感悟详情';
				this.signId = options.signId;
				this.getFeelingDetail();
			} else {
				this.navInfo.name = '新建感悟';
			}
		},
		onShareAppMessage() {
			let _this = this
			this.shareFeeling();
			return {
				title: '感悟分享:' + _this.feelingInfo.title,
				path: `/pages/pagesGrow/feeling/shareFeeling?id=${this.feelingInfo.id}&source=type`
			};
		},
		onShow() {
			if (this.type == 'edit') {
				this.timer = setInterval(() => {
					if (!this.checkStatus())
						this.bindSave('save');
					let info = JSON.parse(JSON.stringify(this.feelingInfo))
					this.copyInfo = {
						title: info.title,
						content: info.content,
						uploadImgList: this.uploadImgList
					}
				}, 10000);
			} else {
				this.timer = null;
			}
			// if (this.type == 'share') this.getStatus();
		},
		onReady() {
			// this.context = uni.createCanvasContext('canvas', this);
		},
		onHide() {
			clearInterval(this.timer);
			this.timer = null;
		},
		onUnload() {
			clearInterval(this.timer);
			this.timer = null;
		},
		methods: {
			//检查详情状态
			checkStatus() {
				return (this.feelingInfo.title === this.copyInfo.title && this.feelingInfo.content === this.copyInfo.content &&
					this.uploadImgList === this.copyInfo.uploadImgList)
			},
			inputChange(value, type) {
				this.feelingInfo[type] = value.detail
			},
			//预览图片
			handlePreview(item) {
				this.currentImgUrl = item;
				this.$refs.previewRef.handleOpen();
			},
			// 获取用户信息
			getUserInfo() {
				this.$http('/mp/user/info', 'GET', {}).then(res => {
					this.userId = res.data.id;
				});
			},
			// 点赞/收藏
			changeStatus(type, value) {
				let url = type == 'isLike' ? '/mp/user/interest/like' : '/mp/user/interest/collect';
				let text = type == 'isLike' ? '点赞成功' : '收藏成功';
				if (!value) {
					text = type == 'isLike' ? '取消点赞成功' : '取消收藏成功';
				}
				let params = {
					interestId: this.signId,
					interestType: 3,
					[type]: value
				};
				this.$http(url, 'POST', params).then(res => {
					this.getStatus();
					uni.showToast({
						title: text,
						icon: 'none',
						duration: 2000,
						success: () => {
							setTimeout(() => {
								uni.hideToast();
							}, 2000);
						}
					});
				});
			},
			// 获取点赞/收藏状态
			getStatus() {
				let params = {
					interestId: this.signId,
					interestType: 3,
					op: 'collect,like'
				};
				this.$http('/mp/user/interest/aggregation', 'GET', params).then(res => {
					this.statusInfo = res.data;
				});
			},
			handleUpload() {
				let self = this;
				uni.chooseImage({
					count: 6 - self.uploadImgList.length,
					sizeType: ['copressed'],
					success(res) {
						let fileList = res.tempFiles
						for (let i = 0; i < fileList.length; i++) {
							if (self.uploadImgList.length < 6) {
								var imgFiles = res.tempFiles[i];
								uni.showLoading();
								var uper = uni.uploadFile({
									url: 'https://xiaohun.baiziio.com/mp/upload/uploadPicture',
									filePath: imgFiles.path,
									header: {
										token: uni.getStorageSync('token'),
										'Content-Type': 'multipart/form-data'
									},
									name: 'file',
									success(res1) {
										let data = JSON.parse(res1.data);
										if (data.code == 200) {
											self.uploadImgList.push(data.data + app.globalData.imageCompressSuffix);
										} else {
											uni.showToast({
												icon: 'none',
												title: data.message,
												duration: 2500
											});
										}
									},
									complete() {
										uni.hideLoading();
									}
								});
							}
						}
					}
				});
			},
			handleDeleteImg(item, index) {
				uni.showLoading();
				var formatItem = item.replace(app.globalData.imageCompressSuffix, '');
				this.$http('/mp/upload/removePicture', 'delete', {
						path: formatItem
					})
					.then(res => {
						this.uploadImgList.splice(index, 1);
					})
					.finally(() => {
						uni.hideLoading();
					});
			},
			// 获取分享详情
			getFeelingDetail() {
				uni.reLaunch({
					url: `/pages/pagesGrow/feeling/shareFeeling?id=${this.signId}`
				});
				// this.$http('/mp/user/note/share/one', 'GET', { id: this.signId }).then(res => {
				// 	this.feelingInfo = res.data;
				// 	if (res.data.attachment) {
				// 		this.uploadImgList = res.data.attachment.split(',');
				// 	}
				// });
			},
			// 获取分享详情
			getFeelingDetail1() {
				this.$http('/mp/user/note/one', 'GET', {
					id: this.signId
				}).then(res => {
					this.feelingInfo = res.data;
					this.copyInfo.title = res.data.title;
					this.copyInfo.content = res.data.content;
					this.navInfo.name = '感悟详情';
					if (res.data.attachment) {
						this.uploadImgList = res.data.attachment.split(',');
						this.copyInfo.uploadImgList = res.data.attachment.split(',');
					}
				});
			},
			// 分享感悟
			shareFeeling() {
				this.$http('/mp/user/note/share', 'GET', {
					id: this.feelingInfo.id
				}).then(res => {
				});
			},
			// 删除感悟
			deleteFeeling() {
				this.$http('/mp/user/note/one', 'DELETE', {
					id: this.feelingInfo.id
				}).then(res => {
					this.$error.successToast('success', '删除成功', '/pages/pagesGrow/feeling/feeling');
				});
			},
			// 保存感悟
			bindSave(name) {
				if (!this.feelingInfo.title) {
					if (name == 'save') {
						return;
					} else {
						this.$error.tipsError('请填写标题');
						return;
					}
				}
				if (!this.feelingInfo.content) {
					if (name == 'save') {
						return;
					} else {
						this.$error.tipsError('请填写正文');
						return;
					}
				}
				if (this.type == 'case') {
					this.feelingInfo.interestType = 1;
					this.feelingInfo.interestId = this.shareId;
				} else if (this.type == 'experence') {
					this.feelingInfo.interestType = 2;
					this.feelingInfo.interestId = this.shareId;
				}
				if (this.uploadImgList.length > 0) {
					this.feelingInfo.attachment = this.uploadImgList.join(',');
				} else {
					this.feelingInfo.attachment = '';
				}

				this.$http('/mp/user/note/one', 'POST', this.feelingInfo).then(res => {
					if (res.code == 200) {
						uni.removeStorageSync('feelingInfo');
						if (this.type == 'case' || this.type == 'experence') {
							uni.showToast({
								title: '保存成功',
								icon: 'none',
								duration: 1500,
								success: () => {
									setTimeout(() => {
										uni.navigateBack();
									}, 1500);
								}
							});
						} else {
							if (name != 'save') {
								this.$error.successToast('success', '保存成功', '/pages/pagesGrow/feeling/feeling');
							}
						}
					}
				});
			}
		}
	};
</script>

<style lang="less">
	.flex(@A, @B, @C, @D) {
		display: flex;
		flex-direction: @A;
		flex-wrap: @B;
		justify-content: @C;
		align-items: @D;
	}

	.newFeeling_index {
		background: #e8e5e0;
		min-height: 100vh;

		.van-cell {
			padding: 0rpx !important;
			background: #e8e5e0;
		}

		.van-cell::after {
			border-bottom: none;
		}

		#canvas {
			position: absolute;
			left: 0;
			top: -100000rpx;
		}

		.pic_box {
			position: fixed;
			right: 0rpx;
			bottom: 0rpx;
			left: 0rpx;
			padding: 5rpx 0 10rpx;
			// .flex(row,wrap,flex-end,center);
			display: flex;
			flex-direction: row;
			background-color: white;
			align-items: flex-end;
			justify-content: space-around;

			image {
				width: 40rpx;
				height: 40rpx;
				display: block;
				margin-bottom: 5rpx;
			}

			.pic_item {
				padding: 0 20rpx;
				.flex(column, nowrap, center, center);
			}
		}

		.share_header {
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			z-index: 99999;
		}

		.newFeeling_content {
			box-sizing: border-box;
			padding: 20rpx 20rpx 114rpx 20rpx;

			.title_box {
				box-sizing: border-box;
				padding: 10rpx 0rpx;
				border-bottom: 4rpx dashed #a39d92;
				margin-bottom: 34rpx;

				.placegolder {
					color: #b4b4b4;
				}

				.title_input {
					font-size: 36rpx;
					line-height: 50rpx;
					color: #333333;
				}

				.van-field__input {
					font-size: 36rpx;
					color: #9e6e17;
					// font-weight: bold;
				}
			}

			.textarea_box {
				padding: 0rpx 0rpx 34rpx 0rpx;
				background: #e8e5e0;
				box-sizing: border-box;
				border-bottom: 4rpx dashed #a39d92;

				.van-field__input {
					font-size: 26rpx;
					color: #9e6e17;
					// font-weight: bold;
				}

				textarea {
					font-size: 26rpx !important;
					color: #9e6e17 !important;
				}

				// border-bottom: 4rpx dashed #A39D92;
				.input_content {
					font-size: 26rpx;
					line-height: 40rpx;
					color: #333333;
					width: 100%;
					background: #e8e5e0;
					min-height: 80rpx;
				}

				.text_placeholder {
					color: #b4b4b4;
				}

				.content {
					font-size: 26rpx;
					line-height: 40rpx;
					color: #333333;
					width: 100%;
					padding-bottom: 34rpx;
					// min-height: calc(100vh - 480rpx);
					border-bottom: 4rpx dashed #a39d92;
				}
			}
		}

		.upload_container {
			margin-top: 20rpx;
			// padding: 0 30rpx;
			min-height: 460rpx;

			.upload_content {
				.flex(row, wrap, flex-start, center);

				.upload_img {
					position: relative;
					width: 180rpx;
					height: 180rpx;
					margin-right: 40rpx;
					margin-bottom: 40rpx;
					background: #fafafa;

					.img {
						width: 100%;
						height: 100%;
					}

					.delete_img {
						position: absolute;
						top: -20rpx;
						right: -20rpx;
						width: 20rpx;
						height: 20rpx;
						padding: 15rpx;
						background: #d9bc80;
						border-radius: 50%;
					}
				}

				.upload_icon {
					.flex(row, nowrap, center, center);
					// background: #D8D8D8;
					background: #ffffff;
					border-radius: 8rpx;

					.van-icon {
						font-size: 50rpx !important;
					}
				}
			}
		}
	}

	.icon_text {
		font-size: 24rpx;
		text-align: center;
		font-weight: 500;
		color: #707070;
	}
</style>
