<template>
	<view class="template_index">
		<navbar :navInfo="navInfo" class="share_header"></navbar>
		<view class="template_content" :style="{'margin-top': navHeight + 'px'}">
			<view class="input_box">
				<view class="input_label">
					模版名称
				</view>
				<van-field @input="contentChange($event,'name')" :value="templateInfo.name" placeholder="请输入模版名" class="input_content"
				 :autosize="{minHeight:20}" type="textarea" placeholder-style="font-size: 28rpx;line-height: 40rpx;color: #B4B4B4;font-weight:normal" />
				<!-- <input type="text" v-model="templateInfo.name" placeholder="请输入模版名" class="input_content" placeholder-class="placeholder" /> -->
			</view>
			<view class="input_box">
				<view class="input_label">
					模版说明
				</view>
				<van-field @input="contentChange($event,'desc')" :value="templateInfo.desc" placeholder="请输入模版用途等说明" class="input_content"
				 :autosize="{minHeight:20}" type="textarea" placeholder-style="font-size: 28rpx;line-height: 40rpx;color: #B4B4B4;font-weight:normal" />
				<!-- <input v-model="templateInfo.desc" type="text" placeholder="请输入模版用途等说明" class="input_content" placeholder-class="placeholder" /> -->
			</view>
			<view class="item_box" v-for="(item,index) in itemsList" :key="index">
				<view class="top_right">
					NO.{{index + 1}}
				</view>
				<view class="item_name item_first">
					<view class="icon_box">

						<image src="../../../static/template_name.png" mode="" class="name_icon"></image>
					</view>
					<view class="item_input">
						<input :maxlength="-1" :disabled="item.status == 2" v-model="item.fieldName" type="text" class="template_input" placeholder="请设置名称，如：破冰"
						 placeholder-class="template_placeholder" />
					</view>
				</view>
				<view class="item_name">
					<view class="icon_box">

						<image src="../../../static/template_tips.png" mode="" class="name_icon name_icon_small"></image>
					</view>
					<view class="item_input">
						<!-- <van-field :disabled="item.status == 2" @input="inputChange($event,item,index)" :value="item.fieldPlaceholder"
						 placeholder="请设置提示语，如此处做的好或不好的" class="template_input small_input" :autosize="true" type="textarea"
						 placeholder-style="font-size: 24rpx;color: #999999;font-weight: normal;" /> -->
						 <textarea :value="item.fieldPlaceholder" @input="inputChange($event,item,index)" :maxlength="-1" class="template_input small_input placeholder_input" auto-height="true" placeholder="请设置提示语，如此处做的好或不好的" placeholder-style="font-size: 24rpx;color: #999999;font-weight: normal;" />
						<!-- <input :disabled="item.status == 2" type="text" v-model="item.fieldPlaceholder" class="template_input"
						 placeholder="请设置提示语，如此处做的好或不好的" placeholder-class="template_placeholder" /> -->
					</view>
				</view>
				<view class="action_box">
					<view class="action_single" v-if="item.status == 1" @click="changeStatus(item,index,2)">
						<image src="../../../static/template_save.png" mode="" class="save_icon"></image>
						<view class="action_text">
							保存
						</view>
					</view>
					<view class="action_single" v-if="item.status == 2" @click="changeStatus(item,index,1)">
						<image src="../../../static/template_edit.png" mode="" class="save_icon"></image>
						<view class="action_text">
							编辑
						</view>
					</view>
					<view class="action_single" v-if="item.status == 2" @click="changeStatus(item,index,3)">
						<image src="../../../static/template_delete.png" mode="" class="save_icon"></image>
						<view class="action_text action_delete">
							删除
						</view>
					</view>
				</view>
			</view>
			<view class="add_btn" @click="addItems">
				<view class="">
					新增分析元素
				</view>
			</view>
		</view>
		<view class="global_btn_box">

			<view class="global_share_btn" @click="deleTemplate" v-if="templateInfo.id">
				<image src="../../../static/btn_back.png" mode="" class="global_btn_back"></image>
				<view class="global_btn_text">
					删除
				</view>
			</view>
			<view class="global_share_btn" @click="saveTemplate">
				<image src="../../../static/btn_back.png" mode="" class="global_btn_back"></image>
				<view class="global_btn_text">
					保存
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	import navbar from '../../../components/navbar.vue'
	import app from '../../../App.vue'
	export default {
		components: {
			navbar
		},
		data() {
			return {
				navInfo: {
					"bg_color": "",
					"color": "#5F370F",
					"flag": 2,
					"name": "新建案例分析模版",
					"backType": 2
				},
				isIpx: app.globalData.isIpx,
				navHeight: app.globalData.navHeight,
				itemsList: [],
				templateInfo: {
					id: "",
					name: "",
					desc: ""
				},
				pageType: ""
			}
		},
		onLoad(options) {
			let id = options.id
			this.pageType = options.type
			if (id) {
				this.templateInfo.id = id
				this.getTemplateInfo(id)
				this.navInfo.name = "模板详情"
			} else {
				this.navInfo.name = "新建案例分析模版"
			}
		},
		methods: {
			contentChange(value, type) {
				this.templateInfo[type] = value.detail
			},
			inputChange(value, item, index) {
				console.log(value)
				// item.fieldPlaceholder = value.detail
				item.fieldPlaceholder = value.detail.value
				this.$set(this.itemsList, index, item)
			},
			// 删除模板
			deleTemplate() {
				this.$http("/mp/user/case/template/one", "DELETE", {
					id: this.templateInfo.id
				}).then(res => {
					this.$error.successToast("success", "删除成功", "/pages/pagesGrow/caseTemplate/caseTemplate")
				})
			},
			// 获取模板详情
			getTemplateInfo(id) {
				this.$http("/mp/user/case/template/detail", "GET", {
					id: id
				}).then(res => {
					let data = res.data
					this.templateInfo.name = data.name
					this.templateInfo.desc = data.desc
					this.itemsList = JSON.parse(data.fieldsJson)
				})
			},
			// 保存模板
			saveTemplate() {
				let params = this.templateInfo
				let jude = true
				params.fieldsJson = JSON.stringify(this.itemsList)
				if (!params.name || !params.desc) {
					this.$error.tipsError("请填写完整的模板信息")
					return
				}
				this.itemsList.some((item) => {
					if (item.status == 1) {
						this.$error.tipsError("请保存分析元素")
						jude = false
					}
				})
				if (jude) {
					this.$http("/mp/user/case/template/one", "POST", params).then(res => {
						if (res.code === 200) {
							this.$error.successToast("success", "保存成功", "/pages/pagesGrow/caseTemplate/caseTemplate")
						}
					})
				}
			},
			// 改变分析元素编辑状态
			changeStatus(item, index, status) {
				if (status == 3) {
					this.itemsList.splice(index,1)
				} else {
					
				if (status === 1) {
					for (let i = 0; i < this.itemsList.length; i++) {
						let item = this.itemsList[i]
						if (item.status == 1) {
							this.$error.tipsError("请先保存正在编辑的分析元素")
							return
						}
					}
				}
				if (status == 2) {
					if (!item.fieldName || !item.fieldPlaceholder) {
						this.$error.tipsError("请填写完整的分析元素信息")
						return
					}
				}
				item.status = status
				this.$set(this.itemsList, index, item)
				}
			},
			// 添加分析元素
			addItems() {
				let itemStatus = true
				let text = ""
				for (let i = 0; i < this.itemsList.length; i++) {
					let item = this.itemsList[i]
					if (item.status == 1) {
						itemStatus = false
						text = "请先保存已添加的分析元素信息"
						break
					}
				}
				if (itemStatus) {
					let item = {
						fieldName: "",
						fieldPlaceholder: "",
						status: 1
					}
					this.itemsList.push(item)

				} else {
					this.$error.tipsError(text)
				}
			}

		}
	}
</script>

<style lang="less">
	.van-field__page--textarea {
		padding: 0rpx 0rpx !important;
	}

	.flex(@A, @B, @C, @D) {
		display: flex;
		flex-direction: @A;
		flex-wrap: @B;
		justify-content: @C;
		align-items: @D;
	}

	/deep/.van-field__page--textarea {
		padding: 0rpx !important;
	}

	.template_index {
		background: #E8E5E0;
		min-height: 100vh;
		padding-bottom: 150rpx;
		.share_header {
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			z-index: 999999;
		}

		.template_content {
			box-sizing: border-box;
			padding: 20rpx;

			.input_box {
				// padding: 12px 0rpx;
				padding: 15rpx 0 0 0;
				border-bottom: 4rpx dashed #A39D92;
				margin-bottom: 30rpx;
				.flex(row, nowrap, space-between, flex-start);

				.input_label {
					font-size: 30rpx;
					height: 40rpx;
					line-height: 40rpx;
					// line-height: 42rpx;
					// line-height: 30rpx;
					color: #593E0D;
					font-weight: bold;
				}

				.van-cell {
					padding: 0rpx !important;
					background: none;
				}

				.van-field__input {
					font-size: 30rpx;
					color: #9E6E17;
					// line-height: 42rpx;
					font-weight: bold;
					margin: 0;
					// padding-top: 2rpx;
				}

				.van-field__body--textarea {
					padding: 0 !important;
					font-size: 30rpx;
					color: #9E6E17;
					font-weight: bold;
				}

				.input_content {
					width: calc(100% - 160rpx);
					// text-align: right;
					color: #333333;
				}

				.placeholder {
					font-size: 28rpx;
					line-height: 42rpx;
					color: #B4B4B4;
				}
			}

			.item_box {
				background: rgba(245, 243, 239, .45);
				border-radius: 12rpx;
				padding: 20rpx 30rpx 16rpx 20rpx;
				margin-top: 24rpx;
				position: relative;

				.top_right {
					background: #D9B27E;
					height: 28rpx;
					line-height: 28rpx;
					color: #FFFFFF;
					font-size: 22rpx;
					padding: 0rpx 10rpx;
					border-radius: 4rpx;
					position: absolute;
					right: 20rpx;
				}

				.item_name {
					.flex(row, nowrap, space-between, flex-start);
					margin-bottom: 20rpx;
					.icon_box{
						width: 32rpx;
						.flex(row, nowrap, center, flex-start);
					}
					.name_icon {
						width: 30rpx;
						height: 28rpx;
						display: block;
						margin-right: 8rpx;
						margin-top: 9rpx;
					}

					.name_icon_small {
						width: 20rpx;
						height: 20rpx;
						margin-top: 12rpx;
					}

					.item_input {
						width: calc(100% - 40rpx);
						// border-bottom: 1rpx solid #C6C1BA;
						box-sizing: border-box;

						// padding-bottom: 16rpx;
						// padding-bottom: 5rpx;
						.van-cell {
							padding: 0rpx !important;
							background: none;
						}


						.template_input {
							font-size: 26rpx;
							// color: #9E6E17;
							font-weight: bold;
							border-bottom: 1rpx solid #C6C1BA;
							padding-bottom: 4rpx;
						}

						.small_input {
							font-weight: normal !important;
						}
						

						.van-field__input {
							font-size: 24rpx;
							color: #9E6E17;
							border-bottom: 1rpx solid #C6C1BA;
							padding-bottom: 8rpx;
							font-weight: mormal !important;
							color: #666666;
							// font-weight: bold;
						}

						.template_placeholder {
							font-size: 26rpx;
							color: #999999;
							font-weight: normal;
						}
						.placeholder_input{
							padding-bottom: 8rpx;
							word-wrap : break-word;
							height: auto;
							color: 666666!important;
							font-weight: mormal !important;
							padding-top: 8rpx;
						}
					}
				}

				.item_first {
					// width: 295rpx;
					width: 50%;
				}

				.action_box {
					.flex(row, flex-end, flex-end, center);

					.action_single {
						margin-left: 30rpx;
						.flex(row, nowrap, flex-start, center);

						.save_icon {
							width: 24rpx;
							height: 24rpx;
							display: block;
							margin-right: 6rpx;
						}

						.action_text {
							font-size: 24rpx;
							line-height: 34rpx;
							color: #333333;
						}

						.action_delete {
							color: #999999;
						}
					}
				}
			}

			.add_btn {
				.flex(row, nowrap, center, center);
				height: 70rpx;
				background: rgba(245, 243, 239, .45);
				line-height: 70rpx;
				font-size: 24rpx;
				color: #593E0D;
				font-weight: bold;
				margin-top: 20rpx;
				border-radius: 12rpx;
			}


		}
	}
</style>
