<template>
	<view class="analisis_index">
		<navbar :navInfo="navInfo" class="share_header"></navbar>
		<view class="analisis_content" :style="{'margin-top': navHeight + 'px'}">
			<van-search @search="getCaseList('search')" v-model="queryInfo.keyword" @change="keywordChange" use-action-slot
			 placeholder="输入关键字进行搜索" background="#E8E5E0" shape="round" input-class="search_input">
				<view slot="action" @click="getCaseList('search')" class="search_text">搜索</view>
			</van-search>
			<view class="type_box">
				<view class="type_single">
					<picker class="picker_box" range-key="name" mode="selector" :range="caseTypeList" @change="pickerChange('caseTypeList','typeName','caseType',$event)">
						<view class="picker_inner">
							<view class="picker_text" v-if="typeName">
								{{typeName}}
							</view>
							<view v-else class="placeholder">案例类型</view>
							<view class="list_angle">
							</view>
							<!-- <image src="../../../static/triangle.png" mode="" class="triangle"></image> -->
						</view>
					</picker>
					<!-- <image src="../../../static/triangle.png" mode="" class="triangle"></image> -->
				</view>
				<view class="type_single" @click="changeTimeType">
					<view class="type_single_inner">
						<view class="">
							时间排序
						</view>
						<!-- <image src="../../../static/triangle.png" mode="" class="triangle"></image> -->
						<view class="list_angle">
						</view>
					</view>
				</view>
			</view>
			<view class="list_box">
				<view class="list_single" v-for="(item,index) in listData" :key="index" @click="bindDetail(item.id)" @longpress="bindDelete(item)">
					<image v-if="item.typeId ==1 || item.typeId == 3" src="../../../static/success_img.png" mode="" class="success_img"></image>
					<image v-else src="../../../static/fail_img.png" mode="" class="success_img"></image>
					<view class="line_box">
						<template v-for="item in lineCount">
							<image :key="item" src="../../../static/line_icon.png" mode="" class="line_icon"></image>
						</template>
					</view>
					<view class="status_box" :style="{borderBottom:item.typeId ==1 || item.typeId == 3?'1rpx solid #40C3BC':'1rpx solid #ED924C'}">
						<image v-if="item.typeId ==1 || item.typeId == 3" src="../../../static/success_book.png" mode="" class="success_book"></image>
						<image v-else src="../../../static/fail_book.png" mode="" class="success_book"></image>
						<view :class="item.typeId ==1 || item.typeId == 3?'status_text':'fail_text'">
							{{item.typeName}}
						</view>
					</view>
					<view class="case_title">
						{{item.name}}
						<!-- <view class="" v-for="(file,fileIndex) in item.fileList" :key="fileIndex">
							{{file.fieldName}}-{{file.fieldValue}}
						</view> -->
					</view>
					<view class="info_box">
						<view class="case_name">
							{{item.customerName || ""}}
						</view>
						<view class="case_date">
							{{item.timeStr}}
						</view>
					</view>
				</view>
			</view>
		</view>
		<view class="nodata_text" v-if="showNodata">
			没有更多了~~
		</view>
		<view class=".global_btn_box">
			<view class="global_share_btn" @click="bindNewCase">
				<image src="../../../static/btn_back.png" mode="" class="global_btn_back"></image>
				<view class="global_btn_text">
					新建案例
				</view>
			</view>
		</view>
		<modual :modualInfo="modualInfo" @modualChange="modualChange" v-if="showModual"></modual>
	</view>
</template>

<script>
	import navbar from '../../../components/navbar.vue'
	import modual from '../../../components/modual.vue'
	import app from '../../../App.vue'
	export default {
		components: {
			navbar,
			modual
		},
		data() {
			return {
				showModual: false,
				modualInfo: {
					activeType: 3,
					showClose: false,
					showSingle: false,
					showBtns: false,
					title: "必读",
					content: "实战案例的分析是你成长的关键途径之一。你需要回忆并分析典型案例的销售沟通中，自己谈单框架里每一步骤的表现，好在哪，差在哪，更重要的是去体会具体问题对应的人性。因为销售是一门跟人性博弈的艺术。找到问题，分析问题，思考解决方案，为经历过的实战做好沉淀，为未来的实战做好铺垫。高手都是这么稳扎稳打的修炼过来的。",
					cancleText: "否",
					confirmText: "是"
				},
				lineCount: 9,
				navInfo: {
					"bg_color": "",
					"color": "#5F370F",
					"flag": 2,
					"name": "案例分析",
					"backType": 2
				},
				isIpx: app.globalData.isIpx,
				navHeight: app.globalData.navHeight,
				queryInfo: {
					current: 1,
					keyword: "",
					orderByDesc: true,
					pageSize: 20,
					caseType: ""
				},
				typeName: "",
				caseTypeList: [],
				showNodata: false,
				listData: [],
				total: 0,

			}
		},
		onLoad() {
			this.showModual = this.$utils.getStatus('analysisIndex')
			this.$utils.setStatus("analysisIndex")

		},
		onShow() {
			console.log(getCurrentPages())
			this.getCaseType()
			this.getCaseList("search")
		},
		onPullDownRefresh() {
			this.getCaseList("fresh")
		},
		onReachBottom() {
			if (this.listData.length < this.total) {
				this.queryInfo.current++
				this.getCaseList("")
			}
		},
		methods: {
			// 删除
			bindDelete(item) {
				let _this = this
				uni.showModal({
					title: "确认删除？",
					confirmText: "确定",
					success: (res) => {
						if (res.confirm) {
							_this.$http("/mp/user/case/one", "DELETE", {
								id: item.id
							}).then(res => {
								_this.getCaseList("search")
								uni.showToast({
									title: "删除成功",
									icon: "none",
									duration: "1500",
									success: () => {
										setTimeout(() => {
											uni.hideToast()
										}, 1500)
									}
								})
							})
							// _this.$http('/mp/user/note/one', 'DELETE', {
							// 	id: item.id
							// }).then(res => {
							// 	_this.getListData("search")
							// 	uni.showToast({
							// 		title:"删除成功",
							// 		icon:"none",
							// 		duration:"1500",
							// 		success: () => {
							// 			setTimeout(()=> {
							// 				uni.hideToast()
							// 			},1500)
							// 		}
							// 	})
							// });
						}
					}
				})
			},
			// 关键字输入
			keywordChange(e) {
				this.queryInfo.keyword = e.detail
			},
			changeTimeType() {
				this.queryInfo.orderByDesc = !this.queryInfo.orderByDesc
				this.getCaseList("search")
			},
			modualChange(type) {
				if (type == 'open') {
					this.showModual = true
				} else {
					this.showModual = false
				}
			},
			// 跳转详情
			bindDetail(id) {
				console.log("详情")
				uni.navigateTo({
					url: `/pages/pagesGrow/caseDetail/caseDetail?id=${id}`
				})
			},
			// picker选择
			pickerChange(data, name, keyName, e) {
				let item = this[data][e.detail.value]
				this[name] = item.name
				this.queryInfo[keyName] = item.id
				this.getCaseList("search")
			},
			// 获取案例类型
			getCaseType() {
				this.$http("/mp/user/case/type/list", "GET", {}).then(res => {
					this.caseTypeList = res.data
					let obj = {
						id: -1,
						name: "全部"
					}
					this.caseTypeList.unshift(obj)
				})
			},
			// 跳转新建案例
			bindNewCase() {
				console.log("新建")
				uni.navigateTo({
					url: "/pages/pagesGrow/newCase/newCase"
				})
			},
			// 获取案例列表
			getCaseList(type) {
				if (type == 'search' || type == 'fresh') {
					this.queryInfo.current = 1
					this.listData = []
					this.total = 0
				}
				if (this.queryInfo.caseType == -1) {
					this.queryInfo.caseType = ""
				}
				this.$http("/mp/user/case/pageList", "POST", this.queryInfo).then(res => {
					let data = res.data.list
					data.map(item => {
						item.timeStr = this.$format.formatTimeString(new Date(item.updateAt))
						item.fileList = JSON.parse(item.contentJson)
					})
					// this.listData = this.listData.concat(res.data.list)
					this.listData = this.listData.concat(data)
					this.total = res.data.total
					if (type == "fresh") {
						uni.stopPullDownRefresh()
					}
					if (this.listData.length == this.total) {
						this.showNodata = true
					} else {
						this.showNodata = false
					}
				})
			}

		}
	}
</script>

<style lang="less">
	.flex(@A, @B, @C, @D) {
		display: flex;
		flex-direction: @A;
		flex-wrap: @B;
		justify-content: @C;
		align-items: @D;
	}

	.analisis_index {
		background: #E8E5E0;
		min-height: 100vh;

		.share_header {
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			z-index: 99999999;
		}

		.analisis_content {

			.van-field__input {
				background: #F5F3EF !important;
			}

			.van-search__content {
				background: #F5F3EF !important;
			}

			.search_text {
				font-size: 28rpx;
				color: #593E0D;
			}

			.type_box {
				// background: rgba(255, 255, 255, .5);
				padding-bottom: 14rpx;
				.flex(row, nowrap, center, center);

				.type_single {
					font-size: 28rpx;
					line-height: 40rpx;
					color: #9E6E17;
					width: 50%;
					.flex(row, nowrap, center, center);

					.picker_box {
						width: 80%;

						.picker_inner {
							width: 100%;
							.flex(row, nowrap, center, center);

							.list_angle {
								width: 0;
								height: 0;
								border-left: 15rpx solid transparent;
								border-right: 15rpx solid transparent;
								border-top: 15rpx solid #9E6E17;
								margin-left: 10rpx;
							}
						}
					}

					.triangle {
						width: 28rpx;
						height: 16rpx;
						display: block;
						margin-left: 8rpx;
					}

					.type_single_inner {
						width: 80%;
						.flex(row, nowrap, center, center);

						.list_angle {
							width: 0;
							height: 0;
							border-left: 15rpx solid transparent;
							border-right: 15rpx solid transparent;
							border-top: 15rpx solid #9E6E17;
							margin-left: 10rpx;
						}
					}
				}
			}

			.list_box {
				padding: 44rpx;
				box-sizing: border-box;
				.flex(row, wrap, space-between, center);

				.list_single {
					width: calc((100% - 88rpx) / 2);
					height: 253rpx;
					background: #FAFAFA;
					box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
					margin-bottom: 34rpx;
					position: relative;

					.line_box {
						box-sizing: border-box;
						padding: 16rpx;
						.flex(row, nowrap, space-between, center);

						.line_icon {
							width: 30rpx;
							height: 12rpx;
							display: block;
							margin-right: 8rpx;
						}
					}

					.success_img {
						width: 50rpx;
						height: 50rpx;
						position: absolute;
						left: 50%;
						margin-left: -25rpx;
						top: -25rpx;
					}

					.status_box {
						.flex(row, nowrap, space-between, center);
						width: calc(100% - 32rpx);
						margin: auto;
						box-sizing: border-box;
						padding-bottom: 8rpx;
						border-bottom: 1rpx solid #40C3BC;

						.success_book {
							width: 30rpx;
							height: 30rpx;
							display: block;
						}

						.status_text {
							font-size: 24rpx;
							color: #3EC1BC;
							line-height: 44rpx;
							font-weight: 500;
						}

						.fail_text {
							font-size: 24rpx;
							color: #ED924C;
							line-height: 44rpx;
							font-weight: 500;
						}
					}

					.case_title {
						font-size: 28rpx;
						line-height: 44rpx;
						color: #593E0D;
						display: -webkit-box;
						overflow: hidden;
						text-overflow: ellipsis;
						word-wrap: break-word;
						white-space: normal !important;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
						margin-bottom: 14rpx;
						box-sizing: border-box;
						padding: 0rpx 16rpx;
						height: 88rpx;
					}

					.info_box {
						box-sizing: border-box;
						padding: 0rpx 16rpx;
						.flex(row, nowrap, space-between, center);

						.case_name {
							font-size: 24rpx;
							line-height: 34rpx;
							font-weight: 500;
							color: #999999;
							width: calc(100% - 150rpx);
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}

						.case_date {
							font-size: 24rpx;
							line-height: 34rpx;
							color: #C8C8C8;
							width: 150rpx;
							text-align: right;
						}
					}
				}
			}
		}
	}
</style>
