<template>
	<view v-if="from && from == 'timeline'" class="account_container">
		<view class="wx_container">
			<view class="ref_container" v-if="timelineInfo" @click="openSharedTopic">
				<view class="ref_title">
					<view class="logo">
						<image src="https://cdn.xiaohun.baiziio.com/config/logo.jpeg"></image>
					</view>销Soul热议话题
				</view>
				<view class="ref">
					<view class="ref_subtitle">{{timelineInfo.title}}</view>
					{{timelineInfo.content.replace(/\\n/,'\n')}}
				</view>
			</view>
			<view v-else>
			</view>
			<view class="tips">
				点击右下角“前往小程序”参与话题☟↓⇟
			</view>
		</view>
	</view>
	<view v-else class="grow_index">
		<navbar class="nav" :navInfo="navInfo"></navbar>
		<view class="" v-if="!detailInfo && code == 0"></view>
		<view class="black_box" :style="{ 'padding-top': navHeight + 'px' }" v-if="code == 10501 || code == 10502">
			<view class="black_content">{{ content }}</view>
			<view class="time_box" v-if="timeObj">
				<view class="">倒计时</view>
				<view class="time_view" v-if="timeObj.days">{{ timeObj.days }}</view>
				<view class="" v-if="timeObj.days">天</view>
				<view class="time_view">{{ timeObj.hours }}</view>
				<view class="">:</view>
				<view class="time_view">{{ timeObj.minutes }}</view>
				<view class="">:</view>
				<view class="time_view">{{ timeObj.seconds }}</view>
			</view>
		</view>
		<view v-if="detailInfo && (code == 200 || code == 10504)" class="grow_banner" :style="{ 'padding-top': navHeight + 'px' }">
			<view class="detail_top">
				<view class="userInfo">
					<view class="info_left">
						<view class="photo_wrap">
							<view class="photo_inner">
								<image :src="detailInfo.publisherAvatar" mode=""></image>
							</view>
						</view>
						<view class="user_name">{{ detailInfo.publisherName }}</view>
					</view>
					<view class="info_right">
						<button open-type="share">
							<image src="../../../../static/topic_share.png" mode="" class="topic_share"></image>
						</button>
					</view>
				</view>
				<view class="topic">
					{{ detailInfo.title }}
					<!-- <text class="topic_tag" v-for="(item,index) in detailInfo.tagsArr" :key="index">#{{item}}#</text> -->
				</view>
				<view class="second_title_normal" v-if="detailInfo.content"><text>{{ detailInfo.content }}</text></view>
				<!-- <view class="second_title_normal" id="second_title">
					{{detailInfo.content}}
				</view>
				<view :class="overSize && !showAll?'second_title_normal':'second_title_over'" v-if="detailInfo.content">
					{{detailInfo.content}}
				</view>
				<view class="show_box" v-if="overSize && showAll && detailInfo.content" @click="changeTitleStatus">
					<view class="arrow_down">
					</view>
					<view class="show_text">
						展开
					</view>
				</view>
				<view class="show_box" v-if="overSize && !showAll && detailInfo.content" @click="changeTitleStatus">
					<view class="arrow_up">
					</view>
					<view class="show_text">
						收起
					</view>
				</view> -->
				<view class="data_box">
					<view class="data_title" v-if="detailInfo.books.length > 0">参考资料</view>
					<view class="item_box" v-if="detailInfo.books.length > 0">
						<view class="single_box" v-for="(item, index) in detailInfo.books" @click="bindShare(item)" :key="index">{{ item.title }}</view>
					</view>
					<view class="tag_box">
						<view class="tag_list">
							<text v-for="(tag, tagIndex) in detailInfo.tagsArr" :key="tagIndex">#{{ tag }}</text>
						</view>
						<view class="data_time">
							<text>{{ detailInfo.startTime }}</text>
							<text v-if="!detailInfo.permanent">-{{ detailInfo.endTime }}</text>
						</view>
					</view>
				</view>
			</view>
			<view class="detail_middle">
				
			</view>
			<view class="detail_bottom">
				<view class="tab_box">
					<view class="tab_single " v-for="(item, index) in tabList" :key="index" @click="tabChange(item)">
						<view :class="activeTab == item.value ? 'tab_active' : 'tab_normal'">{{ item.name }}</view>
						<view class="active_line" v-if="activeTab == item.value"></view>
					</view>
				</view>
				<view class="list_box" >
					<view class="tips_box" v-if="code == 10504 && showTips">
						<image src="../../../../static/lock2.png" mode="" class="lock"></image>
						<view class="">
							<view class="lock_text">（锁定状态）</view>
							<view class="">销魂倡导先予后取文化,探讨类话题需先分享自己的观点,以此为钥匙🔑即可解锁查看所有老铁的观点。</view>
							<!-- {{tipsContent}} -->
						</view>
					</view>
					<view class="list_single" v-for="(item, index) in listData" :key="index">
						<image :src="formatActionImagePath(item.label)" mode="" class="label_img" v-if="item.label"></image>
						<view class="single_left">
							<image :src="item.creatorAvatar" mode=""></image>
						</view>
						<view class="single_right">
							<view class="name_box">
								<view class="name_text">{{ item.creatorName }}</view>
							</view>
							<view class="title_box"><text>{{ item.content }}</text></view>
							<!-- padding-right: 16rpx; -->
							<view class="content_box" v-if="item.latestComment.length > 0">
								<view @click="changeComment(true, comment.nickname, 2, item.id, index, comment.id)" v-if="commentIndex < 3"
								 class="single_content" v-for="(comment, commentIndex) in item.latestComment" :key="commentIndex">
									<text class="content_name" :style="{ paddingRight: comment.replyTo ? '4rpx' : '16rpx' }">{{ comment.nickname }}:</text>
									<text v-if="comment.replyTo" style="padding-right: 8rpx;" class="comment_content">回复</text>
									<text class="content_name" v-if="comment.replyTo">{{ comment.replyTo }}:</text>
									<text class="comment_content"><text>{{ comment.content }}</text></text>
								</view>
								<view class="total_comment" v-if="item.latestComment.length > 3" @click="bindMore(item.id)">查看更多 ></view>
							</view>
							<view class="status_box">
								<view class="status_time" v-if="item.timeType == 3">
									<text v-if="item.timeStr">{{ item.timeStr }}前</text>
									<text v-else>刚刚</text>
								</view>
								<view class="status_time" v-else>{{ item.timeStr }}</view>
								<view class="status_right">
									<view class="right_single">
										<image src="../../../../static/topic_like.png" v-if="item.isLike" mode="" class="topic_like" @click="bindLike(item.id, 5, false, 1, 2, index)"></image>
										<image v-else src="../../../../static/topic_detail_like.png" mode="" class="topic_like" @click="bindLike(item.id, 5, true, 1, 2, index)"></image>
										<view class="right_text">{{ item.likeAmount ? item.likeAmount : 0 }}</view>
									</view>
									<view class="right_single">
										<image v-if="item.isDislike" src="../../../../static/dislike_active.png" mode="" class="topic_like" @click="bindLike(item.id, 5, false, 3, 2, index)"></image>
										<image v-else src="../../../../static/topic_unlike.png" mode="" class="topic_like" @click="bindLike(item.id, 5, true, 3, 2, index)"></image>
										<view class="right_text">{{ item.dislikeAmount ? item.dislikeAmount : 0 }}</view>
									</view>
									<view class="right_single" @click="changeComment(true, item.creatorName, 2, item.id, index)">
										<image src="../../../../static/topic_detail_comment.png" mode="" class="topic_like"></image>
									</view>
								</view>
							</view>
						</view>
					</view>
				</view>
			</view>
		</view>
		<view class="new_bottom" v-if="detailInfo && (code == 200 || code == 10504)">
			<view class="new_left" @click="changeComment(true, detailInfo.publisherName, 1, '', 0)">
				<image src="../../../../static/comment_icon.png" mode="" class="comment_icon"></image>
				<view class="left_text">写评论…</view>
			</view>
			<view class="new_right">
				<view class="icon_box">
					<image src="../../../../static/topic_like.png" mode="" class="right_icon" @click="bindLike(topicId, 4, false, 1, 1, 0)"
					 v-if="like"></image>
					<image v-else src="../../../../static/new_like.png" mode="" class="right_icon" @click="bindLike(topicId, 4, true, 1, 1, 0)"></image>
				</view>
				<view class="icon_box">
					<image @click="bindLike(topicId, 4, false, 2, 1, 0)" src="../../../../static/topic_collect.png" mode="" class="right_icon"
					 v-if="collect"></image>
					<image @click="bindLike(topicId, 4, true, 2, 1, 0)" src="../../../../static/bottom_collect.png" mode="" class="right_icon"
					 v-else></image>
				</view>
				<view class="icon_box">
					<image src="../../../../static/bottom_comment.png" mode="" class="right_icon" @click="changeComment(true, detailInfo.publisherName, 1, '', 0)"></image>
					<view class="message_count" v-if="detailInfo.commentAmountStr">{{ detailInfo.commentAmountStr }}</view>
				</view>
				<view class="icon_box">
					<button open-type="share">
						<image src="../../../../static/bottom_share.png" mode="" class="right_icon"></image>
					</button>
				</view>
			</view>
		</view>
		<view class="input_pop" v-if="showComment" @click.self="changeComment(false, '', 0, '', 0)" @touchmove.stop="moveHandle">
			<view class="input_box" @click.stop="defaultEvent" >
				<view class="content_box">
					<!-- <van-field @focus="focusChange" @blur="blurChange"  @input="inputChange" :auto-focus="true" :hold-keyboard="true"
					 :fixed="true" :focus="showComment" :placeholder="'评论给' + authName" :value="commentInfo.content" class="textarea"
					 :autosize="{ minHeight: 90, maxHeight: 240 }" type="textarea" :cursor-spacing="200" :show-confirm-bar="false"
					 :adjust-position="false" placeholder-style="font-size: 28rpx;line-height: 40rpx;color: #9DA5B5;" /> -->
					 <textarea value="" @focus="focusChange" @blur="blurChange" :maxlength="-1" :show-confirm-bar="false" placeholder-style="font-size: 28rpx;line-height: 40rpx;color: #9DA5B5;" :cursor-spacing="180" :adjust-position="false" :focus="showComment"  class="textarea" :placeholder="'评论给' + authName" v-model="commentInfo.content" />
				</view>
				<view class="publish_box">
					<view class="cancle_text" @click.stop="changeComment(false, '', 0, '', 0)">取消</view>
					<view class="pulish_text" @click.stop="submitComment">发布</view>
				</view>
				<view class="empty_box" v-if="keyboradHeight > 0" :style="{height: keyboradHeight +'px' }">

				</view>
			</view>
		</view>
		<toast v-if="showToast" :title="toastTitle"></toast>
		<modual @bindVip="bindVip" :modualInfo="modualInfo" @modualConfirm="modualConfirm" @modualCancle="modualCancle"
		 @modualChange="modualChange" v-if="showModual"></modual>
	</view>
</template>

<script>
	import navbar from '../../../../components/navbar.vue';
	import app from '../../../../App.vue';
	import toast from '../../../../components/toast.vue';
	import modual from '@/components/modual.vue';
	export default {
		components: {
			navbar,
			toast,
			modual
		},
		data() {
			return {
				modualInfo: {
					activeType: 3,
					showClose: false,
					showSingle: false,
					showBtns: false,
					title: '',
					content: '',
					cancleText: '',
					confirmText: '',
					showScroll: true
				},
				showModual: false,
				toastTitle: '',
				showToast: false,
				activeTab: 'time',
				tabList: [{
						name: '时间',
						value: 'time'
					},
					{
						name: '互动',
						value: 'comment'
					},
					{
						name: '高赞',
						value: 'like'
					}
				],
				isIpx: app.globalData.isIpx,
				navHeight: app.globalData.navHeight,
				navInfo: {
					bg_color: '',
					color: '#5F370F',
					flag: 2,
					name: '话题详情',
					backType: 2
				},
				topicId: '',
				total: 0,
				listData: [],
				detailInfo: null,
				queryInfo: {
					topicId: '',
					current: 1,
					pageSize: 10,
					sortBy: 'default'
				},
				showComment: false,
				authName: '',
				commentInfo: {
					content: '',
					commentId: '',
					refCommentId: '',
					topicId: ''
				},
				submitType: 0,
				submitId: '',
				like: null,
				disLike: null,
				collect: null,
				dataIndex: 0,
				refCommentId: '',
				titleArr: ['长得好看的人都在讨论这个话题，速度围观。', '一大群销冠热议的话题', '你的方法很牛逼吗？来啊，吵架啊', '一大群销售嫩妹和小鲜肉正在等待你闪亮登场，发表观点'],
				userInfo: uni.getStorageSync('userInfo'),
				hasRights: false,
				tipsContent: '',
				code: 0,
				content: '',
				timeObj: null,
				timeCount: '',
				timer: null,
				showAll: true,
				overSize: false,
				topHeight: 0,
				showTips: false,
				from: null,
				timelineInfo: null,
				refText: "包括纳达尔、小威在内的世界男女单顶尖球员在参加2021年澳网公开赛之前，将在阿德莱德隔离14天，并在那里参加一场表演热身赛。\n声明介绍，这场赛事将于本月29日在南澳州首府阿德莱德举行，共有8名选手参赛，包括男单排名前三的焦科维奇、纳达尔、蒂姆，以及女单名将小威、哈勒普和大坂直美，其他参赛球员将在未来几天公布。比赛届时将分为两个部分进行，并会减少上座率，以满足防疫需求",
				keyboradHeight: 0,
				redirectTime: 1,
				pageFresh: true
			};
		},
		onLoad(options) {
			this.topicId = options.id;
			this.queryInfo.topicId = options.id;
			this.commentInfo.topicId = options.id;
			this.from = options.from;
			var times = options.times || 1
			console.log("from " + this.from);
			var options = wx.getLaunchOptionsSync();
			if (options.scene == 1154) {
				this.from = "timeline"
			} else {
				this.from = null;
			}
			if (this.from) {
				this.getTimelineDetail();
			}
			wx.showShareMenu({
				withShareTicket: true,
				menus: ['shareAppMessage', 'shareTimeline']
			});
		},
		onHide() {
			clearInterval(this.timer);
			this.timer = null;
		},
		onReady() {
			console.log('渲染完成');
		},
		onUnload() {
			clearInterval(this.timer);
			this.timer = null;
		},
		onShow() {
			let res = wx.getSystemInfoSync();
			if (res.platform == 'android') {
				this.keyboradHeight = 25
			} else {
				this.keyboradHeight = 0
			}
			if (this.from) {
				return;
			}
			if (this.pageFresh) {
				this.getStatusInfo();
			}
			this.userInfo = uni.getStorageSync('userInfo');
			this.pageFresh = true
			let that = this;
			setTimeout(() => {
				let top = uni.createSelectorQuery().select('.detail_top');
				// let info = uni.createSelectorQuery().select("#second_title");
				// info.boundingClientRect(function(data) { //data - 各种参数
				// 	if (data.height > 48) {
				// 		that.overSize = true
				// 	}
				// }).exec()
				top.boundingClientRect(function(data) {
					//data - 各种参数
					if (data) {
						that.topHeight = (data.height + that.navHeight + 54 + 32) * 2;
						that.showTips = true;
					}
				}).exec();
			}, 500);
		},
		onPullDownRefresh() {
			if (this.from) {
				this.getTimelineDetail();
				return;
			}
			this.getCommentList('fresh');
		},
		onReachBottom() {
			if (this.listData.length < this.total) {
				this.queryInfo.current++;
				this.getCommentList('');
			}
		},
		onShareAppMessage() {
			let index = Math.floor(Math.random() * 4);
			let title = this.titleArr[index];
			this.pageFresh = false
			this.shareTopic();
			return {
				title: title,
				path: `/pages/pagesGrow/topic/detail/detail?id=${this.topicId}`
			};
		},
		onShareTimeline() {
			let index = Math.floor(Math.random() * 4);
			let title = this.titleArr[index];
			if (this.detailInfo) {
				title = this.detailInfo.title;
			}
			this.shareTopic();
			return {
				title: title,
				path: `/pages/pagesGrow/topic/detail/detail`,
				query: `id=${this.topicId}&from=timeline`
			};
		},
		methods: {
			formatActionImagePath(label) {
				return "https://cdn.xiaohun.baiziio.com/comment/actions/" + decodeURIComponent(label) + ".png";
			},
			moveHandle() {
				return false
			},
			blurChange() {
				this.keyboradHeight = 0
			},
			focusChange (e) {
				console.log(e)
				this.keyboradHeight = e.detail.height
				console.log("弹起键盘")
				console.log(this.keyboradHeight)
			},
			keyboardChange(e) {
				let res = wx.getSystemInfoSync();
				// this.keyboradHeight = e.detail.height
				console.log("弹起键盘")
				console.log(this.keyboradHeight)
				// console.log(e.detail.height)
				// if (res.platform == 'android') {
				// 	if (this.code != 10504) {
				// 		this.keyboradHeight = e.detail.height
				// 	} else {
				// 		this.keyboradHeight = 25
				// 	}
				// } else {
				// 	this.keyboradHeight = 0
				// }
			},
			openSharedTopic() {
				uni.reLaunch({
					url: `/pages/pagesGrow/topic/detail/detail?id=${this.topicId}`
				})
			},
			handleInit() {
				this.from = null
				this.getStatusInfo();
				this.userInfo = uni.getStorageSync('userInfo');
				let that = this;
				setTimeout(() => {
					let top = uni.createSelectorQuery().select('.detail_top');
					// let info = uni.createSelectorQuery().select("#second_title");
					// info.boundingClientRect(function(data) { //data - 各种参数
					// 	if (data.height > 48) {
					// 		that.overSize = true
					// 	}
					// }).exec()
					top.boundingClientRect(function(data) {
						//data - 各种参数
						if (data.height) {
							that.topHeight = (data.height + that.navHeight + 54 + 32) * 2;
							that.showTips = true;
						}
					}).exec();
				}, 500);
			},
			changeTitleStatus() {
				this.showAll = !this.showAll;
			},
			modualConfirm() {
				this.modualChange('close');
				// this.getCommentList("search")
				// this.changeComment(true, this.detailInfo.publisherName, 1, '', 0)
			},
			modualCancle() {
				this.modualChange('close');
				// this.getCommentList("search")
			},
			modualChange(type) {
				if (type == 'open') {
					this.showModual = true;
				} else {
					this.showModual = false;
				}
			},
			//倒计时
			timerCount(that) {
				if (that.timeCount > 1000) {
					that.timeCount = that.timeCount - 1000;
					that.timeObj = that.$format.timerCount(that.timeCount);
				} else {
					that.getStatusInfo();
					that.timeObj = null;
					clearInterval(that.timer);
					that.timer = null;
				}
			},
			// 用户状态判断
			getStatusInfo() {
				this.$http('/mp/topic/rule/notification', 'GET', {
					id: this.topicId
				}).then(res => {
					if (res.code == 200) {
						this.getDetails();
						this.getLikeInfo();
						// this.getCommentList("search")
						if (!res.data) {
							// TODO 去掉这个getCommentList
							// this.getCommentList("search")
							this.hasRights = false;
						} else {
							// TODO 如果有数据，用自定义弹窗显示提醒
							this.modualInfo.title = res.data.title;
							this.modualInfo.content = res.data.content;
							this.modualInfo.cancleText = res.data.cancelText;
							this.modualInfo.confirmText = res.data.confirmText;
							if (res.data.content.indexOf('1') > -1 || res.data.content.indexOf('2') > -1 || res.data.content.indexOf('3') >
								-1) {
								this.modualInfo.activeType = 3;
								// this.modualInfo.showSingle = false
							} else {
								this.modualInfo.activeType = 7;
								// this.modualInfo.showSingle = true
							}
							this.hasRights = true;
							this.tipsContent = res.data.content;
						}
					}
				});
			},
			inputChange(value) {
				this.commentInfo.content = value.detail;
			},
			defaultEvent() {},
			// 参考文献点击事件
			bindShare(item) {
				let url = '';
				switch (item.interestType) {
					case 1:
						url = `/pages/pagesGrow/shareInfo/shareInfo?shareId=${item.interestId}`;
						break;
					case 2:
						url = `/pages/pagesGrow/experience/shareExperience?id=${item.interestId}&type=share`;
						break;
					case 3:
						url = `/pages/pagesGrow/feeling/shareFeeling?id=${item.interestId}&source=type`;
						break;
					case 4:
						url = `/pages/pagesGrow/topic/detail/detail?id=${item.interestId}`;
						break;
					default:
						url = '';
				}
				uni.navigateTo({
					url: url
				});
				this.pageFresh = false
			},
			// 分享
			shareTopic() {
				let params = {
					interestId: this.topicId,
					interestType: 4
				};
				this.$http('/mp/user/interest/share', 'POST', params).then(res => {
					this.pageFresh = false
				});
			},
			move() {},
			// 查看更多评论
			bindMore(id) {
				uni.navigateTo({
					url: `/pages/pagesGrow/topic/comment/comment?commentId=${id}&topicId=${this.topicId}`
				});
			},
			// 获取点赞数量信息
			getLikeAmount() {
				this.$http('/mp/topic/stat', 'GET', {
					id: this.topicId
				}).then(res => {
					this.detailInfo.likeAmount = res.data.likeAmount;
					this.detailInfo.dislikeAmount = res.data.dislikeAmount;
					// this.detailInfo.shareAmount = res.data.likeAmount
					this.detailInfo.collectAmount = res.data.collectAmount;
					this.detailInfo.commentAmount = res.data.commentAmount;
					if (res.data.commentAmount == 0) {
						this.detailInfo.commentAmountStr = '';
					} else if (res.data.commentAmount <= 10000) {
						this.detailInfo.commentAmountStr = res.data.commentAmount;
					} else {
						this.detailInfo.commentAmountStr = Math.floor(res.data.commentAmount / 10000) + 'W+';
					}
				});
			},
			// 获取点赞、收藏信息
			getLikeInfo() {
				// let url = type =="like"?"/mp/user/interest/like":type =="disLike"?"/mp/user/interest/dislike":"/mp/user/interest/collect"
				// let params = {
				// 	interestId:this.topicId,
				// 	interestType: 4
				// }
				// this.$http(url,"GET",params).then(res=>{
				// 	this[type] = res.data
				// })
				let params = {
					interestId: this.topicId,
					interestType: 4,
					op: 'like,dislike,collect'
				};
				this.$http('/mp/user/interest/aggregation', 'GET', params).then(res => {
					this.like = res.data.like;
					this.disLike = res.data.dislike;
					this.collect = res.data.collect;
				});
			},
			// 查询单挑话题评论详情
			getSingleDetail(id, dataIndex) {
				let params = {
					id
				};
				this.$http('/mp/topic/comment/one', 'GET', params).then(res => {
					let data = res.data;
					let now = new Date().getTime();
					let maxTime = this.$format.getSecondsFunc(1);
					let oneDay = this.$format.getSecondsFunc(0);
					let subTime = now - data.createAt;
					if (subTime >= maxTime) {
						data.timeType = 1;
						data.timeStr = this.$format.formatTopicTime(new Date(data.createAt));
					} else if (subTime < oneDay) {
						data.timeType = 3;
						data.timeStr = this.$format.formatDays(data.createAt);
					} else {
						data.timeType = 2;
						data.timeStr = '昨天';
					}
					data.latestComment = data.latestCommentJson ? JSON.parse(data.latestCommentJson) : [];
					this.$set(this.listData, dataIndex, data);
				});
			},
			// 增加/取消点赞
			bindLike(id, type, value, requestType, commentType, dataIndex) {
				let title = '';
				// let url = requestType ==1?"/mp/user/interest/like":requestType ==2?"/mp/user/interest/collect":"/mp/user/interest/dislike"
				let params = {
					interestId: id,
					interestType: type,
					value: value
				};
				if (requestType == 1) {
					params.op = 'like';
					title = value ? '点赞成功' : '取消点赞成功';
				} else if (requestType == 2) {
					params.op = 'collect';
					title = value ? '收藏成功' : '取消收藏成功';
				} else {
					params.op = 'dislike';
					title = value ? '点踩成功' : '取消点踩成功';
				}
				this.$http('/mp/user/interest/one', 'POST', params).then(res => {
					if (commentType == 1) {
						this.getLikeAmount();
						// this.getDetails()
						this.getLikeInfo();
					} else {
						this.dataIndex = dataIndex;
						// this.getCommentList("update")
						this.getSingleDetail(id, dataIndex);
					}
					this.changeToast(true, title);
					this.changeToast(false, '');
				});
			},
			// 控制toast
			changeToast(value, title) {
				if (value) {
					this.showToast = value;
					this.toastTitle = title;
				} else {
					setTimeout(() => {
						this.showToast = value;
						this.toastTitle = title;
					}, 1500);
				}
			},
			// 添加评论
			submitComment() {
				if (!this.refCommentId) {
					this.commentInfo.commentId = this.submitType == 2 ? this.submitId : '';
					this.commentInfo.refCommentId = this.submitType == 3 ? this.submitId : '';
				} else {
					this.commentInfo.commentId = this.submitId;
					this.commentInfo.refCommentId = this.refCommentId;
				}
				this.$http('/mp/topic/comment/one', 'POST', this.commentInfo).then(res => {
					this.commentInfo.content = '';
					this.changeToast(true, '评论成功');
					this.changeToast(false, '');
					if (this.submitType == 2 || this.refCommentId) {
						// this.getCommentList("update")
						this.getSingleDetail(this.submitId, this.dataIndex);
					} else {
						this.getCommentList('search');
					}
					this.getLikeAmount();
					// this.getDetails()
					this.changeComment(false, '', 0, '', 0);
					this.refCommentId = '';
				});
			},
			// 唤起评论框
			changeComment(type, name, submitType, submitId, dataIndex, refCommentId) {
				this.showComment = type;
				this.authName = name;
				this.submitType = submitType;
				this.submitId = submitId;
				this.refCommentId = refCommentId;
				if (submitType == 2) {
					this.dataIndex = dataIndex;
				}
				// if (!type) {
				// 	this.commentInfo.content = ""
				// }
			},
			// 评论tab切换
			tabChange(item) {
				this.activeTab = item.value;
				this.queryInfo.sortBy = item.value;
				this.getCommentList('fresh');
			},
			// 获取话题评论
			getCommentList(type) {
				let _this = this;
				if (type == 'search' || type == 'fresh') {
					this.queryInfo.current = 1;
					this.listData = [];
					this.total = 0;
				}
				let params = JSON.parse(JSON.stringify(this.queryInfo));
				if (type == 'update') {
					params.current = Math.ceil(this.dataIndex / this.queryInfo.pageSize);
				}
				this.$http('/mp/topic/comment/pageListByTopic', 'POST', params).then(res => {
					_this.code = res.code;
					if (res.code == 200) {
						let data = res.data.list;
						let now = new Date().getTime();
						let oneDay = 24 * 60 * 60 * 1000;
						data.map(item => {
							item.latestComment = item.latestCommentJson ? JSON.parse(item.latestCommentJson) : [];
							let maxTime = this.$format.getSecondsFunc(1);
							let oneDay = this.$format.getSecondsFunc(0);
							let subTime = now - item.createAt;
							if (subTime >= maxTime) {
								item.timeType = 1;
								item.timeStr = this.$format.formatTopicTime(new Date(item.createAt));
							} else if (subTime < oneDay) {
								item.timeType = 3;
								item.timeStr = this.$format.formatDays(item.createAt);
							} else {
								item.timeType = 2;
								item.timeStr = '昨天';
							}
						});
						if (type != 'update') {
							this.listData = this.listData.concat(data);
							this.total = res.data.total;
						} else {
							let index = this.dataIndex % this.queryInfo.pageSize;
							this.$set(this.listData, this.dataIndex, data[index]);
						}
						if (type == 'fresh') {
							uni.stopPullDownRefresh();
						}
						if (this.listData.length == this.total) {
							this.showNodata = true;
						} else {
							this.showNodata = false;
						}
					} else if (res.code == 10504) {
						this.tipsContent = res.message;
						// TODO 在评论区域显示此提醒，用户评论过后才可查看别人的评论
						// uni.showModal({
						// 	title: "温馨提示",
						// 	content: res.message,
						// 	showCancel: false,
						// 	confirmText: "立即评论",
						// 	success: (res) => {
						// 		_this.changeComment(true, _this.detailInfo.publisherName, 1, '', 0)
						// 	}
						// })
					}
				});
			},
			getTimelineDetail() {
				uni.showLoading({
					title: '加载中',
					mask: true
				});
				this.$http('/mp/topic/unRestricted/detail', 'GET', {
					id: this.topicId
				}).then(res => {
					uni.hideLoading();
					if (res.code == 200) {
						this.timelineInfo = res.data;
					} else {
						uni.showToast({
							title: res.message,
						})
					}
				});
			},
			// 获取话题详情
			getDetails() {
				uni.showLoading({
					title: '加载中',
					mask: true
				});
				this.$http('/mp/topic/detail', 'GET', {
					id: this.topicId
				}).then(res => {
					this.code = res.code;
					if (res.code == 200) {
						this.getCommentList('search');
						let now = new Date().getTime();
						this.detailInfo = res.data;
						this.detailInfo.startTime = this.$format.formatTopicTime(new Date(this.detailInfo.effectiveAt));
						this.detailInfo.endTime = this.detailInfo.permanent ? '' : this.$format.formatTopicTime(new Date(this.detailInfo
							.expireAt));
						// this.detailInfo.endTime = this.$format.formatTopicTime(new Date(this.detailInfo.expireAt))
						this.detailInfo.tagsArr = this.detailInfo.tags ? this.detailInfo.tags.split(',') : [];
						this.detailInfo.isExpired = now > this.detailInfo.endTime ? true : false;
						this.detailInfo.books = this.detailInfo.documentJson ? JSON.parse(this.detailInfo.documentJson) : [];
						if (res.data.commentAmount == 0) {
							this.detailInfo.commentAmountStr = '';
						} else if (res.data.commentAmount <= 10000) {
							this.detailInfo.commentAmountStr = res.data.commentAmount;
						} else {
							this.detailInfo.commentAmountStr = Math.floor(res.data.commentAmount / 10000) + 'W+';
						}
						uni.hideLoading();
						if (this.hasRights) {
							this.modualChange('open');
							this.hasRights = false;
						}
					} else if (res.code == 10503) {
						this.modualInfo.activeType = 1;
						this.modualInfo.title = '温馨提示';
						this.modualInfo.content = res.message;
						this.modualInfo.showBtns = true;
						this.modualInfo.cancleText = '我再想想';
						this.modualInfo.confirmText = '立即升级';
						this.modualChange('open');
						// uni.showModal({
						// 	title: "温馨提示",
						// 	content: res.message,
						// 	showCancel: false,
						// 	confirmText: "立即升级",
						// 	success: (res) => {
						// 		if (res.confirm) {
						// 			uni.navigateTo({
						// 				url: "/pages/pagesPerson/vip/vip"
						// 			})
						// 		}
						// 	}
						// })
					} else if (res.code == 10501) {
						console.log('小黑屋');
						let that = this;
						this.navInfo = {
							bg_color: '#000000',
							color: '#ffffff',
							flag: 2,
							name: '小黑屋',
							backType: 2
						};
						this.content = res.message;
						this.timeCount = res.data - new Date().getTime();
						if (this.timeCount > 0) {
							this.timer = setInterval(() => {
								that.timerCount(that);
							}, 1000);
						}
					} else if (res.code == 10502) {
						let that = this;
						this.navInfo = {
							bg_color: '#000000',
							color: '#ffffff',
							flag: 2,
							name: '小黑屋',
							backType: 2
						};
						this.content = res.message;
						this.timeCount = res.data - new Date().getTime();
						if (this.timeCount > 0) {
							this.timer = setInterval(() => {
								that.timerCount(that);
							}, 1000);
						}
					} else if (res.code == 10500) {
						uni.showModal({
							title: '准入测试',
							content: '据说只有社会主义接班人才能通过测试',
							confirmText: '开始',
							success: res => {
								if (res.confirm) {
									uni.navigateTo({
										url: '/pages/pagesGrow/topic/question/question'
									});
								}
							}
						});
					}
				});
			}
		}
	};
</script>

<style lang="less" scoped>
	.flex(@A, @B, @C, @D) {
		display: flex;
		flex-direction: @A;
		flex-wrap: @B;
		justify-content: @C;
		align-items: @D;
	}

	.account_container {
		width: 100%;
		height: 100%;

		.bg_img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
		}

		.wx_container {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;

			.ref_container {
				margin: auto 20rpx;

				.logo {
					display: flex;

					image {
						width: 100rpx;
						height: 100rpx;
						margin-bottom: 10rpx;
						border-radius: 50rpx;
					}

					margin-right: 20rpx;
				}

				.ref_title {
					padding-bottom: 20rpx;
					font-weight: bold;
					font-size: 50rpx;
					margin-bottom: 140rpx;
					display: flex;
					flex-direction: row;
					align-items: center;
				}

				.ref_subtitle {
					margin-bottom: 20rpx;
					font-size: 40rpx;
					font-weight: bold;
					color: black;
				}
			}

			.ref {
				border-left: 8rpx solid #3875FB;
				color: #1f2329b3;
				padding-left: 30rpx;
				font-size: 30rpx;
			}

			.tips {
				margin-bottom: 30rpx;
				margin-right: 20rpx;
				text-align: right;
				font-weight: bold;
			}
		}
	}

	.grow_index {
		position: relative;
		// min-height: 100vh;
		// background: #f3f4f6;
		box-sizing: border-box;
		padding-bottom: 110rpx;
		position: relative;
		background: #FFFFFF;

		.black_box {
			width: 100%;
			height: 100vh;
			background: #000000;
			color: #ffffff;

			// .flex(column,wrap,center,center);
			.black_title {
				font-size: 36rpx;
				text-align: center;
				font-weight: bold;
				box-sizing: border-box;
				padding-top: 120rpx;
			}

			.black_content {
				box-sizing: border-box;
				padding: 120rpx 64rpx 60rpx 64rpx;
				font-size: 28rx;
			}

			.time_box {
				box-sizing: border-box;
				padding: 30rpx 64rpx;
				.flex(row, nowrap, space-between, center);

				.time_view {
					background: #ffffff;
					box-sizing: border-box;
					border-radius: 8rpx;
					padding: 12rpx;
					color: #000000;
					font-weight: 600;
					font-size: 28rpx;
					line-height: 28rpx;
				}
			}
		}

		.input_pop {
			width: 100%;
			height: 100%;
			position: fixed;
			left: 0;
			bottom: 0;
			z-index: 999999;
			background: rgba(0, 0, 0, 0.4);

			.input_box {
				position: absolute;
				left: 0;
				bottom: 0;
				z-index: 999999;
				width: 100%;
				background: #ffffff;
				height: auto;
				// padding: 24rpx 32rpx;
				// padding: 24rpx 0rpx;
				padding-top: 24rpx;
				box-sizing: border-box;

				.content_box {
					box-sizing: border-box;
					background: #f4f5f8;
					padding: 20rpx;
					width: 686rpx;
					margin: auto;
					
				}

				.textarea {
					height: 360rpx;
					min-height: 180rpx;
					background: #f4f5f8;
					box-sizing: border-box;
					// padding: 24rpx;
					font-size: 28rpx;
					line-height: 40rpx;
					color: #333333;
					width: 100%;
					// min-height: 180rpx;
					max-height: 480rpx;
				}

				/deep/.van-cell {
					background: #f4f5f8;
					padding: 0;
				}

				.placeholder {
					font-size: 28rpx;
					line-height: 40rpx;
					color: #9da5b5;
				}

				.input_box {
					font-size: 30rpx;
					line-height: 32rpx;
					color: #2d8eff;
					font-weight: 500;
					text-align: right;
					margin-top: 24rpx;
				}

				.publish_box {
					font-size: 30rpx;
					line-height: 32rpx;
					color: #2d8eff;
					font-weight: 500;
					// margin-top: 24rpx;
					// padding: 24rpx 32rpx;
					.flex(row, nowrap, space-between, center);

					.cancle_text {
						color: #768196;
						padding: 24rpx 32rpx;
					}
					.pulish_text{
						padding: 24rpx 32rpx;
					}
				}

				.empty_box {
				}
			}
		}

		.new_bottom {
			position: fixed;
			left: 0;
			bottom: 0;
			background: #ffffff;
			border-top: 2rpx solid #f3f4f6;
			border-bottom: 2rpx solid #f3f4f6;
			height: 108rpx;
			box-sizing: border-box;
			padding: 0rpx 2rpx 0rpx 32rpx;
			width: 100%;
			z-index: 9999;
			.flex(row, nowrap, space-between, center);
			box-sizing: border-box;

			.new_left {
				width: 270rpx;
				height: 72rpx;
				background: #f4f5f8;
				border-radius: 36rpx;
				padding: 0rpx 28rpx;
				box-sizing: border-box;
				.flex(row, nowrap, flex-start, center);

				.comment_icon {
					width: 32rpx;
					height: 32rpx;
					display: block;
					margin-right: 20rpx;
				}

				.left_text {
					font-size: 28rpx;
					color: #9da5b5;
					font-weight: 400;
				}
			}

			.new_right {
				.flex(row, nowrap, flex-end, center);
				width: calc(100% - 270rpx);

				.icon_box {
					box-sizing: border-box;
					margin: auto 15rpx;
					position: relative;
				}

				.right_icon {
					width: 40rpx;
					height: 40rpx;
					display: block;
					padding: 0rpx 15rpx;
				}

				.message_count {
					position: absolute;
					right: -3rpx;
					top: -2rpx;
					height: 22rpx;
					background: #ff5e00;
					border-radius: 11rpx;
					padding: 0rpx 6rpx;
					font-size: 18rpx;
					color: #ffffff;
					line-height: 22rpx;
					font-weight: bold;
				}

				button {
					font-size: 24rpx;
					color: #707070;
					font-weight: 500;
					padding-left: 0;
					padding-right: 0;
					padding: 0;
					line-height: 36rpx;
					background: white;
				}

				button::after {
					border: none;
				}
			}
		}

		.bottom_box {
			position: fixed;
			left: 0;
			bottom: 0;
			background: #ffffff;
			border-top: 2rpx solid #f3f4f6;
			border-bottom: 2rpx solid #f3f4f6;
			height: 108rpx;
			box-sizing: border-box;
			padding: 0rpx 32rpx;
			width: 100%;
			z-index: 9999;
			.flex(row, nowrap, space-between, center);

			.bottom_left {
				height: 72rpx;
				border-radius: 36rpx;
				border: 2rpx solid #e3e5e9;
				box-sizing: border-box;
				padding: 0rpx 26rpx;
				.flex(row, nowrap, space-between, center);

				.left_icon {
					width: 30rpx;
					height: 30rpx;
					display: block;
					margin-right: 12rpx;
				}

				.left_text {
					font-size: 26rpx;
					line-height: 30rpx;
					color: #0d0e15;
					font-weight: 500;
				}

				.left_line {
					width: 2rpx;
					height: 36rpx;
					background: #e3e5e9;
					margin-left: 12rpx;
					margin-right: 12rpx;
				}
			}

			.bottom_right {
				.flex(row, nowrap, flex-end, center);

				.right_single {
					.flex(row, nowrap, flex-start, center);
					margin-left: 36rpx;

					button {
						font-size: 24rpx;
						color: #707070;
						font-weight: 500;
						padding-left: 0;
						padding-right: 0;
						padding: 0;
						line-height: 36rpx;
						background: white;
					}

					button::after {
						border: none;
					}

					.topic_like {
						width: 40rpx;
						height: 40rpx;
						display: block;
					}

					.right_text {
						font-size: 28rpx;
						// line-height: 40rpx;
						font-weight: 500;
						color: #0d0e15;
						margin-left: 12rpx;
					}
				}
			}
		}

		.nav {
			width: 100%;
			position: fixed;
			left: 0;
			top: 0;
			z-index: 999999;
		}
		.detail_middle{
			width: 100%;
			height: 16rpx;
			background: #f3f4f6;
		}

		.detail_top {
			background: #ffffff;
			box-sizing: border-box;
			// padding-bottom: 24rpx;
			// margin-bottom: 16rpx;
			.userInfo {
				box-sizing: border-box;
				padding: 26rpx 32rpx 32rpx 26rpx;
				.flex(row, nowrap, space-between, center);

				.info_left {
					.flex(row, nowrap, flex-start, center);

					.photo_wrap {
						width: 80rpx;
						height: 80rpx;
						border-radius: 50%;
						border: 1rpx solid #1ce5a8;
						.flex(row, nowrap, center, center);

						.photo_inner {
							width: 74rpx;
							height: 74rpx;
							border-radius: 50rpx;
							overflow: hidden;

							image {
								width: 74rpx;
								height: 74rpx;
								display: block;
							}
						}
					}

					.user_name {
						font-size: 30rpx;
						line-height: 28rpx;
						color: #f57623;
						font-weight: 500;
						margin-left: 24rpx;
						margin-right: 10rpx;
					}

					.topic_user_icon {
						width: 32rpx;
						height: 32rpx;
						display: block;
					}
				}

				.info_right {
					width: 46rpx;
					height: 48rpx;

					button {
						font-size: 24rpx;
						color: #707070;
						font-weight: 500;
						padding-left: 0;
						padding-right: 0;
						padding: 0;
						line-height: 36rpx;
						background: white;
					}

					button::after {
						border: none;
					}

					.topic_share {
						width: 46rpx;
						height: 48rpx;
						display: block;
					}
				}
			}

			.topic {
				box-sizing: border-box;
				padding: 0rpx 32rpx;
				margin-bottom: 10rpx;
				color: #000000;
				font-weight: bold;

				.topic_tag {
					padding-left: 10rpx;
					color: #3754a6;
					padding-right: 10rpx;
				}
			}

			#second_title {
				position: fixed;
				left: 0rpx;
				top: -100000000rpx;
			}

			.second_title_over {
				font-size: 30rpx;
				line-height: 42rpx;
				font-weight: 400;
				color: #525e74;
				word-break: break-all;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 3;
				overflow: hidden;
				padding: 0rpx 32rpx 0rpx 32rpx;
				box-sizing: border-box;
				// margin-bottom: 10rpx;
			}

			.second_title_normal {
				font-size: 28rpx;
				line-height: 1.5;
				letter-spacing: 0.5rpx;
				font-weight: 400;
				color: #212121;
				padding: 0rpx 32rpx 0rpx 32rpx;
				box-sizing: border-box;
				margin-bottom: 10rpx;
			}

			.show_box {
				box-sizing: border-box;
				padding: 0rpx 32rpx 15rpx 32rpx;
				.flex(row, nowrap, flex-end, center);

				.arrow_up {
					width: 16rpx;
					height: 16rpx;
					transform: rotate(-45deg);
					border-top: 2rpx solid #f57623;
					border-right: 2rpx solid #f57623;
					margin-right: 10rpx;
					margin-top: 10rpx;
				}

				.arrow_down {
					width: 16rpx;
					height: 16rpx;
					transform: rotate(135deg);
					border-top: 2rpx solid #f57623;
					border-right: 2rpx solid #f57623;
					margin-right: 10rpx;
					margin-top: -10rpx;
				}

				.show_text {
					font-size: 28rpx;
					color: #f57623;
				}
			}

			.data_box {
				box-sizing: border-box;
				padding: 0rpx 32rpx 0rpx 18rpx;

				.data_title {
					font-size: 30rpx;
					line-height: 42rpx;
					color: #0d0e15;
					font-weight: 500;
					padding-left: 16rpx;
				}

				.item_box {
					margin-bottom: 18rpx;
					.flex(row, wrap, flex-start, center);

					.single_box {
						box-sizing: border-box;
						margin-left: 16rpx;
						height: 64rpx;
						background: #ffffff;
						border-radius: 8rpx;
						border: 2rpx solid #e2e5e9;
						line-height: 62rpx;
						padding: 0rpx 24rpx;
						font-size: 28rpx;
						color: #3754a6;
						font-weight: 400;
						margin-top: 24rpx;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
				}

				.data_time {
					font-size: 24rpx;
					line-height: 40rpx;
					color: #575757;
					font-weight: 400;
					text-align: right;
					// margin-bottom: 24rpx;
				}

				.tag_box {
					.flex(row, wrap, space-between, center);
					// margin-top: 22rpx;
					box-sizing: border-box;
					display: flex;
					flex-direction: column;
					align-items: start;
					padding-left: 16rpx;

					.tag_list {
						font-size: 30rpx;
						color: #1B2E62;
						font-weight: 400;

						text {
							padding-right: 10rpx;
							color: #1B2E62;
						}
					}

					.topic_time {
						text-align: right;
						font-size: 24rpx;
						font-weight: 400;
						color: #575757;
						display: block;
						align-items: end;
						flex-direction: row;
						width: 100%;
					}
				}
			}
		}

		.detail_bottom {
			background: #ffffff;
			box-sizing: border-box;

			.tab_box {
				height: 86rpx;
				box-sizing: border-box;
				border-bottom: 2rpx solid #f3f4f6;
				// margin-bottom: 54rpx;
				.flex(row, nowrap, flex-satrt, center);
				padding: 0rpx 32rpx;

				// padding: 24rpx 32rpx 20rpx 32rpx;
				.tab_single {
					margin-right: 52rpx;
					position: relative;
					height: 100%;

					.tab_active {
						font-size: 32rpx;
						line-height: 42rpx;
						color: #0d0e15;
						font-weight: 500;
						line-height: 85rpx;
					}

					.tab_normal {
						font-size: 30rpx;
						color: #768196;
						font-weight: 400;
						line-height: 85rpx;
					}

					.active_line {
						width: 52rpx;
						height: 6rpx;
						background: linear-gradient(270deg, #41afc3 0%, #1ce5a8 100%);
						border-radius: 3rpx;
						position: absolute;
						bottom: 1rpx;
						left: 4rpx;
					}
				}
			}

			.list_box {
				box-sizing: border-box;

				// padding-bottom: 80rpx;
				// padding-bottom: 10rpx;
				// height: 100%;
				.tips_box {
					box-sizing: border-box;
					padding: 0rpx 48rpx;
					// padding: 80rpx 32rpx 0 32rpx;
					font-size: 32rpx;
					color: #f57623;
					line-height: 40rpx;
					.flex(column, wrap, center, center);
					min-height: 500rpx;

					.lock {
						width: 150rpx;
						height: 150rpx;
						display: block;
						// margin-bottom: 10rpx;
					}

					.lock_text {
						font-size: 42rpx;
						font-weight: bold;
						box-sizing: border-box;
						padding-top: 10rpx;
						padding-bottom: 25rpx;
						color: #8a8a8a;
						text-align: center;
					}
				}

				.list_single {
					box-sizing: border-box;
					padding-left: 32rpx;
					margin-top: 54rpx;
					position: relative;
					.flex(row, nowrap, space-between, flex-start);
					.label_img {
						position: absolute;
						width: 130rpx;
						height: 130rpx;
						top: -30rpx;
						right: 30rpx;
					}
					.single_left {
						width: 60rpx;
						height: 60rpx;
						border-radius: 30rpx;
						overflow: hidden !important;

						image {
							width: 60rpx;
							height: 60rpx;
							display: block;
							border-radius: 30rpx;
						}
					}

					.single_right {
						width: calc(100% - 80rpx);
						border-bottom: 2rpx solid #f3f4f6;
						box-sizing: border-box;
						padding-right: 32rpx;
						padding-bottom: 12rpx;
						z-index: 10;

						.name_box {
							padding-bottom: 22rpx;
							width: 100%;
							.flex(row, nowrap, flex-start, center);

							.name_text {
								font-size: 26rpx;
								line-height: 26rpx;
								color: #f57623;
								font-weight: 400;
							}

							.topic_user_icon {
								width: 32rpx;
								height: 32rpx;
								display: block;
								margin-left: 10rpx;
							}
						}

						.title_box {
							font-size: 28rpx;
							line-height: 1.6;
							font-weight: 400;
							color: #0d0e15;
							padding-bottom: 10rpx;
							letter-space: 0.5rpx;
						}

						.content_box {
							background: #f4f5f8;
							padding: 8rpx 16rpx;
							box-sizing: border-box;
							border-radius: 10rpx;
							margin-bottom: 16rpx;

							.single_content {
								font-size: 26rpx;
								line-height: 40rpx;
								color: #0d0e15;
								font-weight: bold;

								.content_name {
									color: #3754a6;
									padding-right: 16rpx;
								}

								.comment_content {
									font-weight: normal;
								}
							}

							.total_comment {
								font-size: 26rpx;
								line-height: 40rpx;
								color: #3754a6;
								font-weight: 400;
							}
						}

						.status_box {
							box-sizing: border-box;
							.flex(row, nowrap, space-between, center);

							.status_time {
								font-size: 24rpx;
								line-height: 24rpx;
								font-weight: 400;
								color: #768196;
							}

							.status_right {
								.flex(row, nowrap, flex-end, center);

								.right_single {
									// .flex(row, nowrap, flex-start, flex-start);
									.flex(row, nowrap, flex-start, center);
									padding-left: 40rpx;

									.topic_like {
										width: 30rpx;
										height: 30rpx;
										display: block;
										padding: 10rpx;
									}

									.right_text {
										font-size: 24rpx;
										line-height: 24rpx;
										font-weight: 500;
										color: #0d0e15;
										margin-left: 12rpx;
									}
								}
							}
						}
					}
				}
			}
		}
	}
</style>
