<template>
	<view class="client_add_container" :style="{'padding-top': navHeight + 'px'}">
		<nav-bar :navInfo="navInfo" class="nav_header"></nav-bar>
		<view class="client_add_content">
			<view class="title top_index">
				<view class="row">
					<image src="../../../static/book_icon.png" class="icon" />
					<view class="name">印象标签</view>
				</view>
			</view>
			<view class="tags_container" id="tags" v-if="tagList && tagList.length > 0">
				<view class="tag" v-for="(item,index) in tagList" :key="index">
					<view class="txt">{{item}}</view>
					<image src="../../../static/delete_icon.png" @click="handleDeleteTagDetail(index,item)" />
				</view>
			</view>
			<view class="search_container top_index">
				<van-search :value="searchValue" shape="round" placeholder="输入你对客户的第一印象···" left-icon="" use-action-slot @change="handleInput($event.detail)"
				 @search="handleConfirmTag">
					<view slot="action" @click="handleConfirmTag">添加</view>
				</van-search>
			</view>
			<view class="popup_tags_container">
				<van-popup :show="popupTagsVisible" position="top" bind:close="onClose">
					<view class="popup-content" :style="{
				  'padding-top':navHeightRpx + 178 + tagsHeight + 'rpx'}">
						<view class="tags_cell_container">
							<van-cell :title="item" v-for="(item,index) in tagSearchList" :key="index" @click="hanldeSelectTag(item)"></van-cell>
						</view>
					</view>
				</van-popup>
			</view>
			<view class="all_tags_container">
				<!-- <van-cell title="所有标签" :border="false" :value="openAllVisible?'展开':'收起'"></van-cell> -->
				<van-collapse :value="activeNames" :border="false" @change="onChangeCollapse">
				  <van-collapse-item title="所有标签" name="1" :border="false" :is-link="false" :value="activeNames[0] ? '收起':'展开'">
				    <view class="tags_container">
				    	<view :class="['tag',item.active?'active':'']" v-for="(item,index) in tagAllList" :key="index">
				    		<view class="txt" @click="hanldeSelectTagHistory(item,index)">{{item.name}}</view>
				    	</view>
				    </view>
				  </van-collapse-item>
				</van-collapse>
			</view>
			<view class="title">
				<view class="row">
					<image src="../../../static/base_icon.png" class="icon" />
					<view class="name">基本信息</view>
				</view>
			</view>
			<view class="cell_container">
				<view class="cell_row">
					<van-field label="姓名" :value="query.name" placeholder="请填写" :border="false" class="cell-left" @change="handleInputQuery($event.detail,'name')" />
					<view class="line"></view>
					<van-cell title="性别" :border="false">
						<van-radio-group :value="query.gender" @change="onChange">
							<van-radio name="男" checked-color="#4A99FF" class="margin-right blue">男</van-radio>
							<van-radio name="女" checked-color="#FF4A78" class="red">女</van-radio>
						</van-radio-group>
					</van-cell>
				</view>
				<view class="cell_row">
					<van-field label="手机" :value="query.telephone" placeholder="请填写" :border="false" class="cell-left" @change="handleInputQuery($event.detail,'telephone')" />
					<van-field label="微信" :value="query.weixin" placeholder="请填写" :border="false" @change="handleInputQuery($event.detail,'weixin')" />
				</view>
				<van-cell title="来源" is-link :value="query.source?query.source:'请选择'" :border="false" @click="handleToFrom" />
				<van-cell title="兴趣" :border="false">
					<van-field :value="query.interest" placeholder="请填写" :border="false" input-align="right" class="input_right"
					 @change="handleInputQuery($event.detail,'interest')" />
				</van-cell>
				<van-cell title="住址" :border="false">
					<van-field :value="query.address" placeholder="请填写" :border="false" input-align="right" class="input_right"
					 @change="handleInputQuery($event.detail,'address')" />
				</van-cell>
			</view>
			<view class="title">
				<view class="row">
					<image src="../../../static/edit_icon.png" class="icon1" />
					<view class="name">自定义</view>
				</view>
				<view class="row" @click="handleNewCustom">
					<image src="../../../static/add_icon.png" class="icon1" />
					<view class="name">新增</view>
				</view>
			</view>
			<view class="cell_container">
				<van-cell :title="item.fieldName" :border="false" v-for="(item,index) in customizeJson" :key="index">
					<van-field :value="item.fieldValue" placeholder="请填写" :border="false" input-align="right" class="input_right"
					 @change="handleInputCustom($event.detail,item)" :key="index" />
				</van-cell>
			</view>
		</view>
		<bottombtn btnName="保存" @confirm="handleConfirm"></bottombtn>
	</view>
</template>

<script>
	import bottombtn from '@/components/bottombtn'
	import modual from '@/components/modual.vue'
	import app from '../../../App.vue'
	export default {
		components: {
			bottombtn,
			modual
		},
		data() {
			return {
				navInfo: {
					bg_color: "",
					color: "#FFFFFF",
					flag: 2,
					name: "新建客户",
					backType: 1
				},
				isIpx: app.globalData.isIpx,
				navHeight: app.globalData.navHeight,
				navHeightRpx: 0,
				searchValue: '',
				sexRadio: 1,
				tagList: [],
				tagAllList: [],
				query: {
					address: '',
					countryCode: '',
					customizeJson: '',
					gender: '',
					id: null,
					interest: '',
					name: '',
					opportunityId: null,
					referralCustomerId: null,
					remark: '',
					source: '',
					tags: [],
					telephone: '',
					weixin: ''
				},
				tagSearchList: [],
				customList: [],
				customizeJson: {},
				id: null,
				isEdit: false,
				dataLoading: false,
				popupTagsVisible: false,
				isReferral: false,
				openAllVisible: false,
				activeNames: [],
				tagsHeight: 0,
				rpxSize: 1,
				currentTag: ''
			}
		},
		computed: {
			inputShow() {
				return !this.popupTagsVisible
			}
		},
		watch: {
			tagList(newVal) {
				if(newVal.length==0) {
					this.tagsHeight = 0
					return
				}
				this.$nextTick(()=>{
					const query = wx.createSelectorQuery()
					query.select('#tags').boundingClientRect()
					query.selectViewport().scrollOffset()
					query.exec((res) => {
						this.tagsHeight = res[0].height * this.rpxSize
						console.log(res[0].height,this.tagsHeight)
					})
				})
			}
		},
		onLoad(options) {
			if (options.id) {
				this.id = options.id
				this.isEdit = true
				this.navInfo.name = '编辑客户'
			}
			if (options.id) {
				this.getDetail()
			}else {
				this.getAllTags()
			}
			this.query.opportunityId = options.opportunityId ? options.opportunityId : null
			this.query.referralCustomerId = options.referralCustomerId ? options.referralCustomerId : null
			this.getHeaderInfo()
		},
		onShow() {
			if(app.globalData.currentFrom)
			console.log(app.globalData.currentFrom)
				this.query.source = app.globalData.currentFrom
			// if(!this.id)
			if(!this.id||app.globalData.isUpdateCustomer == true) {
				this.getDefaultTem()
				app.globalData.isUpdateCustomer = false
			}
			if(this.query.referralCustomerId) {
				this.isReferral = true
				this.query.source = '转介绍'
			}
		},
		onUnload() {
			app.globalData.currentFrom = null
		},
		methods: {
			getAllTags() {
				let params = {
					keyword: ''
				}	
				this.$http("/mp/customer/tag/list", "get", params)
					.then(res => {
						let list = []
						res.data.forEach(per=>{
							list.push({
								name: per.name,
								active: false
							})
						})
						this.tagAllList = list
					})
					.finally(() => {
					})
			},
			onChangeCollapse(e) {
				this.activeNames = e.detail
			},
			getHeaderInfo() {
				let self = this;
				uni.getSystemInfo({
					success: function(res) {
						if (res.model.indexOf('iPhone') !== -1) {
							self.titleBarHeight = 88;
						} else {
							self.titleBarHeight = 96;
						}
						self.statusBarHeight = 118
						self.navHeightRpx = app.globalData.navHeight * (750 / res.windowWidth)
						self.rpxSize = 750 / res.windowWidth
					},
				})
			},
			onSearch() {

			},
			onCancel() {

			},
			onChange(event) {
				this.query.gender = event.detail
			},
			handleNewCustom() {
				uni.navigateTo({
					url: '../custom/custom?isSelect=true' + (this.customizeJson && this.customizeJson.length>0?'&customizeJson=' + encodeURIComponent(JSON.stringify(this.customizeJson)) : '')
				})
			},
			handleInput(value) {
				this.popupTagsVisible = true
				this.searchValue = value
				let params = {
					keyword: value
				}
				this.$http("/mp/customer/tag/list", "get", params)
					.then(res => {
						let list = []
						res.data.forEach(per=>{
							list.push(per.name)
						})
						this.tagSearchList = list
					})
					.finally(() => {
					})
			},
			handleInputCustom(val, item) {
				item.fieldValue = val
			},
			handleSelect() {

			},
			handleToFrom() {
				if(this.isReferral)
					return
				uni.navigateTo({
					url: '../from/from?isSelect=true'
				})
			},
			handleInputQuery(value, name) {
				this.query[name] = value
			},
			hanldeSelectTag(item) {
				this.searchValue = ''
				this.popupTagsVisible = false
				if(this.tagList.indexOf(item)==-1) {
					this.tagList.push(item)
					this.tagAllList.forEach((per,index)=>{
						if(per.name==item) {
							per.active = true
						}
					})
				}
			},
			hanldeSelectTagHistory(item,index) {
				if(this.tagList.indexOf(item.name)==-1){
					this.tagList.push(item.name)
					item.active = true
				}
			},
			handleConfirmTag() {
				if(this.searchValue.length==0) {
					uni.showToast({
						icon: 'none',
						title: '请填写标签内容',
						duration: 2500
					})
					return
				}
				if(this.tagList.indexOf(this.searchValue)>-1) {
					this.searchValue = ''
					this.popupTagsVisible = false
					return
				}
				if(!this.tagSearchList||this.tagSearchList.length==0) {
					let params = {
						name: this.searchValue
					}
					uni.showLoading()
					this.$http("/mp/customer/tag/one", "post", params)
						.then(res => {
						})
						.finally(() => {
							uni.hideLoading()
							this.tagList.push(this.searchValue)
							this.tagAllList.push({
								name: this.searchValue,
								active: true
							})
							this.searchValue = ''
							this.popupTagsVisible = false
						})
				}else {
					console.log(this.tagSearchList.indexOf(this.searchValue))
					if(this.tagSearchList.indexOf(this.searchValue)>-1) {
						this.tagList.push(this.searchValue)
						this.tagAllList.forEach(per=>{
							if(per.name==this.searchValue)
								per.active = true
						})
						this.searchValue = ''
						this.popupTagsVisible = false
					}else {
						let params = {
							name: this.searchValue
						}
						uni.showLoading()
						this.$http("/mp/customer/tag/one", "post", params)
							.then(res => {
							})
							.finally(() => {
								uni.hideLoading()
								this.tagList.push(this.searchValue)
								this.tagAllList.push({
									name: this.searchValue,
									active: true
								})
								this.searchValue = ''
								this.popupTagsVisible = false
							})
					}
				}
			},
			handleConfirm() {
				let params = JSON.parse(JSON.stringify(this.query))
				if (params.name.length == 0){
					uni.showToast({
						icon: 'none',
						title: '请输入客户姓名',
						duration: 2500
					})
					return
				}
				// if(!this.checkPhone(params.telephone)){
				// 	uni.showToast({
				// 		icon: 'none',
				// 		title: '手机号码有误',
				// 		duration: 2500
				// 	})
				// 	return
				// }
				
				if (params.gender.length == 0) {
					uni.showToast({
						icon: 'none',
						title: '请选择客户性别',
						duration: 2500
					})
					return
				}
				if (!params.source) {
					uni.showToast({
						icon: 'none',
						title: '请选择客户来源',
						duration: 2500
					})
					return
				}
				params.tags = []
				if (this.isEdit) {
					this.tagList.forEach((per) => {
						params.tags.push(per)
					})
				} else {
					this.tagList.forEach((per) => {
						params.tags.push(per)
					})
				}
				params.tags = params.tags.join(',')
				if (this.customizeJson.length > 0)
					params.customizeJson = JSON.stringify(this.customizeJson)
				if (!params.opportunityId)
					delete params.opportunityId
				uni.showLoading()
				this.$http("/mp/customer/one", "post", params)
					.then(res => {
						app.globalData.newCustomer = true
						uni.navigateBack()
						// uni.redirectTo({
						// 	url: '../detail/detail?id='+res.data.id
						// })
					})
					.finally(() => {
						uni.hideLoading()
					})
			},
			getTagList(refresh) {
				let params = {
					keyword: ''
				}
				if (refresh) {
					uni.showLoading()
				}
				this.$http("/mp/customer/tag/list", "get", params)
					.then(res => {
						this.tagList = res.data
					})
					.finally(() => {
						uni.hideLoading()
					})
			},
			handleDeleteTagDetail(index,item) {
				this.tagList.splice(index, 1)
				let flag = true
				this.tagAllList.forEach((per)=>{
					if(per.name==item) {
						per.active = false
					}
				})
			},
			handleDeleteTag(item) {
				
			},
			getDefaultTem() {
				let params = {}
				this.customList = []
				this.$http("/mp/customer/template/default", "get", params)
					.then(res => {
						if(Object.keys(this.customizeJson).length>0 && res.data.fields && res.data.fields.length>0) {
							res.data.fields.forEach(per=>{
								this.customizeJson.forEach(per1=>{
									if(per.id == per1.id) {
										per.fieldValue = per1.fieldValue
									}
								})
							})
						}
						this.customizeJson = res.data.fields
						// res.data.fields.forEach(per=>{
						// 	this.customList.push(per.fieldName)
						// })
					})
					.finally(() => {})
			},
			getDetail() {
				let params = {
					id: this.id
				}
				this.dataLoading = true
				this.$http("/mp/customer/one", "get", params)
					.then(res => {
						let params = {
							address: res.data.address,
							countryCode: res.data.countryCode,
							gender: res.data.gender,
							id: res.data.id,
							interest: res.data.interest,
							name: res.data.name,
							opportunityId: res.data.opportunityId,
							referralCustomerId: res.data.referralCustomerId,
							remark: res.data.remark,
							source: res.data.source,
							tags: res.data.tags?res.data.tags.split(','):[],
							telephone: res.data.telephone,
							weixin: res.data.weixin
						}
						if(res.data.source) {
							app.globalData.currentFrom = res.data.source
						}
						this.customizeJson = JSON.parse(res.data.customizeFieldJson)
						this.tagList = res.data.tags?res.data.tags.split(','):[]
						this.query = params
						let params1 = {
							keyword: ''
						}	
						this.$http("/mp/customer/tag/list", "get", params1)
							.then(res => {
								let list = []
								res.data.forEach(per=>{
									let flag = true
									this.tagList.forEach((per1)=>{
										if(per.name == per1) {
											flag = false
											list.push({
												name: per.name,
												active: true
											})
										}
									})
									if(flag) {
										list.push({
											name: per.name,
											active: false
										})
									}
								})
								this.tagAllList = list
							})
							.finally(() => {
							})
					})
					.finally(() => {
						this.dataLoading = false
					})
			},
			checkPhone(phone) {
				let reg = /^1[3-9]\d{9}$/
				if(reg.test(phone)) {
					return true
				}
				return false
			}
		},
	}
</script>

<style lang="less">
	.flex(@A, @B, @C, @D) {
		display: flex;
		flex-direction: @A;
		flex-wrap: @B;
		justify-content: @C;
		align-items: @D;
	}

	.client_add_container {
		padding-bottom: 132rpx;

		.nav_header {
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			z-index: 99999;
		}

		.client_add_content {
			.title {
				padding: 20rpx 30rpx 10rpx;
				background: #fff;
				.flex(row, wrap, space-between, center);

				.row {
					.flex(row, wrap, flex-start, center);
				}

				.icon {
					width: 22rpx;
					height: 28rpx;
					margin-right: 10rpx;
				}

				.icon1 {
					width: 28rpx;
					height: 28rpx;
					margin-right: 10rpx;
				}

				.name {
					font-size: 28rpx;
					font-weight: 500;
					color: #00C98D;
				}
			}

			.search_container {
				.van-search__action {
					color: #00C98D;
				}
			}

			.tags_container {
				position: relative;
				z-index: 1000;
				.flex(row, wrap, flex-start, center);
				padding: 20rpx 30rpx 0;
				background: #fff;

				.tag {
					position: relative;
					padding: 2rpx 20rpx;
					margin-right: 20rpx;
					margin-bottom: 20rpx;
					background: #EFFCFF;
					border-radius: 30rpx;
					border: 1px solid #6AE5FF;
					font-size: 24rpx;
					font-weight: 500;
					color: #4AD4FF;

					image {
						position: absolute;
						top: -18rpx;
						right: -18rpx;
						width: 20rpx;
						height: 20rpx;
						padding: 10rpx;
					}
				}
			}
			
			.all_tags_container {
				.tags_container {
					z-index: 1;
					.tag {
						background: #EFFCFF;
						border: 1px solid #ececec;
						color: #6c6c6c;
					}
					.active {
						background: #EFFCFF;
						border: 1px solid #6AE5FF;
						color: #4AD4FF;
					}
				}
				.van-cell__value {
					color: #00C98D;
				}
			}

			.cell_container {
				.van-cell__value {
					flex: 2!important;
				}
				.van-cell {
					.flex(row, wrap, flex-start, center);
					padding: 24rpx 30rpx;
					border-bottom: 1rpx solid #F5F5F5;
				}

				.cell_row {
					.flex(row, wrap, flex-start, center);

					.cell-left {
						flex: 1;

						.van-field__label {
							flex: none;
							width: 100rpx;
						}
					}

					.van-radio__icon {
						font-size: 28rpx !important;
					}

					.van-radio__label {
						font-size: 28rpx;
						color: #B4B4B4;
					}

					.line {
						width: 1rpx;

					}

					.van-cell {
						border-right: 1rpx solid #F5F5F5;

						.van-cell__title {
							min-width: 100rpx !important;
							flex: none;
						}
					}

					van-cell {
						flex: 1;
					}

					van-radio-group {
						.flex(row, wrap, flex-start, center);

						.van-radio__label {
							margin-left: 12rpx;
						}
					}

					van-field {
						flex: 1;
					}

					.margin-right {
						margin-right: 24rpx;
					}

					.blue {
						.van-radio__icon {
							border-color: #4A99FF;
						}
					}

					.red {
						.van-radio__icon {
							border-color: #FF4A78;
						}
					}
				}
			}
		}

		.input_right .van-cell {
			padding: 0 !important;
			border: none !important;
		}
	}

	.top_index {
		position: relative;
		z-index: 1000;
	}

	.tags_cell_container {
		min-height: 400rpx;
		max-height: 600rpx;
		overflow-y: auto;
	}
	
	.van-field__label {
		color: #323233!important;
	}
	
	.van-collapse-item__content {
		padding: 0!important;
	}
</style>
