<template>
	<view>
		<web-view :src="sourceUrl"></web-view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				sourceUrl:""
			}
		},
		onLoad(option) {
			let pages = getCurrentPages ()
			if (pages.length >= 2) {
				let prevPage = pages[pages.length - 2]
				this.sourceUrl = prevPage.$vm.link
			}
			if (option.url) {
				this.sourceUrl = option.url
			}
		},
		methods: {
			
			
		}
	}
</script>

<style>

</style>
