<template>
	<view class="share_index">
		<navbar :navInfo="navInfo" class="share_header"></navbar>
		<!-- <view class="share_content" :style="{'margin-top': navHeight + 'px'}"> -->
		<view class="share_content" :style="{ 'margin-top': 'calc(' + navHeight + 'px - ' + 1 + 'px)' }">
			<view class="share_banner">
				<view class="title_box">
					<view class="radius"></view>
					<view class="title_text">{{ caseInfo.name || '' }}</view>
				</view>
				<view class="textarea_box">{{ caseInfo.requirement || '' }}</view>
				<view class="share_info">
					<view class="info_single">分享人：{{ caseInfo.signed || '' }}</view>
					<view class="info_single center">{{ caseInfo.industry || '' }}</view>
					<view class="info_single right">{{ caseInfo.type || '' }}</view>
				</view>
			</view>
			<view class="case_box">
				<view class="case_single" v-for="(item, index) in caseInfo.fieldList" :key="index">
					<view class="case_header">
						<view class="single_left">
							<image src="../../../static/share_book.png" mode="" class="share_book"></image>
							<view class="share_title">{{ item.fieldName || '' }}</view>
						</view>
						<view class="single_right">NO.{{ index + 1 }}</view>
					</view>
					<view class="case_content">
						<!-- {{ item.fieldValue || '' }} -->
						<text>{{ item.fieldValue || '' }}</text>
						<!-- <textarea v-model="item.fieldValue" :auto-height="true" class="textarea"  placeholder="" placeholder-class="placeholder" :disabled="true" /> -->
					</view>
				</view>
			</view>
		</view>
		<view class="global_btn_box" v-if="showEdit">
			<view class="global_share_btn" @click="bindEdit">
				<image src="../../../static/btn_back.png" mode="" class="global_btn_back"></image>
				<view class="global_btn_text">编辑</view>
			</view>
		</view>
		<view class="pic_box" v-if="!showEdit">
			<view class="pic_item" v-if="statusInfo" @click="changeStatus('collect', statusInfo.collect ? false : true)">
				<image src="../../../static/collect.png" v-if="!statusInfo.collect" class="op_btn"></image>
				<image src="../../../static/collect_active.png" v-if="statusInfo.collect" class="op_btn"></image>
				<view class="icon_text">收藏</view>
			</view>
			<view class="pic_item marB2" v-if="statusInfo" @click="changeStatus('like', statusInfo.like ? false : true)">
				<image style="width:35rpx;height: 35rpx;" src="../../../static/topic_detail_like.png" v-if="!statusInfo.like"></image>
				<image style="width:35rpx;height: 35rpx;" src="../../../static/topic_like.png" v-if="statusInfo.like"></image>
				<view class="icon_text">点赞</view>
			</view>
			<view class="pic_item" v-if="statusInfo&& userId!=caseInfo.signedId">
				<button open-type="share">
					<image style="width:46rpx;height: 46rpx;" src="../../../static/share_icon.png"></image>
					<!-- <image style="width:35rpx;height: 35rpx;" src="../../../static/topic_like.png" v-if="statusInfo.like"></image> -->
					<!-- <image style="width:35rpx;height: 35rpx;" src="../../../static/topic_detail_like.png" v-if="!statusInfo.like"></image> -->
					分享
				</button>
				<!-- <image style="width:46rpx;height: 46rpx;" src="../../../static/share_icon.png"></image> -->
				<!-- <image style="width:35rpx;height: 35rpx;" src="../../../static/topic_detail_like.png" v-if="!statusInfo.like"></image> -->
				<!-- <image style="width:35rpx;height: 35rpx;" src="../../../static/topic_like.png" v-if="statusInfo.like"></image> -->
				<!-- <view class="icon_text">分享</view> -->
			</view>
			<view class="pic_item" v-if="statusInfo&& userId==caseInfo.signedId" @click="bindedit">
				<image style="width:46rpx;height: 46rpx;" src="../../../static/comment.png"></image>
				<!-- <image style="width:35rpx;height: 35rpx;" src="../../../static/topic_detail_like.png" v-if="!statusInfo.like"></image> -->
				<!-- <image style="width:35rpx;height: 35rpx;" src="../../../static/topic_like.png" v-if="statusInfo.like"></image> -->
				<view class="icon_text">编辑</view>
			</view>
			<view class="pic_item" @click="bindFeelling">
				<image src="../../../static/comment.png"></image>
				<view class="icon_text">感悟</view>
			</view>
		</view>
		<!-- <view class="feelling_btn" @click="bindFeelling">
			<image src="../../../static/pen_icon.png" mode="" class="pen_icon"></image>
		</view> -->
	</view>
</template>

<script>
	import navbar from '../../../components/navbar.vue';
	import app from '../../../App.vue';
	export default {
		components: {
			navbar
		},
		data() {
			return {
				navInfo: {
					bg_color: '',
					color: '#5F370F',
					flag: 2,
					name: '案例分享详情',
					backType: 2
				},
				isIpx: app.globalData.isIpx,
				navHeight: app.globalData.navHeight,
				caseInfo: {},
				showModal: false,
				userInfo: {},
				opportunity: {},
				dealElementList: [],
				originText: '',
				newText: '',
				shareId: '',
				signedId: '',
				showEdit: false,
				caseId: '',
				statusInfo: null,
				userId: uni.getStorageSync("userId")
			};
		},
		onLoad(options) {
			this.shareId = options.shareId ? options.shareId : '';
			this.signedId = options.signedId ? options.signedId : '';
			this.caseId = options.caseId ? options.caseId : '';
			this.showEdit = this.userId == this.signedId?true:false
		},
		onShareAppMessage() {
			var title = "案例分享详情";
			if (this.caseInfo.name) {
				title = `分享案例：${this.caseInfo.name}`;
			}
			return {
				title: title,
				path: `/pages/pagesGrow/shareInfo/shareInfo?shareId=${this.shareId}&signedId=${this.caseInfo.signedId}&caseId=${this.caseId}`
			};
		},
		onShow() {
			this.getCaseDetail();
			this.getUserInfo();
			this.getStatus();
		},
		methods: {
			bindedit() {
				uni.navigateTo({
					url: `/pages/pagesGrow/newCase/newCase?id=${this.caseInfo.caseId}`
				})
			},
			// 点赞/收藏
			changeStatus(type, value) {
				let url = '/mp/user/interest/one';
				let text = type == 'like' ? '点赞成功' : '收藏成功';
				if (!value) {
					text = type == 'like' ? '取消点赞成功' : '取消收藏成功';
				}
				let params = {
					interestId: this.shareId,
					interestType: 1,
					value: value,
					op: type,
				};
				this.$http(url, 'POST', params).then(res => {
					this.statusInfo[type] = value;
						uni.showToast({
							title: text,
							icon: 'none',
							duration: 2000,
							success: () => {
							}
						});
					
				});
			},
			// 获取点赞/收藏状态
			getStatus(callback) {
				let params = {
					interestId: this.shareId,
					interestType: 1,
					op: 'collect,like'
				};
				this.$http('/mp/user/interest/aggregation', 'GET', params).then(res => {
					this.statusInfo = res.data;
					
				});
			},
			// 跳转新建感悟
			bindFeelling() {
				uni.navigateTo({
					url: `/pages/pagesGrow/newFeeling/newFeeling?details=&type=case&shareId=${this.shareId}`
				});
			},
			bindEdit() {
				uni.navigateTo({
					url: `/pages/pagesGrow/share/share?id=${this.caseId}`
				});
			},
			// 获取用户信息
			getUserInfo() {
				this.showEdit = this.userId == this.signedId;
			},
			getCaseDetail() {
				this.$http('/mp/user/case/shared/detail', 'GET', {
					id: this.shareId
				}).then(res => {
					this.caseInfo = res.data;
					this.caseId = res.data.caseId
					this.signedId = res.data.signedId
				});
			}
		}
	};
</script>

<style lang="less" scoped>
	.flex(@A, @B, @C, @D) {
		display: flex;
		flex-direction: @A;
		flex-wrap: @B;
		justify-content: @C;
		align-items: @D;
	}

	.marB2 {
		margin-bottom: 2rpx;
	}

	.share_index {
		background: #e8e5e0;
		min-height: 100vh;

		button {
			font-size: 24rpx;
			color: #707070;
			font-weight: 500;
			padding-left: 0;
			padding-right: 0;
			padding: 0;
			line-height: 36rpx;
			background: white;
		}

		button::after {
			border: none;
		}

		// font-family: my-font;
		// padding-bottom: 200rpx;
		.pic_box {
			position: fixed;
			right: 0rpx;
			bottom: 0rpx;
			left: 0rpx;
			padding: 5rpx 0 10rpx;
			// .flex(row,wrap,flex-end,center);
			display: flex;
			flex-direction: row;
			background-color: white;
			align-items: flex-end;
			justify-content: space-around;
			z-index: 999999;

			image {
				width: 40rpx;
				height: 40rpx;
				display: block;
				margin-bottom: 5rpx;
			}

			.pic_item {
				padding: 0 40rpx;
				.flex(column, nowrap, center, center);
			}
		}

		.feelling_btn {
			position: fixed;
			z-index: 9999;
			right: 0;
			bottom: 150rpx;
			width: 80rpx;
			height: 80rpx;
			background: #46e8db;
			border-radius: 40rpx;
			overflow: hidden;

			.pen_icon {
				width: 100%;
				height: 100%;
				display: block;
			}
		}

		.pop_box {
			position: fixed;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background: rgba(51, 51, 51, 0.5);
			.flex(row, nowrap, center, center);

			.pop_inner {
				width: 690rpx;
				min-height: 416rpx;
				background: #e8e5e0;
				border-radius: 16rpx;
				position: relative;

				// position: absolute;
				// left: 50%;
				// top: 50%;
				// margin-top: -208rpx;
				// margin-left: -345rpx;
				.close_icon {
					position: absolute;
					width: 32rpx;
					height: 32rpx;
					display: block;
					top: 20rpx;
					right: 20rpx;
				}

				.pop_content {
					box-sizing: border-box;
					height: 100%;

					.pop_title {
						padding: 52rpx 50rpx 0rpx 50rpx;
						font-size: 32rpx;
						line-height: 44rpx;
						color: #333333;
						text-align: center;
						margin-bottom: 10rpx;
					}

					.pop_tips {
						font-size: 22rpx;
						line-height: 32rpx;
						color: #999999;
						text-align: center;
						margin-bottom: 46rpx;
					}

					.input_box {
						box-sizing: border-box;
						padding: 0 40rpx;
						margin-bottom: 20rpx;
						.flex(row, nowrap, space-between, center);

						.input_text {
							font-size: 30rpx;
							line-height: 42rpx;
							color: #333333;
							margin-right: 18rpx;
						}

						.input_area {
							width: 184rpx;
							height: 50rpx;
							margin-right: 18rpx;
							border: 2px solid #d9b27e;
							border-radius: 8rpx;
						}

						.share_add {
							width: 38rpx;
							height: 38rpx;
							display: block;
						}
					}

					.pop_btn {
						width: 158rpx;
						height: 72rpx;
						position: relative;
						position: absolute;
						left: 50%;
						bottom: 38rpx;
						margin-left: -79rpx;

						.btn_back {
							width: 158rpx;
							height: 72rpx;
							display: block;
						}

						.btn_text {
							width: 100%;
							height: 100%;
							position: absolute;
							left: 0;
							top: 0;
							text-align: center;
							font-size: 30rpx;
							color: #5f370f;
							font-weight: bold;
							line-height: 70rpx;
						}

						.share_button {
							background: none;
							width: 158rpx;
							height: 72rpx;
						}

						button {
							padding-left: 0;
							padding-right: 0;
							background-color: none;
							border: none;
						}

						button::after {
							background: none;
							border: none;
							// background:rgba(51, 51, 51, 0.5)
						}
					}
				}
			}
		}

		.share_header {
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			z-index: 999999;
		}

		.share_content {
			padding-bottom: 114rpx;
			font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

			.share_banner {
				background-image: url('https://xiaoguan-67477.oss-cn-hangzhou.aliyuncs.com/bg/bg1.jpg');
				background-size: 100% 100%;
				box-sizing: border-box;
				padding: 16rpx 30rpx;

				.title_box {
					.flex(row, nowrap, flex-start, center);

					.radius {
						width: 16rpx;
						height: 16rpx;
						border-radius: 8rpx;
						background: #ffffff;
						margin-right: 8rpx;
					}

					.title_text {
						font-size: 32rpx;
						line-height: 44rpx;
						color: #ffffff;
						font-weight: bold;
					}
				}

				.textarea_box {
					width: 100%;
					background: rgba(246, 246, 245, 0.1);
					border-radius: 16rpx;
					box-sizing: border-box;
					padding: 20rpx;
					overflow: hidden;
					margin-top: 10rpx;
					margin-bottom: 20rpx;
					font-size: 32rpx;
					line-height: 1.6;
					color: #593e0d;
					letter-space: 2rpx;

					.share_textarea {
						font-size: 32rpx;
						line-height: 42rpx;
						color: #593e0d;
						background: rgba(246, 246, 245, 0);
					}

					.placeholder {
						font-size: 32rpx;
						line-height: 42rpx;
					}
				}

				.share_info {
					.flex(row, nowrap, center, center);

					.info_single {
						font-size: 26rpx;
						color: #593e0d;
						letter-spacing: 2rpx;
						width: 33.3%;
					}

					.center {
						text-align: center;
					}

					.right {
						text-align: right;
					}
				}
			}

			.case_box {
				.case_single {
					width: 686rpx;
					margin: 36rpx auto 0rpx auto;

					.case_header {
						margin-bottom: 14rpx;
						.flex(row, nowrap, space-between, center);

						.single_left {
							.flex(row, nowrap, flex-start, center);

							.share_book {
								width: 22rpx;
								height: 26rpx;
								display: block;
							}

							.share_title {
								font-size: 28rpx;
								line-height: 40rpx;
								color: #5b4010;
								margin-left: 8rpx;
							}
						}

						.single_right {
							padding: 0 6rpx;
							height: 24rpx;
							line-height: 24rpx;
							font-size: 22rpx;
							color: #ffffff;
							background: #d9b27e;
						}
					}

					.case_content {
						// background: #F5F3EF;
						// padding: 10rpx 20rpx;
						line-height: 1.5;
						letter-spacing: 2rpx;
						background: rgba(245, 243, 239, .44);
						padding: 10rpx 20rpx;
						min-height: 96rpx;
						font-size: 30rpx;
						color: #666666;
						.textarea {
							min-height: 96rpx;
							width: 100%;
							font-size: 24rpx;
							color: #333333;
							line-height: 36rpx;
						}

						.placeholder {
							font-size: 22rpx;
							color: #666666;
							line-height: 36rpx;
						}
					}
				}
			}
		}

		.share_btn {
			position: fixed;
			width: 232rpx;
			height: 80rpx;
			bottom: 34rpx;
			left: 50%;
			zmargin-left: -116rpx;

			.btn_back {
				width: 232rpx;
				height: 80rpx;
				display: block;
			}

			.btn_text {
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				text-align: center;
				font-size: 32rpx;
				color: #5f370f;
				font-weight: bold;
				line-height: 75rpx;
			}
		}
	}

	.op_btn {
		margin: 4rpx;
	}

	.icon_text {
		font-size: 24rpx;
		text-align: center;
		font-weight: 500;
		color: #707070;
	}
</style>
