<template>
	<view class="chance_container" :style="{'padding-bottom':tabValue=='1'?'264rpx':'104rpx'}">
		<view class="nav_header" :style="{'height':titleBarHeight+ 'rpx','padding-top':statusBarHeight+ 'rpx'}">
			<view class="leftArrow" @tap="back">
				<image src="" mode=""></image>
			</view>
			<view class="tabs_container">
				<van-tabs :active="tabValue" @change="onChange">
					<van-tab title="推进" name="1"></van-tab>
					<van-tab title="机会" name="2"></van-tab>
				</van-tabs>
			</view>
		</view>
		<view class="chance_content" :style="{'padding-top': titleBarHeight+statusBarHeight+'rpx'}" v-if="tabValue=='1'">
			<view class="selects_container" :style="{'top': titleBarHeight+statusBarHeight+'rpx'}">
				<view class="left">
					<view class="item" :class="progressQuery.timeType==1?'select':''" @click="progressQuery.timeType=progressQuery.timeType==1?4:1">今日</view>
					<view class="item" :class="progressQuery.timeType==2?'select':''" @click="progressQuery.timeType=progressQuery.timeType==2?4:2">过期</view>
					<view class="item" :class="progressQuery.timeType==3?'select':''" @click="progressQuery.timeType=progressQuery.timeType==3?4:3">待执行</view>
				</view>
				<view class="item txt-right select_right" @click="handleFiter">更多筛选</view>
			</view>
			<view class="list_container">
				<clientitem v-for="(item,index) in 10" :key="index"></clientitem>
			</view>
		</view>
		<view class="chance_content" :style="{'padding-top': titleBarHeight+statusBarHeight+'rpx'}" v-else>
			<view class="search_container">
				<van-search id="search" :value="searchValue" :style="{'padding-top': titleBarHeight+statusBarHeight  + 'rpx'}"
				 shape="round" placeholder="搜索" action-text="筛选" show-action @search="onSearch" @cancel="onCancel" />
				<view class="popup_container">
					<van-popup :show="popupVisible" position="top" bind:close="onClose">
						<view class="popup-content" :style="{'padding-top': titleBarHeight+statusBarHeight + 108 + 'rpx'}">
							<filter @confirm="handleConfirmFilter" ref="filter"></filter>
						</view>
					</van-popup>
				</view>
			</view>
			<view class="chance_list_container">
				<view class="list_item">
					<view class="header_container">
						<image src="" class="user_avatar" />
						<view class="right">
							<view class="row">
								<view class="row_start">
									<view class="name">张三</view>
									<view class="tags_container">
										<view class="tag">转介挖掘</view>
									</view>
								</view>
								<view class="no">NO.j1234</view>
							</view>
							<view class="row">
								<view class="desc">张三套二刚需房子</view>
								<view class="state">
									<view class="dot"></view>
									<view class="txt">正在推进</view>
								</view>
							</view>
						</view>
					</view>

					<view class="value">
						客户遇到的问题，客户遇到的问题，客户遇到的问题，客户遇到的问题，客户遇到的问题客户遇到的问题，客户遇
					</view>
					<view class="info_container">
						<view class="info_row">
							<image src="../../../static/client_cate4.png" />
							<view class="name">尊贵壹方两居室</view>
						</view>
						<view class="info_row">
							<view class="txt">2020.01.26</view>
						</view>
					</view>
				</view>
			</view>
		</view>
		<bottombtn btnName="新建客户" v-if="tabValue=='1'"></bottombtn>
		<tabbar :activeIndex="0"></tabbar>
	</view>
</template>

<script>
	import tabbar from '../../../components/tabbar.vue'
	import bottombtn from '@/components/bottombtn.vue'
	import clientitem from '@/components/clientitem.vue'
	import filter from '@/components/filter.vue'
	import app from '../../../App.vue'
	export default {
		components: {
			clientitem,
			filter,
			bottombtn,
			tabbar
		},
		data() {
			return {
				navInfo: {
					bg_color: "",
					color: "#FFFFFF",
					flag: 2,
					name: "21312",
					backType: 1
				},
				statusBarHeight: 0,
				titleBarHeight: 0,
				tabValue: '1',
				popupVisible: false,
				navHeight: 0,
				dataLoading: true,
				progressQuery: {
					finishedCommunication: false,
					finishedSummary: false,
					status: '',
					timeType: 4,
					type: 'default'
				},
				progressData: [],
				progressPags: {
					current: 1,
					pageSize: 15,
					total: 1
				},
				chanceData: [],
				chancePags: {
					current: 1,
					pageSize: 15,
					total: 1
				}
			}
		},
		onLoad() {
			this.getHeaderInfo()
		},
		methods: {
			getHeaderInfo() {
				let self = this;
				uni.getSystemInfo({
					success: function(res) {
						if (res.model.indexOf('iPhone') !== -1) {
							self.titleBarHeight = 88;
						} else {
							self.titleBarHeight = 96;
						}
						self.statusBarHeight = 118
						self.navHeight = app.globalData.navHeight * (750 / res.windowWidth)
					},
				})
			},
			back() {
				uni.navigateBack({
					delta: 1
				})
			},
			handleFiter() {
				if(!this.popupVisible) {
					this.$refs.filter.getTagsData()
				}
				this.popupVisible = !this.popupVisible
			},
			onChange(e) {
				this.tabValue = e.detail.name
			},
			getProgress(refresh = false) {
				if (refresh) {
					this.pags.current = 1
					this.dataList = []
				}
				let params = {
					current: this.pags.current,
					gender: this.query.gender,
					keyword: this.query.keyword,
					purchase: this.query.purchase,
					pageSize: this.pags.pageSize
				}
				this.dataLoading = true
				this.$http("/mp/customer/pageList", "post", params)
					.then(res => {
						res.data.list.forEach((per)=>{
							per.tags = per.tags?per.tags.split(','):[]
						})
						this.dataList = this.dataList.concat(res.data.list)
						this.pags.total = res.data.total
					})
					.finally(() => {
						this.dataLoading = false
					})
			},
			getChance(refresh = false) {
				if (refresh) {
					this.pags.current = 1
					this.dataList = []
				}
				let params = {
					current: this.pags.current,
					gender: this.query.gender,
					keyword: this.query.keyword,
					purchase: this.query.purchase,
					pageSize: this.pags.pageSize
				}
				this.dataLoading = true
				this.$http("/mp/customer/pageList", "post", params)
					.then(res => {
						res.data.list.forEach((per)=>{
							per.tags = per.tags?per.tags.split(','):[]
						})
						this.dataList = this.dataList.concat(res.data.list)
						this.pags.total = res.data.total
					})
					.finally(() => {
						this.dataLoading = false
					})
			}
		}
	}
</script>

<style lang="less">
	.flex(@A, @B, @C, @D) {
		display: flex;
		flex-direction: @A;
		flex-wrap: @B;
		justify-content: @C;
		align-items: @D;
	}

	.chance_container {
		padding-bottom: 264rpx;

		.nav_header {
			display: flex;
			align-items: center;
			// position: fixed;
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			z-index: 999;
			background: linear-gradient(90deg, #1DE5A8 0%, #41AFC3 100%);

			// left: 0;
			.weight {
				font-weight: bold;
			}

			.leftArrow {
				position: absolute;
				top: 0;
				left: 34rpx;
				bottom: 0;
				margin: auto 0;

				image {
					width: 40rpx;
					height: 40rpx;
					margin-left: 50rpx;
					margin-top: 12rpx;
				}
			}

			.header_title {
				position: absolute;
				left: 50%;
				font-size: 38rpx;
				transform: translateX(-50%);
			}

			.header-back {
				position: absolute;
				left: 15rpx;
				font-size: 30rpx;
				padding: 10rpx;
				border-radius: 50%;
				border: 1px solid red;
			}

			.tabs_container {
				.flex(row, nowrap, center, center);
				width: 100%;

				.van-tab {
					padding: 0 50rpx !important;
					font-size: 36rpx;
					color: #FFFFFF;
					font-weight: 400 !important;
				}

				.van-tab--active {
					font-weight: 500 !important;
				}

				.van-tabs__scroll {
					background-color: transparent !important;
				}

				.van-tabs__line {
					background: #fff;
				}
			}
		}

		.chance_content {
			.selects_container {
				.flex(row, nowrap, space-between, center);
				position: fixed;
				left: 30rpx;
				right: 30rpx;
				height: 70rpx;
				border-bottom: 1rpx solid #C9C9C9;
				background: #fff;

				.left {
					.flex(row, nowrap, flex-start, center);
				}

				.item {
					font-size: 28rpx;
					font-weight: 300;
					color: #999999;
					margin-right: 50rpx;
				}

				.txt-right {
					margin: 0;
				}

				.select {
					font-weight: 500;
					color: #1FE3A8;
				}

				.select_right {
					font-weight: 300;
					color: #1FE3A8;
				}
			}

			.list_container {
				padding-top: 71rpx;
			}

			.search_container {
				.van-search {
					position: fixed;
					left: 0;
					right: 0;
					z-index: 101;

					.van-search__action {
						color: #1FE3A8;
					}
				}
			}

			.chance_list_container {
				padding-top: 120rpx;
				.flex(column, wrap, flex-start, center);

				.list_item {
					padding: 20rpx;
					box-sizing: border-box;
					width: 690rpx;
					background: #FFFFFF;
					box-shadow: 0 0rpx 20rpx 0 rgba(154, 154, 154, 0.16);
					border-radius: 20rpx;
					margin-bottom: 20rpx;

					.header_container {
						.flex(row, nowrap, flex-start, center);

						.user_avatar {
							width: 96rpx;
							height: 96rpx;
							border-radius: 50%;
							margin-right: 6rpx;
						}
						.right {
							flex: 1;
						}
					}

					.row_start {
						.flex(row, wrap, flex-start, center);

						.tags_container {
							.flex(row, wrap, flex-start, center);

							.tag {
								padding: 2rpx 12rpx;
								border-radius: rpx;
								background: #F5F5F5;
								font-size: 24rpx;
								color: #999999;
								margin-right: 18rpx;
								border-bottom: 10rpx;
								border-radius: 10rpx;
							}
						}
					}

					.row {
						.flex(row, wrap, space-between, center);
						padding-bottom: 10rpx;

						.name {
							max-width: 200rpx;
							font-size: 32rpx;
							font-weight: 500;
							color: #333333;
							margin-right: 28rpx;
						}

						.no {
							font-size: 26rpx;
							font-weight: 500;
							color: #02BFEE;
						}
						
						.desc {
							font-size: 23rpx;
							color: #333333;
						}

						.state {
							.flex(row, wrap, flex-end, center);

							.dot {
								width: 8rpx;
								height: 8rpx;
								border-radius: 50%;
								margin-right: 14rpx;
								background: #1EE5A9;
							}

							.txt {
								font-size: 24rpx;
								font-weight: 500;
								color: #1EE5A9;
							}
						}
					}

					.value {
						margin-top: 41rpx;
						font-size: 24rpx;
						font-weight: 500;
						color: #45675D;
						line-height: 33rpx;
					}

					.info_container {
						margin-top: 22rpx;
						.flex(row, wrap, space-between, center);

						.info_row {
							.flex(row, wrap, flex-start, center);
							font-size: 26rpx;
							color: #333333;

							image {
								width: 28rpx;
								height: 26rpx;
								margin-right: 22rpx;
							}

							.name {
								font-weight: 500;
							}

							.txt {
								color: #333333;
								font-weight: 500;
							}
						}
					}
				}
			}
		}
		.btn_container {
			bottom: 144rpx!important;
		}
	}
</style>
