<template>
	<view class="king_container" :style="{'padding-top': navHeight + 'rpx'}">
	  <view
		class="nav_header"
		:style="{
		   'height': navHeight + 'rpx'
		}"
	  >
		<view class="leftArrow" @click="back">
				<image src="../../../static/left_arrow.png" mode="" class="left_arrow"></image>
		</view>
		<view class="tabs_container">
		  <van-tabs :active="tabValue" @change="handleChangeTabs">
			<van-tab title="课程介绍" name="1"></van-tab>
			<van-tab title="课程内容" name="2"></van-tab>
		  </van-tabs>
		</view>
	  </view>
		<view class="king_content">
			<view class="content_item" :style="{'display': tabValue=='1'?'visible':'none'}">
				<image class="introduction_img" :src="item" mode="widthFix" v-for="(item, index) in introductionUrls" :key="index"></image>
			</view>
			<view class="content_item" :style="{'display': tabValue=='2'?'visible':'none'}">
				<view class="media_container" id="media" :style="{'top': navHeight + 'rpx'}">
					<image src="../../../static/audio_bg.png" mode="" class="audio_bg" v-if="videoInfo.type == ''"></image>
					<video id="myVideo" :src="sourceUrl"  :controls="controls"  :autoplay="true" @timeupdate="timeUpdate" :direction="direction" @ended="bindended" v-if="videoInfo.type == 'video'"></video>
					<imt-audio autoplay ref="audioRef" :info="dataInfo" :src="sourceUrl" v-if="videoInfo.type == 'audio'"></imt-audio>
				</view>
				<view class="list_container" :style="{'margin-top': mediaHeight + 'px'}">
					<van-collapse :value="activeNames" @change="handleChangeCollapse">
					  <van-collapse-item :title="item.title" :name="index" v-for="(item, index) in dataList" :key="index">
						<view class="child_container" v-for="(item1, index1) in item.children" :key="index1" @click="handleVideo(item,item1)"  :style="{'padding-left': item1.isChecked?'40rpx':'80rpx'}">
							<image :src="require('../../../static/'+(item1.type=='video'?'king_video.png':'king_audio.png'))" mode="" v-if="item1.isChecked"></image><span :style="item1.isChecked?'color:#FF4A4A':''">{{item1.title}}</span>
						</view>
					  </van-collapse-item>
					</van-collapse>
				</view>
			</view>
		</view>
	</view>
</template>
<script>
	import imtAudio from '@/pages/pagesGrow/components/imt-audio/imt-audio.vue'
	import app from '../../../App.vue'
	export default {
		components: {
			imtAudio
		},
		data() {
			return {
				statusBarHeight: 0,
				titleBarHeight: 0,
				tabValue: '1',
				navHeight: 0,
				dataLoading: true,
				activeNames: ['1'],
				dataList: [],
				userLevel: uni.getStorageSync('userLevel'),
				introductionUrls: [],
				tutorialId: 1,
				
				sourceUrl: "",
				direction: 90,
				backVisible: false,
				urlVisible: false,
				duration: 0.0,
				controls: true,
				force: false,
				videoInfo: {
					id: null,
					tutorialId: null,
					type: ''
				},
				dataInfo: {},
				mediaHeight: 0
			}
		},
		onLoad() {
			this.getHeaderInfo()
			this.getData()
		},
		onShow() {
		},
		beforeDestroy() {
			app.globalData.videoArray = null
		},
		methods: {
			back () {
				let page = getCurrentPages()
				if (page.length == 1) {
					uni.reLaunch({
						url: "/pages/index/index"
					})
				} else {
					uni.navigateBack()
				}
			},
			//跳转视频
			handleVideo(item,item1) {
				// uni.navigateTo({
				// 	url: '/pages/pagesGrow/video/video?id=' + item1.id + '&tutorialId=' + this.tutorialId
				// })
				this.dataList.forEach((per,index)=>{
					per.children.forEach((per1,index1)=>{
						per1.isChecked = false
					})
				})
				item1.isChecked = true
				this.videoInfo.id = item1.id
				this.videoInfo.tutorialId = this.tutorialId
				this.getVideo()
			},
			getHeaderInfo() {
			  let self = this
			  uni.getSystemInfo({
			    success: function(res) {
			      if (res.model.indexOf('iPhone') !== -1) {
			        self.titleBarHeight = 88
			      } else {
			        self.titleBarHeight = 96
			      }
			      self.statusBarHeight = 118
			      self.navHeight = app.globalData.navHeight * (750 / res.windowWidth)
			    },
			  })
			},
			getData() {
				let params = {
					id: this.tutorialId,
				}
				this.$http("/mp/tutorial/media/detail", "GET", params).then(res => {
					if(res.data.catalog) {
						res.data.catalog.forEach(per=>{
							per.children.forEach(per1=>{
								per1.isChecked = false
							})
						})
					}
					this.dataList = res.data.catalog
					this.introductionUrls = res.data.introductionUrls ? res.data.introductionUrls.split(',') : []
				})
			},
			handleChangeCollapse(e) {
				this.activeNames = e.detail
			},
			handleChangeTabs(e) {
			  this.tabValue = e.detail.name
			  if(e.detail.name == '2') {
					this.$nextTick(()=>{
						if(this.videoInfo.type=='') {
							const query = uni.createSelectorQuery().in(this)
							query.select('#media').boundingClientRect(data => {
								console.log(data)
								this.mediaHeight = data.height
							}).exec()
						}
					})
			  }
			},
			
			
			bindended() {
				// if(this.backVisible) {
				// 	uni.reLaunch({
				// 		url: '/pages/index/index'
				// 	})
				// }
			},
			timeUpdate(event) {
				this.duration += 250
			},
			//获取资源
			getVideo() {
				let params = {
					id: this.videoInfo.id,
					tutorialId: this.videoInfo.tutorialId
				}
				this.$http("/mp/tutorial/media/itemDetail", "GET", params).then(res => {
					this.dataInfo = res.data
					this.videoInfo.type = res.data.type
					this.$nextTick(()=>{
						this.sourceUrl = res.data.url
						if(res.data.type == 'video') {
							this.videoContext = uni.createVideoContext('myVideo')
							// this.videoContext.requestFullScreen()
						}
						if(res.data.type == 'audio') {
							this.$refs.audioRef.init()
						}
						this.$nextTick(()=>{
							const query = uni.createSelectorQuery().in(this)
							query.select('#media').boundingClientRect(data => {
								console.log(data)
								this.mediaHeight = data.height
							}).exec()
						})
					})
				})
			},
			reportDuration() {
				// 上报数据
				if (this.duration > 0 && this.sourceUrl.length > 0) {
					try {
						this.$logUtils.reportDuration(this.sourceUrl, this.duration/1000);
						this.duration = 0;
					}catch(e) {
					}
				}
			}
		}
	}
</script>
<style lang="less">
.flex(@A, @B, @C, @D) {
  display: flex;
  flex-direction: @A;
  flex-wrap: @B;
  justify-content: @C;
  align-items: @D;
}
video {
	width: 100%;
}
.king_container {

  .nav_header {
    display: flex;
    align-items: flex-end;
    // position: fixed;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    background: url('~@/static/header_back.png');
	background-size: 100% 100%;

	.leftArrow {
		display: flex;
		align-items: center;
		height: 88rpx;
		z-index: 10;
		.left_arrow {
			width: 24rpx;
			height: 44rpx;
			margin-left: 50rpx;
			margin-right: 50rpx;
			// padding-right: 16rpx;
		}

		.arrow_icon {
			margin-left: 30rpx;
			font-size: 40rpx;
		}
	}

    // left: 0;
    .weight {
      font-weight: bold;
    }

    .header_title {
      position: absolute;
      left: 50%;
      font-size: 38rpx;
      transform: translateX(-50%);
    }

    .header-back {
      position: absolute;
      left: 15rpx;
      font-size: 30rpx;
      padding: 10rpx;
      border-radius: 50%;
      border: 1px solid red;
    }

    .tabs_container {
		position: absolute;
		bottom: 0;
		left: 0;
      .flex(row, nowrap, center, center);
      width: 100%;

      .van-tab {
        padding: 0 25rpx !important;
        font-size: 36rpx;
        color: #ffffff;
        font-weight: 400 !important;
      }

      .van-tab--active {
        font-weight: 500 !important;
      }

      .van-tabs__scroll {
        background-color: transparent !important;
      }

      .van-tabs__line {
        background: #fff;
        margin-bottom: 2rpx;
      }
    }
  }
  .king_content {
	  .media_container {
		  position: fixed;
		  left: 0;
		  right: 0;
		  z-index: 100;
	  }
	  
		.audio_bg {
			display: block;
			width: 100%;
			height: 450rpx;
		}
	  
	  .introduction_img {
		  display: block;
		  width: 100%;
	  }
	  
	  .van-cell__title {
		  font-size: 30rpx!important;
	  }
	  .van-collapse-item__content {
		  padding-top: 0rpx!important;
		  padding-bottom: 30rpx!important;
	  }
	  .child_container {
		  .flex(row, nowrap, flex-start, center);
		  padding: 30rpx 0 0 40rpx;
		  color: #333!important;
		  font-size: 28rpx!important;
		  image {
			  width: 30rpx;
			  height: 30rpx;
			  margin-right: 10rpx;
		  }
	  }
  }
}
</style>