<template>
	<view class="feeling_index">
		<navbar :navInfo="navInfo" class="share_header"></navbar>
		<view class="felling_content" :style="{ 'margin-top': navHeight + 'px' }">
			<van-search
				@search="getListData('search')"
				@change="keywordChange"
				v-model="queryInfo.keyword"
				use-action-slot
				placeholder="输入关键字进行搜索"
				background="#E8E5E0"
				shape="round"
				input-class="search_input"
			>
				<view slot="action" bind:tap="onClick" class="search_text" @click="getListData('search')">搜索</view>
			</van-search>
			<view class="list_box">
				<view class="list_single" v-for="(item, index) in listData" :key="index" @click="bindNewFeeling(item)" @longpress="bindDelete(item)">
					<view class="line_box">
						<image src="../../../static/line_img.png" mode="" class="line_icon"></image>
						<image src="../../../static/line_img.png" mode="" class="line_icon"></image>
						<image src="../../../static/line_img.png" mode="" class="line_icon"></image>
						<image src="../../../static/line_img.png" mode="" class="line_icon"></image>
						<image src="../../../static/line_img.png" mode="" class="line_icon"></image>
					</view>
					<view class="list_info">
						<image src="../../../static/report.png" mode="" class="report_img"></image>
						<view class="info_right">
							<view class="info_title">{{ item.title }}</view>
							<view class="info_detail">
								<view class="detail_date">{{ item.timeStr }}</view>
								<view class="detail_text">{{ item.content }}</view>
							</view>
						</view>
					</view>
					<image src="../../../static/success_img.png" mode="" class="status_img"></image>
				</view>
				<!-- 	<view class="list_single" v-for="(item,index) in listData" :key="index">
					<view class="line_box">
						<image src="../../../static/line_img.png" mode="" class="line_icon"></image>
						<image src="../../../static/line_img.png" mode="" class="line_icon"></image>
						<image src="../../../static/line_img.png" mode="" class="line_icon"></image>
						<image src="../../../static/line_img.png" mode="" class="line_icon"></image>
						<image src="../../../static/line_img.png" mode="" class="line_icon"></image>
					</view>
					<view class="list_info">
						<image src="../../../static/report.png" mode="" class="report_img"></image>
						<view class="info_right">
							<view class="info_title">
								用社交压力法应对放鸽子的客户发送用社交压力法应对放鸽子的客户发送
							</view>
							<view class="info_detail">
								<view class="detail_date">
									2020-07-09
								</view>
								<view class="detail_text">
									用社交压力法应对放鸽子的客户发送用社交压力法应对放鸽子的客户发
								</view>
							</view>
						</view>
					</view>
					<image src="../../../static/fail_img.png" mode="" class="status_img"></image>
				</view> -->
			</view>
		</view>
		<view class="nodata_text">没有更多了~~</view>
		<view class="global_btn_box" v-if="showBtn">
			<view class="global_share_btn" @click="bindNewFeeling()">
				<image src="../../../static/btn_back.png" mode="" class="global_btn_back"></image>
				<view class="global_btn_text">新建感悟</view>
			</view>
		</view>
		<modual :modualInfo="modualInfo" @modualChange="modualChange" v-if="showModual"></modual>
		<van-action-sheet :show="actionShow" :actions="actions" @cancel="actionShow = false" cancel-text="取消" @select="handleActionSelect" />
	</view>
</template>

<script>
import navbar from '../../../components/navbar.vue';
import modual from '../../../components/modual.vue';
import app from '../../../App.vue';
export default {
	components: {
		navbar,
		modual
	},
	data() {
		return {
			showModual: false,
			modualInfo: {
				activeType: 2,
				showClose: false,
				showSingle: false,
				showBtns: false,
				title: '必读',
				content: '很多灵感都是因为没有及时记录而忘记，失去了深入思考和成长的机会。此处为大家提供了一个简约而实用的及时记录功能，是系统做单能力分析或案例分析的认知储备区。',
				cancleText: '否',
				confirmText: '是'
			},
			navInfo: {
				bg_color: '',
				color: '#5F370F',
				flag: 2,
				name: '即时感悟',
				backType: 2
			},
			isIpx: app.globalData.isIpx,
			navHeight: app.globalData.navHeight,
			listData: [],
			queryInfo: {
				current: 1,
				keyword: '',
				pageSize: 100
			},
			total: 0,
			showNodata: false,
			type: '',
			actionShow: false,
			actions: [{
				name: '置顶',
			}, {
				name: '删除',
			}],
			currentItem: {},
			showBtn: true
		};
	},
	watch: {
		actionShow(newVal) {
			if(!newVal) {
				setTimeout(()=>{
					this.showBtn = true
				},200)
			}else {
				this.showBtn = false
			}
		}
	},
	onPullDownRefresh() {
		this.getListData('fresh');
	},
	onReachBottom() {
		if (this.listData.length < this.total) {
			this.queryInfo.current++;
			this.getListData('');
		}
	},
	onLoad(options) {
		this.type = options.type ? options.type : '';
		this.showModual = this.$utils.getStatus('feelingIndex');
		this.$utils.setStatus('feelingIndex');
	},
	onShow() {
		this.getListData('search');
	},
	methods: {
		//长按弹出选项
		bindAction(item) {
			this.currentItem = item
			this.actionShow = true
		},
		handleActionSelect(e) {
			let value = e.detail
			if (value.name == '置顶') {
				this.actions[0].name = '取消置顶'
			} else if (value.name == '删除') {
				this.bindDelete(this.currentItem)
			} else {
				this.actions[0].name = '置顶'
			}
			this.actionShow = false
		},
		// 删除
		bindDelete (item) {
			let _this = this
			uni.showModal({
				title:"确认删除？",
				confirmText:"确定",
				success: (res) => {
					if(res.confirm) {
						_this.$http('/mp/user/note/one', 'DELETE', {
							id: item.id
						}).then(res => {
							_this.getListData("search")
							uni.showToast({
								title:"删除成功",
								icon:"none",
								duration:"1500",
								success: () => {
									setTimeout(()=> {
										uni.hideToast()
									},1500)
								}
							})
						});
					}
				}
			})
		},
		modualChange(type) {
			if (type == 'open') {
				this.showModual = true;
			} else {
				this.showModual = false;
			}
		},
		// 关键字输入
		keywordChange(e) {
			this.queryInfo.keyword = e.detail;
		},
		// 新建感悟
		bindNewFeeling(item) {
			let type = item ? 'edit' : 'add';
			// uni.redirectTo({
			// 	url: `/pages/pagesGrow/newFeeling/newFeeling?details=${details}`
			// })
			console.log("1");
			var id="";
			if (item) {
				id = item.id
			}
			uni.navigateTo({
				url: `/pages/pagesGrow/newFeeling/newFeeling?signId=${id}&type=${type}`
			});
		},
		// 获取感悟列表
		getListData(type) {
			if (type == 'search' || type == 'fresh') {
				this.queryInfo.current = 1;
				this.listData = [];
				this.total = 0;
			}
			this.$http('/mp/user/note/pageList', 'POST', this.queryInfo).then(res => {
				let data = res.data.list;
				data.map(item => {
					item.timeStr = this.$format.formatTimeString(new Date(item.updateAt));
				});
				this.listData = this.listData.concat(data);
				this.total = res.data.total;
				if (type == 'fresh') {
					uni.stopPullDownRefresh();
				}
				if (this.listData.length == this.total) {
					this.showNodata = true;
				} else {
					this.showNodata = false;
				}
			});
		}
	}
};
</script>

<style lang="less">
.flex(@A, @B, @C, @D) {
	display: flex;
	flex-direction: @A;
	flex-wrap: @B;
	justify-content: @C;
	align-items: @D;
}

.feeling_index {
	// background: #E8E5E0;
	background: #e8e5e0;
	min-height: 100vh;

	.share_header {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 999999;
	}

	.nodata_text {
		text-align: center;
		margin-top: 30rpx;
		padding-bottom: 30rpx;
		font-size: 28rpx;
		color: #999999;
	}

	.felling_content {
		.van-field__input {
			background: #f5f3ef !important;
		}

		.van-search__content {
			background: #f5f3ef !important;
		}

		.search_input {
			// background: rgba(255, 255, 255, .53);
		}

		.search_box {
			// background: rgba(255, 255, 255, .53);
		}

		.search_text {
			font-size: 28rpx;
			color: #593e0d;
		}

		.list_box {
			padding: 20rpx 30rpx;

			.list_single {
				width: 690rpx;
				height: 150rpx;
				background: #fafafa;
				margin: 0 auto 20rpx auto;
				box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
				.flex(row, nowrap, space-between, center);

				.line_box {
					width: 42rpx;
					box-sizing: border-box;
					padding-left: 10rpx;
					padding-top: 8rpx;

					.line_icon {
						width: 8rpx;
						height: 20rpx;
						margin-bottom: 10rpx;
						display: block;
					}
				}

				.list_info {
					width: calc(100% - 106rpx);
					height: 100%;
					box-sizing: border-box;
					padding-top: 32rpx;
					.flex(row, nowrap, space-between, flex-start);

					.report_img {
						width: 36rpx;
						height: 42rpx;
						display: block;
					}

					.info_right {
						width: calc(100% - 56rpx);

						.info_title {
							font-size: 28rpx;
							line-height: 44rpx;
							font-weight: bold;
							color: #593e0d;
							margin-bottom: 10rpx;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}

						.info_detail {
							.flex(row, nowrap, flex-start, center);
							font-size: 24rpx;
							line-height: 34rpx;
							color: #999999;

							.detail_date {
								width: 145rpx;
								margin-right: 45rpx;
							}

							.detail_text {
								width: calc(100% - 175rpx);
								text-overflow: ellipsis;
								overflow: hidden;
								white-space: nowrap;
							}
						}
					}
				}

				.status_img {
					width: 44rpx;
					height: 44rpx;
					display: block;
					margin-right: 10rpx;
					opacity: 0;
				}
			}
		}
	}
}
</style>
