<template>
	<view class="newFeeling_index">
		<navbar :navInfo="navInfo" class="share_header"></navbar>
		<view class="newFeeling_content" :style="{ 'margin-top': navHeight + 'px' }">
			<view class="title_box">
				<input disabled v-model="feelingInfo.title" type="text" value="" placeholder-class="placegolder" placeholder="请填写标题" class="title_input" />
			</view>
			<view class="textarea_box">
				<textarea
					:auto-height="true"
					disabled
					v-model="feelingInfo.content"
					:maxlength="-1"
					placeholder-class="text_placeholder"
					placeholder="请填写正文"
					class="content"
				/>
			</view>
			<view class="img_box">
				<view class="upload_container">
					<view class="upload_content">
						<view class="upload_img" v-for="(item, index) in uploadImgList" :key="index">
							<image :src="item" class="img" mode="aspectFill" @click="handlePreview(item)"></image>
						</view>
					</view>
				</view>
			</view>
		</view>
		<view class="pic_box">
			<view class="pic_item" v-if="statusInfo" @click="changeStatus('collect', statusInfo.collect ? false : true)">
				<image src="../../../static/collect.png" v-if="!statusInfo.collect" class="op_btn"></image>
				<image src="../../../static/collect_active.png" v-if="statusInfo.collect" class="op_btn"></image>
				<view class="icon_text">收藏</view>
			</view>
			<view class="pic_item marB2" v-if="statusInfo" @click="changeStatus('like', statusInfo.like ? false : true)">
				<image style="width:35rpx;height: 35rpx;" src="../../../static/topic_detail_like.png" v-if="!statusInfo.like"></image>
				<image style="width:35rpx;height: 35rpx;" src="../../../static/topic_like.png" v-if="statusInfo.like"></image>
				<view class="icon_text">点赞</view>
			</view>
			<view class="pic_item">
				<button open-type="share">
					<image style="width:46rpx;height: 46rpx;" src="../../../static/share_icon.png"></image>
					<!-- <image style="width:35rpx;height: 35rpx;" src="../../../static/topic_detail_like.png" v-if="!statusInfo.like"></image> -->
					<!-- <image style="width:35rpx;height: 35rpx;" src="../../../static/topic_like.png" v-if="statusInfo.like"></image> -->
					分享
				</button>
			</view>
			<view class="pic_item" v-if="statusInfo && userId == feelingInfo.createBy" @click="bindEdit">
				<image style="width:46rpx;height: 46rpx;" src="../../../static/comment.png"></image>
				<!-- <image style="width:35rpx;height: 35rpx;" src="../../../static/topic_detail_like.png" v-if="!statusInfo.like"></image> -->
				<!-- <image style="width:35rpx;height: 35rpx;" src="../../../static/topic_like.png" v-if="statusInfo.like"></image> -->
				<view class="icon_text">编辑</view>
			</view>
			<view class="pic_item" v-if="statusInfo && userId != feelingInfo.createBy" @click="bindExperience">
				<image src="../../../static/comment.png"></image>
				<view class="icon_text">感悟</view>
			</view>
		</view>
		<canvas id="canvas" :style="{ width: canvasWidth + 'px', height: canvasHeight + 'px' }"></canvas>
		<preview :imgUrl="currentImgUrl" ref="previewRef"></preview>
	</view>
</template>

<script>
import preview from '../../../components/preview.vue';
import navbar from '../../../components/navbar.vue';
import app from '../../../App.vue';
export default {
	components: {
		navbar,
		preview
	},
	data() {
		return {
			navInfo: {
				bg_color: '',
				color: '#5F370F',
				flag: 2,
				name: '感悟详情',
				backType: 2
			},
			isIpx: app.globalData.isIpx,
			navHeight: app.globalData.navHeight,
			feelingInfo: {
				id: '',
				content: '',
				title: '',
				signed: ''
			},
			timer: null,
			source: '', // 来源是分享还是列表，影响导航栏的返回
			shareId: '',
			uploadImgList: [],
			canvasWidth: 0,
			canvasHeight: 0,
			context: null,
			statusInfo: {},
			currentImgUrl: '',
			userId: uni.getStorageSync('userId')
		};
	},
	onLoad(options) {
		this.navInfo.name = '感悟详情';
		this.shareId = options.id;
	},
	onShareAppMessage() {
		let _this = this;
		// this.shareFeeling();
		var title = '感悟详情';
		if (this.feelingInfo.title) {
			title = `分享感悟：${this.feelingInfo.title}`;
		}
		return {
			title: title,
			path: `/pages/pagesGrow/feeling/shareFeeling?id=${this.feelingInfo.id}&source=share`
		};
	},
	onShow() {
		this.getFeelingDetail();
		this.getStatus();
	},
	methods: {
		// 编辑
		bindEdit() {
			uni.navigateTo({
				url: `/pages/pagesGrow/newFeeling/newFeeling?signId=${this.shareId}&type=edit`
			});
		},
		handlePreview(item) {
			this.currentImgUrl = item;
			this.$refs.previewRef.handleOpen();
		},
		// 点赞/收藏
		changeStatus(type, value) {
			let url = '/mp/user/interest/one';
			let text = type == 'like' ? '点赞成功' : '收藏成功';
			if (!value) {
				text = type == 'like' ? '取消点赞成功' : '取消收藏成功';
			}
			let params = {
				interestId: this.shareId,
				interestType: 3,
				value: value,
				op: type
			};
			this.$http(url, 'POST', params).then(res => {
				this.statusInfo[type] = value;
				uni.showToast({
					title: text,
					icon: 'none',
					duration: 2000,
					success: () => {}
				});
			});
		},
		// 获取点赞/收藏状态
		getStatus(callback) {
			let params = {
				interestId: this.shareId,
				interestType: 3,
				op: 'collect,like'
			};
			this.$http('/mp/user/interest/aggregation', 'GET', params).then(res => {
				this.statusInfo = res.data;
			});
		},
		// 获取分享详情
		getFeelingDetail() {
			this.$http('/mp/user/note/share/one', 'GET', { id: this.shareId }).then(res => {
				this.feelingInfo = res.data;
				if (res.data.attachment) {
					this.uploadImgList = res.data.attachment.split(',');
				}
			});
		},
		// 分享感悟
		shareFeeling() {
			this.$http('/mp/user/note/share', 'GET', {
				id: this.feelingInfo.id
			}).then(res => {
				console.log('分享成功');
			});
		},
		bindExperience() {
			uni.navigateTo({
				url: `/pages/pagesGrow/newFeeling/newFeeling?type=experence&shareId=${this.shareId}`
			});
		}
	}
};
</script>

<style lang="less">
.flex(@A, @B, @C, @D) {
	display: flex;
	flex-direction: @A;
	flex-wrap: @B;
	justify-content: @C;
	align-items: @D;
}

.marB2 {
	margin-bottom: 2rpx;
}

.newFeeling_index {
	background: #e8e5e0;
	min-height: 100vh;
	button {
		font-size: 24rpx;
		color: #707070;
		font-weight: 500;
		padding-left: 0;
		padding-right: 0;
		padding: 0;
		line-height: 36rpx;
		background: white;
	}
	button::after {
		border: none;
	}
	#canvas {
		position: absolute;
		left: 0;
		top: -100000rpx;
	}
	.pic_box {
		position: fixed;
		right: 0rpx;
		bottom: 0rpx;
		left: 0rpx;
		padding: 5rpx 0 10rpx;
		// .flex(row,wrap,flex-end,center);
		display: flex;
		flex-direction: row;
		background-color: white;
		align-items: flex-end;
		justify-content: space-around;
		z-index: 999999;
		image {
			width: 40rpx;
			height: 40rpx;
			display: block;
			margin-bottom: 5rpx;
		}
		.pic_item {
			padding: 0 40rpx;
			.flex(column, nowrap, center, center);
		}
	}
	.share_header {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 99999;
	}

	.newFeeling_content {
		box-sizing: border-box;
		padding: 20rpx 20rpx 114rpx 20rpx;
		.title_box {
			box-sizing: border-box;
			padding: 10rpx 0rpx;
			border-bottom: 4rpx dashed #a39d92;
			margin-bottom: 34rpx;
			.placegolder {
				color: #b4b4b4;
			}
			.title_input {
				font-size: 36rpx;
				line-height: 50rpx;
				color: #333333;
			}
		}
		.textarea_box {
			padding: 0rpx;
			// border-bottom: 4rpx dashed #A39D92;
			.text_placeholder {
				color: #b4b4b4;
			}
			.content {
				font-size: 26rpx;
				line-height: 40rpx;
				color: #333333;
				width: 100%;
				padding-bottom: 34rpx;
				// min-height: calc(100vh - 480rpx);
				border-bottom: 4rpx dashed #a39d92;
			}
		}
	}
	.upload_container {
		margin-top: 20rpx;
		// padding: 0 30rpx;
		min-height: 460rpx;
		.upload_content {
			.flex(row, wrap, flex-start, center);
			.upload_img {
				position: relative;
				width: 180rpx;
				height: 180rpx;
				margin-right: 40rpx;
				margin-bottom: 40rpx;
				background: #fafafa;
				.img {
					width: 100%;
					height: 100%;
				}
				.delete_img {
					position: absolute;
					top: -20rpx;
					right: -20rpx;
					width: 20rpx;
					height: 20rpx;
					padding: 15rpx;
					background: #d9bc80;
					border-radius: 50%;
				}
			}
			.upload_icon {
				.flex(row, nowrap, center, center);
				// background: #D8D8D8;
				background: #ffffff;
				border-radius: 8rpx;
				.van-icon {
					font-size: 50rpx !important;
				}
			}
		}
	}
}
.icon_text {
	font-size: 24rpx;
	text-align: center;
	font-weight: 500;
	color: #707070;
}
</style>
