<template>
	<view class="imt-audio">
		<image class="audio_bg" src="../../../../static/audio_bg.png"></image>
		<view class="mask_bg">
			<view class="title">{{info.title}}</view>
		</view>
		<view class="audio-wrapper">
			<view class="audio-number">{{format(current)}}</view>
			<slider class="audio-slider" :activeColor="color" block-size="16" :value="current" :max="duration" @changing="current=$event.detail.value" @change="audio.seek($event.detail.value),current=$event.detail.value"></slider>
			<view class="audio-number">{{format(duration)}}</view>
		</view>
		<view class="audio-control-wrapper">
			<van-loading color="#fff" size="120rpx" v-if="loading"></van-loading>
			<view @click="audio.paused?play():audio.pause()" v-else>
				<van-icon :name="paused?'play':'pause'" color="#fff" size="120rpx" />
			</view>
			<!-- <view class="audio-control audio-control-switch" :class="{audioLoading:loading}" :style="{borderColor:color}" @click="audio.paused?play():audio.pause()">{{loading?'&#xe600;':(paused?'&#xe865;':'&#xe612;')}}</view> -->
		</view>
	</view>
</template>

<script>
	import vanIcon from '@/wxcomponents/vant/dist/icon/index'
	import vanLoading from '@/wxcomponents/vant/dist/loading/index'
	export default {
		components: {
			vanIcon,
			vanLoading
		},
		data() {
			return {
				audio: null,
				current: 0, //当前进度(s)
				duration: 0, //总时长(s)
				paused: true, //是否处于暂停状态
				loading: true, //是否处于读取状态
				seek: false ,//是否处于拖动状态,
				timer: null
			}
		},
		props: {
			src: String, //音频链接
			autoplay: Boolean, //是否自动播放
			color: {
				type: String,
				default: '#169af3'
			}, //主色调
			info: {
				type: Object
			}
		},
		watch: {
			src(src, old) {
				console.log('watch')
				this.audio.title = this.info.title
				this.audio.src = src
				this.current = 0
				this.duration = 0
				this.loading = true
				if (old || this.autoplay) {
					this.play()
				}
			}
		},
		methods: {
			//格式化时长
			format(num) {
				return '0'.repeat(2 - String(Math.floor(num / 60)).length) + Math.floor(num / 60) + ':' + '0'.repeat(2 - String(Math.floor(num % 60)).length) + Math.floor(num % 60)
			},
			//点击播放按钮
			play() {
				if(!this.audio.src&&this.src) {
					this.current = 0
					this.duration = 0
					this.audio.src = this.src
					this.audio.title = this.info.title
				}
				console.log('paly',this.audio,this.current,this.duration)
				this.audio.play()
				this.loading = false
			},
			init() {
				if(this.audio.src) {
					return
				}
				this.current = 0
				this.duration = 0
				this.audio.title = this.info.title;
				if (this.src) {
					this.audio.src = this.src
				}
				console.log('init',this.audio.src,this.current,this.duration)
			}
		},
		created() {
			this.audio = this.$getBackgroundAudioManager
			// this.audio.obeyMuteSwitch = false
			//音频进度更新事件
			this.audio.onTimeUpdate(() => {
				this.current = this.audio.currentTime
				if (!this.duration) {
					if(this.timer) {
						this.timer = null
					}
					this.timer = setTimeout(()=>{
						this.duration = this.audio.duration
						console.log('-----init--------',this.duration)
					},500)
				}
			})
			//音频可以播放时事件
			this.audio.onCanplay(()=>{
				this.play()
			})
			//音频等待事件
			this.audio.onWaiting(()=>{
				this.audio.pause()
				this.loading = true
			})
			//音频播放事件
			this.audio.onPlay(() => {
				this.paused = false
				this.loading = false
			})
			//音频暂停事件
			this.audio.onPause(() => {
				this.paused = true
			})
			//音频结束事件
			this.audio.onEnded(() => {
				console.log('stop')
				this.paused = true
				this.current = 0
			})
			//音频完成更改进度事件
			this.audio.onSeeked(() => {
				console.log('change')
				this.seek = false
			})
		},
		beforeDestroy(){
			console.log('stop')
			this.audio.stop()
			console.log(this.audio.src)
		}
	}
</script>

<style lang="less">
	
	.audio_bg {
		display: block;
		width: 100%;
		height: 450rpx;
	}

	.imt-audio {
		position: relative;
	}
	
	.mask_bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		// background: rgba(0,0,0,.8);
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 60rpx;
		z-index: 1;
		color: #fff;
	}

	.audio-wrapper {
		position: absolute;
		bottom: 20rpx;
		left: 0;
		width: 100%;
		display: flex;
		align-items: center;
		z-index: 11;
	}

	.audio-number {
		width: 120upx;
		font-size: 24upx;
		line-height: 1;
		color: #fff;
		text-align: center;
	}

	.audio-slider {
		flex: 1;
		margin: 0;
	}

	.audio-control-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 10;
	}

	.audio-control {
		font-size: 32upx;
		line-height: 1;
		border: 4upx solid;
		border-radius: 50%;
		padding: 16upx;
	}

	.audio-control-next {
		transform: rotate(180deg);
	}

	.audio-control-switch {
		font-size: 40upx;
		margin: 0 100upx;
	}
</style>
