<template>
	<view class="feeling_index">
		<navbar :navInfo="navInfo" class="share_header"></navbar>
		<view class="felling_content" :style="{'margin-top': navHeight + 'px'}">
			<view class="list_box">
				<view class="template_box">
					<view class="template_single" v-for="(item,index) in listData" :key="index" @click="bindNewFeeling(item)">
						<image src="../../../static/template_back.png" mode="" class="template_back"></image>
						<view class="template_content">
							<image src="../../../static/report.png" mode="" class="report_img"></image>
							<view class="info_box">
								<view class="info_title">
									{{item.name}}
								</view>
								<view class="info_detail">
									<!-- <view class="detail_date">
										2020-07-09
									</view> -->
									<view class="detail_text">
										{{item.desc}}
									</view>
								</view>
							</view>
						</view>
					</view>
				</view>
				<!-- <view class="list_single" v-for="(item,index) in listData" :key="index" @click="bindNewFeeling(item)">
					<view class="line_box">
						<image src="../../../static/line_img.png" mode="" class="line_icon"></image>
						<image src="../../../static/line_img.png" mode="" class="line_icon"></image>
						<image src="../../../static/line_img.png" mode="" class="line_icon"></image>
						<image src="../../../static/line_img.png" mode="" class="line_icon"></image>
						<image src="../../../static/line_img.png" mode="" class="line_icon"></image>
					</view>
					<view class="list_info">
						<image src="../../../static/report.png" mode="" class="report_img"></image>
						<view class="info_right">
							<view class="info_title">
								{{item.name}}
							</view>
							<view class="info_detail">
								<view class="detail_date">
									2020-07-09
								</view>
								<view class="detail_text">
									{{item.desc}}
								</view>
							</view>
						</view>
					</view>
					<image src="../../../static/success_img.png" mode="" class="status_img"></image>
				</view> -->
				<!-- 	<view class="list_single" v-for="(item,index) in listData" :key="index">
					<view class="line_box">
						<image src="../../../static/line_img.png" mode="" class="line_icon"></image>
						<image src="../../../static/line_img.png" mode="" class="line_icon"></image>
						<image src="../../../static/line_img.png" mode="" class="line_icon"></image>
						<image src="../../../static/line_img.png" mode="" class="line_icon"></image>
						<image src="../../../static/line_img.png" mode="" class="line_icon"></image>
					</view>
					<view class="list_info">
						<image src="../../../static/report.png" mode="" class="report_img"></image>
						<view class="info_right">
							<view class="info_title">
								用社交压力法应对放鸽子的客户发送用社交压力法应对放鸽子的客户发送
							</view>
							<view class="info_detail">
								<view class="detail_date">
									2020-07-09
								</view>
								<view class="detail_text">
									用社交压力法应对放鸽子的客户发送用社交压力法应对放鸽子的客户发
								</view>
							</view>
						</view>
					</view>
					<image src="../../../static/fail_img.png" mode="" class="status_img"></image>
				</view> -->
			</view>
		</view>
		<view class="global_btn_box">
			<view class="global_share_btn" @click="bindNewFeeling('')">
				<image src="../../../static/btn_back.png" mode="" class="global_btn_back"></image>
				<view class="global_btn_text">
					新建模板
				</view>
			</view>
		</view>
		<modual :modualInfo="modualInfo" @modualChange="modualChange" v-if="showModual"></modual>
	</view>
</template>

<script>
	import navbar from '../../../components/navbar.vue'
	import modual from '../../../components/modual.vue'
	import app from '../../../App.vue'
	export default {
		components: {
			navbar,
			modual
		},
		data() {
			return {
				showModual: false,
				modualInfo: {
					activeType: 3,
					showClose: false,
					showSingle: false,
					showBtns: false,
					title: "必读",
					content: "如果你连谈单框架都没有，那是很难进行案例分析的，做单的成功率也很难保障。可以参考做单王秘诀的八步成交法，也可以新建自己熟练且有效的谈单框架来作为案例分析模板。如果是局部过程分析，也可以按引导新建模板进行案例分析。",
					cancleText: "否",
					confirmText: "是"
				},
				navInfo: {
					"bg_color": "",
					"color": "#5F370F",
					"flag": 2,
					"name": "案例模板",
					"backType": 2
				},
				isIpx: app.globalData.isIpx,
				navHeight: app.globalData.navHeight,
				listData: [],
				pageType: ""
			}
		},
		onLoad(options) {
			this.pageType = options.type
			this.showModual = this.$utils.getStatus('templateIndex')
			this.$utils.setStatus("templateIndex")
		},
		onShow() {
			this.getListData("")
		},
		onPullDownRefresh() {
			this.getListData("fresh")
		},
		methods: {
			modualChange(type) {
				if (type == 'open') {
					this.showModual = true
				} else {
					this.showModual = false
				}
			},
			// 新建模板
			bindNewFeeling(item) {
				if (this.pageType) {
					let pages = getCurrentPages()
					let prevPage = pages[pages.length - 2]
					prevPage.$vm.caseInfo.templateId = item.id
					prevPage.$vm.templateInfo = item.fieldList
					prevPage.$vm.templateName = item.name
					if (item) {
						let caseInfo = uni.getStorageSync("caseInfo")?uni.getStorageSync("caseInfo"):{}
						caseInfo.templateInfo = item.fieldList
						caseInfo.templateId = item.id
						caseInfo.templateName = item.name
						uni.setStorageSync("caseInfo",caseInfo)
						uni.navigateBack()
					} else {
						let id = item ? item.id : ''
						uni.navigateTo({
							url: `/pages/pagesGrow/newTemplate/newTemplate?id=${id}&type=${this.pageType}`
						})
					}
				} else {
					let id = item ? item.id : ''
					uni.navigateTo({
						url: `/pages/pagesGrow/newTemplate/newTemplate?id=${id}&type=${this.pageType}`
					})
				}
			},
			// 获取模板列表
			getListData(type) {
				this.$http("/mp/user/case/template/list", "GET", {}).then(res => {
					this.listData = res.data
					if (type == "fresh") {
						uni.stopPullDownRefresh()
					}
				})
			}

		}
	}
</script>

<style lang="less">
	.flex(@A, @B, @C, @D) {
		display: flex;
		flex-direction: @A;
		flex-wrap: @B;
		justify-content: @C;
		align-items: @D;
	}

	.feeling_index {
		background: #E8E5E0;
		min-height: 100vh;

		.share_header {
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			z-index: 999999;
		}

		.nodata_text {
			text-align: center;
			margin-top: 30rpx;
			padding-bottom: 30rpx;
			font-size: 28rpx;
			color: #999999;
		}

		.felling_content {

			.search_input {
				background: rgba(255, 255, 255, .53);
			}

			.search_box {
				background: rgba(255, 255, 255, .53);
			}

			.search_text {
				font-size: 28rpx;
				color: #593E0D;
			}

			.list_box {
				padding: 20rpx 30rpx;
				
				.template_box{
					.template_single{
						width: 690rpx;
						height: 119rpx;
						position: relative;
						margin-bottom: 20rpx;
						.template_back{
							width: 100%;
							height: 100%;
							display: block;
						}
						.template_content{
							width: 100%;
							height: 100%;
							position: absolute;
							left: 0rpx;
							top: 0rpx;
							z-index: 999999;
							box-sizing: border-box;
							padding-top: 16rpx;
							padding: 16rpx 15rpx 0rpx 15rpx;
							.flex(row,nowrap,space-between,flex-start);
							.report_img{
								width: 36rpx;
								height: 42rpx;
								display: block;
								margin-top: 6rpx;
							}
							.info_box {
								width: calc(100% - 46rpx);
								.info_title {
									font-size: 28rpx;
									line-height: 44rpx;
									font-weight: bold;
									color: #593E0D;
									margin-bottom: 10rpx;
									overflow: hidden;
									text-overflow: ellipsis;
									white-space: nowrap;
								}
								
								.info_detail {
									.flex(row, nowrap, flex-start, center);
									font-size: 24rpx;
									line-height: 34rpx;
									color: #333333;
								
									.detail_date {
										width: 145rpx;
										margin-right: 45rpx;
									}
								
									.detail_text {
										width: calc(100% - 175rpx);
										text-overflow: ellipsis;
										overflow: hidden;
										white-space: nowrap;
									}
								}
							}
						}
					}
				}
				.list_single {
					width: 690rpx;
					// height: 150rpx;
					height: 120rpx;
					// background: #FAFAFA;
					margin: 0 auto 20rpx auto;
					// box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
					.flex(row, nowrap, space-between, center);
					background: rgba(245, 243, 239, .45);
					border-radius: 16rpx;

					.line_box {
						width: 42rpx;
						box-sizing: border-box;
						padding-left: 10rpx;
						padding-top: 8rpx;

						.line_icon {
							width: 8rpx;
							height: 20rpx;
							// margin-bottom: 10rpx;
							margin-bottom: 8rpx;
							display: block;
						}
					}

					.list_info {
						width: calc(100% - 106rpx);
						// width: calc(100% - 60rpx);
						height: 100%;
						box-sizing: border-box;
						padding-top: 16rpx;
						.flex(row, nowrap, space-between, flex-start);

						.report_img {
							width: 36rpx;
							height: 42rpx;
							display: block;
							margin-top: 6rpx;
						}

						.info_right {
							width: calc(100% - 56rpx);

							.info_title {
								font-size: 28rpx;
								line-height: 44rpx;
								font-weight: bold;
								color: #593E0D;
								margin-bottom: 10rpx;
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: nowrap;
							}

							.info_detail {
								.flex(row, nowrap, flex-start, center);
								font-size: 24rpx;
								line-height: 34rpx;
								color: #999999;

								.detail_date {
									width: 145rpx;
									margin-right: 45rpx;
								}

								.detail_text {
									width: calc(100% - 175rpx);
									text-overflow: ellipsis;
									overflow: hidden;
									white-space: nowrap;
								}
							}
						}
					}

					.status_img {
						width: 44rpx;
						height: 44rpx;
						display: block;
						margin-right: 10rpx;
						opacity: 0;

					}
				}
			}
		}
	}
</style>
